[2016-02-14 18:34] janwirth opened #1 "Showcases"
We could add a section with showcases to the readme to provide usage examples and inspirations.
Due to the response of the community I think there might plenty of better-written projects than mine.

I wrote a classifier module that is able to perform multilabel classification on new oservations. It has to be trained with the target-classes alone.
https://github.com/FranzSkuffka/flextractor/tree/ma

[2016-02-14 19:01] robertleeplummerjr commented on #1
I love it!  I'll go ahead and push the missing branches over so we can extend there.

[2016-02-14 19:05] robertleeplummerjr commented on #1
Done: http://harthur-org.github.io/brain/
Going to add a link in the project Description.

[2016-02-14 19:07] janwirth commented on #1
Nice, I am not sure yet when I will have the time to build a showcase, but I'll put it in my todos!

[2016-02-14 19:31] robertleeplummerjr opened #2 "Likely may need to go into a utility lib"
This is an issue raised by @nickpoorman.

I've been trying to think of a concept where I can make the likely method not attached to the neural network.  Currently it is:

[code]

Are you suggesting something like:

[code]

?

[2016-02-14 19:38] robertleeplummerjr commented on #2
Conversation started here: https://github.com/harthur/brain/issues/72#issuecomment-183728273

[2016-02-14 19:40] robertleeplummerjr commented on #2
As is also mentioned in the comment above you mention: "convolutional neural networks are better suited for the example provided with that pull request", what type of neural network is this library?  Just curious.

[2016-02-15 19:29] nickpoorman commented on #2
@robertleeplummerjr - You should be able to tell from the code that it's a simple single / muli-layer perceptron (feed forward with back propagation).

[2016-02-23 02:04] nemo opened #4 "Change or re-publish npm package"
Likely need to work with npm team to figure this out – but ideally, `npm i brain` installs this package vs. the old one.

[2016-03-12 10:30] stephanbogner opened #5 "Generate possible results from training"
Is there a way to train the brain and generate possible results instead of letting the brain analyse a certain input?

**For example:**
"Give me 4 colors which match 'orange' with at least 80% accuracy".

**As pseudo-code:**

[code]

**Pseudo-output:**

[code]

**A real world example would be:**
_"Tell me the first thing which comes to your mind when I say Internet"_. You might say something like

[2016-04-15 14:07] IonicaBizau commented on #4
After talking to the npm support, the result is the old package will remain in the current state. The current owner wants to keep her module in that state.

After discussing how to name this package, we decided to name it `brain.js`. So, I `npm publish`ed it under the `brain.js` name on npm. :rocket:

@harthur-org/devs  If any of you wants to have superpowers on npm, feel free to :bell: me and I w

[2016-04-15 14:07] #4 closed, assigned to nobody

[2016-04-19 09:15] pejrak opened #7 "npm install failing"
I get errors when running npm install:
1. esprima-six is missing
2. canvas does not install

`npm ERR! Linux 3.13.0-37-generic
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "browserify"
npm ERR! node v5.10.1
npm ERR! npm  v3.8.3
npm ERR! code E404

npm ERR! 404 Registry returned 404 for GET on https://registry.npmjs.org/esprima-six
npm ERR! 404
npm ERR! 404  'esprima-six' is n

[2016-04-19 09:21] pejrak opened #9 "Cross-validation tests failing"
fails on multiple accounts:
`> mocha test/cross-validation --timeout 10000

(node) child_process: options.customFds option is deprecated. Use options.stdio instead.

  OCR cross-validation
Cross validating
    1) recognize characters in different fonts

  0 passing (563ms)
  1 failing

  1) OCR cross-validation recognize characters in different fonts:
     TypeError: Cannot read property 'learning

[2016-05-04 19:12] #9 closed, assigned to nobody

[2016-05-10 17:47] ecwyne opened #10 "Demo site url /brain -> /brain.js"
http://harthur-org.github.io/brain.js/

[2016-05-10 22:35] craigsheen commented on #10
https://harthur.github.io/brain/ Would also work (as further down in the documentation.)

[2016-05-22 14:36] robertleeplummerjr commented on #10
Thanks for finding!
https://github.com/harthur-org/brain.js/commit/a52d12e3b5cd9e4ccce118a63e526cab40735ea4#diff-04c6e90faac2675aa89e2176d2eec7d8
https://github.com/harthur-org/brain.js/commit/55371e1be1b8fabd9d351f1bb1d7dfa3d9f0e77d#diff-04c6e90faac2675aa89e2176d2eec7d8
https://github.com/harthur-org/brain.js/commit/18e52bd6b315a21d9437dfac906e0056173dd888#diff-04c6e90faac2675aa89e2176d2eec7d8

[2016-05-22 14:36] #10 closed, assigned to nobody

[2016-05-22 14:37] #7 closed, assigned to nobody

[2016-05-22 14:42] robertleeplummerjr commented on #5
Very cool idea!  I will first state one of my favorite quotes: "anything is possible, even if it isn't".  I will invest some time this weekend thinking about this, and see if I (or if anyone else wants to chime in) have a solution for you.

[2016-05-22 15:06] robertleeplummerjr commented on #5
Snap!  Just thought about what you are actually trying to do and essentially you are running the network backwards.  Not only is this possible, I think it should be easy.  Will see if I can get a POC later today.

Some notes:
- Probably use a more js-ly defined query, similar to mongo for example, so that it is all json and free of extra parsers
- Since this would just be in the context of js spec

[2016-05-22 15:12] robertleeplummerjr commented on #2
@nickpoorman Thanks for the explanation and pointers.  How does the proposed solution in the comment sit with you?

[2016-05-22 15:15] robertleeplummerjr opened #11 "es6 it!"
I'd like to update the syntax to that of es6, thoughts?

[2016-05-22 15:25] robertleeplummerjr opened #12 "bower repo location"
Updating now, just thought I'd make an issue for tracking.

[2016-05-22 15:34] robertleeplummerjr commented on #12
Updated here: https://github.com/harthur-org/brain.js/commit/4389a60322d738cb679b6988a28c8332c50ebeba & https://github.com/harthur-org/brain.js/commit/4f197f56c815122ab17698984038a20258a24814
And registered on bower as "brain.js" to mimic that of its npm counterpart.

![](https://media.giphy.com/media/o9p0iIfEEcbF6/giphy.gif)

[2016-05-22 15:34] #12 closed, assigned to nobody

[2016-05-22 16:51] robertleeplummerjr commented on #5
Posting research as found.  To find a result, one must apparently un-sigmoid or flatten the curved output.  In the source, we have a very elegant sigmoid of: `(1 / (1 + Math.exp(-sum)));`, of which the opposite is apparently (as found when playing around with console) `-(Math.log(sum) / Math.log(Math.E));`.

[2016-05-22 16:57] robertleeplummerjr commented on #5
The es6 version of the no lib neural function is:

[code]

If my calculations are correct (and there is a good reason they are not), the inverse would look something like:

[code]

[2016-05-22 17:04] robertleeplummerjr commented on #5
If a neural network could be described as a mathematical funnel, what you have devised is a mathematical explosion.

![](https://media.giphy.com/media/LpLd2NGvpaiys/giphy.gif)

[2016-05-22 17:12] robertleeplummerjr commented on #5
It doesn't stop there, if you can receive an input to get an output and receive an output to get an input and if you had an intermediate function put them back and forth, you would have neural reflection.

[2016-05-22 21:30] robertleeplummerjr commented on #5
I'm really close here: https://jsfiddle.net/robertleeplummerjr/jn0n4xn4/7/

[2016-05-23 01:19] robertleeplummerjr commented on #5
This is a very rough proof of concept: https://jsfiddle.net/robertleeplummerjr/jn0n4xn4/11/

[2016-05-23 01:21] robertleeplummerjr commented on #5
Brain.js, _what's on your mind?_

[2016-05-23 19:14] nickpoorman commented on #2
Frankly, since y'all forked this repo you're free to do what you want. IMO your `likely` function is just a way of normalizing data (pre-processing) and really has nothing to do the artificial neural network.

For example, my [one-hot](https://github.com/nickpoorman/one-hot) library does something similar. It doesn't need to be a method on the instantiated "brain" object or even part of the repo,

[2016-05-23 20:00] robertleeplummerjr commented on #2
I completely agree.  Will be opening a PR soon to address this.  I really appreciate the feedback.

On a seperate note: one thing I love about this library so much is that it removes itself, giving you the raw neural net here: https://github.com/harthur-org/brain.js/blob/4389a60322d738cb679b6988a28c8332c50ebeba/lib/neuralnetwork.js#L387

I would be very interested in doing something with convoluti

[2016-05-24 18:12] robertleeplummerjr commented on #5
I did get further with this when tinkering last night, but it occurred to me that without knowing what the inputs were, it gets a bit hairy.

[2016-05-24 20:24] stephanbogner commented on #5
Unfortunately I'm too bad of a coder to help you with your code 😞
But I am happy that you are curious with what I wanted to achieve!
If I can help in any way, let me know.

[2016-05-24 23:41] robertleeplummerjr opened #13 "train method doesn't preserve network if called after fromJSON method"

[2016-05-24 23:51] robertleeplummerjr commented on #13
Accidentally committed to master, when should have went into branch first.

[2016-05-28 01:44] #13 closed, assigned to nobody

[2016-05-28 01:48] robertleeplummerjr commented on #5
The more I look up about this, the more interesting it gets.  I found this: https://www.coursera.org/course/neuralnets where he does this very thing with his network. And the question asked on stack exchange: http://stackoverflow.com/questions/27673883/using-a-learned-artificial-neural-network-to-solve-inputs

[2016-05-28 01:50] robertleeplummerjr commented on #5
This reply is what I'm following: http://stackoverflow.com/a/27675589

[2016-05-28 03:33] MrIsaacs commented on #11
Seems legit. Maybe having an own branch for es6 is a good thing? So tagging different branches is made easier an makes the codebase compatible for older interpreter and users can choose a compatible version as they need.

[2016-05-28 12:13] robertleeplummerjr commented on #11
If we were to do it, I'd first create a new branch, then I'd like to ensure we use something like babel to compile it for compatibility.  I'd also like to make part of the build process create a browser specific file, so that rather than doing it manually, it is built in.  All of which wouldn't be too complicated.

[2016-05-28 12:13] robertleeplummerjr commented on #11
Once all that clears, then we could merge it into master, and continue on our merry way.

[2016-05-28 19:16] robertleeplummerjr commented on #5
Closer proof of concept: https://jsfiddle.net/jn0n4xn4/12/

[2016-06-06 20:25] #2 closed, assigned to nobody

[2016-06-18 14:29] robertleeplummerjr commented on #5
I believe I'm onto something.  I now am debugging the values that come from each step of both run and mull (I really don't like that name, lol, even though it may be accurate) and comparing them from both run and mull.  I noticed that the values from mull were huge!   It hit me that (and I don't know why this never hit me prior) that the values that are sent through the network are sigmoid-ed.
You

[2016-06-18 14:31] robertleeplummerjr commented on #5
Updated here: https://jsfiddle.net/robertleeplummerjr/jn0n4xn4/13/

[2016-06-18 16:10] robertleeplummerjr commented on #5
OK, I believe I successfully have it: https://jsfiddle.net/robertleeplummerjr/jn0n4xn4/14/ as close as was mentioned in the answer mentioned in stack exchange.  Next step is to see if we can push it beyond what it currently is.

[2016-06-18 20:33] robertleeplummerjr commented on #5
~~Analyzed this further with the new logging method, which makes it easier to understand what goes out and comes in, and the sigmoid in doesn't work.~~ Was getting confused by inputs and outputs, and didn't have enough coffee, my theory was right.

[2016-06-19 16:39] robertleeplummerjr commented on #5
Here is the beta of the solved neural network running in reverse:  https://jsfiddle.net/robertleeplummerjr/jn0n4xn4/17/

It should be noted that:
- "Running in reverse" means that it estimates what the input are, it does not actually know what the specific inputs were.  It runs backward by estimating inputs (each layer node weights are added together, and that value is divided by the un-sigmoided

[2016-06-19 16:43] robertleeplummerjr commented on #5
As for naming this function, rather than mull, how about one of these: unRun, trySolveInputs, nur, runBackward, or retro?

[2016-06-19 17:11] robertleeplummerjr commented on #5
I went ahead and added it into a branch retro, and renamed it to the same: https://github.com/harthur-org/brain.js/blob/retro/lib/retro.js

[2016-06-19 18:05] robertleeplummerjr commented on #5
And as for the ability to query (because I couldn't help myself): https://github.com/harthur-org/brain.js/blob/retro/lib/query.js#L3

use like this:

[code]

Have fun!

If there is interest enough, I'll merge it into master.

[2016-06-19 18:07] robertleeplummerjr commented on #5
Also, very very very non-specific unit tests (still really not sure how to test it):
https://github.com/harthur-org/brain.js/blob/retro/test/unit/retro.js
https://github.com/harthur-org/brain.js/blob/retro/test/unit/query.js

[2016-06-20 23:20] robertleeplummerjr commented on #1
I would like to showcase [smartsweepers](http://robertleeplummerjr.github.io/smartSweepers.js/), but using only brain.js.  Also, I have dreams of one day solving the [elevator saga](http://play.elevatorsaga.com/) with it.

[2016-06-21 02:36] robertleeplummerjr commented on #1
can you give us a gh-pages branch so we can display something with a single click?

[2016-06-21 11:07] janwirth commented on #1
@robertleeplummerjr do you mean me? I do not have write access to this repo.

[2016-06-21 12:46] robertleeplummerjr commented on #1
I mean on https://github.com/FranzSkuffka/flextractor/tree/master/lib/classifier

[2016-06-21 14:16] janwirth commented on #1
fairly busy atm, will put it on my list!

[2016-06-22 17:33] robertleeplummerjr opened #16 "Add other neural net types"
It'd be really cool to have something like this: http://karpathy.github.io/2015/05/21/rnn-effectiveness/ in brain.js

[2016-07-05 19:08] robertleeplummerjr commented on #11
It is here, huzzah!

[2016-07-06 00:52] robertleeplummerjr commented on #16
So I did several weeks of non-in-depth searching for a js implementation of a recurrent neural net that was general enough for reuse and output a single function for reuse like some of the more popular libraries in js, and I couldn't find one.  The above blog post served me with some serious insight, and I found (low and behold) where @karpathy wrote a very nice javascript implementation that was

[2016-07-06 01:00] robertleeplummerjr commented on #16
Listing some notes as I find them.  I did find some very nice implementations in
- lua: https://github.com/karpathy/char-rnn written by @karpathy
- julia: https://github.com/Andy-P/RecurrentNN.jl written by @Andy-P BUT based off the work of @karpathy
- c#: https://github.com/zhongkaifu/RNNSharp

You'll notice a theme here... no fully working reusable library in js _yet_

[2016-07-06 01:01] robertleeplummerjr commented on #16
As for some of the network properties, I've been using http://static.googleusercontent.com/media/research.google.com/en//pubs/archive/43905.pdf which seems to be very straightforward on the mathematical properties.

[2016-07-06 01:02] robertleeplummerjr commented on #16
Also, outstanding illustrations: http://colah.github.io/posts/2015-08-Understanding-LSTMs/

[2016-07-06 14:49] robertleeplummerjr opened #17 "get browser version running"
Would also be nice while doing this to consider where we absolutely need third party plugins.  They are used occasionally, but nothing seemingly to complex for native js to handle.

[2016-07-10 03:37] IonicaBizau commented on #17
@robertleeplummerjr Great work—I think we can close this now, right?

[2016-07-10 13:15] #17 closed, assigned to nobody

[2016-07-10 13:15] robertleeplummerjr commented on #17
👍 Thank you sir.  Merged, and closed.

[2016-07-10 19:31] robertleeplummerjr commented on #16
I did finally see this: https://github.com/cazala/synaptic/blob/master/src/architect.js#L52
Not specifically an rnn, but rather a type of rnn, a long short term memory (lstm) neural network.

[2016-07-10 19:32] robertleeplummerjr commented on #16
While I really like the above approach on abstracting into an architect, I don't think it exactly merges with the existing means used in brain.js, but I could be wrong.

[2016-07-12 12:31] cburgdorf commented on #16
Sorry if my question sounds like totally off the planet but I'm just starting with AI and would like to know if this issue would solve my use case.

I'd like to feed lots of text data to `brain.js` and then have it _generate_ other text. The way I understand the capabilities of `brain.js`, that doesn't seem to be possible today, right?

[2016-07-12 12:40] robertleeplummerjr commented on #16
There are a number of network types that would work for you.  The current network type in brain.js, a feed forward neural net, wouldn't be ideal.  I believe the exact network type you'd want is either a an rnn, lstm (both of which I'm working on) or a gru, but there are hoards of different types of networks that may be what you are looking for.

This looks like it might fulfil your exact use case:

[2016-07-12 12:53] cburgdorf commented on #16
Thank you for your quick response. That's really interesting. Unfortunately there doesn't seem to be much documentation for the linked project. Do you have any pointers for the work you are currently doing that you mentioned? Will this be something based on brain.js?

Also when you say the _feed forward neural net_ wouldn't be _ideal_ can you elaborate how it could work at all? The way I understan

[2016-07-12 14:02] robertleeplummerjr commented on #16
I think that is what we're aiming at solving.

Read this entire article, and look at the mentioned libraries/projects: http://karpathy.github.io/2015/05/21/rnn-effectiveness/
By the end, you may be the expert!

Short answer: yes, that is the goal.
Long answer: I've started porting @karpathy's work to the style of brain.js, which should give a very simplistic, very minimal format so that the these

[2016-07-12 17:57] cburgdorf commented on #16
Thanks for this great answer! This made a lot of things much more clear to me 👍

[2016-07-14 03:34] robertleeplummerjr commented on #16
Huge find here: https://github.com/Atyanar/neuraljs
Implementing work done by @karpathy, and apparently working in js, and with the addition of gru's.

[2016-07-25 15:06] robertleeplummerjr opened #20 "We need a proper logo!"

[2016-07-28 02:36] robertleeplummerjr commented on #16
breakthrough!  Just got rnn seemingly online.  Still a lot of work to match the strategy outlined in brain.js, but here is what instantiation of a vanilla rnn looks like:

[code]

as outlined here: https://github.com/harthur-org/brain.js/commit/cdfd34840736080121b8fa36aea006bd6659980c#diff-1c9e38cd442769faa688f4c4536b5073R90

[2016-07-30 22:37] antoniodeluca opened #21 "Need for opinions and suggestions from experienced developers"
In the past I have used Brain.js and some other JavaScript based machine learning libraries but unfortunately I have found them not matching my needs. That's why, working on my personal projects, I have developed the idea of creating a different approach by myself. So, sorry to be here to talk about another project but I would really like to receive some opinions and suggestions from experienced p

[2016-08-02 05:52] jackbackes opened #22 "predicting memory requirements?"
I'm fairly new to implementing neural networks and am using this library for the first time.  I'm doing text processing and so far I'm up to 5.6 GB of RAM required on a simple bigram.

The way I'm structuring the training data is like this:
`{ input: {[inputWord]: 1}, output: {[outputWord]: 1 } }`

so if it were "cat sat" the training data would look like:
`{ input: {cat: 1}, output: {sat: 1} }`

[2016-08-06 00:17] robertleeplummerjr commented on #22
Would you be in a position to share your code?  Likely there is a memory leak that needs addressed.

[2016-08-06 00:27] Macil commented on #22
Isn't that code going to make a new input neuron and output neuron for every single distinct word used? That might make a ton more neurons than expected if given a lot of words.

[2016-08-06 00:39] robertleeplummerjr commented on #22
Just curious: Does your error rate drop fairly quick?

[2016-08-06 00:40] robertleeplummerjr commented on #22
Also: How many words are we talking about training with?

[2016-08-06 01:43] robertleeplummerjr commented on #22
To answer @AgentME, I believe you are totally correct.  I honestly don't know if a feed forward neural net (currently the main thrust of brain.js, but with others potentially on the way, like recurrent neural nets: https://github.com/harthur-org/brain.js/tree/recurrent/lib/recurrent) is the best means of classification like you are currently doing.  It probably needs backpropagation, so convolutio

[2016-08-06 01:44] robertleeplummerjr commented on #22
The other option would be to try out the recurrent neural network, but it isn't even alpha yet.

[2016-08-06 19:14] lodenrogue opened #23 "Time series"
Any chance of extending this service to support time series predictions?

[2016-08-07 00:24] robertleeplummerjr commented on #23
Can you give me an example?

[2016-08-07 00:31] robertleeplummerjr commented on #22
After thinking about this more, you may be able to do something like this (note: pseudo code):

[code]

I don't think it'd be ideal, but the lightweightness of the feedforward neural net may give you something you desire.

[2016-08-07 01:02] robertleeplummerjr opened #24 "recurrent neural net to match existing standards so as to merge into master"
Investigation started [here](https://github.com/harthur-org/brain.js/issues/16), but we needed an issue to track for merging into master at some hopeful date.  The work will be done [here](https://github.com/harthur-org/brain.js/tree/recurrent) until it is (hopfully) merged.

[2016-08-07 01:11] lodenrogue commented on #23
Weather forecasts, financial predictors, trends. It takes previous entries into consideration when calculating the output.

[2016-08-08 14:49] jackbackes commented on #22
@robertleeplummerjr: I ended up doing something similar to what you did above. Splitting it into letters kept me from having to have thousands of inputs, which is where the memory leak was.

Closing as solved.

[2016-08-08 14:49] #22 closed, assigned to nobody

[2016-08-08 14:57] robertleeplummerjr commented on #22
![](https://media.giphy.com/media/xT5LMEp0rYgYc9XKFy/giphy.gif)

[2016-08-08 14:58] robertleeplummerjr commented on #23
Do you have a dataset we could work with?

[2016-08-09 01:27] lodenrogue commented on #23
This is a very simple example: https://archive.ics.uci.edu/ml/datasets/Dow+Jones+Index

[2016-08-09 01:55] robertleeplummerjr commented on #23
Awesome!  The feed forward networks (the current brain.js neural net) won't be able to give a reliable prediction (arguably) because it is trained by what would be easily described as a sort of frozen state, for example: if I were to say "parchment", you'd be like: "that was odd to say, what did he mean by that?".
That being said, it is how a feed forward neural network... work, they don't really

[2016-08-09 02:04] lodenrogue commented on #23
Wow this is excellent! I'm going to give this a try as soon as I can. Thank you for all that information. It really puts everything into perspective.

Edit: Is there a standalone rnn.js for the browser?

[2016-08-09 13:59] robertleeplummerjr commented on #24
Inspiration hit yesterday.  I had been thinking of how to better iterate through the matrixes so as to not have two specific memory leaks:

The first is creating a new matrix every time a calculation is made for it.
The second is creating a new closure every time a calculation that needs backpropagation is needed.

This is probably considered a premature optimization, but from past experience, thi

[2016-08-16 21:51] lodenrogue opened #25 "Built in data normalization"
Any chance we could get built in data normalization?

[2016-08-17 02:35] robertleeplummerjr commented on #25
How would you like it normalized?

[2016-08-17 11:37] lodenrogue commented on #25
To fit the brain input/output. If my variables are greater than 1 I want it to normalize the data to be within a range of 0 to 1.

[2016-08-26 00:44] robertleeplummerjr opened #26 "visualizations"
Would be fantastic to have a nice visualization of a network.  Here is a really nice example: http://bl.ocks.org/mbostock/4062045

[2016-08-26 00:51] robertleeplummerjr commented on #25
I've been thinking about this for a bit, currently there is something like this built into brain.js.  Consider the current README.md:

[code]

Here `r`, `g`, and `b` are normalized to the layers associated with them.  This may not be exactly what you want, especially if you have thousands or more types.  Another way you could do it, say if you had an object with the properties that you'd like to n

[2016-08-26 09:52] philiiiiiipp opened #27 "Different activation functions"
Hey,

first of, cool work :-)! As far as I see it brain.js is currently using a sigmoid/logistic activation function. I think it would be quite beneficial to.
1. Document that this one is used
2. Create different ones

I could implement some of them like tanH which are working in the range of (0,1) which is currently used as output.

[2016-08-26 13:10] robertleeplummerjr commented on #27
I'm currently working on implementing tanH in [the recurrent branch](https://github.com/harthur-org/brain.js/tree/recurrent):
Forward propigate a matrix: https://github.com/harthur-org/brain.js/blob/recurrent/lib/recurrent/matrix/tanh.js
Backpropagate a matrix: https://github.com/harthur-org/brain.js/blob/recurrent/lib/recurrent/matrix/tanh-b.js

Currently is 90% or so working (weights aren't zero

[2016-08-26 13:14] robertleeplummerjr commented on #26
Some other fantastic examples:
- Bi-directional hierarchical sankey diagram - http://bl.ocks.org/Neilos/584b9a5d44d5fe00f779
- App dependencies - https://script.google.com/a/macros/ifit.com/s/AKfycbwXBX4e5Qrj8DhIcB7mq5tKBdkUOeKAzYhPjcySeNEqjJjoMFc/exec
- Visualizing a GA - http://karstenahnert.com/gp/
- Visualizing genes - http://amp.pharm.mssm.edu/clustergrammer/
- Better force layout - http://bl

[2016-08-26 13:16] robertleeplummerjr commented on #23
It ~~will be~~ runs 100% ~~able to run~~ in browser.

[2016-08-26 14:34] IonicaBizau commented on #11
There's a tool caled [`lebab`](https://github.com/mohebifar/lebab) by @mohebifar which would be probably useful to convert it automagically and then edit the things that still have to be edited manually (if any). :grin:

[2016-08-26 19:20] robertleeplummerjr commented on #11
very cool!

[2016-08-26 19:20] robertleeplummerjr commented on #11
What would be our strategy for es5/legacy compatibility?

[2016-08-26 19:52] Macil commented on #11
Why not transpile it to es5 with babel as a prepublish step? That seems to be the normal route for modules written in es6+.

[2016-08-27 14:38] robertleeplummerjr commented on #11
I like it!

[2016-08-27 14:40] robertleeplummerjr commented on #11
@IonicaBizau I mostly manually translated it already.

[2016-08-27 16:27] lodenrogue commented on #25
Lets say I have 10 mapped keys. If the value of one of those keys is 30 and I'm dividing that by 10 then the returned value is 3. That's not between 0 and 1.

A way I've found is iterating through your csv and finding the highest value. Then going back through the list again and dividing all values by this max value. This becomes slow when you have many values.

Maybe we can use some variation of

[2016-08-27 18:46] robertleeplummerjr commented on #25
There is probably a better way, but try something like this:

[code]

[2016-09-04 02:04] robertleeplummerjr commented on #26
Another: http://www.yasiv.com/graphs#HB/blckhole

[2016-09-04 02:06] robertleeplummerjr commented on #26
http://js.cytoscape.org/

[2016-09-04 02:06] robertleeplummerjr commented on #26
tons here: http://anvaka.github.io/graph-drawing-libraries/#/all

[2016-09-04 11:22] robertleeplummerjr commented on #16
Both lstm and rnn are now up and running, and should have gru running in a few hours.

[2016-09-05 01:36] robertleeplummerjr commented on #16
all of them up and running, and have to and from json tested.

[2016-09-05 19:46] robertleeplummerjr commented on #26
http://marcusbuffett.github.io/Three.js-Neural-Network-Visualizer/

[2016-09-05 19:47] robertleeplummerjr commented on #26
Opened up the dev tools on that one, and guess what I saw... "brain.js"

[2016-09-06 13:14] robertleeplummerjr commented on #26
Another awesome one: http://nn-mnist.sennabaum.com/

[2016-09-06 13:18] robertleeplummerjr commented on #21
Looks well thought out.  I see there is a lot of todo's yet to be do'ed, what is your goal with this library?

[2016-09-06 23:11] robertleeplummerjr commented on #11
Ready and waiting here: https://github.com/harthur-org/brain.js/pull/28

[2016-09-06 23:23] robertleeplummerjr commented on #11
As soon as this is merged, auto builds are next, then a pr for the recurrent neural network stuff.  Just fyi.

[2016-09-07 05:11] robertleeplummerjr commented on #11
Merged!

[2016-09-07 05:11] #11 closed, assigned to robertleeplummerjr

[2016-09-07 05:19] IonicaBizau commented on #11
For publishing I use `babel-it` which babelifies the files in place when `npm publish`ing.

[2016-09-07 13:31] robertleeplummerjr commented on #11
Would you be up for taking a look at master, and seeing if you can apply your knowledge there?

[2016-09-07 15:26] IonicaBizau commented on #11
@robertleeplummerjr Well, pretty much `npm i -g babel-it` and instead of doing `npm publish` you do `babel-it`. 😁

[2016-09-10 19:58] robertleeplummerjr commented on #24
As of a few minutes ago, working rnn, lstm, and gru, with surprising efficiency!

https://github.com/harthur-org/brain.js/pull/29

As is stated, not quite ready.  I'd like to get the following items working for the rnn before release, methods:
- runInput
- train
- trainPattern
- calculateDeltas
- adjustWeights
- formatData
- test
- toFunction

Proper testing where they do apply to match the existi

[2016-09-10 19:59] robertleeplummerjr commented on #24
I imagine `toFunction` is going to be the biggest "bear", but with the existing architecture having setup a formula builder, I bet it will be cake.

[2016-09-11 02:28] robertleeplummerjr commented on #11
rnn, lstm, and gru working 100%, with some simple unit tests and travic-ci build: https://github.com/harthur-org/brain.js/pull/29

[2016-09-12 19:35] robertleeplummerjr commented on #24
Started on `toFunction` and already have `toJSON` methods for matrices.  Ideally, as with the existing implementation there'd be no non-native function calls, where the whole function just has a bunch of really clear loops where needed.  If this is the best course of action, as it would keep closures and added arguments, resources, etc, from being created, what would be the best way to get the mat

[2016-09-14 18:47] robertleeplummerjr commented on #24
After brainstorming a bit, and using the above (although reluctant) method, I came up with something like:

[code]

A rough start, but the output looks very surprisingly what we'd want:

[code]

Looks like the biggest problem is too many matrices being created to link previous matrices up.  We'd need better tracking between them, and then bob is our uncle.

[2016-09-14 22:01] robertleeplummerjr commented on #24
Just thinking outloud here, the above would be an eventual recurrent neural network, in that it would allow for a single whole import to be recursed, but how would we achieve a recurrent neural network for for than a single value for a singleton of a function?

[2016-09-17 22:50] robertleeplummerjr commented on #24
fyi, `toFunction` now outputs very similarly to as how `run` works.  Would there be a point at which:
a: the network should continue to recurse/be recurrent, though it is fully trained
b: should there be a `toPredictionFunction`, in addition to the `toFunction`?  Seems like it'd be a very nice addition.
c: how could the `run`/`toFunction` call be more useful?

[2016-09-17 23:15] robertleeplummerjr commented on #21
Closing for the time being.  Hope to hear more soon.

[2016-09-17 23:15] #21 closed, assigned to nobody

[2016-09-17 23:16] robertleeplummerjr commented on #5
I had a lot of fun on this. Please feel free to keep commenting open, closing to focus on priorities.

[2016-09-17 23:16] #5 closed, assigned to nobody

[2016-09-17 23:27] robertleeplummerjr commented on #23
FYI: https://github.com/harthur-org/brain.js/blob/recurrent/browser.js#L1590
A unit test that predicts maths: https://github.com/harthur-org/brain.js/blob/recurrent/test/recurrent/lstm.js#L15

[2016-09-18 13:23] stephanbogner commented on #5
@robertleeplummerjr  Just to let you know:
I am putting a small demo together with something I had in mind with it. I am busy these days, so it might take a while, but I'll keep you posted.
Love you code, thank you very much. I am glad you had fun, too!

[2016-10-06 02:08] robertleeplummerjr commented on #27
Just fyi, have not forgotten.  A minor surgery and a bunch of planning later, this is still on the board.

[2016-10-06 02:08] robertleeplummerjr commented on #27
Also, pull requests are always welcome.

[2016-10-06 02:14] robertleeplummerjr commented on #24
If the singleton function simply had the weights it uses stored as a property of the function, then reusing them for the backpropagation will be doable.  Don't know why that didn't hit me prior.  May be best to store it inside the function, and assign it on first call to its parent for reuse afterward.

[2016-10-08 17:19] ClimbsRocks opened #30 "Consider merging in all the PRs submitted to harthur's original brainjs"
First of all, so excited to see someone doing this! Having maintained several open source projects myself, I completely understand why harthur would decide to move on from spending her time maintaining these. But her projects are so useful that they shouldn't be left to languish. Very happy to see the community picking up the torch!

One suggestion I have (if you haven't done it already) is to mer

[2016-10-08 17:47] IonicaBizau commented on #30
I agree! 👍

[2016-10-08 19:22] robertleeplummerjr commented on #30
love it!

[2016-10-26 02:04] robertleeplummerjr opened #31 "create a "game changer" of a project that uses brain.js"
I see a lot of usage of neural nets to do things like play games, or detect cats, or make crazy cool images.  I think those are valuable, but what about something that could save someone's life?

I propose a project that we feed xray images, and it can detect cancer.

Feedback welcome.

[2016-10-28 08:55] lodenrogue commented on #31
Is javascript fast enough to handle millions/billions of samples to be able to construct a model for this purpose?

[2016-10-28 18:34] robertleeplummerjr commented on #31
Absolutely: https://github.com/arrayfire/arrayfire-js
In-fact, javascript, compared to other industry standard machine learning languages, such as python, are many times faster.  Here is a top result from a Google Search of "javascript vs python speed" - https://www.quora.com/Is-JavaScript-v8-faster-than-Python

In short, it isn't that it may be faster, it is that there are many more tools availab

[2016-10-30 22:49] JamesDonnelly commented on #20
Modifying the "community defined" JavaScript logo would probably be the best option as a lot of other JavaScript resources do that.

Here's what the "community defined" JavaScript logo looks like:

![JavaScript Logo](http://i.imgur.com/hgoGxfe.png)

I got this particular image from https://github.com/voodootikigod/logo.js/blob/master/registry.md, which lists a load of other modified versions as we

[2016-10-31 17:34] Kalevera opened #32 "Steam-example write(null) stream error node v6.9.2"
I recently cloned the repository and went to run the stream example and got an error that the stream write could not receive a null value. I suspect it's because streams have changed in that last few node iterations.

Any suggestions on a fix? I seems that taking out the write(null) from stream-example fixes the error but then it doesn't fire the statistics of the stream iterations or provide a to

[2016-10-31 20:21] robertleeplummerjr commented on #32
I've honestly never even used streams.  But pr's are gladly accepted.  Post your findings here, and I'll be sure to help.

[2016-11-01 20:32] robertleeplummerjr commented on #20
beautiful!

[2016-11-05 00:48] riatzukiza commented on #16
I've also been reading around karpathys works, specifically their convnet js.
https://github.com/karpathy/convnetjs

This perticular one states that it may not even work as it is, I am still reading around and playing with the demo's they've got on their site.

I am not too new to the idea of neural networks, i've been studying them and the theories behind them for the last year or so, but I've ne

[2016-11-05 04:12] robertleeplummerjr commented on #16
Yea, his mind is fantastic at this stuff, I wish I could follow his code better.  For us mere mortals, I think brain.js's goal is ultimately simplicity, usefulness, and speed.  For example, the `toFunction` method, when I first saw it, I was struck by how simplistic the implementation: https://github.com/harthur-org/brain.js/blob/master/src/neural-network.js#L497

Welcome to the club 😄

Absolutely

[2016-11-24 06:08] IonicaBizau opened #34 "Why is `canvas` a dependency of this module?"
Actually, why is this required?

[2016-11-24 20:42] robertleeplummerjr commented on #34
It is used for testing classification of different fonts to their letter. I can say after working in the unit tests that it isn't really done properly, as we only sample a very small area of the font, converted into an array, and then compared and classified.

[2016-11-25 04:18] IonicaBizau opened #35 "Publish the latest release on npm"
Before doing that I'd recommend:

 - having clear installation steps
 - improving documentation
 - have clear examples

[2016-11-25 04:25] IonicaBizau opened #36 "What if we move brain.js into a separate organization?"
As this projects grows (again), I guess it would make sense to have an organization for it.

Things like `brain-examples`, `brain-visualizations` could be stored there as well, in separate repos.

[2016-11-25 13:30] robertleeplummerjr commented on #36
Love it!

[2016-11-25 13:40] robertleeplummerjr commented on #36
Rather than organizations, why not just further repositories?  That way things stay neat and tidy under a single organization, with more repos.

[2016-11-28 08:10] IonicaBizau opened #37 "Flexible store"
Currently this works in memory. Would it be a good idea to extend this to work with any store (e.g. a database)?

That means anyone can build a custom store object and expose the methods to `get` and `set` data.

[2016-11-29 19:49] #34 closed, assigned to nobody

[2016-11-29 19:52] robertleeplummerjr commented on #24
I believe we are nearing the light at the end of the tunnel.  The rnn works (rnn, lstm, and gru) we just need to ensure exporting, importing, and then toFunction are working properly and we'll be ready for this pr to be closed.

[2016-11-29 19:53] robertleeplummerjr commented on #24
fyi: https://github.com/harthur-org/brain.js/commit/d9dc97746ffbc1d2071b82bcb7877880350da769

[2016-12-06 00:37] robertleeplummerjr commented on #24
The moment has come.  `.toFunction` is working great, unit tests could be improved overall, but that will be a separate strategy.  I believe we are merge worthy.

![](https://media.giphy.com/media/EWvN0Vg8uLk7m/giphy.gif)

[2016-12-06 01:52] robertleeplummerjr commented on #36
Well then, started with https://github.com/harthur-org/rnn-viewer & https://github.com/harthur-org/brain.retro.js.  We'll just continue the trend.  Ty!

[2016-12-06 01:52] #36 closed, assigned to nobody

[2016-12-06 01:56] robertleeplummerjr opened #38 "add artificial neural network"

[2016-12-06 01:57] robertleeplummerjr opened #39 "add convolutional neural net"

[2016-12-06 15:01] robertleeplummerjr opened #40 "move canvas out of dependencies"

[2016-12-06 15:06] robertleeplummerjr opened #41 "rnn predict should be `predict(input) -> output`"
not `predict(input) -> input + output`

[2016-12-07 18:39] robertleeplummerjr commented on #41
done here: https://github.com/harthur-org/brain.js/commit/a7e7b65f8e8bc9632f7f53aa2e7fe13b7681db2c#diff-677bab03f4996a0172d08221a3a40192R332

[2016-12-07 18:39] #41 closed, assigned to nobody

[2016-12-17 03:54] robertleeplummerjr commented on #27
Booya! https://github.com/harthur-org/brain.js/tree/other-activation-functions
Doesn't yet work, but the most of the methods and math is there.

[2016-12-18 07:39] pinqy520 commented on #32
`stream.write()` is ok @Kalevera

[2016-12-20 18:11] robertleeplummerjr commented on #38
It was discovered that brain.js _is_ an ANN (artificial neural net with back propagation): https://github.com/harthur-org/brain.js/blob/1b92c81b0a5187712015d1eff7c941c50fce5a70/lib/neuralnetwork.js#L138

Done!

[2016-12-20 18:11] #38 closed, assigned to nobody

[2016-12-20 18:12] #24 closed, assigned to robertleeplummerjr

[2016-12-20 18:13] robertleeplummerjr commented on #16
Going to go ahead and close this issue and continue on new issues:
ANN: https://github.com/harthur-org/brain.js/issues/38
RNN, LSTM, GRU: https://github.com/harthur-org/brain.js/issues/24
Convolutional: https://github.com/harthur-org/brain.js/issues/39
Please post any other types that would be beneficial, but for the time being, closing.

[2016-12-20 18:13] #16 closed, assigned to nobody

[2016-12-20 18:13] robertleeplummerjr commented on #24
Now in master.

[2016-12-20 18:14] robertleeplummerjr commented on #32
Seems to be fine. Closing.

[2016-12-20 18:14] #32 closed, assigned to nobody

[2016-12-20 18:17] robertleeplummerjr commented on #23
The whole library is available here:
https://github.com/harthur-org/brain.js/blob/master/browser.js
and https://github.com/harthur-org/brain.js/blob/master/browser.min.js

These are built frequently, usually when committing.  I'm currently working to reduce the complexity of the recurrent neural net, but it is now running in browser, and is fairly stable.

[2016-12-20 18:17] #23 closed, assigned to nobody

[2016-12-21 14:20] robertleeplummerjr commented on #30
I went through each issue and pr yesterday and today, and I believe we are off on a good path to get them into brain.js.  We already have two closed pr's!

[2016-12-25 19:08] Dok11 opened #46 "How normalize discrete data input"
Hi!
How can I read readme.md, I need normalize input data to range 0..1.
That's ok with linear data, same as color, price, year, etc.

But look at my example:
Form in my web page have one field with radio button, like:

- credit;
- debet;
- personal card;
- other.

How I need provide this data for train nn?
Ok, I can send something like:

- type__credit: 0;
- type__debet: 0;
- type__personal_card:

[2016-12-25 23:52] robertleeplummerjr commented on #46
What will your outputs be?  Do you have any training data?
In this case, I'd probably lean much closer to a recurrent neural net, where you have exact lookups.  This is still being implemented (ie, the shortened means of training a recurrent neural net with inputs and outputs, the actual network is implemented and mostly solid with current tests), and things like hiddenSizes and learning rate may

[2016-12-25 23:56] robertleeplummerjr commented on #46
Forgot to mention: I'm working to try and make it so you could use numbers, or really whatever type of data on either side of the input or output.

[2016-12-26 08:29] Dok11 commented on #46
Yes, I will create repository with my data and some test nn for use them
Training data very more, 2 GB json data :smiley:

[2016-12-26 14:35] Dok11 commented on #46
@robertleeplummerjr I created index.js with my NN, and folder «data» with some training data.
Of course this is not working - one interation and 0.0036 error.

Look here https://github.com/Dok11/brain.js__test/tree/iteration-1

[2016-12-26 15:08] IonicaBizau commented on #46
@Dok11 I guess you'll have to fix the `npm` dependency to contain the branch information:

[code]

[2016-12-26 15:13] IonicaBizau commented on #46
@Dok11 Sorry, even with that it's still giving one iteration.

[2016-12-26 15:18] IonicaBizau commented on #46
@Dok11 Seems it stops after one iteration because the error is small enough.

[2016-12-26 15:41] Dok11 commented on #46
@IonicaBizau and so low error because data not normalized to range 0..1
@robertleeplummerjr writed about lstm nn for same case, but I don't full understand him :)

look at example of my input data:
[code]

[2016-12-26 15:51] robertleeplummerjr commented on #46
Here: https://github.com/Dok11/brain.js__test/blob/iteration-1/index.js#L4 use:
`var net		= new brain.recurrent.LSTM();`

[2016-12-26 15:53] robertleeplummerjr commented on #46
As for the training data, you need to use an array of objects that have an `input` and `output` key like this:
[code]
Optionally you could use arrays:
[code]

Still working out how to include other data.

[2016-12-26 16:11] Dok11 commented on #46
@robertleeplummerjr , I updated package.json to #rnn-train-pattern and get:
[code]

[2016-12-26 16:15] robertleeplummerjr commented on #46
try: `new brain.recurrent.LSTM.default()`
This is fixed in master, I'll merge in soon.

[2016-12-26 16:20] Dok11 commented on #46
New err:
[code]

[2016-12-26 16:24] robertleeplummerjr commented on #46
Is recurrent set?  If not, you may be on an older (npm released) version, and not the above mentioned branch.

[2016-12-26 16:28] Dok11 commented on #46
Maybe... I wrote:
[code]

and in ouput object has key «clipval» from https://github.com/harthur-org/brain.js/blob/d7508dd706d82a1d864cb74ae52fa4df6070a486/src/recurrent/rnn.js#L238

[2016-12-26 16:37] robertleeplummerjr commented on #46
do this before the above statement: `console.log(brain.recurrent)`

[2016-12-26 16:54] robertleeplummerjr commented on #46
What does it output?

[2016-12-26 16:56] Dok11 commented on #46
Really, I don't understand what this mean :)

[code]

[code]

[2016-12-26 17:33] robertleeplummerjr commented on #46
I just updated this branch, pull, and try this again:
`var net = new brain.recurrent.LSTM();`

[2016-12-26 17:40] Dok11 commented on #46
Successfully updated from «npm update» and...

[code]

[2016-12-26 18:21] robertleeplummerjr commented on #46
I believe you are on `master`, you need `rnn-train-pattern`
run this: `rm -rf node_modules/brain.js && npm i git+https://github.com/harthur-org/brain.js.git#rnn-train-pattern`

[2016-12-26 18:23] robertleeplummerjr opened #47 "brainstorm how to get objects into brain.js recurrent neural network"
The standard network uses:
[code]
for training.  Would it be possible to get something like that into the recurrent neural network?  If so, how?

[2016-12-26 23:21] robertleeplummerjr commented on #46
In https://github.com/harthur-org/brain.js/pull/48 I added https://github.com/harthur-org/brain.js/pull/48/commits/7bb8431a26c89e0df270601df695083c6991a217#diff-b29f454b6a67cbd17b8df5bfd95cac7bR136

[2016-12-26 23:39] robertleeplummerjr commented on #46
Another way that just occurred to me that you could do is using the standard net, and do:
[code]
Working here: https://jsfiddle.net/robertleeplummerjr/fnmx86kf/

[2016-12-26 23:41] robertleeplummerjr opened #49 "simplify readme and create auto generated documentation"

[2016-12-26 23:42] robertleeplummerjr opened #50 "make unit tests (specifically gru) pass"

[2016-12-27 01:31] robertleeplummerjr opened #51 "voice in text out, and text in voice out of rnn"

[2016-12-27 01:32] robertleeplummerjr opened #52 "weather prediction based off conditions of area"

[2016-12-27 01:38] robertleeplummerjr commented on #25
In the above mentioned:
[code]

The data _is sort of_ normalized, but by layer, would this work for you?

[code]

Does this help?

[2016-12-27 01:39] robertleeplummerjr commented on #25
The other option at this point could be to use a recurrent neural net, such as an LSTM, but this is more for data translation and less about math.

[2016-12-27 02:05] robertleeplummerjr opened #53 "create a Where's Waldo finder and generator?"
This came to me talking about the neural net when explaining it to a friend, might be fun.

[2016-12-27 02:28] lodenrogue commented on #25
I've found another solution. Thank you for your attention.

[2016-12-27 02:42] robertleeplummerjr commented on #25
Care to share?  We always want to improve for usefulness.

[2016-12-27 02:42] #25 closed, assigned to nobody

[2016-12-27 07:42] IonicaBizau commented on #35
@robertleeplummerjr Once you say the master branch is ready, I can double check the docs and examples. :grin:

[2016-12-27 09:21] Dok11 commented on #46
I did this and added this link in pakage.json, as you can look here:
https://github.com/Dok11/brain.js__test/blob/iteration-1/package.json

And update my branch here:
https://github.com/Dok11/brain.js__test/tree/iteration-1

When i ran "node index.js" console was stopped and nothing did.
You can try it too.

[2016-12-27 09:27] Dok11 commented on #46
Ye, but as I wrote in topicstart this way force me make many many input neurons.
This not impossible, but is really best way for decision?

[2016-12-27 09:42] Dok11 commented on #47
@Jabher, maybe you can help? :)

[2016-12-27 10:52] Jabher commented on #47
I would suggest you had to have some general parent to inherit from at some point of time 👀

Really, why there is different RNN and DenseNet APIs? They should be same, it's just an abstraction.

Also, I really think you are over-bloating the code, really, guys, review the codebase, we at synaptic2 have a RNN in around 7 times smaller amount of lines.

And the last thing, why for gods sake you do h

[2016-12-27 10:56] Jabher commented on #47
Also you should probably think about nesting, splitting and merging of all this stuff. Video processing (e.g.) is actually `ConvNet -> RNN -> Dense` and I see no API to implement something of that kind (omitting the fact there is no convnet now). I mean, you do not have API like `new Net([ConvNet, RNN, Dense])`

[2016-12-27 14:25] robertleeplummerjr commented on #46
Yea, that is a good point.  I still am leaning towards the recurrent neural network for this solution.  I'll see if I can get your code working later today and provide a pr.

[2016-12-27 14:25] robertleeplummerjr commented on #46
Also, thank you for your time to help us help you.

[2016-12-27 15:27] Dok11 commented on #46
Why I can't division input value to [0.1, 0.2, 0.3 etc]?

[2016-12-27 15:44] robertleeplummerjr commented on #47
The idea of brain.js is simplicity first.  By not abstracting the base neural nets, we can optimize towards speed, and keep the learning curve low for understanding what is actually happening in the neural net, keeping things composable and understandable.  However, I'd be open to abstracting if it meant meeting that goal.  Also, the [LSTM](https://github.com/harthur-org/brain.js/blob/master/src/r

[2016-12-27 15:48] robertleeplummerjr commented on #47
I have no idea what you are talking about here, not to sound negative.  We do plan on adding convolutional neural networks, but have not started yet.

[2016-12-27 16:03] robertleeplummerjr commented on #46
In its current implementation a recurrent neural network is more suited towards specific inputs and outputs.
![](http://karpathy.github.io/assets/rnn/diags.jpeg)
(used from @karpathy's fantastic post on neural networks: http://karpathy.github.io/2015/05/21/rnn-effectiveness/)

[2016-12-27 16:05] robertleeplummerjr commented on #46
That being said, you _could_ (I'm naively hypothesizing at this point) convert them to strings, and the network can iterate over them.

[2016-12-27 16:07] robertleeplummerjr commented on #46
Further clarification: the network isn't really aware (at least initially) that `0.000001` is less, more, or equal than/to `0.01`, to it, it is just text, but with training it will likely begin to understand that... But I've not tried it.

[2016-12-27 16:46] robertleeplummerjr commented on #50
For clarification, they pass locally, but they timeout on travis-ci.

[2016-12-27 17:22] lodenrogue commented on #25
I went with a different library: scikit-learn

[2016-12-27 17:57] robertleeplummerjr commented on #25
ty for the pointer!

[2016-12-27 18:57] robertleeplummerjr commented on #47
To be clearer on the original issue, the recurrent neural net currently supports objects like
[code]
[examples here](https://jsfiddle.net/robertleeplummerjr/1xojuse1/3/)
The current implementation treats each value as a unique input, so it just doesn't support objects like `{ r: 0.03, g: 0.7, b: 0.5 }`, if it is possible to change, how?

[2016-12-28 00:43] robertleeplummerjr opened #54 "Possibly rewrite equation to create ast that generates giant math problem"
An idea in collaboration with @ddsol.

[2016-12-28 08:18] Dok11 commented on #46
Good think, what i did: I dividied index key from dictionary to 1000.
This method allowed the fit input data in range 0..1 :trollface:
It seems work, I will check

[2016-12-28 09:13] Dok11 opened #55 "How run train method multiple times for one net?"
[code]

I expect that this may train nn on different files with trainig data, but in result nn I had nn what trained for first file with trainig data. As if all new runs train not saved, but busy CPU and time.

What I need to do for this?

P.S. I do fs walk because trainig data very large - 2GB.

[2016-12-28 10:41] Jabher commented on #47
Possibly I explained wrong. I've been talking about `class Net extends AbstractNet`, `class RNN extends AbstractNet` and so on and to keep logic like `train` fn and so in this `AbstractNet`.

in our codebase that you speak of.

I was talking about Dense layers (also known as Fully-Connected). Just a common layer, foundation of any net (together with activation layer) :).

We're in progress of ever

[2016-12-28 14:10] robertleeplummerjr commented on #47
It could be that I am still naive, though eager to learn!

Oh ok, cool.

That is what I hear, and making good progress, no doubt!

Nice!  Thought I see it uses numpy (as nearly all python implementations of an rnn use that I've seen), not really a fair comparison, brain.js uses no third party plugins for building the neural net structure (at this time, though we do want to address that at some lat

[2016-12-28 18:45] robertleeplummerjr commented on #55
I suspect that the training data is different in each file, ultimately that means that the network needs to change size.

[2016-12-29 13:44] Dok11 commented on #55
Differed only output. For example

- for file data1.json output for all inputs is {"id123": 1}
- for file data2.json output for all inputs is {"id124": 1}
etc.

So I need set size at initialization of nn?

[2016-12-30 04:24] IonicaBizau commented on #20
@JamesDonnelly I love it!

[2017-01-10 20:37] #20 closed, assigned to nobody

[2017-01-10 20:37] robertleeplummerjr commented on #20
@JamesDonnelly fantastic addition, added as the official logo on the readme: https://github.com/harthur-org/brain.js

ty ty ty!

[2017-01-11 14:07] robertleeplummerjr commented on #20
Also added https://github.com/voodootikigod/logo.js/pull/111

[2017-01-11 14:43] Dok11 commented on #20
@robertleeplummerjr, @JamesDonnelly, just one size?
How about will make 16x16 (32x32) for favicon and other directions? :)

[2017-01-11 14:45] robertleeplummerjr commented on #20
me like!

[2017-01-11 14:45] robertleeplummerjr commented on #20
vector would be nice as well.

[2017-01-11 15:04] Dok11 commented on #20
Vector?
This is png
![brainjs](https://cloud.githubusercontent.com/assets/2697890/21853503/6616b7b0-d828-11e6-96a6-c9ee712b9113.png)

[2017-01-11 15:10] robertleeplummerjr commented on #20
Right, but the original parts are not.

[2017-01-13 01:39] ClimbsRocks commented on #30
That's awesome! I'm super excited to see this project being supported over by the community, and in a very respectful way.

[2017-01-13 09:23] Dok11 opened #57 "Option hiddenLayers. Question about readme"
In readme.md:

This mean like count input data dimension equal to one hidden layer.
Mm.. sorry for my english. I talk for example, if input array dimension to 100 than and hidden layer will contain 100 neurons.

But in sources of function [train() write](https://github.com/harthur-org/brain.js/blob/master/src/neural-network.js#L145):
`sizes.push(Math.max(3, Math.floor(inputSize / 2)));`

What righ

[2017-01-13 14:46] robertleeplummerjr commented on #30
Very kind and encouraging words, ty!

[2017-01-13 21:15] robertleeplummerjr opened #58 "Performance for creating formulas (5k+) is slow"

[2017-01-14 01:22] robertleeplummerjr commented on #58
This is fixed, for the time being, until we have a better means of creating formulas.

[2017-01-14 01:22] #58 closed, assigned to nobody

[2017-01-14 04:12] robertleeplummerjr commented on #39
@riatzukiza I'd like to continue convolutional neural nets here.  You showed interest, I'd love to work together to achieve this.

After researching this, I've come to the conclusion that the "convolutional" network isn't really a type of network, it is more an added intermediate layer between layers of an already defined type of network (I will insert here that I've been wrong before, and will be

[2017-01-14 10:42] Dok11 commented on #57
And one example more. Just for history.

I have training data with 292 different columns, and by default hiddenLayers equal to `[145]`. And come out very large nn (as json) and very slow training.
But if I set custom hiddenLayer like as [3, 3] that's make nn better and less (~5Mb vs 50Kb).

So strange =)

[2017-01-14 10:49] Dok11 opened #59 "Pass current net to callback function"
[neural-network.js#L171](https://github.com/harthur-org/brain.js/blob/master/src/neural-network.js#L171)
[code]

Is it possible – send current net state to callback function?

Let me explain.
I divide my training data to real training data and test data.
And I want run nn on test data in some period for look real error.

Code for example what I want:
[code]

[2017-01-14 11:15] Dok11 commented on #59
Close please, it's easier than I thought!

[code]

[2017-01-14 21:30] #59 closed, assigned to nobody

[2017-01-14 21:30] robertleeplummerjr commented on #59
ty for finding!

[2017-01-15 01:22] riatzukiza commented on #39
The way I've seen other packages do is to allow composition of networks by
creating their layers, then threading those together. The above schema
seems potentially restricting unless these implementations could provide
huge performance gains over a compositional strategy.

On Fri, Jan 13, 2017 at 10:12 PM, Robert Plummer <notifications@github.com>
wrote:

[2017-01-15 01:25] riatzukiza commented on #39
Could still compose entire networks, but I have not seen that with in the
context of this package so far. The above strategy could work assuming that
there were utilities for composing the networks.

There was a streaming api, can these networks be piped into and out of one
another?

On Sat, Jan 14, 2017 at 7:22 PM, Aaron Beavers <foamy125@gmail.com> wrote:

[2017-01-15 02:09] robertleeplummerjr commented on #57
The first citation you reference is from:
[code]

This context would be when `hiddenSizes` aren't defined, as you mentioned a default value, otherwise it uses whatever you give it for `hiddenSizes`.

The question: "what size should my hidden layers be?!?!" is always one I see tossed around a lot, and it seems there is a lot of debate on what makes it a better size.  I tend to usually use defaults,

[2017-01-15 02:10] robertleeplummerjr commented on #57
For reference and credit: http://stats.stackexchange.com/questions/181/how-to-choose-the-number-of-hidden-layers-and-nodes-in-a-feedforward-neural-netw

[2017-01-15 02:56] robertleeplummerjr commented on #55
If you were to use `brain.NeuralNetwork` which is the feed forward neural net, iterate through your training data, and find all the different input and output keys.  When you input or output of your sample data has a property, give the training data that value.  When it does not, give it a zero for the missing data.

[code]

Ultimately, I think you found something we can try and improve though.  V

[2017-01-15 14:43] robertleeplummerjr commented on #39
Good points!
In other libraries it was if they were saying: "Neural networks are so easy!  All you have to do is know how they work, and then you can create one!"

When I first saw brain.js, I was shocked at the simplicity of:
[code]
Instantly I was enamored.  Then dug further and found the `toFunction` method which runs the entire network in a single method.  Some time later, I stumbled upon recu

[2017-01-15 14:53] robertleeplummerjr commented on #39
another?

tl;dr: no
Long answer: There still is one.  As it stands we are streaming data in, not delegating a hidden layer's output to another hidden layer or output via a stream.

[2017-01-16 09:40] Dok11 commented on #57
After when I wote this, i divided training data to train set and test set (90% - 170 samples and 10% - 20 samples). And what I got:
For hiddenLayers [200] I got accuracy 65% on test data set and 0.002 training error.
For hiddenLayers [50] I got acuracy 60% on test data set and 0.001 training error.

Okey, I will testing with 2- and 3- count of hiddenLayers array.
In some sources I readed what neur

[2017-01-16 11:12] Dok11 commented on #57
And about errorThresh. In process of train():
err: 0.087; accuracy on test data: 79%;
err: 0.004; accuracy on test data: 67%;
err: 0.003; accuracy on test data: 65%;
err: 0.002; accuracy on test data: 62%;
err: 0.001; accuracy on test data: 59%;

@robertleeplummerjr wat? NN very strong adapted for training data?
Is it overfitting?

[2017-01-16 14:45] robertleeplummerjr commented on #57
Can you ask that question a different way?  I apologize but I don't understand.

[2017-01-16 15:06] Dok11 commented on #57
Yep, my english very good :) Sorry!

In config of net I set `errorThresh: 0.001` and see train log from callback:
[code]

As you can see with a decrease in error is reduced and accuracy in the test sample.
And my question - is it overfitting? Do I need increase errorThreshold in this case?

P.S. At this moment I set 0.0025 and this look better.

[2017-01-16 15:16] robertleeplummerjr commented on #57
How long are you training for?

[2017-01-16 15:21] Dok11 commented on #57
For example,
for hiddenLayers [20,20,5] 73 sec. and 2800 iterations
for hiddenLayers [120,20,5] 840 sec. and 5400 iterations

And yes, I use cycle for get better hiddenLayers param =)
[code]

[2017-01-16 16:05] Dok11 commented on #57
On the issue

I wanted to write "question" instead "ask".
And my question about readme. It is not written about dividing input data size and it's confusing. Is not it?

[2017-01-16 16:13] robertleeplummerjr commented on #57
How much data are you training with?

[2017-01-16 16:18] Dok11 commented on #57
167 samples same as I [wrote](https://github.com/harthur-org/brain.js/issues/57#issuecomment-272814341)
19 samples for test

[2017-01-16 16:51] robertleeplummerjr commented on #57
Any way you could increase the data into a few thousand samples?

[2017-01-16 18:08] Dok11 commented on #57
I don't think. It's real data from database.
Maximum what I can – to attempt get error about 70..75% on test data. It's norm for my issue.

[2017-01-17 09:48] Dok11 commented on #57
Results of my experiment with double layer.
Net trained to 0.0025 error on each param hiddenLayers.

I wrote just best results with accuracy on test data over 66%:
(columns - count neurons in 1 layer, row - count neurons in 2 layer)

|     | 20    | 40 | 60 | 80    | 100 | 120   | 140   | 160   | 180   | 200   |
|-----|-------|----|----|-------|-----|-------|-------|-------|-------|-------|
| 10

[2017-01-17 15:07] robertleeplummerjr commented on #57
This is really fascinating!  It would be nice to arrive at some formula to understand the optimum size to go with.  Too, keep in mind, it will take much longer to train, but you can go deeper than 3 layers.

[2017-01-17 15:32] Dok11 commented on #57
I think, these parameters depend havily on type train dataset.

Could not get a good result as at 4-layers network. And it's really slow.
At this moment I have best result with `hiddenLayers = [180,30,5]` and 70.13% of accuracy.

I'll keep you informed :)

![image](https://cloud.githubusercontent.com/assets/2697890/22056049/24e8bf8a-dd6f-11e6-9ab8-01930e866bb1.png)

[2017-01-18 12:46] Dok11 commented on #59
@robertleeplummerjr how can I stop `train()` in a callback function?

[2017-01-18 14:28] robertleeplummerjr commented on #59
Currently there isn't a built in means.  You could throw an exception that could be caught.

[2017-01-18 16:56] Dok11 commented on #57
About optimization, what I found.
I use callback for check accuracy on test data and... training data, and what I got – on `state.error = 0.01` accuracy on training data is around 90%, it's enough result for my task and it does not make sense to continue. It's saves a lot of time for `train()`. Because usual I set `errorThresh` in range 0.001..0.0025, now I set `errorThresh` to 0.01.
Success story

[2017-01-18 17:25] robertleeplummerjr commented on #57
what did your layers look like in the end?

[2017-01-18 19:13] Dok11 commented on #57
While in the process.
Now I experimenting with hidden Layer [X, Y, 5].
And I think what in a future set errorThresh even more... because in two direction - accuracy on test data and training data train() make these cross.
For example train() for some net:

| iterations | accuracy on training data | accuracy on test data |
|------------|---------------------------|-----------------------|
| 0

[2017-01-24 02:27] robertleeplummerjr opened #60 "what is up with all this resetting?"
recurrence for the most part

[2017-01-24 16:49] robertleeplummerjr commented on #60
fixed here: https://github.com/harthur-org/brain.js/commit/3755e1bce901a3cd79904e478f965ce71e09bb65

[2017-01-24 16:49] #60 closed, assigned to nobody

[2017-01-24 16:49] robertleeplummerjr commented on #57
fantastic tracking of results!

[2017-01-24 16:49] #57 closed, assigned to nobody

[2017-01-24 16:51] robertleeplummerjr commented on #55
I think the current answer to this, in the way that you are defining networks, it is like asking how to restructure a neural network, after it has already been structured to train it further.  Currently this isn't implemented.

[2017-01-24 16:51] #55 closed, assigned to nobody

[2017-01-24 16:52] robertleeplummerjr commented on #50
https://github.com/harthur-org/brain.js/commit/2793d7bbeeb15600d7abb5778738a428c328ac6c

[2017-01-24 16:52] #50 closed, assigned to nobody

[2017-01-24 17:03] jrobinson01 commented on #5
will this ever make it into master?

[2017-01-24 18:23] robertleeplummerjr commented on #5
If there was sufficient desire.

[2017-01-24 18:36] robertleeplummerjr commented on #5
I did end up putting it here though: https://github.com/harthur-org/brain.retro.js fyi

[2017-01-24 23:25] jrobinson01 commented on #5
nice! thanks @robertleeplummerjr

[2017-01-25 00:13] robertleeplummerjr commented on #5
I'd love to find out how you are using it!

[2017-01-25 01:36] jrobinson01 commented on #5
I'm trying to use it in an image recognition demo. I'm using image data from my web cam. What I'm trying to do is, after I've trained and run the network, take the output and run it through retro, then display in image of what the network "sees" as the input.

I'm having an issue with the retro function though. I think the problem may be with how I'm formatting my inputs and output. An example of

[2017-01-25 02:46] robertleeplummerjr commented on #5
Can we continue this here: https://github.com/harthur-org/brain.retro.js/issues/1?

[2017-01-25 03:27] #40 closed, assigned to nobody

[2017-01-26 18:46] robertleeplummerjr commented on #46
Did this end up being solved?

[2017-02-05 12:31] MariasStory opened #61 "RNN or so to predict mouse motion"
Hi,

Not an issue per say.
It would be very nice to have a simple RNN or so to predict mouse motion.
Did someone see/did such example in a browser?
I have seen such example in c (don't have the reference now).

I don't look for a fastest or smartest example. Just one that work ;-)

Thanks.

[2017-02-09 19:43] robertleeplummerjr commented on #61
What would input data look like?  If we were to go super specific like pixel position, training would be something like:
[code]

So setup a environment to capture mouse moves, use the onmousemove event, and the more input data you give it, the more precise it _should_ be.

[2017-02-09 20:10] robertleeplummerjr commented on #61
If you were to use an RNN, such as a LSTM, my gut reaction is to do something more like:
[code]
Then iterate through the list of positions and normalize the values to one of the enums above or any you come up with.  This extracts the math, so the neural net can work out the principle rather than both math and principle.  Then when you go to predict, you'd need current location, and last location,

[2017-02-13 01:57] robertleeplummerjr commented on #61
I forgot to mention, then you could do:
[code]

`relativePosition` would simply accept two numbers, and output a string, such as `'slowPositiveX'` or `'slowPositiveY'`.
`output` here would simply be a key.

[2017-02-20 01:57] robertleeplummerjr commented on #39
@ddsol Is working on a formula composer that will be able to be reused between the nets.  From what he has shown me, it will be consist of simple functional math, and before it runs, it compiles to a loop-less reusable function.  He also is working on a gpu counterpart.

In the mean time, to get a simple poc convolutional neural net running with minimal effort running, I went ahead and did the fol

[2017-02-20 02:57] robertleeplummerjr commented on #61
So, as it turns out, I couldn't resist and ended up writing a solution for mouse prediction.  Let me know what you think: https://jsfiddle.net/robertleeplummerjr/wvkbojr7/

You paint in red, and after the net is trained, it paints along with you in green.

If time equals money...
thinking about it = one week
writing it = 30 minutes
making training data = a minute
training it = 2 seconds
creating m

[2017-02-20 03:10] robertleeplummerjr commented on #61
![predict](https://cloud.githubusercontent.com/assets/679099/23110544/30d58072-f6f0-11e6-9f30-24035daa2c9d.png): What it output for me.

[2017-02-20 03:23] robertleeplummerjr commented on #61
Should be a little more accurate: https://jsfiddle.net/robertleeplummerjr/wvkbojr7/1/

[2017-02-20 11:24] MariasStory commented on #61
Hi @robertleeplummerjr ,

This looks interesting.
I did something similar/different:
1) Record last N(~20) points of your mouse position.
2) Train a network with last T(~10) points and use current mouse position as expected result.
3) Activate network with last T points of your mouse position.
I do it for every mouse move and was able to use quite a complex model (on my system I5).
I expected to g

[2017-02-20 14:47] robertleeplummerjr commented on #61
I updated the demo again based off your recommendations to use at least a 1k inputs: https://jsfiddle.net/robertleeplummerjr/wvkbojr7/3/

You are right, the problem is a bit complex, and the problem too is that there really isn't any context for the mouse as to what you are moving towards, we are literally just swirling on a canvas, the very basic definition of art...
![image](https://cloud.github

[2017-02-20 15:43] robertleeplummerjr commented on #61
I added a generate option here: https://jsfiddle.net/robertleeplummerjr/wvkbojr7/4/
Not very exciting though, it detects no real input, and slows the cursor gradually, and eventually stops, so you end up with a very short line.

[2017-02-23 03:36] robertleeplummerjr commented on #39
I worked out the logical flow and simplified naming convention so almost anyone can make out what is going on [in there](https://github.com/harthur-org/brain.js/blob/49038d6ee94a6a45ecc71c371b6555d988cea9c8/src/utilities/convolution.js#L132).

You'll notice that it is essentially the same logic, the main difference I'm implementing a means of compiling a couple functions that will have all the mat

[2017-02-23 10:47] MariasStory commented on #61
Hi @robertleeplummerjr
It is not very exiting, but interesting:
![image](https://cloud.githubusercontent.com/assets/6576335/23255876/789f9fb2-f9bd-11e6-80db-024060099c5e.png)
gives:
![image](https://cloud.githubusercontent.com/assets/6576335/23255893/86f87412-f9bd-11e6-8fdd-491d33023d5f.png)
I did try more complex network configurations, but it looks very limited. I guess some optimization is need

[2017-02-23 12:14] robertleeplummerjr commented on #61
Nice!  The network is about as simple as they come ( a feedforward neural net, with one hidden layer, and basic backpropagation) so if we gave it more hidden layers, it likely could work out some of the optimization you are talking about.  Too, I think that a feedforward net is going to give us very limited results with the amount of data we are sending it (overfitting, lack of data), a recurrent

[2017-02-27 02:51] robertleeplummerjr opened #62 "get image-net to run on brain.js"
![](https://media.giphy.com/media/ziVStDLrzb3pK/giphy.gif)

[2017-03-11 19:21] robertleeplummerjr opened #63 "Float32Array vs Float64Array"
We want to eventually run full on gpu, which would be best keeping that in mind?

[2017-03-16 18:21] arjunmenon opened #64 "NPM version?"
NPM has a different version? 0.7.0

New release?

[2017-03-16 18:23] IonicaBizau commented on #64
Duplicate: #35

[2017-03-16 18:23] #64 closed, assigned to nobody

[2017-03-16 18:48] arjunmenon opened #65 "Strings?"
Hey
Would like to know if the inputs objects support text strings.

I did something like this

[code]
It outputs `{ error: NaN, iterations: 1 }`

One of the [comments says](https://github.com/harthur-org/brain.js/issues/47#issuecomment-269367451) that `rnn` supports them, so is it only available for it or other models can also make use of strings?

[2017-03-17 01:52] riatzukiza commented on #65
Usually one has to one hot encode a string to use it in a neural network.

On Thu, Mar 16, 2017 at 1:48 PM, Arjun Menon <notifications@github.com>
wrote:

[2017-03-17 02:50] robertleeplummerjr commented on #65
A recurrent neural net in some form is probably the way to go here, the reason being is that their whole design is based on a varying length input, where as a traditional neural net generally has a defined sized input.  There are ways around this, of course, but are essentially hacky, like: a maximum length input, normalize all characters, and the rest where doesn't take up the rest of the input,

[2017-03-17 05:55] arjunmenon commented on #64
Hey please add a note to remove this confusion. Made a commit.

[2017-03-20 13:41] robertleeplummerjr commented on #35
Can you give it a once over at this point?

[2017-03-20 13:42] IonicaBizau commented on #35
@robertleeplummerjr Should we publish maybe a beta? Is `1.0.0` ready yet?

[2017-03-20 13:52] robertleeplummerjr commented on #35
@IonicaBizau, love it!  Flip the switch when ready!

[2017-03-21 01:18] robertleeplummerjr commented on #39
@riatzukiza, I believe I have seen the light of your statement.  _But_ I think we can make things both easily composable, easily configurable, and have a means of auto config.  After a bit of tinkering, I can see how convolutions offer a much wider range of configurability than vanilla neural networks, and because of that we need to be able to define configurations.  I've pondered on this for a wh

[2017-03-21 17:12] riatzukiza commented on #39
I like the functional arguements

[2017-03-21 17:16] ddsol commented on #39
By passing the functions as arguments you can't figure out what's in it until you call it with actual data. This means you can't transcribe or optimize the entire function, only the parts.

I think it's better to be  declarative and describe what the whole thing should do using POJOs or strings or something else inert (non-code). The functions won't be doing anything fancy anyway. All the "custom

[2017-03-21 20:59] robertleeplummerjr commented on #61
I think the only real limitation we have here is overfitting, ie: not enough data.  That being said, if we had a ton of mouse data and resolutions it was tracked with, we could potentially do something very useful with this.  All in all, would you say this is solved?  Also, would you like to see this added to the brainjs.com as a visualization?

[2017-03-21 21:00] robertleeplummerjr commented on #65
May I get some feedback to see if this solved your issue?

[2017-03-21 21:02] robertleeplummerjr commented on #39
@riatzukiza, ty for the feedback!  @ddsol I really like where you are going with this as well.  Do you by chance have any recommendations or pseudo code?  I know you are doing some work on the rnn care to share sometime soon, as I believe it follows a similar path?

[2017-03-21 21:10] ddsol commented on #39
One possibility would be for instance:
[code]

I'm not currently working on any RNN or CNN or any other NN.

[2017-03-22 01:11] robertleeplummerjr commented on #39
@ddsol thank you for the suggestion and clarification, I really like what you did there.

[2017-03-22 06:03] arjunmenon commented on #65
Hey
Sorry could not respond. Was juggling between projects.
Would try this approach and expand it for large datasets, by end of day.
By way you have put up the example, I believe the model is too sensitive with stopwords.

[2017-03-22 14:54] MariasStory commented on #61
Hi @robertleeplummerjr,
I wanted to see some reasonable predictions of a mouse motion. I did not get it working properly :-(.
Your solution seems to somewhat generalize the training data, as shown on the example.
I don't mind if this example is added to the brainjs.com as a visualization.
Let's close the issue.
Thanks.

[2017-03-23 13:13] arjunmenon commented on #65
First tried encoding the data with a simple BOW vector and then later tried with normal strings.
Label `0` is software and `1` is hardware
All tests run in CLI.
[code]

with

`var net = new brain.NeuralNetwork();`

training

`{ error: 0.004978560090833529, iterations: 156 }`

 and the result was

 `output = net.run([ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0 ]);`  // "drive"

`

[2017-03-23 13:53] robertleeplummerjr commented on #65
This is an outstanding bug, the error rate for recurrent neural net does not equate to that of the standard recurrent neural net. How long did it take to train?  One of the things we are working towards is a refactor of the recurrent neural net that will run both much faster on the cpu, and eventually the gpu.

[2017-03-23 14:06] robertleeplummerjr commented on #65
Also, fantastic work!
![](https://media.giphy.com/media/TM4lfZOBjVpfO/giphy.gif)

[2017-04-03 10:52] robertleeplummerjr commented on #39
As a side note, the algorithms used (at least at this time) will be to compile a simple kernel, rather than to run all the math for performance.  If interested in why, check this out: https://jsperf.com/loop-vs-loopless

While this isn't exactly the same thing and the size is substantially smaller, on my system I get 85 times faster results from a loopless or "compiled" algorithm.  If we can achie

[2017-04-03 11:29] Dok11 commented on #39
@robertleeplummerjr is any conv nn was published on brain.js or this only discuss?

[2017-04-03 13:55] robertleeplummerjr commented on #39
It is partially implemented here https://github.com/harthur-org/brain.js/tree/convolutional/src.  I'll commit what I have locally later today, which isn't working fully yet, but is substantially further than what is here.

[2017-04-03 13:56] robertleeplummerjr commented on #39
I forgot to mention on the loop vs loopless, that 85 times faster is cpu only, not even gpu yet.

[2017-04-06 17:18] robertleeplummerjr commented on #39
Here is the output of the not yet working convolutional kernel: https://gist.github.com/robertleeplummerjr/ea2a4cd06012ccbca47a8597522759c4

from https://github.com/harthur-org/brain.js/tree/convolutional

exciting stuff!

[2017-04-10 18:17] wagenaartje commented on #53
Fun, but very hard! I think the way to go on this is to split the big image into smaller chunks (say 100x100 each) and then run a convolutional net over each one of those chunks. Let it classify if waldo is present. A generator is a whole other story though...

[2017-04-10 18:19] robertleeplummerjr commented on #53
Agreed!  Progress for the underlying library requirements are here: https://github.com/harthur-org/brain.js/issues/39

[2017-04-10 18:20] wagenaartje commented on #26
My neural network library also offers visualization: https://github.com/wagenaartje/neataptic

[2017-04-10 18:42] robertleeplummerjr commented on #26
and starred.

[2017-04-27 15:17] robertleeplummerjr commented on #49
the latter, generating documentation may not be needed, as the documented api is simple enough.

[2017-06-10 10:30] abhisheksoni27 commented on #51
Is this going to be a pre-built function export, like an API which would do the mentioned task, so as to let others seamlessly integrate it into their apps OR Were you trying to suggest a possible use-case of `brain.js`?

[2017-06-17 15:45] brandonros opened #71 "Accuracy"
[code]

I've tried a few different approaches and all sorts of input/outputs (and another library actually).

I really can't get accurate data out. Any tips?

[2017-06-17 17:11] Dok11 commented on #71
@brandonros your training data looks like random numbers. Maybe they dont have any dependecies between input and outup?
For example, second input key does not affect to result in the set. And one input to one output is... strange case.

[2017-06-17 17:12] brandonros commented on #71
It's addition.

Regards,

Brandon
________________________________
From: Oleg Postoev <notifications@github.com>
Sent: Saturday, June 17, 2017 1:11:55 PM
To: harthur-org/brain.js
Cc: Brandon Ros; Mention
Subject: Re: [harthur-org/brain.js] Accuracy (#71)

@brandonros<https://github.com/brandonros> your training data looks like random numbers. Maybe they dont have any dependecies between input and

[2017-06-17 17:13] Dok11 commented on #71
Absolutely, your net remember just training data. In other words - overtrain.
Normal error will be between 0.3 — 0.02

[2017-06-18 18:55] brandonros commented on #71
Can you share an example on how I could achieve what I am trying to achieve (neural network learns that it's simple addition) using the input I'm using? I've tried tweaking the error rate + not overtraining, but didn't get any better results.

[2017-06-18 19:05] wagenaartje commented on #71
@brandonros, you cannot expect a neural network to map a function with such a small dataset - you have included just 5 training samples. Note that a neural network will always minimize the error on the given dataset, so you cannot guarantee that a neural network will perform as good on a a dataset that it was not trained on.

There are infinite possibilities for addition. So _at least_, scale your

[2017-06-18 20:14] Dok11 commented on #71
@brandonros as one of variants you can decrease purpose accuracy to some real data. Imagine what can somebody answer who have same dataset?
Really, I think what your data doesn't have any relationship. Or you need dramatically increase volume of trainig data as said @wagenaartje
So, set `iterations` less then 50, or get more training dataset.

[2017-06-18 20:33] brandonros commented on #71
@wagenaartje Thank you for taking the time to respond. One question:

Would it ever make sense to train the model with the same data in reptition? Example:

[code]

[2017-06-18 20:33] brandonros commented on #71
@Dok11

Sorry that I did not make it clear. The data should be representing addition. 0.1 + 0.1 = 0.2, etc.

[2017-06-18 20:36] #71 closed, assigned to nobody

[2017-06-18 21:03] Dok11 commented on #71
Strange, I did think what NN work just with multiply, but sum.. I don't think it easy task for NN

[2017-06-19 02:22] robertleeplummerjr commented on #71
The datset should be fine if you give it the loose principles of math, it just needs a good deal of them.  Something I've tried that has worked nice is giving training results in every case from 0 to 10, for example.  It depends what your ceiling is and your floor, but if it is a finite set you can give something general enough but specific to not get overfitting.

[2017-06-28 14:36] neuronsupport opened #72 "Could you include build instructions in readme?"
Could you include build instructions in readme?

thanks

[2017-06-28 14:50] neuronsupport commented on #72
never mind got it, but it still may be good have it in readme file

[2017-06-28 14:50] #72 closed, assigned to nobody

[2017-07-01 16:22] DaveBben opened #73 "Different Outputs Each Run"
Is it normal to get different outputs each time you run this?

I have the following code that's trying to predict how long it will take me to complete a run. My input is a percentage of my distance range (0 -5 miles) and my output is a percentage of my time range (0 -60 minutes).

[code]
My output ranges from 0.47 - 0.54. Do I need more data?

[2017-07-01 16:56] wagenaartje commented on #73
Weights are initialised differently everytime you create a network. So running this code will result in a different output every time.

Yes. With only 8 training samples your network will overfit easily. So make a few runs to collect some more data and you're good to go :wink:

[2017-07-01 17:02] DaveBben commented on #73
Ok okay! Thanks! I also found that if I lowered the error threshold and cap the iterations, it seems to be consistent.

` errorThresh: 0.0001,  iterations: 50`

[2017-07-01 21:58] #73 closed, assigned to nobody

[2017-07-17 12:34] janwirth commented on #20
The concept is pretty awesome. I gave vectorizing it a shot.
![screen shot 2017-07-17 at 14 33 06](https://user-images.githubusercontent.com/7485959/28268044-fa31286a-6afc-11e7-9b46-92ca572c7456.png)
I would love your opinion and whether you consider using it.

[2017-07-17 13:17] robertleeplummerjr commented on #20
Do you have the source vectors?  I love it!

[2017-07-17 21:12] janwirth commented on #20
Sure, I just created this. AI or SVG? Should I create an MR?

I will adjust the proportions a little and tweak it here and there then.

[2017-07-17 23:06] robertleeplummerjr commented on #20
We'll take what you give.  Svg would be awesome.

[2017-07-19 09:37] janwirth commented on #20
Clean and valid SVG with the correct colors and proportions below :)
[code]

[2017-07-24 10:55] gabrielfreire opened #77 "I want to contribute"
This library is awesome and i would like to work on it, where do i start? Do you guys have any to do list somewhere?

[2017-07-24 11:42] Dok11 commented on #77
Maybe you want include gpu.js for super mega faster work? :)))
p.s. just joke.. maybe

[2017-07-24 14:30] robertleeplummerjr commented on #77
That is already happening here: https://github.com/harthur-org/brain.js/tree/nn-gpu
Next big plans are to get gpu.js to run server side via opencl (already works in cpu mode) and then recurrent and convolutional neural networks.  We are going to setup tons of layers, and have base networks as a type that can be extended, so you basically will have a neural net + layer playground.

To: we loath the

[2017-07-24 15:04] gabrielfreire commented on #77
Cool! i'll take a look at that. Thanks

[2017-07-24 17:23] Iazzetta opened #78 "How use brainjs to create chatbot?"
I trying to use brainjs to make a simple chatbot.
[code]

I know, I train to check ID's and not match words. But what I need do to train with messages or match words?

[2017-07-24 17:47] gabrielfreire commented on #78
To train, i think you should train the messages
like
`
net.train([
  {input: "Hello", output: "Tranquilo?"},
  {input: "Tudo bem?", output: "sim!"}
]);
`
so when you're finished just pass the message as input to predict
like
`net.run("Hello")`
output: `//Tranquilo?`

i'm not sure if i'm correct but makes more sense to me.

[2017-07-24 18:04] Iazzetta commented on #78
Yes, but brain don't match the messages. Trying "Hello" works, but "hello" not. Maybe I need remove accents and set all words to lowercase before train and pass to predict. But how I train to words/phrases match? Like "hello, I love that music" and "wow I love this music" be the same thing..

[2017-07-24 18:09] gabrielfreire commented on #78
I think that you will have to normalize the data first.
ie.
//input: "hello" output: "tranquilo?"
[ 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ] = "hello"
[0] = "Tranquilo?"

`net.train([{input: [ 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ], output: [0]}`

[2017-07-24 18:11] SISheogorath commented on #78
The answer is simple: You need more training data.

I already worked on something similar but you need a few thousand training elements or even more to make sure the AI notices the difference. Keep in mind that your neuronal network starts with an empty mind. knowing nothing about language. Doesn't even know that characters exist.

So when you want to build up a context based on the content of a s

[2017-07-24 18:17] Iazzetta commented on #78
Thanks!

[2017-07-24 18:17] #78 closed, assigned to nobody

[2017-07-24 18:23] #77 closed, assigned to nobody

[2017-07-28 16:15] embiem opened #80 "Not possible to require or import?"
I switched to this maintained library from the old one. Just doing the switch, I am no longer able to use a standard `const brain = require('brain.js')` (I basically just changed from brain to brain.js in the require), because the module will not be exported but put on the global `window` variable.

Is there a reason for this? For now I just access the library using window.brain, but it would be n

[2017-07-28 16:22] robertleeplummerjr commented on #80
Is this in the browser?

[2017-07-28 18:02] embiem commented on #80
Yes

On 28 Jul 2017 18:22, "Robert Plummer" <notifications@github.com> wrote:

[2017-07-31 00:52] robertleeplummerjr commented on #80
I will address this shortly, very good points being made here.

[2017-07-31 09:48] ValeriaVG commented on #31
Greetings.
I'd like to help with this idea.

I believe there should be a cascade of networks - with first one to determine the type of the image (Ultrasound, X-Ray, MRI etc) and the following ones to group and classify diseases.

This will allow the decompose the task into smaller ones and develop (and possibly even run) parts of the system separately.

Also, as far as I know solely pictures won't

[2017-08-04 19:21] michaelsanford commented on #80
Is the intention to go with the [ES6-style](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import)
[code]
?

That would be my humble recommendation, at least. This would presumably allow existing implementations of `require('brain.js')` that expect it to be attached to `window` not to break, at least for now.

To wit, are there cases in which the `browser` variant is

[2017-08-04 19:49] robertleeplummerjr commented on #80
I believe this is now resolved.
@michaelsanford the library uses (at least I looked) `import { xxx } from whatever;`, (src/neural-network.js, for example) but does not in `index.js` which gets files from `./dist`, which are es5.

If you'd like to use the es6 files, simply use `import brain from 'brain.js/src';` or `import brain from 'brain.js/src/index';` _I think_.

I didn't see that till it was

[2017-08-04 20:30] michaelsanford commented on #80
Sweet! Perfect timing.

And I'm happy to hear that: I'll definitely poke around this _most intriguing_ library. 👍

[2017-08-04 20:31] robertleeplummerjr commented on #80
Just wait till you see what we have planned next.  Full on GPU power for web and node.

[2017-08-04 20:32] robertleeplummerjr commented on #80
fiy: https://github.com/harthur-org/brain.js/tree/nn-gpu
It isn't like "we plan on doing this... someday" no, it is already running.  We just want to simplify it so that anyone can learn ai.

[2017-08-07 07:10] embiem commented on #80
That's awesome! Thanks for fixing and very cool to see this library still being actively developed.

[2017-08-07 09:54] robertleeplummerjr commented on #80
Thanks for helping us make it better

[2017-08-07 18:17] cristianounix opened #81 "GPU - Accelerate"
I do not know if you guys discussed about use this module.
[GPU Accelerated JavaScript](https://github.com/gpujs/gpu.js)

[2017-08-07 19:32] Dok11 commented on #81
yes =)

[2017-08-07 19:35] cristianounix commented on #81
What the conclusion about this discussion ? we will use or not ?

[2017-08-07 21:15] robertleeplummerjr commented on #81
https://github.com/harthur-org/brain.js/wiki/Roadmap

I've already been working on gpu.js, making it fully node (and already webgl) capable so as to achieve wicked fast neural networks.

@abhisheksoni27 has done a great job here: https://github.com/harthur-org/brain.js/tree/nn-gpu converting the initial feedforward neural network.  This is just a proof of concept, we will be simplifying it soon an

[2017-08-08 11:35] cristianounix commented on #81
Great, so if i would like use this poc i need switch to `nn-gpu` branch or there is another branch more stable using gpu ?
In this branch (nn-gpu) the package gpu is not in package.json (https://github.com/harthur-org/brain.js/blob/nn-gpu/src/neural-network-gpu.js) and this was the only file I saw using gpu (https://github.com/harthur-org/brain.js/blob/nn-gpu/src/neural-network-gpu.js).

[2017-08-17 08:22] joelnet opened #82 "Halt and Resume training"
I am interested loading a pre-trained JSON from a file and resuming training.

I have attempted to do just this, though it appears the training is restarted from scratch (based on the training errors for each iteration).

Is there an easy way to do this?

[2017-08-18 11:40] Nickproger commented on #82
+1 I need the same...

[2017-08-18 11:46] Nickproger opened #83 "Reinforcement Learning: Is there a way to train again already trained NeuralNet with new input training set? It seems `keepNetworkIntact` works incorrectly"
[code]

current result:
[code]

expected result:
[code]

[2017-08-24 19:13] keyzog opened #84 "How I can continue training?"
Hi! I to want continue training my Neural Network from the same place where he finished his past training. How doing this?

I did try doing that:
[code]
But training starting with start. Can you help me?

P.S. Sorry for my bad English

[2017-08-24 20:25] keyzog commented on #82
+1

[2017-08-25 01:43] robertleeplummerjr commented on #82
There are two operational halves mentioned here: `halt` and `resume`.  The latter can be handled via:
[code]
Also, since we aren't version 1 yet, I _really_ like reducing the property name `keepNetworkIntact` to `resume`.

I'm open to suggestions on the first operation (and anything else).

[2017-08-25 03:04] Macil commented on #82
Maybe "resumable" instead of resume? Resume sounds like an option you'd use on the subsequent training only.

[2017-08-25 15:41] robertleeplummerjr commented on #84
Duplicate of: https://github.com/harthur-org/brain.js/issues/82

[2017-08-25 15:41] #84 closed, assigned to nobody

[2017-08-25 15:42] robertleeplummerjr commented on #83
Duplicate of: https://github.com/harthur-org/brain.js/issues/82

[2017-08-25 15:42] #83 closed, assigned to nobody

[2017-08-25 15:43] robertleeplummerjr commented on #81
Currently: switch to the branch, but this will be resolved soon.

[2017-08-25 16:01] cristianounix commented on #81
Ok, i will do it.

[2017-08-25 16:01] #81 closed, assigned to nobody

[2017-08-30 10:26] Nickproger commented on #82
@robertleeplummerjr, thank you for your attention to this problem.

What i noted is that if we use `keepNetworkIntact: true` like i mentioned here: https://github.com/harthur-org/brain.js/issues/83
then it doesn't work like it's expected,
but actually **the weights of neurons are remaining**
and if we **join 2 training data sets, old with new one** and then retrain with `keepNetworkIntact: true`

[2017-08-31 20:43] chluchan opened #85 "Import/export model from offline training"
Is it possible to train the network, export the model, and import at a later time without having to retrain every time?

[2017-09-01 01:58] robertleeplummerjr commented on #82
That is doable, but taking a step back, can we shorten both `keepNetworkIntact` and `resumableTraining`?

[2017-09-01 08:12] Nickproger commented on #82
@robertleeplummerjr, what about `reinforce` or `reinforcement` ?
[code]
This word is related to theory and doesn't describe implementation like it was with `keepNetworkIntact`.

I just wonder, is there some other more proper way to achieve this without saving all previous input data sets?

[2017-09-01 11:14] robertleeplummerjr commented on #82
I love the name suggestions!

That is a good point on exporting all previous training data.  It actually strikes me as an anti-pattern, because it implies I no longer have control of my data, and cannot feed it back into the net.

[2017-09-01 11:16] robertleeplummerjr commented on #82
I think the more proper way would be to concat your old data to new data and be on your way.

[2017-09-01 11:48] didair opened #86 "recurrent.LSTM() can't handle "p"?"
Hi,
I was experimenting with LSTM yesteraday and it seems it cannot parse the letter P
This is whats it throwing
[code]

[2017-09-01 12:53] robertleeplummerjr commented on #82
Also, thinking about halting training would have to be an async operation, otherwise, we are stuck in a loop until we reach either a low enough error, or we run out of iterations.

[2017-09-01 13:01] robertleeplummerjr commented on #86
What does your code look like?

[2017-09-01 13:54] didair commented on #86
Like this

if i change the query to whatever string without the letter P it does a successful request

`
const brain = require('brain.js');
let memory = require('./memory.json');
var query = "hiphop";
var net = new brain.recurrent.LSTM();

net.train(memory, { log: true, errorTresh: 0.005, iterations: 7500, learningRate: 0.4 } );
var response = net.run(query);

var newResponse = { 'query': query, '

[2017-09-01 21:07] robertleeplummerjr commented on #27
https://github.com/harthur-org/brain.js/pull/87

Would you be so kind as to give a code review and any insights?

[2017-09-01 21:07] #27 closed, assigned to nobody

[2017-09-01 21:09] robertleeplummerjr commented on #27
example:
[code]

[2017-09-02 18:09] robertleeplummerjr commented on #86
how about your training data?

[2017-09-02 18:09] robertleeplummerjr commented on #85
duplicate of: https://github.com/harthur-org/brain.js/issues/82

[2017-09-02 18:09] #85 closed, assigned to nobody

[2017-09-02 18:11] robertleeplummerjr commented on #82
For the time being, lets at least address continuing training.  I think "reinforce" is the perfect name.  If anyone else has a better suggestion, perhaps I can add that later, but for the time being, I'll go ahead and add it.

[2017-09-03 02:53] robertleeplummerjr opened #88 "Stop training so that it may be continued later"
Likely async, unless there is some other magical means... that isn't magic.

[2017-09-03 02:53] robertleeplummerjr commented on #82
As for the other side of this: https://github.com/harthur-org/brain.js/issues/88

[2017-09-03 22:56] robertleeplummerjr commented on #82
I looked into this for a few hours today, and didn't reach any conclusion that would impress anyone.  I did however have a moment of insight.  If you put iterations to 1, and have a parent function call the training, you by indirect definition are halting and resuming training.

So simply do this:
[code]

Or maybe a larger number.

As for resuming training on more new data, simply concatenate with

[2017-09-03 23:10] robertleeplummerjr commented on #82
Merged!: https://github.com/harthur-org/brain.js/pull/90

[2017-09-04 12:06] IonicaBizau opened #91 "We're moving! 🚀"
I am pleased to see the great work in this project! ❤️

It's been a while since [I was wondering](https://github.com/harthur/brain/issues/72) about the future of this project. The activity is amazing and so is the feedback! 🎉

After talking to @robertleeplummerjr, we are transferring the repository to the @brainjs organization.
I will invite the members of @harthur-org (/cc @harthur-org/devs @hart

[2017-09-04 12:08] robertleeplummerjr commented on #91
love it!

[2017-09-04 12:15] abhisheksoni27 commented on #91
:tada:

[2017-09-04 12:16] IonicaBizau commented on #91
Welcome to @BrainJS! 🎉

[2017-09-04 12:20] abhisheksoni27 commented on #91
![](https://media.tenor.com/images/04052e9d28831ce512093906edec28f6/tenor.gif)

[2017-09-04 13:55] abhisheksoni27 opened #92 "Rebuild Website"
I'll keep posting new screenshots and/or related things to the website so that everyone can provide feedback.

_Ideas_ are welcome! :tada:

[2017-09-05 07:58] abhisheksoni27 commented on #92
![screenshot from 2017-09-05 13-27-53](https://user-images.githubusercontent.com/4340071/30051004-16d207a6-923e-11e7-8e59-02ff8644c59c.png)

[2017-09-05 08:05] abhisheksoni27 commented on #92
![screenshot from 2017-09-05 13-34-24](https://user-images.githubusercontent.com/4340071/30051271-ff922354-923e-11e7-9155-015e11c55106.png)

[2017-09-05 13:45] Nickproger commented on #82
Hmm.. interesting...
Just wonder.. is there a way to get know how long training can take?
I mean how many `iterations` or how many percent is done after particular amount of `iterations`?
Can we get a difference of errors between start and end of training?

[2017-09-05 14:09] robertleeplummerjr commented on #82
I suppose if we had a callback for after each iteration, and the callback returned a means of stopping the iteration, you could do whatever you like in there.  How does that sound?

[2017-09-05 17:13] kurttheviking commented on #91
nice work @IonicaBizau &ndash; thank you!

[2017-09-08 08:05] abhisheksoni27 commented on #92
![screencapture-localhost-3000-1504857858348](https://user-images.githubusercontent.com/4340071/30202005-825eb826-949a-11e7-8b86-98381ba0a237.png)

[2017-09-08 08:07] abhisheksoni27 commented on #92
**1.** We need to decide that description line below Who are We?

**2.** The description of authors. Should I copy the GitHub profile description? If anyone wants, though, they can post their author-description right here.

The author name will be a link, so that's that.

[2017-09-08 08:12] IonicaBizau commented on #92
@abhisheksoni27 I have a tool for that: https://github.com/IonicaBizau/github-org-members.js

I'm happy with my GitHub short bio as description.
I would suggest using the GitHub API (the above library) so things are a bit more dynamic.

[2017-09-08 08:22] abhisheksoni27 commented on #92
@IonicaBizau Brilliant! :tada:

I think it's great. Does the library return profile descriptions? :thinking:

Actually, even if it doesn't as of now, it's easy, right? We just have to call the API again for each author, and grab the description text.

Maybe that was on the roadmap. :joy:

[2017-09-08 08:24] IonicaBizau commented on #92
If I'm not wrong they are called `bio`.

[2017-09-08 08:25] abhisheksoni27 commented on #92
Right. There you go: https://developer.github.com/v3/users/#get-a-single-user

[2017-09-08 08:26] IonicaBizau commented on #92
It doesn't return the bios... It could be a feature.

On Fri, Sep 8, 2017 at 11:22 AM, Abhishek Soni <notifications@github.com>
wrote:

[2017-09-08 08:28] abhisheksoni27 commented on #92
Exactly!

Seems doable to me. What do you think?

[2017-09-08 08:29] IonicaBizau commented on #92
@abhisheksoni27 I'm just wondering if the new API (v4) can return the `bio`s in the same call. My library already supports a `source` url. :grin:

[2017-09-08 08:34] abhisheksoni27 commented on #92
Oh! GraphQL. Great. Let's try and figure out if that's possible.

[2017-09-08 08:48] abhisheksoni27 commented on #92
It most certainly is possible.

[code]

Can you try running it? It returns an empty array for me because maybe I can't access that information since I am not the owner.

[2017-09-08 08:55] IonicaBizau commented on #92
@abhisheksoni27 That indeed works, but fetches the public owners. GraphQL requires authentication. Maybe we can do it via v3 for now...

[2017-09-08 08:57] abhisheksoni27 commented on #92
Right. Good catch. I am getting two members now, and they are listed as Public. Cool.

Anyway, I am fine with v3.

[2017-09-08 10:32] abhisheksoni27 commented on #92
@IonicaBizau As it happens, even REST can't return private members. :thinking:

[2017-09-08 10:35] IonicaBizau commented on #92
It can, but it needs the right scopes.

We can use the `source` option of my library which will fetch the data from a JSON file, but we will have to update that file from time to time.

[2017-09-08 10:39] abhisheksoni27 commented on #92
Right! How about we provide it with an authentication token (which has to
be generated by one of the owners)?  And then, when we query, we can see
the private members as well.

OR. Like you said, we can go ahead and use the `source` option to get data
from a pre-saved file. Whatever works.

[2017-09-08 10:43] IonicaBizau commented on #92
No, we don't want to share the tokens!!!

[2017-09-08 10:45] abhisheksoni27 commented on #92
Of course. But, Firebase. But yeah, too much hassle.

[2017-09-10 19:49] giannosdev commented on #31
Hey, I haven't seen a response or an update regarding this. Have any of you guys started working on something like this? I would be very interested to help!

[2017-09-10 20:18] robertleeplummerjr commented on #31
Awesome!  Most of the work is actually being done so that the underlying architecture can handle large input sets and as well various layer types.  More in a bit.

[2017-09-10 21:40] robertleeplummerjr commented on #31
Here is the roadmap, and I added a link to this issue under why: https://github.com/BrainJS/brain.js/wiki/Roadmap

We started by looking at convolutional layers, and I saw a desire to have a "layer playground" and at the same time I was looking into how to make things faster.  I then found that gpu accelerating, we can have a substantial performance gain, so I found what I felt was the most mature

[2017-09-10 21:41] robertleeplummerjr commented on #31
So to answer your question:

I would say this is probably the most active issue currently.

[2017-09-10 21:47] robertleeplummerjr commented on #31
Just now seeing:

There would need to be some sort of linkage setup.  Something that comes to mind, especially because now we have GPU acceleration... gpu databases.

[2017-09-11 12:05] robertleeplummerjr commented on #82
bump

[2017-09-22 10:47] abhisheksoni27 commented on #92
![screencapture-localhost-3000-1506077141718](https://user-images.githubusercontent.com/4340071/30741178-7020c196-9fb1-11e7-878c-b3e5f73aa98b.png)

[2017-09-22 10:48] abhisheksoni27 commented on #92
The form looks odd right now, but as we add more sections showcasing brain.js sorcery, it'll fall into place.

[2017-09-22 10:49] IonicaBizau commented on #92
@abhisheksoni27 Do we really need a contact form? Maybe we can track those as issues (e.g. `brainjs/hello/issues/new`).

[2017-09-22 10:59] abhisheksoni27 commented on #92
@IonicaBizau Sure. Great idea.

But I only put the form there so that people who want to connect with us, but are not necessarily on `GitHub` (yes, yes, potential sponsors :laughing: ), can.

[2017-09-22 14:11] robertleeplummerjr commented on #92
I'd like to brainstorm demos we could show off at some point as well.

[2017-09-22 14:19] abhisheksoni27 commented on #92
@robertleeplummerjr I think the time is now. Brainstorm! :thinking:

[2017-09-24 14:03] robertleeplummerjr commented on #91
We've moved!

[2017-09-24 14:03] #91 closed, assigned to nobody

[2017-09-24 14:07] robertleeplummerjr commented on #82
Proposal:

Stops training:

[code]

Note: I added time, thinking I'd like to stop after an hour, for example, which doesn't really translate to iterations very well.  I think too we could add it in the options for training if it is liked.

[2017-09-24 14:08] #54 closed, assigned to nobody

[2017-09-24 14:09] robertleeplummerjr commented on #54
we ended up going a different way.  Essentially we are generating a large ast, but using direct javascript which is then translated to glsl or opencl via gpu.js.

[2017-09-24 14:27] robertleeplummerjr opened #96 "2.0 planning"
The work for 2.0 is really taking root.  After getting recurrent neural networks in v1 (not yet released) I could see a great deal how we could make it simpler, but I also wanted to address the entire architecture as a whole.  We can simplify the strategies of a recurrent neural network and a feedforward neural network, so that more advanced concepts, like convolution could easily be used.  Also I

[2017-09-25 13:56] thegamecat opened #97 "Storing trained net"
Loving Brain.js - how do I store the trained nn and then re-use it in other scenarios?

[2017-09-25 14:42] robertleeplummerjr commented on #97
After training, you can do: `net.toFunction()`
This gives you a zero dependency function of your trained net.  To further that thought, you can:

[code]

Which gives you a 100% es6 file you can just import and run, like so:

Then later:
[code]

Wait till we land gpu support in v1, and tons of layers in v2!

[2017-09-25 14:44] robertleeplummerjr commented on #97
You can also export and import via json: https://github.com/BrainJS/brain.js#json

[2017-09-25 17:01] thegamecat commented on #97
You are a hero!!!!

Gonna try this now. Thank you so much!

[2017-09-25 17:18] thegamecat commented on #97
Any ideas?

import trainedNet from logpath+'/trained-net.js';
^^^^^^
SyntaxError: Unexpected token import
    at Object.exports.runInThisContext (vm.js:73:16)

[2017-09-25 17:37] robertleeplummerjr commented on #97
Just try non-es6
[code]

[2017-09-25 21:41] thegamecat commented on #97
ah yes, thanks. Will the export approach in the stored nn work with node7.6?

[2017-09-25 23:22] robertleeplummerjr commented on #97
I don't see any reason why it wouldn't work.

[2017-09-26 15:49] thegamecat commented on #97
Thanks for your help so far Robert.

A few things I've found.

I'm on Node 7.6 and I've had to change the trained-net file to read like this:
module.exports = {

  getnn: function (input
/**/) {
return {'do':1/(1+1/Math.exp(1.424093361048118+0.693914741575579*(1/(1+1/Math.exp(0.21477080727104217-0.13510833411671558*(input['price'])+0.002514424937632802*(input['rsi'])+0.12644871083363154*(input['em

[2017-09-26 15:56] thegamecat commented on #97
.

[2017-09-26 16:31] robertleeplummerjr commented on #96
Json input and output is currently tested and is:
`toJSON()`:
[code]

note: _no change_, see next for json definition.

`static fromJSON(json, function)`:
[code]

Note: `inputLayerIndex` isn't terribly useful here, but will be when recurrent happens.  The definition is `FeedForward.fromJSON(json, (jsonLayer, input) => { return new ALayer(jsonLayer, input); });`

The idea is that we can accept any

[2017-09-27 00:35] robertleeplummerjr commented on #96
Just a quick note.  Recurrent neural networks proposal:
[code]

Because a LSTM neural network is essentially architecturally the same as an RNN, but with different hidden layers, we can have a layer be the definition for the LSTM.  All the math is encapsulated.  Easy to understand, and easy to extend.  Picture the whole underlying method like this:

[code]

[2017-09-27 00:48] robertleeplummerjr commented on #96
Also: the layer is in charge of how the layer learns, period.  This sounds vague and probably a bit weird, but picture the forward propagate (predict) and back propagate (compare, and learn) as managed inside the layer so all the math that affects the layer is in one location.  The order in which layers predict, compare, and learn, is only managed inside the lib.  So we get this super nice and cle

[2017-09-27 09:09] thegamecat commented on #97
I ended up using the JSON method. Took some playing but the application is working, now trying to work out how to optimize to improve the training which is failing at the moment.

Thanks for your help.

[2017-09-27 09:09] #97 closed, assigned to nobody

[2017-09-27 20:57] thegamecat opened #98 "net.run gives same response regardless of input"
I have a trained net that has an error of .06 (I've tested with an error of 0.0005) and when I do a netrun every single response is {"do":0.3964411059957613} regardless of what data is in input.

Any ideas why?

[2017-09-28 03:14] robertleeplummerjr commented on #98
Can I see source?  I need more context.

[2017-09-28 10:43] thegamecat commented on #98
This is the stored nn:

{
  "layers": [
    {
      "ema20ema50percentage": {},
      "ema20ema100percentage": {},
      "ema20ema200percentage": {},
      "ema50ema100percentage": {},
      "ema50ema200percentage": {},
      "ema100ema200percentage": {}
    },
    {
      "0": {
        "bias": -1.5750287727890826,
        "weights": {
          "ema20ema50percentage": -20.25601029294507,

[2017-09-28 10:44] thegamecat commented on #98
Then I pass in normalised data for each run. And each run comes out with the same do value.

[2017-09-28 13:20] robertleeplummerjr commented on #98
How do you normalize data?

[2017-09-28 13:22] thegamecat commented on #98
normalizedata: function (data) {
	var normdata = [];

    var min = Math.min(...data);
    var max = Math.max(...data);

    for (var i = 0; i < data.length; i++) {
      normdata[i] = (data[i]-min) / (max-min);
    }

    return normdata;
  },

[2017-09-28 18:42] thegamecat commented on #98
Just to add, I've tried to make this simpler using only 1 and 0 inputs and got a much lower training error score and still I get:
{ input:
   { ema20testema50: 1,
     ema20testema100: 0,
     ema20testema200: 0,
     ema50testema100: 0,
     ema50testema200: 0,
     ema100testema200: 0 } }
{ do: 0.013354765211227795 }
{ input:
   { ema20testema50: 1,
     ema20testema100: 1,
     ema20testema200:

[2017-09-30 21:34] AmrAlaa-exe commented on #61
@robertleeplummerjr  Hi,
Could you please explain a sample of your code: https://jsfiddle.net/robertleeplummerjr/wvkbojr7/4/
using a LSTM?
Thanks.

[2017-10-02 18:50] AkashGutha opened #99 "Making the Library Robust and Simple for beginners"
User story:
Akash is a small kid and wanted to play around with some neural networks, kids these days like to be geeky. But he finds all the libraries to be quite hard to use since they talk about math jargon all over the place and a single function is asking him to give a thousand inputs. That's not cool.
Akash want's to get his ideas running on a Neural Network as soon as possible without the ne

[2017-10-02 18:52] robertleeplummerjr commented on #99
It is like you are in my head!: https://github.com/BrainJS/brain.js/issues/96#issuecomment-332374644

[2017-10-02 19:00] AkashGutha commented on #99
Same thing for General neural and deep nets.

[code]

This would be an invaluable addition to starters

[2017-10-12 02:36] robertleeplummerjr commented on #96
So here is the latest in trends for LSTM and recurrent behavior.  We need to define a single set of programs that can be reused, and a simplified set of terminologies that describe them.

Here is the commit: https://github.com/BrainJS/brain.js/commit/d43b1ee8644bfffa7eb27da3fde4ef2e32c819dd#diff-b84ad68a55b45bd31698c5356097abf3R15

The idea behind it:

We need a way to define groups of layers that

[2017-10-19 19:37] jasonhargrove commented on #80
Sadly does not work using the `/src` solution described above. It throws an import error. (Using babel and webpack). Odd regression re something as simple as module loading.

#### Here's what works in `1.0.0-rc.3`:

[code]

This attaches brain to `window.brain`.

#### For those who use webpack, you'll get a complaint about a pre-built javascript file.

![image](https://user-images.githubuserconten

[2017-10-19 19:42] jasonhargrove commented on #80
To aid those searching, the error we experienced that resulted from the upgrade is `TypeError: brain.NeuralNetwork is not a constructor`. (Because it's not loading properly anymore.)

[2017-10-19 20:35] robertleeplummerjr commented on #80
webpack needs a node file, use: `require('brain.js');` I _think_ should fix it.

[2017-11-05 23:25] adrianowead commented on #86
I have same issue here.
I don't understand correctly how this LSTM works.
For example, a simple test with fibonacci sequence:

[code]

This code above is very simple, it creates a fibonacci sequence with the number position as **input** and your value as **output**.

The idea is to predict the 51 th number on sequence. But te error is:

[code]

Then, how can I predict a value with a input **not**

[2017-11-06 07:37] NicolasBrondin commented on #86
Mmh I think the correct syntax for the run method would be:

net.run({input:51});

[2017-11-06 12:25] adrianowead commented on #86
@NicolasBrondin

Thank you, but this is not correct syntax (with current version **brain.js@1.0.0-rc.3**).

If run as array, works:
[code]

If run as object, does not works:
[code]

If run as object with array, does not works:
[code]

Same error to predict the position 51.
Does not works:
[code]

Returns this error:
[code]

[2017-11-19 10:50] arguiot opened #102 "Faster training"
Hello 👋, I would like to know if it would be possible to improve performances of the `train` function, using the GPU, or using multiple cores/threads in the node version.

Thank you for building this library

[2017-11-19 10:56] arguiot commented on #92
Here are some ideas 💡:
- Black and White text (the one already existing)
- MNIST handwritten digits recognition
- Face recognition
- Flappy Bird game that works by itself
- Pathfinding in a maze
- Day or night recognition (with images)

**I'll edit this post if I find new ideas**

[2017-11-28 19:42] lunaroyster commented on #92
Hey guys. I'm working on a MNIST demo using BrainJS. Will post it here when it's presentable.

[2017-11-28 20:02] robertleeplummerjr commented on #92
love it!

[2017-11-28 22:41] arguiot commented on #92
@lunaroyster If you want, there is one on GitHub made by a Russian guy that works. 😊

[2017-12-19 03:09] Amglsox opened #103 "Error loading json file from a trained neural network"
Hi, I'm having trouble loading JSON from an already trained network. When using the network from the generated JSON, it does not have the outputs that are required to use the Run method. Can you tell me? Below is the screen and the code.

![errorede](https://user-images.githubusercontent.com/34178609/34138785-7c594866-e458-11e7-8b65-3a0f0a41039a.PNG)

[code]

[2017-12-19 03:40] robertleeplummerjr commented on #103
Would you by chance be able to reproduce this on a jsfiddle or the like?

[2017-12-19 20:48] robertleeplummerjr commented on #99
This issue is really important to me, so I want to expound upon where the api is headed.  And not only do I was to make sure the library is easy, it will be GPU accelerated, and enterprise ready.

The actual api for FeedForward nets is currently implemented as (for v2, not yet released):
[code]

And the "twin" recurrent api (planned, not yet built):
[code]

Note: See anything related between them?

[2017-12-25 23:40] robertleeplummerjr commented on #102
The short answer: yes
The longer answer:
This is something we've put a great deal of thinking into, and ended up adopting [gpu.js](gpu.rocks) and assisting getting it to [version 1](https://github.com/gpujs/gpu.js/releases/tag/1.0.0).  I just [merged in an experimental branch](https://github.com/BrainJS/brain.js/blob/master/src/neural-network-gpu.js) this is where the above answer "yes" is satisfi

[2017-12-26 00:25] robertleeplummerjr commented on #98
Can you throw the full reproduced issue in a jsfiddle or similar?

[2017-12-26 00:27] robertleeplummerjr commented on #80
Did the above solution help at all?

[2017-12-26 00:28] robertleeplummerjr commented on #65
Since we were able to put strings in, I'll go ahead and close this issue for continuity, let me know if that isn't satisfactory.

[2017-12-26 00:28] #65 closed, assigned to nobody

[2017-12-26 00:37] robertleeplummerjr commented on #1
Link fixed: https://brain.js.org/

[2017-12-26 00:37] robertleeplummerjr commented on #1
Since the page works, although simple, lets close this and continue with showcases as they come up.

[2017-12-26 00:37] #1 closed, assigned to nobody

[2017-12-26 00:38] robertleeplummerjr commented on #30
I believe we have achieved this, I will continue to monitor the original repo in time.

[2017-12-26 00:38] #30 closed, assigned to nobody

[2017-12-26 00:41] robertleeplummerjr commented on #37
This beacons to be asked: a GPU driven database store
![](https://media3.giphy.com/media/Sd4rgKxBUKPLy/giphy.gif)

[2017-12-27 13:05] DawnLck opened #104 "Error: Cannot find module 'gpu.js'"
Sorry, but i cant find where this file at.

[2017-12-27 14:57] s0kil commented on #104
https://github.com/gpujs/gpu.js

[2017-12-27 16:42] robertleeplummerjr commented on #104
My bad. A missing dependency. I went ahead and added, and we should be set:
https://github.com/BrainJS/brain.js/blob/366cde6c8514be0dd0100b1ba93c8635158b0e96/package.json#L68

[2017-12-28 00:28] abc-z opened #106 "Should I normalize data?"
I want to pass chunk of time-series with fixed size to NN, so my input will be a same [12, 45, 33, 44, 55, 22, 3]. Docs requires normalizate each element to [0, 1], but in [recommended video](https://scrimba.com/c/c36zkcb) author doesn't do it.

I suppose that I must. Perhaps add a parameter "normalize the data" of the NN is a not silly idea?

[2017-12-28 03:29] robertleeplummerjr commented on #106
I believe you may not need to with Relu and Leaky Relu. Try this:

`new brain.NeuralNetwork({ activation: 'relu' });`
or
`new brain.NeuralNetwork({ activation: 'leaky-relu' });`

The default activation is sigmoid, which does need normalization.

[2017-12-28 03:39] robertleeplummerjr commented on #106
Also: I know this is super lame, to use a string to define this type of thing, this will change in v2, fyi.

[2017-12-28 04:06] robertleeplummerjr opened #107 "a shirt for our project?"
This is probably stupid, but this has always be a dream of mine:

<img width="623" alt="brain-shirt" src="https://user-images.githubusercontent.com/679099/34399928-f9c0cae2-eb59-11e7-9c17-105b0e836241.png">

It might be a nice way of backing brain.js, and fun.

[2017-12-28 12:41] abc-z commented on #106
Thanks.
So, it's a not necessary. I think this should be reflected in the docs.

Maybe better use something like below? I'm not sure but it can decrease performance.
[code]

[2017-12-28 14:28] robertleeplummerjr commented on #96
Now that GPU.js is released as v1.0.0, we are full on!  For reference: https://gist.github.com/robertleeplummerjr/4aaf8afb177c9c80f8452d5025117e26

[2017-12-28 14:29] robertleeplummerjr commented on #106
I like the suggestion!  Part of the reason it is implemented as it is is that I'm trying to focus on the new GPU layer composition stuff, and lack of time.  Too, the activation actually consists of two parts, an activation, and the activation's derivative.  The layer composition stuff is somewhat structured the way you mention:

https://github.com/BrainJS/brain.js/tree/nn-gpu-layers/src/activation

[2017-12-28 14:33] robertleeplummerjr commented on #106
So with the api as: https://gist.github.com/robertleeplummerjr/4aaf8afb177c9c80f8452d5025117e26

The activation _is_ a matrix transformation, and therefore _by its very nature is a "layer"_, albeit a simple one.  But with cells (groups of layers of neurons), and gates (synonym of cell?), we are talking about layers composing layers.  In short, the api looks a bit like:

[code]
This is a composed s

[2017-12-28 15:19] robertleeplummerjr commented on #106
Let me backtrack, because the answer I gave was overly wordy.

I think this is _exactly_ what we want for v2, some of the groundwork for it has been laid with https://github.com/BrainJS/brain.js/tree/nn-gpu-layers/src/activation, would you be open to possibly implementing it?

[2017-12-28 18:05] abc-z commented on #106
If main platform for brain.js is a Node.js then it's a bad idea because `gpu.js` bursts only browser code.
I searched what the Node.js can offer as number cracker. At the moment it's nothing. Both OpenCL and CUDA don't have a native implementation. Npm has some packages but they look abandoned. So we can only wait :(

I'm a newbie in NN. So I don't understand exactly what the code does. Before div

[2017-12-28 18:16] robertleeplummerjr commented on #106
That is incorrect.  There is a browser.js file, but brain.js is written in node javascript.  It executes on browser (javascript and WebGL) and node (javascript, and eventually OpenCL).  We transpile it for convenience.

Node ES6 source: https://github.com/BrainJS/brain.js/tree/master/src
Node ES5 (redistributable npm package) source: https://github.com/BrainJS/brain.js/tree/master/dist
Browser sou

[2017-12-28 18:28] abc-z commented on #106
How? I don't find any information how make js code/Node faster without compile (or use `node-gyp`) C/C++ extensions. I think that it's impossible at the moment.

[2017-12-28 18:32] robertleeplummerjr commented on #106
It isn't built yet (proof of concept only), but via http://gpu.rocks/, we'll use https://github.com/mikeseven/node-opencl or https://github.com/unbornchikken/NOOOCL

Likely it'll be `node-opencl` since it supports opencl v2

I'm on the GPU.js team :P, so I can make these types of predictions.

[2017-12-30 17:21] jrobinson01 opened #108 "benchmarks, and issue with RNN"
I'm trying to write some better examples for RNN and LSTM, but ran into some snags and decided to start very simply. In short, my LSTM networks were taking forever to train in my projects, so I went back to basics and created this benchmark:

[code]

The output is interesting (2015 MacBook pro):
[code]

- RNN sometimes gets them all right, but often times does not.
- Both RNN and LSTM have what lo

[2017-12-30 18:50] jrobinson01 opened #109 "LSTM examples?"
Following on the other issue I created #108 , I'm trying to teach an LSTM network to write a simple children's book. I'm getting odd behavior but really don't know what I'm doing to begin with. I'd love to get this example working and added to the readme for others to follow but am hitting lots of little roadblocks. Here's my code:

[code]

The results in the console:
[code]
some observations:
- t

[2017-12-30 20:17] robertleeplummerjr commented on #108
First off, ty ty ty for the help!  After you train the nets, have your ran them against a valid output and seen what the result is?

[2017-12-30 21:09] jrobinson01 commented on #108
Yeah I believe so. The last 4 lines of each test are running the respective network. They’re basically the same as the examples from the current readme.

[2017-12-30 22:16] robertleeplummerjr commented on #108
Ah yes, an oversight on my part.  I was playing Mario with my kids, and took a moment to answer.  Shame on me :).

TL;DR
The `brain.NeuralNetwork` class uses "mse"
The `brain.recurrent.*` class uses "mRmsProp"
The numbers are two different measurements, the recurrent are higher, I'm sure there is a way to normalize them, I just have not had time.  I believe error values you have are plenty fine, a

[2017-12-30 23:46] jrobinson01 commented on #108
Thanks so much for that! We should use your post as a start to the wiki. Makes sense about the error value. I will continue to experiment with LSTM's and RNN's in hopes that we can come up with some more useful documentation. The goals of this project, and the sentiment of your post really resonate with me so I'm excited to help. Neural networks ARE simple but it seems nobody can explain them to s

[2017-12-31 00:12] robertleeplummerjr commented on #108
Close, they have their own: https://github.com/BrainJS/brain.js/blob/ef3811e694fa6e1a304bfc1410f704d682d54be1/src/recurrent/rnn.js#L701

and it shared for the other recurrent classes: https://github.com/BrainJS/brain.js/blob/d9dc97746ffbc1d2071b82bcb7877880350da769/src/recurrent/lstm.js#L5
https://github.com/BrainJS/brain.js/blob/d9dc97746ffbc1d2071b82bcb7877880350da769/src/recurrent/gru.js#L5

Li

[2017-12-31 00:22] jrobinson01 commented on #108
I think I follow! Thanks again! More on construction... Let's say I want a LTSM.. ```new recurrent.LSTM({
    hiddenLayers: [?]
});```
I'm playing around with one now, but not having much luck. see issue #109 Given that I want it to generate sequences like "Jane saw Doug." "Doug saw Spot." what would be a good starting point for hidden layers?

[2017-12-31 00:32] robertleeplummerjr commented on #108
Come to think of it, I actually already composed the net layers.  I call this "layer composition", and I really feel it is like the "ah! that is how they work!", moment when you see them.  At least they are the most important part of the networks:
* rnn https://github.com/BrainJS/brain.js/blob/3c27691986bb08934273982c6309f33da51b7679/src/layer/recurrent.js#L3
* lstm https://github.com/BrainJS/brai

[2017-12-31 00:36] robertleeplummerjr commented on #108
Nailed it.

Too, there is an input and output converter, which convert a single word, to a neuron index for inputs and outputs.   So you can use plan english to train the net, and the net will do the hard work for you.

I'll take a look and see if I can get it running.

[2017-12-31 01:00] robertleeplummerjr commented on #109
[code]

https://jsfiddle.net/robertleeplummerjr/x3cna8rn/2/

I actually just discovered a bug, using the `.toFunction` doesn't output the character converter, so we'll need to fix that before v1, but the net seems to run just fine.  I got:

[code]

😎

[2017-12-31 01:01] robertleeplummerjr commented on #109
Notice too, after each name, there are spaces.  That isn't magic nor was the net specifically told to put spaces, it is just math. The net just saw them and added them after training.

[2017-12-31 01:02] robertleeplummerjr commented on #108
Running: https://github.com/BrainJS/brain.js/issues/109#issuecomment-354578485

Have fun!

[2017-12-31 01:04] robertleeplummerjr commented on #109
Now I'm starting to have fun with this: https://jsfiddle.net/robertleeplummerjr/x3cna8rn/4/

[code]

[2017-12-31 01:07] robertleeplummerjr commented on #109
lol, this is actually addictive: https://jsfiddle.net/robertleeplummerjr/x3cna8rn/5/
[code]

[2017-12-31 01:19] robertleeplummerjr commented on #109
https://twitter.com/robertlplummer/status/947275642365730816

Now we just need a publisher...

[2017-12-31 13:33] jrobinson01 commented on #109
Amazing!! So I was completely wrong about how LSTM's expect their training data it seems? I was thinking the time series was each item in the array of training data, but it seems that it's not. In this case, it's using each character of each item?

This is really fun! https://codepen.io/anon/pen/xpdmdN?editors=1010

I'm seeing some weird behavior sometimes, where instead of text, it gives output l

[2017-12-31 14:14] robertleeplummerjr commented on #109
Actually you are more correct than you think.  The net does provide some syntactical sugar in some scenarios.  Objects have bit yet been worked out, unless you convert them to string or number.

[2017-12-31 15:46] robertleeplummerjr opened #110 "can't call toFunction for RNN class when using strings as inputs and outputs"

[2017-12-31 15:50] robertleeplummerjr commented on #109
To be clearer.  things like numbers aren't so good with recurrent nets as they have been defined to me and I've seen them implemented.  Part of the reason is that every  character in the net _is the input_, so numbers are seen as more like characters (honestly more like buttons that are pushed of a sequence, that is translated to another sequence when predicting).  This is borrowed mentality from

[2017-12-31 15:51] robertleeplummerjr commented on #109
I found the issue related when playing around with the toFunction method here #110.  Will be pushing a pr soon, locally I have it fixed.

[2017-12-31 15:59] robertleeplummerjr commented on #109
released: https://www.npmjs.com/package/brain.js

[2017-12-31 15:59] robertleeplummerjr commented on #109
I'd like to use this children's book example in the release of v1 on the brain.js.org homepage.  Are you ok with that?

[2017-12-31 16:33] jrobinson01 commented on #109
Ok yeah, that makes sense (the pushed buttons analogy)! That's what I've been observing. The LSTM currently throws an error for example, if you try to run it with a word it's never seen before.

I'd love to see the example in the readme! That was a big motivator for this exercise, to help others make sense of it. I got the idea for the children's book here btw: https://www.youtube.com/watch?v=WCUN

[2017-12-31 16:34] robertleeplummerjr commented on #109
are you cool with using it as a demo?  It is just simple enough and fun enough I feel like it'd be great as a primer into recurrent.

[2017-12-31 18:14] robertleeplummerjr commented on #110
Although I fixed the initial issue, there still isn't a value that comes out of the net.  Reopened for a fix before end of day.

[2017-12-31 18:15] robertleeplummerjr commented on #110
![](https://media1.giphy.com/media/3og0Iwd5oXZbEbaKzK/giphy.gif)

[2017-12-31 18:34] jrobinson01 commented on #109
Yeah go for it! I think it does a good job giving newcomers and idea how the different types of networks work and what types of projects they’re a good fit for.

[2017-12-31 19:22] #110 closed, assigned to nobody

[2017-12-31 19:24] robertleeplummerjr commented on #110
![](https://media1.giphy.com/media/jEirVKZl0JytW/giphy.gif)

[2017-12-31 19:30] robertleeplummerjr commented on #109
Fixed the output function: https://jsfiddle.net/robertleeplummerjr/x3cna8rn/10/

[2017-12-31 19:31] robertleeplummerjr commented on #109
published new release, I believe one is v1 ready.

[2017-12-31 21:32] jrobinson01 commented on #109
Awesome! I’m going to close this issue.

[2017-12-31 23:13] robertleeplummerjr commented on #20
Ty again @FranzSkuffka and everyone else who made this possible.  Today we will release v1.0.0.

Its been a fun ride, but it has only just begun.

[2018-01-03 18:13] lunaroyster commented on #107
I made a thing. Too yellow?

![image](https://user-images.githubusercontent.com/6189367/34533203-3b094f94-f0df-11e7-9167-93dfc8cb542a.png)

What's that font?

[2018-01-03 18:32] robertleeplummerjr commented on #107
Just some random font, I honestly don't remember.

[2018-01-03 18:33] robertleeplummerjr commented on #107
I was honestly looking for a monospaced font

[2018-01-06 01:24] jrobinson01 commented on #108
Closing. I think we’re good here. Looking forward to seeing v2!

[2018-01-06 01:24] #108 closed, assigned to nobody

[2018-01-06 04:01] DaveBben commented on #109
Hey, how did you ever resolve this problem? I am facing the same situation. I have time a time series with objects that look like this:

  {
    Date: 'Apr 29, 2013',
    Open: 134.44,
    High: 147.49,
    Low: 134,
    Close: 144.54,
    Volume: '-',
    Cap: 1491160000,
  }

My goal was to predict the closing price for a future date. I am trying to implement an LSTM. I am not sure what to send

[2018-01-06 06:17] freddyC opened #111 "Quality Obj in toJson()"
I think it would be beneficial to have a second item in the `toJson` object for recording quality of the network.  This will help when sharing networks with others.  to give them some kind of idea how many resources have been put into actually training that network.  It will also give some basic metrics in figuring out what types of networks take a really long time to train.

Perhaps something lik

[2018-01-06 06:48] freddyC opened #112 "Confidence Level"
It would be nice to set an expected confidence level for the output, then output that is outside that confidence can be treated differently.

This would be extremely helpful in allowing the user to be alerted when something is unclear to the network and then allow the user determine what additional training should be taken.

One of the important things in AI that it seems to me is often forgotten

[2018-01-06 07:16] freddyC opened #113 "Network Piping"
It would be cool to have a clean way built in to pipe the output from one network into the input of another network and allow the user to provide (if needed) a method for modifying the data before the pipe happens.

Here is what I am envisioning:
[code]

I don't know if this works out perfectly but allowing some level of pipe-ability would allow complex systems to be created fairly simply.

[2018-01-06 07:32] freddyC opened #114 "Training Generation"
I think a lot of neural networks will be focused on vision.  Is it possible to generate training data.  For example could I take a smaller data set, then manipulate it and superimpose it onto a larger data set to get a reasonable result.

For example if I want to know if a chair is in a picture, could I take pictures of say, 500 different chairs in different angles, then print it over another 200

[2018-01-06 14:51] robertleeplummerjr commented on #104
I believe this to be resolved.

[2018-01-06 14:51] #104 closed, assigned to nobody

[2018-01-06 14:53] robertleeplummerjr commented on #109
TL;DR
Let me see if I can get a demo together.  Can you supply me with more input data? The recurrent neural networks as they exist aren't very good with numbers, they are better at translation.

TS;DR
The existing recurrent neural network operates like pushing buttons (inputs).

Let that sink in for a minute.

The values that you are training for aren't actually sent into the neural net (I want t

[2018-01-06 14:55] robertleeplummerjr commented on #109
TY, that means a lot.

[2018-01-06 15:28] robertleeplummerjr commented on #109
Here may be more what you are looking for to train over time data: https://jsfiddle.net/9t2787k5/4/

This uses https://github.com/wagenaartje/neataptic

[2018-01-06 15:39] freddyC commented on #82
Sorry I am a few months old on this but right now we have an error threshold for the network, perhaps we could also have a `timeout` for the network so that if we have reached the error threshold or the timeout it stops training, and include the state in either a state object or as a result's object that can be handled.

So training would look like this:

[code]

[2018-01-06 15:43] robertleeplummerjr commented on #82
I do like the `timeout` or `timetrained` idea.  It wouldn't take a lot to add this, and this issue really does need handled.  I suppose the best question to ask would be, taking a step back "What is the best way to stop a resource intensive process so that it may continue elsewhere later?"

[2018-01-06 22:10] freddyC commented on #82
The way I look at it is like this.  A network in a way works similar to a class.  It has it's own state,  as you train you update the state (i.e. iterations, proficiency, so on).  When we serialize the network we also serialize the state, so that in the future when we hydrate the network it it can pick up where it left off on the old state.  I may be oversimplifying it but it seems like that shoul

[2018-01-06 23:24] RobertLowe commented on #109
@robertleeplummerjr here's some end-of-data for IBM from 2014-to-2016 in JSON https://gist.github.com/RobertLowe/63642523f227b15c6616a1d89f5b489f (although a less stable stock might be more interesting)

I've only seen LSTM's implemented in `coinpusher` with `neataptic` for bitcoin prediction and it's still a learning curve (I'll get there). Would be nice to have a break down of an LSTM/nets core

[2018-01-07 17:34] perkyguy commented on #82
So it looks like this could be done if you leverage the `reinforce` and
`keepNetworkIntact` options for NN and RNN respectively. Then it just comes
down to how do you break the training process?

[2018-01-07 18:22] robertleeplummerjr commented on #82
@perkyguy you are exactly right.  Yesterday I had some time, and threw this together: https://github.com/BrainJS/brain.threadsafe.js
 I may put it in the brain.js repo if there is enough desire.  In short, it uses thaw.js, which in turn uses `setTimeout` and some stability around it so that it doesn't lock up the existing thread.  So if there was, say a certain keystroke that could be listened for

[2018-01-08 01:50] freddyC commented on #82
I will do some playing with it and if I get anything decent put together I will put up a pull request, but I probably won't have time till later tomorrow night.

[2018-01-08 13:44] robertleeplummerjr commented on #112
I wrote this when I first became acquainted with the project: https://github.com/BrainJS/brain.js/blob/master/src/likely.js

It really needs an examples page, which I could just use the unit test for.  Maybe I'll do that this morning.

In short, it gives a single result that the network is most sure about, here is the unit test: https://github.com/BrainJS/brain.js/blob/master/test/base/likely.js#L

[2018-01-09 17:05] robertleeplummerjr opened #115 "implement spiking neural network"
I was inspired by this sometime back: https://www.nature.com/articles/srep21142
I got to talk to the lead developer, who sent me the source code on this.

[SpikingNeuralPlanning_V1.0_2016April26 (1).zip](https://github.com/BrainJS/brain.js/files/1615945/SpikingNeuralPlanning_V1.0_2016April26.1.zip)

I did get permission before sharing, here is the conversation:

Elmar:

Me:

Elmar:

[2018-01-09 17:09] robertleeplummerjr commented on #115
Related video: https://www.youtube.com/watch?v=Lphi7EeU37s

[2018-01-09 17:10] robertleeplummerjr commented on #115
Related video: https://www.youtube.com/watch?v=XAj944lDPPQ

[2018-01-09 23:56] nsantini opened #116 "BUG: NeuralNetworkGPU undefined `size`"
Many functions in NeuralNetworkGPU use a for loop like `for(let k = 0; k < size; k++)`, but the variable `size` is not defined resulting in a runtime error

[2018-01-09 23:57] nsantini commented on #116
Some functions access the variable like `this.constants.size` which probably does whats intended

[2018-01-09 23:58] nsantini commented on #102
Ive been trying to get NeuralNetworkGPU to work but there seems to be a bug in it, see https://github.com/BrainJS/brain.js/issues/116

[2018-01-10 00:19] arguiot commented on #102
@nsantini Ok. I hope this bug will be fixed soon. I’ll try to investigate and if I find any solution to the problem I’ll answer in #116

[2018-01-10 00:22] nsantini commented on #116
Here is a screenshot of the issue

![screen shot 2018-01-10 at 1 21 29 pm](https://user-images.githubusercontent.com/438741/34749963-41378082-f609-11e7-8999-4ce50e7ac2e2.png)

[2018-01-10 00:33] robertleeplummerjr commented on #102
I've been thinking about this all day, it has to do with the `readPixels` from webgl, which is notoriously slow because it causes all layers to have to sync and stop.  I believe I have a possible solution where we read the outputs of all the trained neural networks to a single texture, and then sum the texture to obtain the single error of the whole net.  This value could then be output using `rea

[2018-01-10 00:45] robertleeplummerjr commented on #116
ty ty for finding this, I'll get this resolved asap.

[2018-01-10 00:46] robertleeplummerjr commented on #102
ok, I'm way off, #116 is the culprit here.  I'm solving this tonight!

[2018-01-10 00:47] nsantini commented on #116
Thank you so much, BrainJS rocks!

[2018-01-10 01:09] #116 closed, assigned to nobody

[2018-01-10 01:24] robertleeplummerjr commented on #116
I fixed this issue, and will release a new version of brain tonight, but a bug persists where the neural network eventually has exploding gradients, and I'm investigating.

[2018-01-10 01:25] robertleeplummerjr commented on #102
ok, #116 is resolved, but I'm getting exploding gradients I believe, still investigating.

[2018-01-10 13:31] arguiot commented on #102
Ok, it’s great 👍 you fixed the first bug. Do you think we can expect a GPU based training in the next weeks or days if you fix the gradient issue?

[2018-01-10 14:36] robertleeplummerjr commented on #102
I that is a good target, or I'll loose my sanity 😎

[2018-01-12 21:04] treyreynolds commented on #80
Hopefully, this is helpful if someone is reading this in the future:

For the ES6 import to work I used: `import brain from 'brain.js/src/index';`

[2018-01-13 03:35] umranium opened #119 "LSTM input formats"
Hi,

I've looked through the samples and the documentation but can't seem to figure this out. And since I'm not very experienced in javascript, I can't comprehend the code that well.

In the [childrens' books sample](https://github.com/BrainJS/brain.js/blob/master/examples/childrens-book.js), the LSTM is trained using a list of strings. How does the code convert the list of strings to numeric vect

[2018-01-13 07:34] freddyC opened #120 "Private Functions in NeuralNetwork"
So I have been thinking about https://github.com/BrainJS/brain.js/issues/99 and I think another thing that can get new users bogged down is how many methods and variables are exposed.  For example in the REPL I instantiate a simple NeuralNetwork and her are the things I have control over:

![image](https://user-images.githubusercontent.com/2294139/34903575-7999a272-f7f1-11e7-9841-e6eb5cc76467.png)

[2018-01-13 20:29] robertleeplummerjr commented on #120
I'm hesitant to alter those items because of a few reasons:
* I would much rather we focus attention on v2 and v3, and utilizing ultra fast performance
* In javascript, there really isn't an a concept of private, it is more implied, most libraries just document the items they want supported in the wild, which we do, but could probably be enhanced
* the library has been established long before I ev

[2018-01-13 21:16] freddyC commented on #120
Sounds good, I guess we can leave this open for a few weeks and if no one has shown interest let's just close the issue.

[2018-01-13 21:16] robertleeplummerjr commented on #120
good call!

[2018-01-13 21:18] robertleeplummerjr commented on #120
if you are interested though, visit some of the issue people are having with the net, and if you have time, resolve one or two.

It's addictive to help people.

[2018-01-13 21:18] robertleeplummerjr commented on #120
I'm currently working on this one: https://github.com/BrainJS/brain.js/issues/102#issuecomment-356620201

[2018-01-13 21:45] freddyC commented on #82
So I created the Pull Request for retraining and utilizing the `threadsafe.js` mentioned above.  One of the things I did is I removed the reinforce options and made it default to reinforce. Here is the difference in functionalities:

#### Old Behavior
[code]
The biggest problem I can see (and I actually did without realizing it on my first project) is calling `train` a second time without setting

[2018-01-13 21:54] robertleeplummerjr commented on #82
elegant and simple, I like it.  Any other feedback?

[2018-01-13 22:10] freddyC commented on #88
I think I will take care of this issue with the https://github.com/BrainJS/brain.js/pull/118 pr.

Also, do we have a discord or slack for this project?  It might make communication a bit simpler.  Would anyone be apposed to me creating one?

[2018-01-13 22:18] freddyC commented on #88
@robertleeplummerjr  Me being the very patient and not hasty person I am I made a discord server for the project here https://discord.gg/4BJPBmc.  If you don't mind we could include it in the readme.

[2018-01-13 22:21] robertleeplummerjr commented on #88
We had been using: https://gitter.im/brain-js/Lobby

On Sat, Jan 13, 2018 at 5:18 PM, Fred Christensen <notifications@github.com>
wrote:

--
Robert Plummer

[2018-01-13 22:22] robertleeplummerjr commented on #88
I tend to hang out there most days.  Best case scenario, the community loves discord, and we move, worst case, we have it so noone else does ;)

[2018-01-13 22:24] freddyC commented on #88
haha, ok Well I won't kill the discord yet, and I just joined the gitter page

[2018-01-14 07:39] freddyC opened #123 "Versioning"
Now that we have a specific released version we might want to consider our branching flow.

I don't know the best but pattern but I have always liked something like this:

### master
The branch that is the current latest release
### dev
Stuff getting ready to be put into the next official version.

### The Flow
New features and bug fixes would be merged into dev, then periodically dev would be mer

[2018-01-14 11:38] #35 closed, assigned to IonicaBizau

[2018-01-14 12:29] robertleeplummerjr commented on #35
fantastic!

[2018-01-14 12:42] #102 closed, assigned to nobody

[2018-01-14 12:44] robertleeplummerjr commented on #88
closed because handling in #118

[2018-01-14 12:44] #88 closed, assigned to nobody

[2018-01-14 12:45] robertleeplummerjr commented on #103
bump

[2018-01-14 12:48] robertleeplummerjr commented on #102
@arguiot v1.0.1 handles the above issue, and is released to npm.  I however don't want to close this issue till we can prove it is actually faster on the GPU.  It will be, but we were having some issue with the amount of times `readPixels` was being called.  I will try and look into this today.

[2018-01-15 20:13] Amglsox commented on #103
Sorry I got it sorted out. Thank you!!!!

[2018-01-15 20:13] #103 closed, assigned to nobody

[2018-01-15 22:30] robertleeplummerjr commented on #103
Always a pleasure when someone does housekeeping.  Ty!

[2018-01-17 05:06] dc198689 opened #126 "About brain.recurrent.lstm() Training Data"
Hi, I am new touch brain.js.
I am try to using your example ( children book )
I have few questions want to ask.

1. What’s the meaning of train error unit
    e.g : 0.356345533563
    If i get train error unit about 1.242335324,
    Is that means always matching wrong ?

2. Is the training data set support other language ?
    e.g only chinese, chinese and english words in 1 sentence

[2018-01-18 16:16] freddyC commented on #120
So I was talking to @robertleeplummerjr  about this a bit.  The main thing I think would help new users is a more clear interface on which methods are meant for them to interact with.  At the same time, I think for those looking through the code it would be more clear to have smaller functions in the neural-network itself, so it is easier to read and understand.

How about adding `_` before method

[2018-01-18 17:10] robertleeplummerjr commented on #120
I like and welcome this approach.

[2018-01-19 21:30] robertleeplummerjr commented on #98
I believe this is resolved in [here](https://github.com/BrainJS/brain.js/pull/127) and is [released](https://github.com/BrainJS/brain.js/releases/tag/1.0.2) can you confirm?

[2018-01-22 15:29] robertleeplummerjr commented on #98
ping

[2018-01-23 16:31] robertleeplummerjr opened #128 "we need a clean way to visually represent layers"
Example: http://visjs.org/examples/network/layout/hierarchicalLayout.html

Would help with understanding structure.

[2018-01-23 23:18] perkyguy commented on #128
Should this be a job for brain-ct?

[2018-01-24 10:33] nimec77 opened #129 "fromJSON does not work correctly"
const brain = require('brain.js');
const net = new brain.NeuralNetwork();
net.train([{ input: [0, 0], output: [0] },
    { input: [0, 1], output: [1] },
    { input: [1, 0], output: [1] },
    { input: [1, 1], output: [0] },
]);
console.log(net.run([1, 0]));
const json = JSON.stringify(net.toJSON());
const net2 = new brain.NeuralNetwork();
net2.fromJSON(JSON.parse(json));
console.log(net2.run([1,

[2018-01-25 20:41] robertleeplummerjr commented on #129
What version are you on?

[2018-01-26 03:02] nimec77 commented on #129
I tried on versions 1.0.2, 1.0.1 and 1.0.0 Correctly worked only on version 1.0.0

[2018-01-26 03:13] robertleeplummerjr commented on #129
Perfect!

[2018-01-26 13:47] robertleeplummerjr commented on #123
I'd _love_ to have this setup.  I'll take care of it right now.

[2018-01-26 13:48] robertleeplummerjr commented on #123
I'm going to use `develop` rather than `dev`.  It seems that is more the convention I've seen of late, but let me know if that is a problem.

[2018-01-26 13:53] robertleeplummerjr commented on #123
Before doing, I read a bit of: http://nvie.com/posts/a-successful-git-branching-model/
I added `develop` and changed the default branch where pull requests are made.  Ty for taking the time to look at this seemingly small thing, I'm sure it will help for future organization.

![easy as 123](https://s-media-cache-ak0.pinimg.com/originals/a0/8a/68/a08a687cd1784f929500ef1bf68f5f49.jpg)

[2018-01-26 13:53] #123 closed, assigned to nobody

[2018-01-26 13:59] robertleeplummerjr commented on #114
It seems this is a common practice, but you'd want to make sure you have enough data that isn't chairs, because if you didn't all you'd be training the net to do is to activate despite what is going into it.  If trained specifically and successfully to that of a chair it does lock the network into a specified route, which can be good or bad.

Imagenet seems to be the standard. Example of search fo

[2018-01-26 14:02] robertleeplummerjr commented on #113
v2.0.0 will have a means to do this. You can leave the output layer to be something exactly to be consumed as part of intermediate connection to another net.

[2018-01-26 18:25] robertleeplummerjr commented on #129
reproduced.  fixing.

[2018-01-26 20:01] robertleeplummerjr opened #130 "use at least float32 arrays for performance"

[2018-01-26 20:02] robertleeplummerjr commented on #129
fixed here: https://github.com/BrainJS/brain.js/pull/131

[2018-01-26 21:21] robertleeplummerjr commented on #130
handled here: https://github.com/BrainJS/brain.js/pull/131

[2018-01-26 21:21] #130 closed, assigned to nobody

[2018-01-26 21:23] robertleeplummerjr commented on #129
Fixed and deployed in https://github.com/BrainJS/brain.js/releases/tag/1.0.3
Mind reproducing?

[2018-01-26 21:25] robertleeplummerjr commented on #86
Looking into this now, sorry I've been neck deep in other stuff.

[2018-01-26 21:40] robertleeplummerjr commented on #86
Reproduced here: https://jsfiddle.net/robertleeplummerjr/chd5y44c/

Ok the issue is that the existing implementation is for supervised learning, but what we want (including me) is unsupervised learning.  In the case of fibonacci numbers, you could feed them all in and then it could learn them, but that isn't ideal here.

I'm going to brainstorm this.

[2018-01-26 21:41] robertleeplummerjr commented on #86
We will have a means of solving this in v2, fyi.

[2018-01-27 03:14] nimec77 commented on #129
Now everything works correctly. Thank you!

[2018-01-27 03:15] #129 closed, assigned to nobody

[2018-01-27 04:30] robertleeplummerjr commented on #129
![](https://media.giphy.com/media/mbTaFQPK6iqEo/giphy_s.gif)

[2018-01-28 22:21] thegamecat commented on #86
That's quite funny, just came back to try out Brain and bam, this exact error :)

Glad to hear it's being fixed.

[2018-01-28 22:56] faroukcharkas opened #135 "Error given when forgotten to train"
## *What* is wrong?
When you forget to train the network an error message pops up saying something along the lines of `this.runInput is not a function`.

## *Where* does it happen?
This error appears when you run the neural network in the browser.

## *How* do we replicate the issue?
In order to replicate the issue, forget to train the network. Go from creation to running right away.

## *How* imp

[2018-01-29 01:57] robertleeplummerjr commented on #82
So if we want a full featured assistant here, we could use https://www.npmjs.com/package/keypress and bind it to key events.  Starting would then be simply running the app, pausing would be via key combination... OR, we could simply bind to before exit: https://stackoverflow.com/questions/14031763/doing-a-cleanup-action-just-before-node-js-exits

[2018-01-29 23:15] perkyguy commented on #135
This was fixed in PR #136 , if it's not, just re-open this and I can take a look at what happened.

[2018-01-29 23:15] #135 closed, assigned to perkyguy

[2018-01-29 23:38] faroukcharkas commented on #128
I already am working on this :D

[2018-01-30 01:39] robertleeplummerjr commented on #128
nice
Ultimately this will be for:
this branch: https://github.com/BrainJS/brain.js/tree/nn-gpu-layers
see readme here: https://github.com/BrainJS/brain.js/tree/nn-gpu-layers/src/layer

[2018-01-30 01:39] robertleeplummerjr commented on #135
ty guys!

[2018-01-30 09:31] elmondogri opened #138 "[Help needed] Guess next trend on chart"
Hello, I am not sure this is the best place to post my problem but I can't find another.

I am using Brain.js since a few days and am completly new to Machine Learning so I might be missing something obvious.

I have a huge (20k+) set of prices in json, something like:
`[{time:555555555000, price: 5.5456}, {time:555555556000, price: 5.5454}, {time:555555557000, price: 5.5457}, ...]`

Now what I wa

[2018-01-30 15:08] robertleeplummerjr opened #139 "GPU training can be much faster"
![A GIF or MEME to give some spice of the internet](https://media2.giphy.com/media/3o8doZhbM9UZBumBna/giphy.gif)

## *What* is wrong?
Right now when training is being done, we send the raw inputs and outputs that are converted each train to the gpu via a texture.  This should be done once, greatly speeding up training.

## *Where* does it happen?
Any time `train` is called in the `NeuralNetworkGPU

[2018-01-30 17:54] freddyC commented on #120
Handled in https://github.com/BrainJS/brain.js/pull/137

[2018-01-30 17:54] #120 closed, assigned to nobody

[2018-01-30 18:51] robertleeplummerjr opened #140 "`FeedForward` class in `nn-gpu-layers` branch learns inconsistently"
![A GIF or MEME to give some spice of the internet](https://media0.giphy.com/media/J5XkFdokUvVHG/giphy.gif)

## *What* is wrong?
It's learning should be more consistent.  At times it learns very well, others it is completely confused.

## *Where* does it happen?

in the following code:

[code]

## *How* do we replicate the issue?
The code sample above should be sufficient for reproducing the issue

[2018-01-31 23:32] freddyC opened #142 "User Object Validation"
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/SzkvLyuVgaGpW/giphy.gif)

## *What* is wrong?

We don't validate the training options that are passed in

## *Where* does it happen?

NeuralNetwork

## *How* do we replicate the issue?

Try passing in a negative timeout when training and see how well your network is trained.

## *How* important is this (1-5)?

2

##

[2018-01-31 23:34] freddyC opened #143 "Async Runner"
![A GIF or MEME to give some spice of the internet](https://media1.tenor.com/images/9c3bf8e8de1b15b9073ff8ae83820e77/tenor.gif?itemid=5501510)

## *What* is wrong?

We have added thaw.js but we don't run the network async.

## *Where* does it happen?

NeuralNetwork

## *How* do we replicate the issue?

Train the network the run the network, there is an async way to train it but no async way to run

[2018-01-31 23:38] freddyC opened #144 "Results Stream"
![A GIF or MEME to give some spice of the internet](https://media.tenor.com/images/d320022232cbe60fb7f342be86806cfa/tenor.gif)

## *What* is wrong?

We have a trainingStream but we don't have a running stream.

## *Where* does it happen?

NeuralNetwork

## *How* important is this (1-5)?

2

## Expected behavior (i.e. solution)

When the user has a trained network we should have a way to open up a

[2018-02-02 05:57] freddyC commented on #138
@elmondogri Hope you are enjoying brain.js, thanks for using it.  I am a bit new to the project myself, but one thing I have heard is that sometimes when we try to doctor the data (like you are doing with your `1, 0.5, 0` inputs) it can hinder the learning of the network.  I don't know if that is what is going on for sure.  What would happen if you tried something like this?  (I don't think I have

[2018-02-02 11:43] fede-ciliberti commented on #138
Price must be in the 0 to 1 range. You can map it like a percent of change

El 2 feb. 2018 2:57 AM, "Fred Christensen" <notifications@github.com>
escribió:

[2018-02-02 13:21] fede-ciliberti opened #146 "Running brain.js inside a web worker"
## *What* is wrong?
Hello, I am trying to run brain.js within a web worker in the same way as
the example in https://brain.js.org/ but for some reason the variable brain
is not being exported. Surely it is because the version has changed. I
appreciate if you can tell me how to proceed. Thank you very much.

[2018-02-02 15:11] robertleeplummerjr commented on #146
on it

[2018-02-02 16:05] robertleeplummerjr commented on #146
Resolved, and updated ph-pages so reflect it working: https://brain.js.org/

ty for finding this!

[2018-02-02 16:05] #146 closed, assigned to robertleeplummerjr

[2018-02-02 16:05] robertleeplummerjr commented on #146
You shiney new version: https://github.com/BrainJS/brain.js/tree/1.0.4

[2018-02-02 20:29] elmondogri commented on #138
Thank you for both you replys, unfortunalty I am having no luck with your solution @freddyC , as the output is always [NaN, NaN, NaN], this is I guess (thanks to @ellocofray)because sometimes trades[i].price - trades[i-1].price is lower than 0, anyway I got the idea that doctoring the data is not a good idea so I tried something else, and still have the exact same problem, being that the output is

[2018-02-05 20:00] perkyguy commented on #140
`inputLayer: () => input(),` should be `inputLayer: () => input({ width: 2 }),`

[2018-02-05 20:01] robertleeplummerjr commented on #140
doh!  How could I have missed it!

[2018-02-05 20:01] #140 closed, assigned to nobody

[2018-02-05 20:28] perkyguy commented on #140
It's ok, not everyone can be as observant as I!

[2018-02-09 15:17] perkyguy commented on #138
@elmondogri do you have any sample data that you could share?

[2018-02-09 16:49] robertleeplummerjr commented on #138
Can you setup a simple https://jsfiddle.net for collaboration?

[2018-02-11 22:05] robertleeplummerjr opened #152 "internal training on GPU error rates stays at NaN, always resulting in high training"
![a bug](https://media1.giphy.com/media/b05CukqUdVhde/giphy.gif)
(a bug)

## *What* is wrong?
internal training error rate stays high

## *Where* does it happen?
`NeuralNetworkGPU` when training internally

## *How* do we replicate the issue?
[code]
return 20k iterations, internal error rate stays at NaN

## *How* important is this (1-5)?
5

## Expected behavior (i.e. solution)
It should train in

[2018-02-14 18:53] freddyC opened #154 "Faster Testing"
![tenor](https://user-images.githubusercontent.com/2294139/36222183-bedd5d6a-117d-11e8-92e4-d86f9a9d0335.gif)

## *What* is wrong?

Tests take forever

## *Where* does it happen?

The tests where we use the async training

## *How* do we replicate the issue?

1. yarn test
2. wait
3. wait
4. wait
5. wait
6. wait
7. get up
8. go make a sandwitch
9. eat your sandwitch
10. grab a dewski
11. sit back d

[2018-02-14 19:14] robertleeplummerjr commented on #154
Is this specifically on the `NeuralNetwork` class?

[2018-02-14 19:56] freddyC commented on #154
The tests that are slow are all on the neural network class yes

[2018-02-16 20:26] freddyC opened #156 "Precise toFunction"
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/kfFhknV3Ztpq8/giphy.gif)

## *What* is wrong?

Sometimes the `toFunction` test fails.  It will output something like this usually:
![image](https://user-images.githubusercontent.com/2294139/36327439-e4abe882-131b-11e8-8767-35756d5ee2f3.png)

## *Where* does it happen?

`toFunction` I just said that, are you even payi

[2018-02-18 06:16] #154 closed, assigned to nobody

[2018-02-18 06:17] #142 closed, assigned to nobody

[2018-02-18 19:36] #63 closed, assigned to nobody

[2018-02-18 19:36] robertleeplummerjr commented on #63
32 for the time being, we don't need 64 bit precision.

[2018-02-18 19:38] robertleeplummerjr commented on #80
@jasonhargrove this should be resolved now, can you confirm?

[2018-02-18 22:49] robertleeplummerjr commented on #26
Found this, and I'm in love: https://github.com/marcusbuffett/Three.js-Neural-Network-Visualizer

[2018-02-18 22:50] robertleeplummerjr commented on #143
@freddyC is this completed for the `NeuralNetwork` class as of now?

[2018-02-18 22:52] #152 closed, assigned to nobody

[2018-02-19 05:05] freddyC commented on #143
The training is Async but actually running is not.  I am not certain how important this is as a priority but it seems like thematically if we have a train async we would also want to be able to run async.  I think it might be a good approach to have steam for running the network, then wrap the stream in a promise to allow async running.

[2018-02-20 21:38] wbrickner opened #158 "Bloated `net.toFunction()` result"
The result of calling `net.toFunction().toString()` as the readme recommends produces a nice function, but it's larger than it needs to be:
![Bloated](https://i.imgur.com/FnfF19k.gif)

## *What* is wrong?
Specifically I've noticed that the output contains a function called `toCharacters(indices) { ... }`.  Inside this function a variable `json` is initialized as an object.  The object contains sev

[2018-02-20 21:53] robertleeplummerjr commented on #158
Ah yes, the recurrent neural network toFunction...

Good news and bad news.  Good news first: we are building a replacement for the recurrent architecture so that it all runs on GPU or CPU fallback in both node and web.

Bad news: we don't yet have a means of handling this use case in that architecture.

However, we'd still like to make things better.  I'll throw together a jsfiddle for continuity

[2018-02-20 22:04] robertleeplummerjr commented on #158
Here we go: https://codepen.io/kbl/pen/OQvKBJ?editors=1010#0

Bloating begins:
[code]

[2018-02-23 02:10] robertleeplummerjr commented on #158
TL;DR
I believe this is a non-issue.

TS;DR
Thinking about this and its future: brain.js ~~will be~~ is partially, GPU powered, and eventually the concept of toFunction, when following suite, will likely get quite a bit larger.  [The reason we'll have the kernel](https://github.com/gpujs/gpu.js/blob/3854f086abf85330aefddadb158d1e74099542e9/src/backend/web-gl/kernel.js#L1218), the functions that gl

[2018-02-25 22:16] bitcoinvsalts commented on #144
+1

[2018-02-25 22:22] bitcoinvsalts commented on #138
@elmondogri It seems we are trying to build the same thing (using binance too). Please contact me at herve76@gmail.com

[2018-02-27 15:54] robertleeplummerjr opened #159 "when using relu activation on NeuralNetwork, error gets stuck"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?

## *Where* does it happen?

## *How* do we replicate the issue?

## *How* important is this (1-5)?

## Expected behavior (i.e. solution)

## Other Comments

[2018-03-02 03:13] rafaelxim commented on #98
not solved. I have the last 1.0.5 and I'm having the same issue.

[code]

[2018-03-02 03:17] rafaelxim commented on #98
[code]

[2018-03-02 03:24] robertleeplummerjr commented on #98
What activation are you using?

[2018-03-04 20:44] robertleeplummerjr opened #160 "legacy support: handle if `trainOpts` doesn't exist"
From: https://github.com/karpathy/convnetjs/issues/54#issuecomment-370259874

[2018-03-05 18:46] freddyC commented on #160
I think this will be solved with the next npm release

[2018-03-05 18:46] #160 closed, assigned to robertleeplummerjr, freddyC

[2018-03-09 06:45] sayokagain opened #163 "how to customize activation function?"
now we have  4 activation function to use ( relu/leaky-relu/sigmoid/tanh)
but,...how to defined my activation function?

[2018-03-09 21:31] robertleeplummerjr commented on #139
<img width="1251" alt="screen shot 2018-03-08 at 8 10 06 pm" src="https://user-images.githubusercontent.com/679099/37230977-5702e498-23b7-11e8-8e4b-cb7e91e15a1c.png">

Here is a unit test of xor that uses this code.

Something to note is that I turned `this.errorCheckInterval` WAY up, so it wouldn't trigger readPixels, so that we could see an unencumbered view for profiling.

[2018-03-12 07:04] matt212 opened #165 "how to use brain.js for any type of moderation"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?
nothing, just wanted to know if it is possible to use brain,js as image /nsfw content moderation tool.
if yes then where can i find some doc for the same !

## *Where* does it happen?

## *How* do we replicate the issue?

## *How* important is this (1-5)?

## Expected behavior (i.e. solution)

## Other Comments

[2018-03-12 17:43] robertleeplummerjr opened #166 "question/feedback needed: recurrent neural nets with unsupervised learning"
Currently our recurrent models are good with supervised learning, but we would like unsupervised.  This issue is for someone to research and suggest a possible implementation.

[2018-03-14 07:57] thepooltable opened #167 "Basic touch points"
I'd like to use touch point detection w/ browser.js, e.g 5 touch point: logging 5 pairs of clientX & clientY coordinates of the screen.

if the 5 touch points are in a circle form, it will be able to recognise and show: a is more then 0.5
if the touch points are in triangle form, it should be: b is more then 0.5

Am i correct to use, e.g 1 of 1000 diff testing values:  "input":[382,201,519,216,451

[2018-03-14 15:59] #139 closed, assigned to robertleeplummerjr, perkyguy

[2018-03-15 18:28] robertleeplummerjr commented on #163
Bad news: With the `NeuralNetwork` class and its GPU sibling: `NeuralNetworkGPU`, this is challenging and so I won't really go into detail there.

Good news: With all other nets that we're working on this can easily be defined and is that way by design.  We don't want you to use just our layers, we want _any_ layers, _your_ layers.  Consider https://github.com/BrainJS/brain.js/blob/d9dc97746ffbc1d

[2018-03-15 19:00] robertleeplummerjr commented on #143
fairly sure this is completed?

[2018-03-15 19:05] robertleeplummerjr commented on #165
Rather than handling this specific use case here, why don't we change the target so that it can be used to moderating anything?  Since most nets have some form of cat detection, why not a dog moderator?  So we can stay focused on cats....

[2018-03-15 19:08] robertleeplummerjr opened #168 "bitwise + tanh or any form of relu = training a little funky"
![A GIF or MEME to give some spice of the internet](http://www.reactiongifs.com/r/mfnky.gif)

## *What* is wrong?
Training happens with tanh and relu, but when running, odd results

## *Where* does it happen?

## *How* do we replicate the issue?
Run `yarn test` on https://github.com/BrainJS/brain.js/tree/168-funky-learning

## *How* important is this (1-5)?
4

## Expected behavior (i.e. solution)

[2018-03-16 18:22] bduff9 commented on #165
I agree, my primary use case for looking into this library has to do with processing images so I'm looking for some guidance on how to properly convert images to input

[2018-03-19 10:41] digi0ps opened #169 "Throws a NaN even though dataset / output are just numbers."
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/ISOckXUybVfQ4/giphy.gif)

## *What* is wrong?
Getting `{"error": null, "iterations": 20000}` even though training dataset are just numbers.

## *Where* does it happen?
When brain.js trains data in my sample website running in Chrome 65 on Mac

## *How* do we replicate the issue?
Input data: https://gist.github.com/di

[2018-03-19 11:27] robertleeplummerjr commented on #169
Reproduced here: https://jsfiddle.net/robertleeplummerjr/jvLw503L/4/

[2018-03-19 12:04] robertleeplummerjr commented on #169
The issue is that your input array lengths are staggered.  A simple fix of the following will bring results:

[code]

[2018-03-19 12:05] robertleeplummerjr commented on #169
Working example: https://jsfiddle.net/robertleeplummerjr/jvLw503L/10/

[2018-03-19 16:42] digi0ps commented on #169
Thanks for the quick fix!

[2018-03-19 22:07] jkob commented on #106
Just a question @robertleeplummerjr.
Once OpenCL is implemented, will training a NN in Node.js be as fast as a browser powered by WebGL?

Did I understand that right?

[2018-03-20 12:39] robertleeplummerjr commented on #106
This is my hope, but it will likely come down to drivers.

[2018-03-21 00:30] cashlionjp commented on #165
I was wondering the same thing.  I was thinking I can grayscale the images and flatten them into an array of pixels where each value represents brightness.

[2018-03-21 01:19] robertleeplummerjr commented on #165
@cashlionjp Yea, that is kinda the basis of how to achieve it right off.  The next step would be to build the net in such a way it can either detect it is a moderated image and not show it, or censor the moderated bits.

I found this after a quick search: https://github.com/cytadela8/trypophobia

And then I found the model:
[code]

The [feed forward](https://github.com/BrainJS/brain.js/blob/nn-gpu

[2018-03-21 05:03] digi0ps commented on #169
@robertleeplummerjr
Sorry to bring this up again.
But running an input against the `trained` function, gives `null` back again.
Can you check?

[2018-03-21 12:45] robertleeplummerjr commented on #169
Is the data being sent in after trained the same size as the previously sent in data?

[2018-03-21 13:15] mildrenben commented on #98
Hi @robertleeplummerjr I'm also having the same issue.

I have a repo here: https://github.com/mildrenben/brainjs-test

You can see it in action here: https://mildrenben.github.io/brainjs-test/index.html
(You will have to select each color twice before it'll move on. It console logs relevant info fyi)

Thanks

[2018-03-21 14:19] robertleeplummerjr commented on #98
I think the issue here is normalization of data when using a sigmoid activation.  When I log your `savedData` (aka training data) I get this:
[code]

Outputs:
[code]

You should normalize the values of input to values between 0 and 1.  If I run the following against the above data, all seems well:

train and modify input set to be between 0 and 1:
[code]

which outputs:
[code]

Then when I go to r

[2018-03-21 14:45] mildrenben commented on #98
@robertleeplummerjr Wow what a silly oversight from me. Thanks so much for figuring that out, I would've never got that! Thanks!

[2018-03-21 16:02] robertleeplummerjr commented on #98
We're all in this together ;)
No worries.

[2018-03-21 16:02] robertleeplummerjr commented on #98
Close-worthy guys?

[2018-03-23 02:13] satyakesav commented on #168
Hi, Can I contribute to this project by working on this Issue?

[2018-03-23 02:20] robertleeplummerjr commented on #168
Absolutely!

[2018-03-23 03:40] satyakesav commented on #168
Hi Robert,

Could you give me some pointers on learning about this project. I am new to this project and want to know whether as a newbie, it is very hard issue or a solvable one. I am not new to deep learning or javascript but new to their combination.

Thanks

[2018-03-23 06:52] lnghrdntcr opened #171 "React Native Example"
#**This is not an issue**
I think that the exporting the NN to json is an amazing feature, do we have any possibility that Brain.js will come to React Native?

Is there any browser dependency in Brain.js?

Cheers, Fra

[2018-03-23 12:02] robertleeplummerjr commented on #168
The unit tests that reproduce the behavior are here: https://github.com/BrainJS/brain.js/compare/168-funky-learning#diff-1b50ed7dbc66400282adfc83edacc8baR28

The functions that seem to cause the problems are here:
* forward propagation relu https://github.com/BrainJS/brain.js/blob/168-funky-learning/src/neural-network.js#L227
* back propagation relu derivative  https://github.com/BrainJS/brain.js/

[2018-03-24 11:28] giuscri opened #172 "add "clean" script in package.json"
This should be remove `node_modules`, ... to have the same repository you had right after clone.

[2018-03-26 07:38] Spartan-Arun opened #173 "React-native run-android is not working"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?
app is not getting build in to my phone.

on running $react-native run-android on windows cmd

gradle repo is getting downloded and installed while installing application to device I'm getting this error

Exception in thread "main" java.lang.NullPointerException
        at org.gradle.wrapper.BootstrapMainStarter.findLaun

[2018-03-26 07:51] marchenko1985 commented on #26
Hmm, not sure if at all got it right but did tried to take my trained network, convert it to JSON and iterate over layers and their weights to previous layers and draw it with sankey chart from Google - it gonna work because of huge amount of nodes and edges, in my case it was 400 -> 200 -> 2, chart is not readable and visualizes nothing

But in simple cases like XOR model it looks pretty nice:

h

[2018-03-26 13:47] robertleeplummerjr commented on #173
Can you share any of the architecture for better context?

[2018-03-26 13:51] robertleeplummerjr commented on #26
I think that output is quite beautiful!  Is there a way to possibly show more details about dimensions of the net, and could this possibly be put into a lib?  If it were a lib, what would you call it?

[2018-03-26 17:32] freddyC commented on #169
@robertleeplummerjr We could do some validation/handling when the training data and results passed into the train methods are different sizes.  The question is which would be the best way to go about it, run the training for what we have or throw and stop execution?

[2018-03-26 17:44] robertleeplummerjr commented on #169
Validating size wouldn't be very costly, and would provide useful feedback, I like the suggestion!

[2018-03-26 23:18] eyzi commented on #107
Sounds cool! How about just putting ".js" in the logo? Like this:
![tee1](https://i.imgur.com/WdgjhiX.jpg)

Or with fancy colors:
![tee2](https://i.imgur.com/r1Z0WYf.jpg)

[2018-03-27 14:56] mubaidr opened #176 "Training with Raw Image data as inputs"
![A GIF or MEME to give some spice of the internet](https://media1.tenor.com/images/09c075a32556feeb23c5943c3b5bd496/tenor.gif?itemid=3320482)

## *What* is wrong?
Training error does not go below 1, and I think this is because my inputs strings have different lengths.

(currently i am using `base64` encoded image data as input to the network, is this OK?)

## *Where* does it happen?
In the a new

[2018-03-28 03:23] jusso-dev commented on #176
I don't have an answer to this but + 1 for the gif

[2018-03-28 03:31] jusso-dev opened #177 "Import/Export of JSON for model is not working"
![]("https://gph.is/1ha1dkC")

## *What* is wrong?

Export/Import functionality of the library is not working, the JSON is not in the correct format to be considered JSON.

## *Where* does it happen?

Windows 10 node version 8

## *How* do we replicate the issue?

`const brain = require('brain.js);

var net = new brain.recurrent.RNN();

net.train([{input: [0, 0], output: [0]},
           {input: [

[2018-03-28 03:38] jusso-dev commented on #171
I just raised an issue about exporting to JSON not being the in the right format, but React Naive is just javascript, and this library support ES6 so have you verified that it does't work in RN?

[2018-03-28 09:57] mubaidr commented on #176
**UPDATE:**
I am now using raw data from the image (which is same size across all images) But the error is still in the range 400-500.

Also when using simple neural network error is NAN

[2018-03-28 10:24] jusso-dev commented on #176
Neural network will never work with data that isn't numerical. What happens if you one-hot encode your input before feeding it into the network? What does your error rate look like?

[2018-03-28 14:00] robertleeplummerjr commented on #176
You could try something like this: https://jsfiddle.net/8kpq58bu/117/
Here we encode the 256 colors like: `color / 255`

[2018-03-28 14:24] mubaidr commented on #176
`Neural network will never work with data that isn't numerical. What happens if you one-hot encode your input before feeding it into the network? What does your error rate look like?`

Well, I tried using RAW data from the image, which is essentially an array of integer values of each pixel(gray scaled and threshold applied, so values are either 0 or 1). Still error rate fluctuates between 200-400

[2018-03-28 15:57] mubaidr commented on #176
**UPDATE:**

**What i am trying to do:**
![untitled](https://user-images.githubusercontent.com/2222702/38042319-7e392b60-32cd-11e8-9184-f0954c1509e2.png)

Ok So I have tried using following input/output sets for training so far and nothing works, training error **approaches** almost 1:

- Image data as base64
[code]

- Image Raw pixel data
[code]

- Image data as monochrome/grayscale with threshol

[2018-03-28 16:14] robertleeplummerjr commented on #171
This must be solved, and is a top priority.  Is there a sort of react-native container that demo's this not working?  My assumption is that the whole lib is es6 and should run fine but only as cpu for the time being.  Gpu will come soon when opencl is added to gpu.js.

[2018-03-28 16:20] robertleeplummerjr commented on #177
Very important issue.  We unit tests here: https://github.com/BrainJS/brain.js/blob/d7508dd706d82a1d864cb74ae52fa4df6070a486/test/recurrent/rnn.js#L323

Will look at this on my lunch break.

[2018-03-28 16:29] robertleeplummerjr commented on #177
Ah ok, I see: https://jsfiddle.net/robertleeplummerjr/zwyhxL8f/6/

The json for a recurrent network `brain.recurrent.RNN` and the json from a feed forward neural network `brain.NeuralNetwork` are simply different.  The above reproduces the functionality and should clarify.  I don't believe this to be a bug.

Can you take a look?

[2018-03-28 16:47] robertleeplummerjr commented on #176
@jusso-dev You can feed representations of data into a neural network, specifically the recurrent neural network, like the [example of the children's book](https://github.com/BrainJS/brain.js/blob/650c322a16b6c76b8adc374f3a9afb83ca6e50ee/examples/childrens-book.js#L3)

Also, I see that is what is happening [here](https://github.com/mubaidr/image-parsing/blob/3bfab42ed25fe8c3fb867eb273fafaaeda9dffe

[2018-03-28 16:54] robertleeplummerjr commented on #171
More clearly answering:

There is nothing preventing this, and likely it will just work.  Any testers?

No.

[2018-03-28 17:01] mubaidr commented on #176
I have already tried `LSTM` but no result. One of my main concern here is that if my input/output format is correct in this application? @robertleeplummerjr

Thanks for book reference, I will definitely try to read and learn. Also, gonna try new branch.

[2018-03-28 22:12] jusso-dev commented on #177
Thanks for the code.

I've tried it and your version works, when you pass the stored json from the variable in the previously trained network to the new one, however, when i try and read in the json from a file and parse it, it has a problem reading it?

CODE:

[code]

ERROR:

index.js:143
      var matrix = new Matrix(json.rows, json.columns);
TypeError: Cannot read property 'rows' of undefined

[2018-03-28 22:14] jusso-dev commented on #177
Also, I think either the README needs to change to specify that the exported JSON model needs to be stringified before use, or the return function needs to stringify it before it returns the JSON.

[2018-03-28 22:28] robertleeplummerjr commented on #177
May be the problem.  JSON.parse reads a string in, you want to pass the string of the source of `input-output-trainedmodel.json`

Yea, just use

[code]

and then later:

[code]

[2018-03-28 22:47] jusso-dev commented on #177
Yes you are correct. Thanks so much! Sorry, I knew that the reading in was a javascript issue not a brain js issue I just didn't know how to achieve it. I'm a .NET developer by trade so little rusty with the ol' JS side of things.

Thanks again.

[2018-03-28 22:47] #177 closed, assigned to nobody

[2018-03-29 01:45] robertleeplummerjr commented on #177
No problem!  Always a pleasure to have a visitor from .net.  I started there, and began to dabble a little.  You'll be surprised how fast you go from "little rusty" to a well oiled machine.

chow!

[2018-03-29 04:27] mubaidr commented on #176
**UPDATE:**

- NN
[code]

- RNN
[code]

- LSTM
[code]

[2018-03-29 04:55] jusso-dev commented on #171
@robertleeplummerjr if i get a working example, can i submit a pull request and have it in an "Examples" folder? I'd love to contribute to this library and know my way around React.

[2018-03-29 10:42] mubaidr commented on #176
**UPDATE:**

Thanks everybody for the guidance, I have been able to solve this problem using simple Neural-networks and using One Dimensional data fro the image.

I issue was related to (mainly) input/output format. Now the training data sample looks like this:
[code]

**So in short, encoding my image data into simpler integer array solved this problem.**

[2018-03-29 10:42] #176 closed, assigned to nobody

[2018-03-29 10:43] jusso-dev commented on #176
Feel free to share the finished code

[2018-03-29 10:46] mubaidr commented on #176
Everything is opensource under this repository, including sample images, test script: https://github.com/mubaidr/image-parsing

👍

Preparing Image data: https://github.com/mubaidr/image-parsing/blob/master/src/index.js#L30
Input to NN: https://github.com/mubaidr/image-parsing/blob/master/src/index.js#L115

[2018-03-29 10:49] jusso-dev commented on #176
Awesome thanks 👌😉

[2018-03-29 10:50] mubaidr commented on #177
I recommend stringify before save and then just read file, parse it using JSON, as I did here:
Save: https://github.com/mubaidr/image-parsing/blob/master/src/index.js#L76
Read: https://github.com/mubaidr/image-parsing/blob/master/scripts/test.js#L10

[2018-03-29 10:55] hellonearthis opened #178 "Release the Wiki for public editing?"
![A GIF or MEME to give some spice of the internet](https://media1.tenor.com/images/406dea3c20cda3680a54de5f0c2ddd91/tenor.gif?itemid=5059284)

## *What* is wrong?
The Github wiki is locked from editing.  If it was open then better docs, examples and links to other tutorials could be added.    Like [Machine Learning Tutorial - Making a recommendation engine IN THE BROWSER](https://www.youtube.com/

[2018-03-29 12:41] christianbender opened #179 "Install from source/repo"
How can I install brain.js from source? From this repository?
At the moment I can run the tests. But how can I use it?

greetings

Christian

[2018-03-29 13:05] hellonearthis commented on #179
https://www.youtube.com/watch?v=9Hz3P1VgLz4
https://www.youtube.com/watch?v=lvzekeBQsSo

[2018-03-29 13:41] robertleeplummerjr commented on #178
Done.

[2018-03-29 13:41] #178 closed, assigned to nobody

[2018-03-29 13:42] robertleeplummerjr commented on #176
Fantastic.  Mind if we use it as an example?

[2018-03-29 13:44] mubaidr commented on #176
@robertleeplummerjr Sure, please go ahead! Let me know if I can help with anything! 🍻

Or I can host this example on some platform and and you can add live link to it? 🤔

[2018-03-29 13:44] robertleeplummerjr commented on #171
That would be fantastic!  Neural networks are great, but unless the platform is accessible everywhere, I feel much of the work is in vain.  I look forward to seeing some examples!

[2018-03-29 13:45] robertleeplummerjr commented on #171
I changed the title to include example, so now we have an action item.

[2018-03-29 13:49] mubaidr commented on #179
using npm:
[code]
or you can download zip of this repo and require the `brain/dist/index` file from it.

[2018-03-29 13:56] robertleeplummerjr commented on #179
via npm: `npm install brain.js --save`
via yarn: `yarn add brain.js`
via html: download `browser.js` from the repository, and include it in your project `<script src="browser.js"></script>`

Enjoy machine learning.

[2018-03-29 13:57] robertleeplummerjr commented on #179
@mubaidr you are a fast one, sir.  ;)

[2018-03-29 14:14] renanbastos93 commented on #172
This is good idea, so is think simple of implement.

[2018-03-29 14:18] renanbastos93 commented on #62
Can you explain better this idea?
Because I want help this project.

[2018-03-29 14:27] robertleeplummerjr commented on #62
I've been working on https://github.com/BrainJS/brain.js/blob/nn-gpu-layers/src/feed-forward.js which runs on the gpu.

We'd need to configure the feedforward network so that it can read imagenet, likely configured with a newer proposed paper, maybe like this: https://cacm.acm.org/magazines/2017/6/217745-imagenet-classification-with-deep-convolutional-neural-networks/fulltext.  Some research into

[2018-03-29 14:40] willrstern commented on #31
(This is NOT your game changer project, but I didn't want to open a new issue just to point it out.)
I've been teaching intro-to-machine-learning on LearnCode using brain.

Here's a [text editor theme generator](https://codepen.io/willrstern/pen/WzZqpd?editors=0010) and [the video to go with it](https://www.youtube.com/watch?v=lvzekeBQsSo&index=1&list=PLoYCgNOIyGABWLy_XoLSxTVRe2bltV8GM&t=0s)

And

[2018-03-29 14:47] hellonearthis commented on #31
Thanks willrstern, your tutorials brought me to brain.js  =)

[2018-03-29 15:14] robertleeplummerjr commented on #31
@willrstern fantastic man.  As well I saw your videos and love them.  I would urge you to push the boundaries and offer any suggestions and be critical with feedback, we ~~want to~~ will change the industry.

This is my one main driving force when it comes to my motivation for building a better neural network.  It must be simple, it must be fast.  Your words mean a lot.

[2018-03-29 15:27] christianbender commented on #179
@ALL
Thanks for many informations and tips. I jump right in.

[2018-03-29 15:57] robertleeplummerjr commented on #31
I actually submitted a proposal talk for https://ti.to/ml4all/ml4all-2018 it starts something like this (opening illustration that I will then go on to use to introduce brain.js and ideals therein):

We'll see what they say.

[2018-03-29 16:07] robertleeplummerjr commented on #179
you are welcome!

[2018-03-29 16:07] #179 closed, assigned to nobody

[2018-03-29 16:29] renanbastos93 commented on #62
@robertleeplummerjr

I need to study about system neural, but I want to help community. Do you recommend some thing?

[2018-03-29 17:44] robertleeplummerjr commented on #62
Maybe post findings here?

[2018-03-31 07:30] MarkusPint commented on #65
I'm trying the example in @robertleeplummerjr 's Mar 17 post, and the training takes forever. It's been already 4-5 minutes at least. And these strings are pretty short, what would happen with long texts? 500 words? 1000 words?

Any clues to how to overcome this issue? I need to classify texts similarly to @arjunmenon

[2018-03-31 12:51] robertleeplummerjr commented on #65
Can you share your code?

[2018-03-31 13:52] hellonearthis commented on #65
With the text input data, you used full sentences and then key words from the sentences,  does that enhance the learning of those patterns and is that how phrases should be learned?

[2018-03-31 19:39] Amglsox opened #180 "Training Brain"
Hello.

I am using the brain to perform some data classifications and a doubt arose during the training.
I am performing the data insertion in this way below (as an example), with a loop inserting and each position of the vector a new value.
[code]
Already in the Brain training part, I'm passing the array declared above, according to the code below. Is there a problem with that?
[code]
If we pass

[2018-03-31 22:10] robertleeplummerjr commented on #180
At first glance it looks like you are doubling up on arrays from this line:
`array.push([{input: { r: 0.03, g: 0.7 }, output: { black: 1 }}]);`

Change it to:
`array.push({input: { r: 0.03, g: 0.7 }, output: { black: 1 }});`

[2018-04-01 04:21] Sam-Hoult commented on #171
I wanted to include Brain.js into my react-native but no go. Made a fresh react-native project (react-native-cli) but for the import it's getting this error whenever the library is imported into the project
[code]
This wasn't a dependency for the project so got past that doing `yarn add stream`

This was followed by `gpu.js` unable to find the `preset 'env'` which was cured with `yarn add babel-pr

[2018-04-01 05:15] jusso-dev commented on #171
I'm working on this now, I've almost got a working example, you just remove the import statement for stream in the index.js for the main exports, as it's a dependant for the training package, obviously you wouldn't be training on a phone so it's not really needed. I'm having problems importing the trained model but I've almost solved it

[2018-04-01 11:43] dan-ryan opened #181 "Support for evolutionary algorithms like Neat"
![walk evolution](http://i.hilariousgifs.com/me-vs-life-big-cube-hit.gif)

Will Brain.js look into adding evolutionary algorithms like [Neat](https://en.wikipedia.org/wiki/Neuroevolution_of_augmenting_topologies)?

[Neatapatic](https://wagenaartje.github.io/neataptic/) was the best library for this but now is unmaintained so it would be nice if there was a replacement :)

Here is Neat learning Mar

[2018-04-01 12:39] robertleeplummerjr commented on #171
You guys rock.

[2018-04-01 12:50] vacekj opened #182 "[Feature request] Typings"
## *What* is wrong?
Brain.js has no typings.

## *Where* does it happen?
In VSCode when importing brain.js

## *How* do we replicate the issue?
1. Open VSCode
2. Import brain.js via import brain.js from "brain.js";

## *How* important is this (1-5)?
2

## Expected behavior (i.e. solution)
Typings should have been found and used

## Other Comments
Please create typings for this module. Using Typesc

[2018-04-01 18:05] robertleeplummerjr commented on #181
We would welcome it!  Would you be up for helping with the cause?

[2018-04-01 19:19] Sam-Hoult commented on #171
@jusso-dev Great!
When you say you wouldn't be training on a phone, is that with reference to the `net.toJSON()` and `net.fromJSON(trained)`? (I only found out about this project yesterday so still fresh but really want to put it into production)

[2018-04-01 22:46] robertleeplummerjr commented on #182
So we don't have typing at this moment, but...

![](https://media3.giphy.com/media/AZ1PPDF8uO9MI/giphy.gif)

We do have jsdoc, which is strongly typed.  This means we could easily use something like: https://www.npmjs.com/package/tsd-jsdoc and generate the typescript types on the fly

[2018-04-01 23:12] jusso-dev commented on #171
Yes that's correct Sam. I'm uploading the code soon for approval, I think you'll be pleasantly surprised ;) I had some fun with this little project

[2018-04-01 23:57] robertleeplummerjr commented on #171
@jusso-dev We really look forward to seeing it!

I think this would likely be more like "obviously you wouldn't likely be training on a phone".  There could always be the possibility.

[2018-04-02 04:20] dan-ryan commented on #181
My knowledge of the details is very limited. But I'm happy to help where I can.

This is the Neat paper:
http://nn.cs.utexas.edu/downloads/papers/stanley.ec02.pdf

This explains Neat:
http://blog.otoro.net/2016/05/07/backprop-neat/

The author of Neataptic explains the improvements he did:
https://towardsdatascience.com/neuro-evolution-on-steroids-82bd14ddc2f6

Here are some newer papers on neuroe

[2018-04-02 06:01] dan-ryan opened #185 "Cross validation support"
![Make sure to validate results](https://media.giphy.com/media/d7nd6bfKtMi7Co8DTS/giphy.gif)

Looking at the docs I couldn't see anything about cross-validation built into brain.js. A way to input a test size out of your input data and set test error would be nice to have.

May I suggest adding options similar to [Neataptic](https://wagenaartje.github.io/neataptic/docs/important/train/).

[2018-04-02 11:38] jusso-dev commented on #107
I'd buy that design ^ looks awesome

[2018-04-04 15:31] robertleeplummerjr commented on #173
Will be handled here: https://github.com/BrainJS/BrainJSReactNative

[2018-04-04 15:31] #173 closed, assigned to nobody

[2018-04-04 15:32] robertleeplummerjr commented on #180
Did this fix your problem?

[2018-04-04 15:33] robertleeplummerjr commented on #171
Handled here: https://github.com/BrainJS/BrainJSReactNative

[2018-04-04 15:33] #171 closed, assigned to nobody

[2018-04-05 12:51] shopsoy opened #186 "Brain.JS to be used for regression"
Hi,

From the documentation and examples I see that brain.js is perfect fro classification. My question is to know if we can use brain for regression? Meaning that only one output is needed but not in the range of [0 - 1]. The out put could be a float from -10.5 till 50.5 as example...

Thanks in advance

[2018-04-05 15:52] vacekj commented on #182
the tsd-jsdoc module doesn't work for this project, unless I'm doing something wrong.

[2018-04-05 15:56] vacekj commented on #182
[code]

[2018-04-05 15:57] vacekj commented on #182
and no output is generated

[2018-04-05 16:08] robertleeplummerjr commented on #182
Likely it may be cleanup on our part.  Do you have a branch were your work is being done?  This is very important, imo.

[2018-04-05 16:21] vacekj commented on #182
No, unfortunately I don't have a branch, I'm just trying out the tools available for converting JSDoc to TS typings, sadly to no avail. I'll try poking around some more.

[2018-04-05 16:35] vacekj commented on #182
Okay, so [dts-make](https://github.com/ConquestArrow/dtsmake) generates some typigns, however they are pretty horrid-looking. There are options for it though, so maybe configuring it would improve the typings.
Repro:

1. Clone brain.js repo
2. npm i dts-make
3. npx dtsmake -s ./src/neural-network.js

Update:
dts-make is a no-go, doesn't leverage existing JSDoc and produces garbage.

[2018-04-05 17:10] vacekj commented on #182
Let's try https://github.com/Microsoft/dts-gen
next

[2018-04-05 19:09] robertleeplummerjr commented on #182
From there project's readme:

I don't mind trying it, but if there is something we can fix in documentation that makes that would fix this, I think there is value there as well.

[2018-04-06 01:35] robertleeplummerjr commented on #182
Checking this out now.

[2018-04-06 01:39] robertleeplummerjr commented on #182
I think I see the problem, you are on windows, and I don't believe dtsmake supports it.  I just got the following on vanilla develop branch using your above commands:

file: neural-network.d.ts
[code]

[2018-04-06 07:18] vacekj commented on #182
I get the same output on Windows, however these typings are not 100% valid, and while fixing them by hand is possible, I don't think it's the way to go, if you take into account that you will have to manually fix typings for all the files in brain.js. I tried dts-gen, and it produces nothing for brain, and when tried on my rather simple module, produces very bad typings.

As a result of this situa

[2018-04-06 07:57] lagleki commented on #182
2018-04-06 10:18 GMT+03:00 Josef Vacek <notifications@github.com>:

Why not Flow.js?

[2018-04-06 08:09] vacekj commented on #182
@lagleki Here's some arguments for TS: [reddit](https://www.reddit.com/r/javascript/comments/7bfwpl/flow_vs_typescript/dpif1rc/) [tumblr](https://engineering.tumblr.com/post/165261504692/flow-and-typescript)

I think TS would integrate nicely with this project, for several reasons:
1) this project uses Babel, and [Babel supports TS](https://www.npmjs.com/package/@babel/preset-typescript).
1.1) thi