[2018-04-06 17:35] Macil commented on #182
Flow is very similar to Typescript, but chiming in as a long-time Flow user: their main differences seem to be the amounts of libraries that have typings for them so far (I expect Typescript is winning), and Typescript seems to have more mature tooling. The type systems are similar enough that I fully expect Flow to be able to consume Typescript definition files in the future without trouble for m

[2018-04-10 15:48] konnextv opened #187 "Input Size always 20"
## *What* is wrong?
Whatever array I feed into net.run(), it will always only evaluate 20 items. It will fail on less and stay the same whatever the values after the 20th are.
I already found that one object property is NeuralNetwork.sizes which is [20,10,2] by default but I can't find a way to change this.

[2018-04-10 16:10] robertleeplummerjr commented on #187
Can you share a code sample for context?

[2018-04-10 16:22] konnextv commented on #187
My testing environment is pretty much this: https://itnext.io/you-can-build-a-neural-network-in-javascript-even-if-you-dont-really-understand-neural-networks-e63e12713a3

[2018-04-10 18:15] #172 closed, assigned to nobody

[2018-04-10 18:35] mohammedmulazada opened #188 "Can't manage to have a string get analysed by brain.js"
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/HUkOv6BNWc1HO/giphy.gif)

## *What* is wrong?
The training network doesn't train, it returns NaN for the data that it should have analysed.

## *Where* does it happen?
In the app.js run through node, after receiving data from the Twitter API

## *How* do we replicate the issue?

1. Use the dummy data below
[code]
2.

[2018-04-10 18:37] robertleeplummerjr commented on #188
Do you have a code sample, perhaps even a jsfiddle?

[2018-04-10 18:43] mohammedmulazada commented on #188
I do, it's a Node project so not sure what would be the best way to go about this, but if you know a better way, please let me know and I'll gladly do it!

The only difference between this code and mine is that mine uses the twitter API to get the data I provided above.

Basically my ideal goal would be for it to be able to separate the tweets by author and then be able to feed it some text for it

[2018-04-10 19:19] robertleeplummerjr commented on #188
The main problem here is the inputs are going to have varying sizes, which won't train correctly.

[2018-04-10 19:43] robertleeplummerjr commented on #188
Here is a working prototype: https://jsfiddle.net/8Lvynxz5/36/

[2018-04-10 19:44] vacekj commented on #182
There might be a way to produce correct typings from the JSDoc comments. I noticed VSCode suggests to add the JSDoc types as TS types, which is precisely what we want. I'll look into it some more and report back.

[2018-04-10 19:44] robertleeplummerjr commented on #188
Here is a better working prototype (the other one I forgot to click save on) https://jsfiddle.net/8Lvynxz5/38/

[2018-04-10 19:46] robertleeplummerjr commented on #188
Let me know if that isn't enough of an example to get this right.
Things to be aware of:
* Likely this is limited enough data that the net will probably over-train on
* The recurrent neural network will likely give better results

[2018-04-10 20:39] robertleeplummerjr commented on #182
huzzah!

[2018-04-10 21:38] mohammedmulazada commented on #188
Thank you very much for your help and pointers. I will have a good look at this tomorrow morning, really looking forward to it! :)

[2018-04-11 08:07] konnextv commented on #187
@robertleeplummerjr I just saw your anwer to #188 - I guess I just need to fill the training strings with spaces to allow for longer inputs? I just checked, my shortest training string is exactly 20 characters.

Is there a way to get around this? Maybe use a different network? I want to analyze a string of any length.

+ No, I don't know much about how machine learning works, please excuse if I am

[2018-04-12 03:43] mubaidr commented on #187
@konnextv
@robertleeplummerjr posted an working code sample here: https://jsfiddle.net/8Lvynxz5/36/

You can use `encode` and `adjustSize` functions from this code.

Also, please read this: https://github.com/BrainJS/brain.js/issues/188#issuecomment-380671850

[2018-04-12 04:08] mubaidr commented on #188
If I am not mistaken, this step (to encode and fix length of input data) is not required with `LSTM` network and is more suitable for these type of problems.
Example here: https://github.com/BrainJS/brain.js/blob/develop/examples/childrens-book.js

[2018-04-12 08:31] konnextv commented on #187
@mubaidr Yes I saw that. Just wondered if the network could handle another size of input in order to get the best results (adding spaces to the strings cannot be the best method imo)
Will also look at LSTM networks, however.

[2018-04-12 08:31] #187 closed, assigned to nobody

[2018-04-12 12:51] mohammedmulazada commented on #188
@mubaidr the unfortunate thing is that it seems like I can't use this, since I am running this on Node and as far as I understand that isn't available yet.

Currently the app is working while getting data from the twitter API, though for some reason it leans heavily to one side at the moment!

It seems like I am very close, but still a few tweaks needed here and there.

[code]

[2018-04-12 13:22] mubaidr commented on #188
Api is same whether you use in browser or node.js. I am currently on mobile, will look into code later.

[2018-04-12 14:17] robertleeplummerjr commented on #188
The api is the same in whatever javascript you are on.  I started experimenting with a lstm version, which I believe is the answer here, I'll see what I can come up with as well.

[2018-04-12 14:18] robertleeplummerjr commented on #187
ty all for your input to help solve this!

[2018-04-12 14:22] mohammedmulazada commented on #188
In case you would like to see where I am at right now, here is a link to the repo: https://github.com/moniac/real-time-web

Thanks for the help already, it's really exciting to see this develop!

[2018-04-13 07:51] vacekj commented on #182
Okay, so the method I mentioned does not work as I expected. I feel we're in a kind of dead end here, and the only possible way to introduce typings is to make brain.js into a TypeScript project.

If anyone else has any ideas, please join the conversation.

[2018-04-13 13:33] LegendOfGIT commented on #98
Close this “issue" ^^

[2018-04-13 14:11] laisooliveira opened #189 "How to train a LSTM with word2vec?"
I am building a chatbot with LSTM and want to train it with word2vec.
My word2vec has 50,000 words and 300 dimensions
Ex: habitat -1.3647801900 1.3738158900 0.2465990600 2.1891686900 0.6943694900 -2.6615395500 -2.2774395900 -0.7816810600 -2.0987477300 0.6752733000 0.2160997200 -2.5310149200 -0.0185884800 -0.1371951100 1.3544383000 -0.7495064100 -0.4740572900 0.4018277200 -0.3430224100 3.2751915500

[2018-04-13 14:50] #98 closed, assigned to nobody

[2018-04-13 16:03] robertleeplummerjr commented on #189
Can you share more of your infrastructure?

[2018-04-14 03:35] 0laf opened #191 "Data is not Training or not "running" (two very simple jsfiddle-examples)"
Hello guys,

I hope someone can point me into the right direction. I have tried to setup a very basic example of LSTM but either its not training or its not "running" and when it was running it produced strange results.

I have set up a easy js-fiddle to reproduce the issue.

https://jsfiddle.net/olafponeta/8azjhuq1/21/

Very strange but this actually produced results (sometimes) and if it did the

[2018-04-14 17:27] mubaidr commented on #191
Using the `NeuralNetwork` produces the expected results which is suitable network type for this type of data.  https://jsfiddle.net/8azjhuq1/48/

[2018-04-14 19:07] robertleeplummerjr opened #192 "New Feature: Time Step Prediction"
![A GIF or MEME to give some spice of the internet](https://media2.giphy.com/media/AgHBbekqDik0g/giphy.gif)

## *What* is the feature?
Prediction of trends.  Stock market, weather predictions, trends, etc.  This would be very similar to the existing recurrent net that will be deprecated, but will serve as a baseline for 2.0 GPU push.  This will be included in v1 somewhere, as it is a simplificatio

[2018-04-14 19:19] robertleeplummerjr commented on #109
@DaveBben can you take a look at https://github.com/BrainJS/brain.js/pull/193.  I believe it'll likely be what we help you.

[2018-04-14 19:22] robertleeplummerjr commented on #109
@RobertLowe the api for the time series is now ready for review and built.  It strongly reuses the recurrent series, and should be simple enough for anyone who understands lists.  Said differently: very low learning curve.

The api is proposed here: https://github.com/BrainJS/brain.js/issues/192
The work is committed here: https://github.com/BrainJS/brain.js/tree/192-time-series-baseline

The api:

[2018-04-14 19:48] RobertLowe commented on #109
@robertleeplummerjr wow, this is great! I'll have fun giving it a run with some larger dataset. Thanks for the ping! 👍

[2018-04-14 19:57] robertleeplummerjr commented on #126
In the context of recurrent neural networks `RNN`, `LSTM` and `GRU`:
1. error is base 2 log probability
2. it'll work with any language.  Internally the network translates these to a matrix, so the values are only represented

[2018-04-14 19:57] #126 closed, assigned to nobody

[2018-04-14 20:02] robertleeplummerjr commented on #192
It should be noted that this network type _does not_ work by represented data.  This type of neural network will work directly with the data you send in.

[2018-04-14 20:14] RobertLowe commented on #192
@robertleeplummerjr another curiosity, how might one use this approach in aggregation with other time step layers, for example using 3 stocks in the same time period?

I'd like to select a time range of various time step data, I'll have a score applied time step event (say news polarity for example 0.0<->1.0 ), and predict from sets like that?

[2018-04-14 21:54] robertleeplummerjr commented on #138
A new feature has been added that will handle this.  More details here: https://github.com/BrainJS/brain.js/issues/109#issuecomment-381353855

[2018-04-14 22:02] robertleeplummerjr commented on #192
The more context the net has, the better and I'm not sure that the net would know how to distinguish one from the other.  I think it'd be best to train those nets separately.  The up-side to that would be each net would be smart enough to tracks its progress, but it would not do well at adjusting based off context of other financials.  Example: gold goes up, dollar goes down.

If some sort of non-

[2018-04-14 22:10] robertleeplummerjr commented on #191
The recurrent neural network is probably the wrong target here is all.  By using the NeuralNetwork class, a simple feedforward neural network, you'll get what you want for this simple example.

[2018-04-14 22:10] #191 closed, assigned to nobody

[2018-04-14 22:55] thisisloze commented on #181
I would love this!!!!

[2018-04-14 23:25] robertleeplummerjr commented on #188
It has been a while since I looked at the api (even though I built it, lol).  We really should document stuff like this better but here you go: https://jsfiddle.net/j638LfLd/

Outputs:
[code]

Definition:
[code]

[2018-04-15 02:28] mubaidr commented on #188
What does 'net.toFunction' do?

[2018-04-15 02:48] robertleeplummerjr commented on #188
It compiles the _whole network_ into a single static function that is only used for the purpose it was trained for.

[2018-04-15 12:20] 0laf commented on #191
Thanks for your responses. Of course my example was not the real data but only to learn how to train the brain.js LSTM as i can't find any examples (with numeric problems).

Basically I want to know if I need to add pairs of values as I did in my JsFiddle. As far as i red LSTM (RNN) is definitely the Network type i need to use for the real problem.

I have three graphs with X-Axis representing the

[2018-04-15 17:44] mokhosh commented on #92
what a great conversation guys!

i'm really glad you're talking about the demo. because it was cool at first to find an easy to use ml library for js, and the contrast decider is cool compared to coming up with an algorithm. but compared to what we expect from ai, not so much. it doesn't really help with branding, and makes brainjs look basic and impractical to more serious users. demos with diffe

[2018-04-15 20:16] robertleeplummerjr commented on #192
I thought about this and it hit me this morning, this is already somewhat supported.  This is how:

The time step prediction currently only accepts a single value at a time, also it only outputs a single value at a time.  By default the network is setup as:

[code]

The `inputSize` represents the single time-step.  So, simply make it larger, done.  This isn't unit tested, I'll if I can get it supp

[2018-04-15 20:31] RobertLowe commented on #192
Awesome, keep me posted! Thanks! 👍

![stroke-of-genius](https://user-images.githubusercontent.com/601141/38783013-5d4aef28-40ca-11e8-9ef4-e0f19191542c.png)

[2018-04-15 21:33] robertleeplummerjr commented on #192
Support added: https://github.com/BrainJS/brain.js/commit/d8f9170a135f11512d5c7d7197d48d9c6a81df1b

[2018-04-15 21:34] robertleeplummerjr commented on #192
also tested ^

[2018-04-15 22:47] RobertLowe commented on #192
Thanks! And thanks for the tests, they make it really clear! 👍

[2018-04-17 13:05] multivoltage opened #197 "empty response from run()"
## *What* is wrong?
Maybe I did not undestand how it work. I try to get a match from boy and girls based on how much is beautiful a people.

## *Where* does it happen?
run() return an empty object

## *How* do we replicate the issue?
[code]

## *How* important is this (1-5)?
1

## Expected behavior (i.e. solution)
return a object like: { match: 'yes' } instead:
{ match: NaN }

## Other Comments

[2018-04-18 01:29] rufat commented on #86
Hi,

It looks like the issue still not resolved. Interestingly "indexTable" do not contain the required values. (data-formatter.js:86:17)

Code:
[code]

Output:
[code]

[2018-04-19 13:32] mubaidr commented on #197
What net are you using for this problem?

Provide jsfiddle if possible.

[2018-04-19 13:51] perkyguy commented on #197
Convert your strings to numbers. E.g. 'no' = 0

[2018-04-19 14:01] perkyguy commented on #197
And what you probably will want to do is pass in only the `beauty` property (normalize it as well)

[2018-04-21 18:31] #188 closed, assigned to robertleeplummerjr

[2018-04-22 17:47] gilamran opened #198 "Is it possible to use brain.js to recognize words from an audio stream?"
I want to stream my mic. to the library and I want to detect voice commands.
Is it possible using brain.js?

Thanks!

[2018-04-23 16:47] robertleeplummerjr commented on #198
I suppose you could do something like this https://lab.miguelmota.com/spectrogram/example/ but feed it into the net.

[2018-04-23 16:52] robertleeplummerjr commented on #192
Released in https://github.com/BrainJS/brain.js/releases/tag/1.2.0

[2018-04-23 16:52] #192 closed, assigned to robertleeplummerjr

[2018-04-23 17:17] gilamran commented on #198
I'll have to stream it to the net... How do I do that?
And them tell the net about specific areas to equal a word... How do I do that?

[2018-04-23 17:56] mohammedmulazada commented on #188
I apologize for reopening this issue, I have ran into another problem!

Currently, I am trying to check tweets based on a hashtag and compare them to past tweets, to see if they fit with the previous tweets or not, doing this might be able to have the system recognize spam/trolls.

I have tried both the LSTM and the NN, where the LSTM only returns 'gibberish', and the NN basically says any input i

[2018-04-23 17:59] mohammedmulazada commented on #188
Some dummy data
[code]

[2018-04-23 23:03] torreyleonard opened #199 "TimeStep classes not exported?"
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/AIoAyHX5j59G8/giphy.gif)

I know this feature was released just a few days ago so I thought I'd open this issue to help with its progress, although this could just be me overlooking something.

Instantiating a new LSTMTimeStep returns the error below, and `brain.recurrent.LSTMTimeStep` is `undefined.` I fixed this by

[2018-04-24 19:38] robertleeplummerjr commented on #199
How are you importing brain?

[2018-04-24 19:44] torreyleonard commented on #199
Using ```const brain = require('brain.js');```

[2018-04-25 10:53] thingbuilder commented on #199
I get the same error, my code is:
[code]
error:
[code]

if I use `const brain = require('brain.js').recurrent;`
I get this error:
[code]

[2018-04-25 17:07] #199 closed, assigned to robertleeplummerjr

[2018-04-25 17:12] robertleeplummerjr commented on #199
Released v1.2.1 to address this.  Ty for finding.

![](https://i.pinimg.com/originals/c3/62/a5/c362a51974a87d310110c9141dfa5d77.gif)

[2018-05-01 04:18] lmktommy opened #204 "Prediction"
Is it possible to use brainjs to predict the result?

Data:
4,7,9
6,9,10
10,8,7

Return predict result.

Like: https://jsfiddle.net/9t2787k5/4/

[2018-05-01 23:48] 7ammer opened #205 "Error when calling run - 'runInput' is 'undefined'"
_Skip to link below for working example of issue..._

![bummer](https://media.giphy.com/media/6zvDSUtuMqp3O/giphy.gif)

## *What* is wrong?
When trying one of the examples in the read me I get an error.

## *Where* does it happen?

- Error is produced when using the `run` method is called.
- Property 'runInput' is undefined.
- On node or in the browser

## *How* do we replicate the issue?
https://

[2018-05-02 01:25] toyssamurai opened #206 "Not an issue but a question regarding using Brain.js for automated categorization of products"
I am very new in NN, so please excuse me if what I am asking is very obvious. I am trying to use brain.js in a project that automatically categories products based on keywords found from the pre-input product data (ex, color, brand, product line, etc). I am thinking my training data would look like the following:

[code]
My first question is, am I even on the right track? Should I break down the o

[2018-05-02 05:15] suresh-anumolu opened #207 "LSTM train process takes very long time"
Hi,

Is there any way can i speed up the model training process? I have been running for more than two hours for about 20-25 fields. i feel i am doing something wrong. Can you please advice?

	var net = new brain.recurrent.LSTM();
	net.train([
    {input:'Loan Number', output:'LN'},
    {input:'Investor ID', output:'GN'},
    {input:'Program Type', output:'PT'},
    ...............................

[2018-05-04 21:15] justadudewhohacks commented on #182
I think there is no way around typing stuff by hand. Sure, typings have to be kept up to date, but how often does one introduce major API changes into your package?

You also don't have to type the entire codebase, providing typings at the highest API level would be a good way to start, which could also be done gradually. As @JouzaLoL said, not having complete type information doesn't break anythi

[2018-05-05 11:15] 7ammer commented on #205
Any thoughts? I've love to try out the new time stepping methods!

[2018-05-05 20:18] toyssamurai commented on #206
I am going to answer it myself -- after some research/experiments, I found out that I had to build a dictionary of keywords first in order to do what I want.

[2018-05-07 04:11] mubaidr commented on #207
I beleive changing your output format as following will fix the things for you:
[code]

[2018-05-07 04:12] mubaidr commented on #204
Would you please elaborate your data sample, separated as inputs and outputs expected?

[2018-05-07 11:48] robertleeplummerjr commented on #205
I'm looking into this today, fyi.  Sorry it has taken so long, busy busy.

[2018-05-13 19:10] rolandjitsu commented on #207
I'm also experiencing something similar. My input is:

[code]

and the output would be `11.00`.

[2018-05-14 04:28] josiahbryan commented on #189
@laisooliveira - curious as to exactly what you're asking. I'm looking at using `words2vec` as well, but wouldn't you just use the word vec as your input to your LSTM net, with the expected vec as the output?

[2018-05-14 04:33] josiahbryan commented on #167
@thepooltable - you're basically looking for a classifier. The `NeuralNetwork` architecture should work great for that. And your input looks great to me. Regarding classifier, just based on my testing, I've had better luck with `sigmoid` for classifications, as long as it has a moderate hidden layer (somewhere around (input dimension + output dimensions) / 2 for hidden). You can also try `tanh` -

[2018-05-14 04:37] josiahbryan commented on #204
@lmktommy  - did you look at the LSTM architecture in the docs ...? That's the first thing that comes to mind when I read this.

[2018-05-14 04:41] josiahbryan commented on #186
I use it already for regression - you just have to scale the output. For example, I use it to predict the time an event will start given various factors (scheduled start time vs actual start time, etc). So I train it using a 24 hour time scale expressed 0-1, so, `{ input: [ /* scheduled time as 0-1, other factors */ ], output: { predicted_starttime: 0.645833333333 }` - and if you multiply `0.64583

[2018-05-14 04:48] josiahbryan opened #208 "LSTM - Doing my own version of `words2vec` - how do I get *hidden* outputs?"
Pretty picture:
![image](https://user-images.githubusercontent.com/4821548/39978633-b1bce59c-570f-11e8-904a-8c12838434b8.png)

Based [on this article [1]](https://towardsdatascience.com/word2vec-a-baby-step-in-deep-learning-but-a-giant-leap-towards-natural-language-processing-40fe4e8602ba), the words2vec algo basically trains an LSTM to predict a word given the context, then (here's the key part f

[2018-05-14 04:57] mubaidr commented on #204
Also, I think this might work for you: https://github.com/BrainJS/brain.js/issues/192

[2018-05-14 04:57] josiahbryan commented on #82
I see #90 says it was merged, but I don't show any mention of `reinforce` in https://github.com/BrainJS/brain.js/blob/develop/src/neural-network.js (checked master and develop branch) ...? Did I miss something somewhere...?

[2018-05-14 12:01] robertleeplummerjr commented on #189
I think we're all learning here, we welcome the enthusiastic.

[2018-05-14 12:02] robertleeplummerjr commented on #167
This is something I've often wondered at times.  Really cool reply.

[2018-05-14 12:16] robertleeplummerjr commented on #186
@josiahbryan I look forward to seeing results from this.  Very knowledgeable reply.

[2018-05-14 21:57] robertleeplummerjr commented on #82
We opted to just reinforce when the layers are already defined (look at the sizes property): https://github.com/BrainJS/brain.js/blob/develop/src/neural-network.js#L294

[2018-05-14 21:59] robertleeplummerjr commented on #204
Sorry I've been so busy, yes this can be done with the TimeStep neural network.  I'll see if I can get an example up before the end of the day.

[2018-05-14 22:18] josiahbryan commented on #82
Ahh, I see that now. Sorry about that, thanks!

[2018-05-14 23:06] robertleeplummerjr commented on #82
No problem!  Ty for the interest and courtesy.

[2018-05-15 12:57] robertleeplummerjr commented on #204
Working: https://jsfiddle.net/qvvdrvct/

[2018-05-15 12:59] robertleeplummerjr commented on #204
[code]

[2018-05-15 15:05] lmktommy commented on #204
Thank you for your explanation. I will try it soon.

On Tue, 15 May 2018 at 20:59, Robert Plummer <notifications@github.com>
wrote:

--
Regards, Tommy Liu Sent from iPhone

[2018-05-15 15:26] lmktommy commented on #204
robertleeplummerjr - Thank you for your reply. I would ask one more question that does the library return the prediction result? For example: I use dice as example - Set 1 [2,4,5], Set 2 [1,4,6], Set 3 [2,3,5]. Ask brain to predict Set 4. Thank you

[2018-05-15 16:30] robertleeplummerjr commented on #204
With that limited amount of data, it might but you'll likely get overfitting.  However, if you had hundreds or thousands of dice, then it'd have little issue picking them out.

[2018-05-15 19:18] robertleeplummerjr commented on #204
I want to point out too, the above api is really a preview of things to come for v2, things will get a whole lot smarter and more interesting when it is released.

[2018-05-16 13:05] robertleeplummerjr commented on #204
Closing because we have a solution.

[2018-05-16 13:05] #204 closed, assigned to nobody

[2018-05-16 18:57] josiahbryan commented on #208
Been working on this more ...this is really critical now for me. I'd love to talk about how to accomplish this
..that is, get the output of the hidden layer in an LSTM network. Thoughts ...?

[2018-05-16 22:04] LiamDobbelaere opened #210 "What is stop-inputstart-output?"
## *What* is wrong?
Output of my LSTM sometimes contains keywords stop-input and start-output.
I would expect if I ask it to run on my input that it just gives the expected output.
For instance, I expect:

[code]
To output "happy" or "sad", but instead it outputs "he world is a terrible place!stop-inputstart-outputsad"

What is up with this output 'clutter' and why is it there? It's odd that I'd h

[2018-05-17 04:02] mubaidr commented on #210
Please try this:

[code]

[2018-05-17 07:34] LiamDobbelaere commented on #210
Using your exact code I'm getting "he world!stop-inputstart-output", really odd
I'm on brain.js^1.2.1, I installed it just yesterday so it can't be a version that's too old surely

[2018-05-17 08:45] mubaidr commented on #210
Please check this: https://jsfiddle.net/mubaidr/1jwdgukf/1/

For details please refer to these discussions too:
https://github.com/BrainJS/brain.js/issues/188

https://github.com/BrainJS/brain.js/issues/209#issuecomment-388971138
https://github.com/BrainJS/brain.js/issues/109

[2018-05-17 09:27] thepooltable commented on #167
thanks for advice on e training method!

another qn, here, having 5 touch points on screen, will return me 5 pairs of X & Y coordinates.
Does the coordinates position in the array matters? or should pinpoint using the distances between each points - but this would defeat the purpose if 2 devices have about the same range of coordinates :/

From my perspective, i was hoping to train multiple device

[2018-05-17 13:05] josiahbryan commented on #167
Pre-processing your data is often crucial to the success of your training.
I would recommend experimenting with what gives the best training success.
I would imagine order does matter. However, what you're asking is basically
bordering on image recognition, and I know others have trained Nets to do
scale and rotation invariant classification, however, I believe those
architectures were much more c

[2018-05-17 15:37] robertleeplummerjr commented on #210
The example that came up here as a possible fix is one we are working towards, ie: words in, decimal out.  It doesn't yet work.  The issue you are receiving which are the artifact of `stop-inputstart-output` is two fold:  The way the existing neural network in v1 works, all characters are mapped to a single neuron. So when the neuron is activated, it tells that net a character entered into it.  To

[2018-05-17 15:40] robertleeplummerjr commented on #210
If you do, however, just run the net with the inputs you trained it with, you'll get:

[code]

[2018-05-17 16:26] LiamDobbelaere commented on #210
Alright, thank you for your extensive response!
I understand a bit better now and I can't wait for v2.

Obviously if you run the same input you get the same output, but the most interesting part of neural nets is when they come up with new things based on older inputs. Then again, I don't know much about LSTM and I might settle with a simple feedforward NN for now.

[2018-05-17 16:35] robertleeplummerjr commented on #208
Absolutely.  In-fact the default in v1 is simply trying to bind characters to neurons where it sounds like you want to bind directly to the words or perhaps get inside the running neural net to achieve all sorts of interesting learnings.

A place to start looking at would be the `DataFormatter.
`DataFormatter` class: https://github.com/BrainJS/brain.js/blob/develop/src/utilities/data-formatter.js

[2018-05-17 17:42] josiahbryan commented on #208
Beautiful! I am out and about and away from my computer right now, but I
will play with this concept as soon as I am able. I appreciate your
insightful input and the excellent links you provided, looking forward to
getting into the code.

On Thu, May 17, 2018, 12:35 PM Robert Plummer <notifications@github.com>
wrote:

[2018-05-17 20:13] josiahbryan commented on #208
Hey, just was reading through your comments and looking at the code - great pointers on the **input** side of things - but I didn't really grok how to get at the **hidden output** of the network.

So, say I train a 3-layer net (input, hidden, output) on a set of sequences, for example:
[code]
Say training goes great and now `net.run('go_potty')` gives `come_inside`.

What I **really** want is to d

[2018-05-17 20:52] robertleeplummerjr commented on #208
I'll see if I can be helpful, but in v1 this will not seem very intuitive.

[code]

Then you can just do:
[code]

Note: I just grabbed the default `RNN.run` method, and added a couple `this.outputs` and append the outputs of the net to it.  The v2 counterpart for this is still in speculation (ie, still in my mind, not yet started on writing it) but the `Recurrent` building block (the simplest form

[2018-05-18 11:50] #210 closed, assigned to nobody

[2018-05-18 12:35] LiamDobbelaere commented on #208
@robertleeplummerjr Why is the error rate of your example so high?
If I run:
[code]
`iterations: 19900 training error: 4.032459660935966`

I'll get 'Potty' as well, it's response to anything seems to be 'Potty' and it hasn't learned of the word associations at all. The training error keeps being above 4 so this seems to be a pretty awful example. Do you have any idea why this is?

[2018-05-18 13:53] robertleeplummerjr commented on #208
lol, Potty....

[2018-05-18 13:54] robertleeplummerjr commented on #208
I'm back in the office today, so I'll need to get caught up, then check this out.

[2018-05-21 09:59] thepooltable commented on #167
i agree it is a very complex training data here.
"I know others have trained Nets to do
scale and rotation invariant classification, however" - did they achieve any result so far?
it seems to work nicely if the area to detect the points is small.

just sharing, rotation did not work out for me.
any further trainings will exceed the error threshold.

nonetheless, hope to use this brain.js again in

[2018-05-21 13:15] robertleeplummerjr opened #211 "`NeuralNetwork` cannot continue training"
Reproduced here: https://jsfiddle.net/t8yar5j0/

[2018-05-21 20:19] robertleeplummerjr commented on #211
I believe this to be an older version of brain.js and has since been resolved.

[2018-05-22 03:24] PawanWagh commented on #211
Nope. I have tried this version of brain.js `https://cdn.rawgit.com/BrainJS/brain.js/develop/browser.js`. Please visit the jsfiddle link again the issue still persists.

[2018-05-22 07:38] PawanWagh commented on #211
Here's another fiddle https://jsfiddle.net/La5a3bkj/1/

[2018-05-22 14:11] robertleeplummerjr commented on #211
Starting tests to uncover the issue: https://github.com/BrainJS/brain.js/compare/211-training-continue?expand=1

[2018-05-26 18:36] owen-m1 opened #212 "Input hash, output String?"
How can I make it so my input can be a hash and my output can be a string?

[2018-05-26 18:58] robertleeplummerjr commented on #212
What type of hash?

[2018-05-26 23:58] owen-m1 commented on #212
A javascript object containing number values

[2018-05-27 01:37] 7ammer commented on #205
Hello, sorry to bump. I'm not sure if this is a bug or if I've done something wrong. Some clarification would be awesome.

Thanks :)

[2018-05-27 02:02] robertleeplummerjr commented on #205
Ty for the bump.  It looks like the problem is that the input and output size should be set to 2 for this use case.  I've reproduced the issue in a test and will continue resolving there: https://github.com/BrainJS/brain.js/tree/205-larger-time-step

[2018-05-27 02:18] robertleeplummerjr commented on #205
Sort of an "accidentally dynamic" design that we've stumbled upon is this:

There are two seemingly different means of predicting what comes next.  In the scenario of a single input/output, we have the following test passing:
[code]

So if we feed the following values in after training:
[code]

However, in your case, our net is larger (you want to predict `[3, 1]`), and we are wanting to get a dif

[2018-05-27 02:32] robertleeplummerjr commented on #205
Ok, found it.  There is a quirky behavior right now where you need to wrap the training in s sub-array like this:

[code]

I want to point out that the existing recurrent architecture that this uses is going to be shelved sometime soon for when v2 comes out and replaces it with superior api tooling and architecture.  In the mean time can you live with the simplicity of wrapping with the above inte

[2018-05-27 16:28] 7ammer commented on #205
Hey @robertleeplummerjr, Thats super! Thanks for looking into this :)
I'm happy to close 👍

[2018-05-27 16:28] #205 closed, assigned to nobody

[2018-05-27 18:43] robertleeplummerjr commented on #205
A pleasure.  I really think this type of time step is super important too because it allows you to look at multiple contexts (an input and output larger than 1) in order to formulate the next prediction.  Which is why I feel so strongly that this be a part of brain.

Imagine stock market prediction, but feeding _the whole_ market in.   What affects one stock negatively can affect the others positi

[2018-05-31 09:11] ali-habibzadeh opened #213 "No TypeScript types :("
![https://i.imgur.com/o8fvxU0.png](https://i.imgur.com/o8fvxU0.png)

## *What* is wrong?
There is no .d.ts file for the library

## *Where* does it happen?
Happens when someone wants to use brain.js in a ts project

## *How* do we replicate the issue?
Start a ts project

## *How* important is this (1-5)? 3.5
Many serious projects now take advantage of ts to write better code
https://trends.google.

[2018-05-31 18:04] hellsan631 commented on #213
I might be wrong, but since there is an ES6 version in the pipeline, types should probably wait for that, because they would be outdated on that release. I was thinking of creating some TS and Flow types for the ES6 Version, as i've been using brain in a flow environment, and the types would be pretty neat to have.

Also, this is a dupe of https://github.com/BrainJS/brain.js/issues/182

[2018-05-31 21:07] robertleeplummerjr commented on #182
In answer to @justadudewhohacks and to this and #213, can I get someone to test and potentially collaborate on:

[code]

[2018-05-31 21:08] robertleeplummerjr commented on #213
Will continue [here](https://github.com/BrainJS/brain.js/issues/182#issuecomment-393680819).  Collaboration would be very much so appreciated.

[2018-05-31 21:08] #213 closed, assigned to nobody

[2018-06-01 22:26] chadmpdev commented on #189
@josiahbryan were you able to get your words2vec to work as your input to the LSTM? I'm in a similar boat.

[2018-06-01 22:45] josiahbryan commented on #189
I haven't yet had a chance to revisit this, day job has kept me busy. I
plan to get back to it this weekend hopefully! I'll let you know!

On Fri, Jun 1, 2018, 6:26 PM Chad Empey <notifications@github.com> wrote:

[2018-06-02 09:53] c4tz opened #214 "network error rate is unexpected NaN"
![The fuck?](https://media.giphy.com/media/b3ETeleegHXG0/giphy.gif)

## *What* is wrong?
I get the error: `network error rate is unexpected NaN` when training a RNN on the data below.

## *How* do we replicate the issue?
[Training data](https://pastebin.com/dBTZzQW5)

[code]

## Expected behavior (i.e. solution)
The network should be trained successfully and the output should be ~`0.48213740458015

[2018-06-08 17:06] robertleeplummerjr commented on #182
add file here https://github.com/BrainJS/brain.js/tree/182-typings

[2018-06-09 08:49] HubUzername opened #217 "How to do chat bot?"
Why it didn't work? I tried set sents in [], same problem
Can anyone show example how make simple chat bot?

[code]

Sometimes it crash with errors like

Sorry for my bad English

[2018-06-09 16:21] Ginko-Baby opened #218 "Do I have to normalize date ? Do I even need to ?"
//This is just an example:
var data = [
	{input: { year: 2018, month: 06, day: 09 }, output: { Bicep: 1, Back: 1 }},
	{input: { year: 2018, month: 06, day: 10 }, output: { Chest: 1, Shoulder: 1 }},
	{input: { year: 2018, month: 06, day: 11 }, output: { Rest: 1 }}
];

var net = new brain.NeuralNetwork();
net.train(data);

var output = net.run({ year: 2018, month: 12, day: 28 });

Do I need to "norm

[2018-06-09 22:16] DanielRuf opened #220 "enable Travis CI"
Currently Travis CI is not enabled but it makes sense to use it.

[2018-06-11 01:32] #167 closed, assigned to nobody

[2018-06-11 17:13] Ginko-Baby commented on #218
No help here, but for anyone reading this, I try this without normalization, the returned data is still usable !
Looks like the input data doesn't necessarily have to be normalized after all.

[2018-06-11 20:58] robertleeplummerjr commented on #182
Added in https://www.npmjs.com/package/brain.js/v/1.2.2

[2018-06-11 20:58] #182 closed, assigned to nobody

[2018-06-18 16:26] robertleeplummerjr commented on #218
nice find!

[2018-06-18 16:26] #218 closed, assigned to nobody

[2018-06-23 00:09] robertleeplummerjr commented on #65
@MarkusPint, would you like to open an issue?  I'd like to try and solve for performance if you are up for it.

[2018-06-26 13:52] Connum commented on #214
Why isn't anything happening here? Did you ever get it to work?

I'm currently trying to get the gist of brain.js, but no matter which example I try, I'm always getting NaN. I have some training data quite similiar to yours, all normalized to values between 0 and 1, and all i get is NaN. (I'm using NeuralNetwork instead of recurrent.RNN however).

I also tried different examples available on the w

[2018-06-26 13:57] robertleeplummerjr commented on #214
Are all the inputs the same size?

[2018-06-26 14:17] perkyguy commented on #214
So I made this work by changing things from using an `RNN` to a `NeuralNetwork`. Is there a particular reason you wanted to use the `RNN`?

So essentially just change to this

You can see what I did here https://jsfiddle.net/garrettascott/v3fjbLd9/

I get something like `0.4947563707828522` (an example run)

[2018-06-26 14:19] Connum commented on #214
After I figured out that NaN was a result of a malformed input format on my side, I think that my problem is distinct from the OP's and I should post my own issue in order not to hijack this one. Great to see that my chiming in resulted in two hopefully helpful answers for the OP though! :-)

[2018-06-26 14:26] robertleeplummerjr commented on #214
@perkyguy what do you think of possibly putting a warning if input sizes differ when using `NeuralNetwork`?

[2018-06-26 14:37] Connum commented on #214
@perkyguy ,

using the second training data input via
[code]
\- shouldn't the result be more towards 0.57...? It seems to me that no matter which input you use, the result is always around 0.49... This is similiar to my test data, where I always get values around 0.99... no matter what. Is it just a case of not enough training data?

[2018-06-26 14:38] perkyguy commented on #214
@robertleeplummerjr, we could provide an error, and then options to handle those situations. For example,
- remove the training data points which have incomplete values
- fill those values with a set number (e.g. any missing values are set to 0, or 0.5)

I think it's a good idea, but maybe we should start up a new issue for that though, so that we can focus on @c4tz 's issue here

[2018-06-26 14:47] robertleeplummerjr commented on #214
@perkyguy, good point

@c4tz, you are using the wrong net for training, I think.  You should take a look at https://github.com/BrainJS/brain.js#for-training-with-rnntimestep-lstmtimestep-and-grutimestep.  The reason it likely isn't working: The "standard" recurrent net is actually much more than just a recurrent net (this is changing in v2 to be much more modular, more later).  The recurrent net w

[2018-06-26 15:25] perkyguy commented on #214
@c4tz and @Connum with this set is that the training set's outputs don't really express too large of a swing. They range from ~`0.344` to ~`0.655`, with the majority of results being in the 0.4-0.5 range. Therefore, we could either re-normalize the output values to be between 0-1, or get more training data to exercise the full range of output.

I have a little visualization of this net with a reno

[2018-06-26 19:35] robertleeplummerjr opened #222 "merge `nn-gpu-layers` into `develop`"
Beforehand, v1 needs to be synced with develop.  After merge, v1 will go into maintenance mode.

[2018-06-26 19:35] robertleeplummerjr opened #223 "modernize our packing and release systems"

[2018-06-26 19:37] robertleeplummerjr opened #224 "finish new `Recurrent` class and remove `brain.recurrent`"
We need to ensure we have simplified replacements for all classes:
brain.recurrent.RNNTimeStep
brain.recurrent.LSTMTimeStep
brain.recurrent.GRUTimeStep
brain.recurrent.RNN
brain.recurrent.LSTM
brain.recurrent.GRU

[2018-06-27 03:33] mubaidr commented on #223
If you mean script building for release, we can use [parcel-bundler](https://github.com/parcel-bundler/parcel), which is super easy to use (zero configure) and its fast!

Also, I can help by adding dev & build scripts using parcel.

[2018-06-27 03:42] mubaidr commented on #212
You can try mapping/encoding your hash objects to simple strings.

[2018-06-27 03:52] robertleeplummerjr commented on #223
Much of the system currently feels so manual, if this is a step towards automation...  Bring it on!

[2018-06-27 03:55] mubaidr commented on #223
I am on it! 👍

[2018-06-27 05:02] mubaidr commented on #223
Analyzing the code base and scripts, I believe following things needed to be done:

- [x] Update Read-me to include CDN link
- [x] Update package JSON to include Browser field
- [x] Replace browserify/uglify with Parcel-Bundler
- [x] Add Dev & Build scripts
- [x] Reduce files distributed with the npm package install.
- [x] Update brain.js imports in examples
- [x] Validate that all tests run fine

[2018-06-30 01:51] rdominy opened #226 "Stream training errors"
## *What* is wrong?
Attempting to use the stream training (net.createTrainStream followed by flooding the stream) throws errors as it attempts to access non-existent methods.  I attempted to map the similarly named _methods (_formatData, _initialize, etc), but that led to more errors.

## *Where* does it happen?
Running this under node.js (v 10.5.0, but doesn't appear to be version specific) on my

[2018-06-30 13:07] PetarIvancevic opened #227 "Network gives NaN after 30k trainings?"
![Motivating the network](https://media.giphy.com/media/Bp1urA9f0XrW/giphy.gif)

## *What* is wrong?
I am working on a neural network, which implements reinforcement learning to play tetris. At one point during the training process with the learning rate set to 0.3 the network after 30k trainings gives the result 0 and then goes to NaN. Tried to figure out why Nan, but can't seem to.

## *Where* d

[2018-07-02 14:56] #223 closed, assigned to mubaidr

[2018-07-03 10:46] robertleeplummerjr commented on #223
I need tests back for the `FeedForward` class, `Recurrent` class, `praxis` folder, and `layer` folder.
They should equal 1 to 1 like you are doing with the new directory.

[2018-07-03 10:59] mubaidr commented on #223
Tracked here: https://github.com/BrainJS/brain.js/projects/1#card-10984506

[2018-07-03 11:50] robertleeplummerjr commented on #223
I don't mind resolving this.  It may be easier for me to do it because it looks like the version of `nn-gpu-layers` was slightly outdated.

[2018-07-03 12:37] robertleeplummerjr commented on #223
Ok, I've restored the tests, but have not changed them.  I as well ensured that the important stuff from nn-gpu-layers made it in to develop.  If you'd like to resume, by all means.

[2018-07-03 13:13] mubaidr commented on #223
Have you also removed redundant files? (I think recurrent dir inside src).

I will working on tests now.

[2018-07-03 13:18] robertleeplummerjr commented on #223
I did.  Lets keep them for the time being, both tests and source.  We aren't totally covering all the use cases yet, so just for convenience in reference of design lets keep them for the time being.

[2018-07-03 13:51] robertleeplummerjr commented on #223
fantastic!

When you have time, can you jump on hangouts so we can quickly coordinate efforts?

[2018-07-03 14:12] mubaidr commented on #223
sure, in few moments.

[2018-07-03 14:16] SCMorgan opened #228 "CDN/Download link broken."
## *What* is wrong?

Apologies for not closely following the prescribed format.

The documented CDN link is dead, as is the github download link.
Is the library only now available through package managers?

[2018-07-03 14:28] mubaidr commented on #228
Please use links from here: https://github.com/BrainJS/brain.js/tree/master

We have `develop` branch setup as default. Sorry for inconvenience. Will be fixed shortly.

@robertleeplummerjr Please update the default branch to `master`

[2018-07-03 14:30] SCMorgan commented on #228
That's perfect, thanks for your speedy response.

[2018-07-03 14:30] #228 closed, assigned to nobody

[2018-07-03 14:31] robertleeplummerjr commented on #228
updated

[2018-07-03 19:49] fe-dox opened #229 "Can I use stream training with LSTM network?"
## *What* is wrong?
I'm not sure am I able to use Training stream while training LTSM network.
When I try to do that i get this error:

[code]

## *Where* does it happen?

It happens when trying to use createTrainStream() with LTSM network

## *How* do we replicate the issue?

Just try to train LTSM network

[code]
First error will be not existing function so we don't need to care about what's ins

[2018-07-07 13:19] samparsky commented on #53
@robertleeplummerjr were you able to achieve this?

[2018-07-08 02:03] dfarkas4 commented on #82
I tried to continue learning using the XOR example but it doesn't work for me. Am I doing something wrong?

I want the system to continue learning without completely retraining the network.

[code]

[2018-07-08 02:19] robertleeplummerjr commented on #53
The entire of brain.js v2, which we hope to have a release candidate out by the end of the month, will be the catalyst for this, and I have been working on it for essentially a couple years.  I wanted to not just do it, but make it so easy a child could do it.

I was told:

I want to tell my future self, future @wagenaartje, and future @samparsky: "ha, easy"

We will see, but I know [the api](http

[2018-07-08 08:25] alebertz commented on #217
This is because in thestring Hello! is not equal or similar to hello. The neural network is "case-sensitive"

[2018-07-10 12:48] Chidan commented on #109
HI @robertleeplummerjr ,
thanks for the LSTMTimeSeries, as I understand currently the LSTMTimeSeries gives the next prediction value, but what if I have thousands of training set and thousands of test data set and I would like to predict next 10 or 100 values. How to do this?

[2018-07-11 06:47] techitesh opened #231 "Value1.concat is not a function error"
Hi Guys I Just started Exploring brain.js and facing some issue

[code]

Above is My Code where i am trying to Generate Some Fake eCommerce Data of Product with price and color attribute and output as a name of product

But i am getting following Error

[code]
Can Anyone Help me out Understanding What am i Doing Wrong in my code ???

[2018-07-11 09:39] mubaidr commented on #231
This:
[code]

Should be

[code]

[2018-07-11 10:46] techitesh commented on #231
@mubaidr I tried with net.run but still i am acing same issue

Here is My Sample Data that is getting generated from faker

[code]

[2018-07-11 13:01] robertleeplummerjr commented on #231
I think your `result` variable looks like it needs to be changed from an object to an array with an object inside.

[2018-07-11 22:28] peq42 opened #232 "browser version is not using gpu.js to speedup training?"
well the title explains basically everything.
If I try using the browser version of brain.js (with gpu.js installed right above) it doesn't seem to be using that lib to speed up the training as (I think) it should. Performance is the same with and without it.

[2018-07-11 23:39] peq42 opened #233 "How to train brain.js multiple times?"
If I already trained my neural network once, how could I add more information( ''train'' more stuff) to it, without having to train everything(old knowledge + new information) again?

Actually found a way: https://stackoverflow.com/questions/51295463/training-brain-js-multiple-times

[2018-07-12 01:04] #233 closed, assigned to nobody

[2018-07-12 01:09] robertleeplummerjr commented on #233
Woot woot!

[2018-07-12 02:19] #232 closed, assigned to nobody

[2018-07-12 05:36] mubaidr commented on #231
Can you please create a working fiddle with the same code? We will happily debug it.

[2018-07-12 13:48] peq42 opened #235 "brain.js too slow at training?"
I'm trying to train a chatbot using brain.js as the brain, giving it some basic sentences to learn and when It doesn't answer anything, the bot asks the user how it should answer(so I can train it again with previous information + new information).

Problem is: To make a chatbot which is able to learn, it's necessary for me to train him multiple times, to include new information. And training is R

[2018-07-12 14:19] robertleeplummerjr commented on #235
Can you put a jsfiddle of your example up so we can diagnose?

[2018-07-12 14:24] robertleeplummerjr commented on #217
We really need to handle the case of a generic non-understood value so that the net can essentially just skip that value.

[2018-07-12 14:25] robertleeplummerjr commented on #217
I'm working on v2 stuff, anyone want to try and handle this?

[2018-07-12 14:31] peq42 commented on #235
I've never made a jsfiddle before, so I hope this works
https://jsfiddle.net/tfwc6osh/7/
(I had to fuse 2 Css files into one and 2 javascript files too)

I also am really having a hard time finding more information about brain.js(that not in this github main page)

[2018-07-12 15:12] mubaidr commented on #217
Can I? 🔢

[2018-07-12 15:20] robertleeplummerjr commented on #217
What needs to happen: The formatter just needs an extra character detection.

The formatter: https://github.com/BrainJS/brain.js/blob/master/src/utilities/data-formatter.js
The exception being thrown: https://github.com/BrainJS/brain.js/blob/88b0dda9429653d0d688a8ecadb2952be703e70a/src/utilities/data-formatter.js#L63
We simply just want to use a general character for cases the character isn't unde

[2018-07-12 20:22] peq42 commented on #217
If you allow me to suggest one more thing to be changed/added(which would help making a chatbot, so kinda the topic of the post... right?): It would be interesting to be able to train new data to the NN, without having to train everything again, as it may cost performance

[2018-07-12 20:25] robertleeplummerjr commented on #217
I agree, this should be solved soon.

[2018-07-13 13:03] robertleeplummerjr opened #236 "Propose evolution style api"

[2018-07-13 14:02] robertleeplummerjr commented on #235
Which video was it that you saw?

[2018-07-13 18:25] kevcamel commented on #235
I would try getting node to work, I have had better results with it. Here’s a quick walk through (once you have node working):
[code]
from there create an app.js file (lets keep ur node app separate for now)
Paste in ur brain script. It should look something like this:
[code]
then simply run:
`$ node app`

I have found that changing iterations and learning rate speeds up/slows down training time.

[2018-07-13 18:33] robertleeplummerjr commented on #235
`keepNetworkIntact` was removed in favor of just doing `net.fromJSON(json)` and then `net.train(data)`.

Like "If I've gone through the trouble of loading data into the net, it is highly likely I want to further train it."

[2018-07-13 18:40] kevcamel commented on #235
Thanks @robertleeplummerjr for clarifying 🙂.
Also, I found GRU() slightly faster than LSTM() when it comes to training  strings.

[2018-07-13 18:44] peq42 commented on #235
The problem is that I have a few(many) problems downloading and installing npms with node, so I nearly always have to install it manually on my project. That's why i'm trying to use the browser version.

and the video was that: https://www.youtube.com/watch?v=9Hz3P1VgLz4

[2018-07-13 18:54] robertleeplummerjr commented on #235
@kcamcam nice find!  Wait till we get the new architecture running in v2!

[2018-07-13 18:56] robertleeplummerjr commented on #235
@elpeleq42 that explains this in part: the video you are watching is for a feedforward neural network (`brain.NeuralNetwork`), which they are much much faster because of how simple they are.  This, however, doesn't mean we cannot speed things up with the recurrent (rnn, lstm, or gru) networks.  In-fact, we are building out in v2 a completely gpu driven system that we are aiming at being much much

[2018-07-13 19:12] peq42 commented on #235
I just hope it doesn't get too much GPU dependant. There must be a way to improve the trainning process for things such as strings.

EDIT: and GRU makes the training error a lot bigger, for a tiny performance improvement

[2018-07-13 19:25] peq42 commented on #235
Brainjs uses matrices of characters in the training(for strings) doesn't it? Maybe if each element was a word instead of a character, it could speed up things AND make the results more accurate

[2018-07-13 20:04] robertleeplummerjr commented on #235
It's all math.  The way the recurrent neural networks work with strings is by activating a single neuron that represents a value.  So when upgrades comes, we'll make sure they are compatible.

[2018-07-13 22:00] robertleeplummerjr commented on #235
@elpeleq42 it could, but how many words are in the english dictionary?

[2018-07-13 22:43] peq42 commented on #235
Actually it could be bad, since then the bot wouldn't understand variations of some words/expressions such as "What is", "What's" and "whats" (which now it can, if the trainning goes well)
I take back my words

[2018-07-13 22:52] Macil commented on #235
If you used a pre-built [word embedding](http://ruder.io/word-embeddings-1/), then similar words will have similar values so that the neural net can easily understand the similarity of words.

[2018-07-15 01:47] shyamaprasadpatra opened #237 "Unrecognized Character issue in brain JS training and output"
I'm using brain JS for predicting some data using 'recurrent LSTM'. I'm using nodeJS,express as the interface to train it and predict output.

Here is some basic training data :

[code]
Training Part :

[code]
Output :
[code]
Now the issue appears when I'm using any of the following letters anywhere in the string for training or for prediction.
`j k m n q v x z
`
Exact error String :

[code]

[2018-07-15 20:25] #235 closed, assigned to nobody

[2018-07-16 03:27] binarybehemoth opened #238 "What is 'inputRange'?"
What is 'inputRange'?

[2018-07-16 05:14] techitesh commented on #231
Here is a Stackblitz link please have a look
https://stackblitz.com/edit/js-djf45m

[2018-07-16 05:38] mubaidr commented on #237
This is known issue, a fix is in progress. More info: https://github.com/BrainJS/brain.js/issues/217

[2018-07-16 08:11] binarybehemoth opened #239 "Pull Request: train-stream.js and neural-network.js"
## *What* is wrong?
The stream could not be ended. Its ending should be signalled with stream.end() instead of stream.write(null). Even then, the code in the library files seem to be buggy.

## *Where* does it happen?
train-stream.js: 157, 175
neural-network.js: 175

## *How* do we replicate the issue?
Just try out stream-example.js in the newest version of node.js.

## *How* important is this (1-

[2018-07-17 16:57] houd1ni commented on #217
@robertleeplummerjr Faced the issue too. Will appreciate a fix :+1:

[2018-07-17 17:51] robertleeplummerjr commented on #217
Anybody want to review?: https://github.com/BrainJS/brain.js/pull/241

[2018-07-18 14:53] mubaidr commented on #237
Fixed in: https://github.com/BrainJS/brain.js/pull/241

[2018-07-18 14:53] #237 closed, assigned to nobody

[2018-07-18 14:54] mubaidr commented on #217
Fixed in: https://github.com/BrainJS/brain.js/pull/241

[2018-07-18 14:54] #217 closed, assigned to nobody

[2018-07-18 15:00] robertleeplummerjr commented on #217
Try again and let us know, this should be resolved now at least for using strings directly.

[2018-07-18 15:00] robertleeplummerjr commented on #237
Try again and let us know if our fix didn't resolve it.  Ty again for helping us help you.

[2018-07-18 15:05] robertleeplummerjr commented on #238
It has to do with the input neuron count in a recurrent neural network, which will shortly be replaced with better documentation.  It's like saying "each neuron represents a character, this is how many representations there are".

[2018-07-18 15:05] #238 closed, assigned to robertleeplummerjr

[2018-07-18 15:06] mubaidr commented on #231
Sorry for the delay, I am working on the provided example, thank you for that.

On the first glance, I think the issue lies here:
[code]
You just need to call `resolve` should not return it. i.e. like this:
[code]

[2018-07-18 15:09] robertleeplummerjr commented on #231
Change this: `const result = {input: {...}}` to this: `const result = [{input: {...}}]`.

[2018-07-18 15:10] mubaidr commented on #239
Sounds great contribution. Please fork this project, change the code where required (nothing else) and create a pull request. This way you will be listed as contributor to this project. 👍

If you are not comfortable with that, let us know we will integrate it ourself.

[2018-07-18 15:11] robertleeplummerjr commented on #231
Nope, I'm wrong.

[2018-07-18 15:13] binarybehemoth commented on #239
Actually there are more issues than what I showed above. I managed to solve them for my own use but the changes may not be compatible for other users.

[2018-07-18 15:14] mubaidr commented on #239
Can you please create a pull request, we will be happy to take a look. There must be something that is helpful to this library. :)

If its working for you, then surely it has got something good enough to share. Thanks

[2018-07-18 15:14] robertleeplummerjr commented on #239
Can you share what you changed?  We can try and cover use cases with them if they aren't too complex.

[2018-07-18 15:18] mubaidr commented on #220
Will be enabled in version 2.0.

[2018-07-18 15:18] #220 closed, assigned to nobody

[2018-07-18 15:19] mubaidr commented on #222
I believe this is completed, right?

[2018-07-18 15:20] mubaidr commented on #212
I am closing this issue, please ping if you still need help, we will happily help and re-open this issue.

[2018-07-18 15:20] #212 closed, assigned to nobody

[2018-07-18 15:21] mubaidr commented on #92
Any update on this? This is still in progress?

[2018-07-18 15:27] mubaidr commented on #138
New feature is available. If you still need help, feel free to re-open this issue.

[2018-07-18 15:27] #138 closed, assigned to nobody

[2018-07-18 15:28] mubaidr commented on #180
If you still need help, feel free to re-open this issue.

[2018-07-18 15:28] #180 closed, assigned to nobody

[2018-07-18 15:29] mubaidr commented on #46
If you still need help, feel free to re-open this issue.

[2018-07-18 15:29] #46 closed, assigned to nobody

[2018-07-18 15:54] robertleeplummerjr commented on #222
yup

[2018-07-18 15:54] #222 closed, assigned to nobody

[2018-07-18 15:55] robertleeplummerjr commented on #92
still in progress

[2018-07-18 15:56] robertleeplummerjr commented on #92
I don't have the source of the above.  @abhisheksoni27, do you?

[2018-07-18 15:59] mubaidr commented on #119
This feature is available, please check this for an example: https://github.com/BrainJS/brain.js/issues/109#issuecomment-381353855

[2018-07-18 15:59] #119 closed, assigned to nobody

[2018-07-19 05:50] techitesh commented on #231
Here is a New Stackblitz i have created
https://stackblitz.com/edit/brain-js-demo

Lemme know if found any solutions

[2018-07-19 16:50] cjkini opened #245 "BrainJS in Node-Red"
Hi guys,
Nice meeting you all here.

Has anyone here tried to use BrainJS in Node - Red flow ? Can you guys share any example how to do this using node red.

My objective are :
1. To create a model to predict :
Input= numerical number range from 50-60, Output= 1
Input= numerical number range from 30-50, Output= 2
Input= numerical number range from 0-30, Output= 3

2. Use the above prediction model

[2018-07-19 16:54] cjkini commented on #245
I already downloaded this to my Node-red palete https://flows.nodered.org/node/node-red-contrib-neuralnet

Can anyone share ,how to create a NN model using this palete.?

Your help are much appreciated.

Thanks to everyone

Regards,
SD

[2018-07-20 03:24] mubaidr commented on #231
@techitesh Here is the fixed version: https://gist.github.com/mubaidr/145ddaef84280a137e0a4126ba8de9df

I have switched to RNN from LSTM because RNN is more suitable for simple mathematical data sets where LSTM is more suited to string/text data sets.

But please note that network does not train well because data is not good (either repetitive or not conclusive enough).

I am closing this issue, i

[2018-07-20 08:18] techitesh commented on #231
Thnx for Help

[2018-07-20 10:04] mubaidr commented on #231
@techitesh  I am sorry, there was an issue the above gist, I have fixed it. More specifically:
[code]

[2018-07-20 11:03] abhisheksoni27 commented on #92
@robertleeplummerjr Here's the source for anyone who is interested: https://github.com/abhisheksoni27/brain.js/tree/gh-pages

[2018-07-20 12:44] robertleeplummerjr commented on #92
Nice!

[2018-07-20 12:46] robertleeplummerjr commented on #92
You wouldn't have any interest in helping finish it would you @abhisheksoni27?

[2018-07-20 13:44] mubaidr commented on #245
Welcome to our project!

I don't think we have examples of using brain.js with node-red. But we will surely like to help you achieve your goal.

The package you have mentioned is based on much older version of brian.js. I, myself, will try to understand the requirements of the node-red and update the package as necessary.

Please be patient.

[2018-07-20 14:44] #206 closed, assigned to nobody

[2018-07-20 14:45] mubaidr commented on #206
If you still need help, feel free to re-open this issue.

[2018-07-20 14:47] mubaidr commented on #197
If you still need help, feel free to re-open this issue.

[2018-07-20 14:47] #197 closed, assigned to nobody

[2018-07-20 14:47] mubaidr commented on #165
If you still need help, feel free to re-open this issue.

[2018-07-20 14:47] #165 closed, assigned to nobody

[2018-07-20 14:53] mubaidr commented on #143
Any update on this?

[2018-07-20 14:54] #158 closed, assigned to nobody

[2018-07-20 14:57] mubaidr commented on #61
If you still need help, feel free to re-open this issue.

[2018-07-20 14:57] #61 closed, assigned to nobody

[2018-07-20 14:59] mubaidr commented on #49
Should handled in: https://github.com/BrainJS/brain.js/issues/99

[2018-07-20 14:59] #49 closed, assigned to nobody

[2018-07-21 05:34] shyamaprasadpatra commented on #237
Thanks a lot @mubaidr @robertleeplummerjr  .

I tested, the issue has been resolved.

[2018-07-21 08:23] cjkini commented on #245
Hi @mubaidr ,
Thanks for your support.

Regards.

[2018-07-23 09:50] mubaidr commented on #245
Hi there, please try this package: https://github.com/mubaidr/node-red-contrib-brain-js

(This is fork of the above mentioned package, all credits to the original author)

[2018-07-24 16:18] tyt34 opened #248 "How to determine the correct number of inner layers for my task?"
Hello.
I use this library for prediction.

I have event. It consists of 2 parts. It happens 0 or 1. It turns out [0,0],[0,1],[1,0],[1,1].
I use the last 50 such events and divide them into parts of 3 pieces.
Therefore, for example:
Input [[0,0],[0,0],[0,0]] , output [0,0].

Suppose I have information about already past events that look like this:
1,1,0,1,0,0,1,0,1,1,1,0,0,0.
Input [1,1,0,1,0,0] ,

[2018-07-24 17:55] mubaidr commented on #143
I am closing this issue, please re-open if required.

[2018-07-24 17:55] #143 closed, assigned to nobody

[2018-07-24 17:57] mubaidr commented on #226
AFAIK stream training is not supported in simple recurrent network (RNN). Are you using that one?

@robertleeplummerjr please confirm

[2018-07-24 18:08] robertleeplummerjr commented on #248
Which classes are you using?  Do you have a working example, perhaps on https://jsfiddle.net/?

[2018-07-24 18:13] tyt34 commented on #248
I can send my code here or there. It is need ?
I dont understand how it can help.

[2018-07-24 18:20] mubaidr commented on #82
Should be possible as of: https://github.com/BrainJS/brain.js/pull/118

If you still think there is something missing, please open a new issue.

[2018-07-24 18:20] #82 closed, assigned to nobody

[2018-07-24 18:28] mubaidr commented on #86
This was be fixed in: https://github.com/BrainJS/brain.js/pull/241

[2018-07-24 18:28] #86 closed, assigned to nobody

[2018-07-24 18:30] mubaidr commented on #198
Details: https://github.com/BrainJS/brain.js#streams

[2018-07-24 18:30] #198 closed, assigned to nobody

[2018-07-24 18:31] mubaidr commented on #207
@rolandjitsu Please open a new issue, with the required info and if possible a simple jsfiddle.

[2018-07-24 18:31] #207 closed, assigned to nobody

[2018-07-24 18:32] mubaidr commented on #186
@josiahbryan Thanks for the helpful guide.

[2018-07-24 18:32] #186 closed, assigned to nobody

[2018-07-24 18:46] #159 closed, assigned to nobody

[2018-07-24 18:49] #111 closed, assigned to nobody

[2018-07-24 18:49] mubaidr commented on #111
https://github.com/BrainJS/brain.js/pull/150

[2018-07-24 19:02] robertleeplummerjr commented on #198
I'm not sure a `stream` and an `audio stream` are the same thing.

[2018-07-24 19:05] mubaidr commented on #198
I mean, Audio should be converted to input data using above mentioned example and then it can be fed/streamed to network gor training.

[2018-07-24 19:08] robertleeplummerjr commented on #229
This isn't currently supported, though we will have it implemented soon for LSTM.  Can you share your whole example with us, and we can use it as a use case?

[2018-07-24 19:14] robertleeplummerjr commented on #248
Sure, share your code.

[2018-07-24 21:02] rdominy commented on #226
No I encountered this using the brain.NeuralNetwork class.  Same as the sample [here](https://github.com/BrainJS/brain.js/blob/master/examples/cli/stream-example.js) that fails.

[2018-07-25 03:16] tyt34 commented on #248
This is my code https://jsfiddle.net/scq9ur8k/
But there is not enough data. Do they also send?

[2018-07-26 14:11] cjkini commented on #245
Hi @mubaidr ,
Thanks for your support. I manage to integrate Node-Red and Brain JS.

This is how i do :
1. Download Brain JS file at here  https://www.npmjs.com/package/brainjs
2. Save the Brain JS folder inside the Node-Red folder
3. Edit Node-Red setting.js file to include Brain JS library and save :
[code]
4. Go to Node-Red, design the flow using the function node. And function is like this :

[2018-07-26 14:25] mubaidr commented on #245
Awesome!

Thanks for sharing guide to use `brain.js` with `node-red`

[2018-07-26 14:25] #245 closed, assigned to mubaidr

[2018-07-27 05:01] cjkini opened #249 "Neural Network Error"
Hi guys,

I am trying to run the below example :

[code]
However, the code is bugged with this error :

`"TypeError: Cannot read property 'constructor' of undefined"`

Can anyone help me, how to debug this?

Thanks for your help ya. Appreciate it.

[2018-07-27 06:05] mubaidr commented on #249
This is the jsfiddle with the same code and it works fine: https://jsfiddle.net/mubaidr/rL721qwd/3/

Please provide this info:
- What version are you using (brain, node, browser)
- how are you installing brain.js

[2018-07-27 09:56] mubaidr commented on #214
I am closing this issue, in case you need further help, please don't hesitate to re-open this issue or create a anew one.

[2018-07-27 09:56] #214 closed, assigned to nobody

[2018-07-27 10:08] mubaidr commented on #224
I believe this done? @robertleeplummerjr

[2018-07-27 10:17] mubaidr commented on #227
I have tested the provide code (with brain.js 1.2.4) and this is the result of network training:

for some games we have:
[code]

and most have this:
[code]

with this input:
[code]

Am I missing something?

[2018-07-27 10:23] mubaidr commented on #211
The provided jsfiddle works fine: https://jsfiddle.net/mubaidr/La5a3bkj/6/

I am closing this issue, in case you need further help, please don't hesitate to re-open this issue or create a anew one.

[2018-07-27 10:23] #211 closed, assigned to nobody

[2018-07-27 10:26] mubaidr commented on #163
I am closing this issue, in case you need further help, please don't hesitate to re-open this issue or create a anew one.

[2018-07-27 10:26] #163 closed, assigned to nobody

[2018-07-27 10:28] mubaidr commented on #114
I am closing this issue, in case you need further help, please don't hesitate to re-open this issue or create a anew one.

[2018-07-27 10:28] #114 closed, assigned to nobody

[2018-07-27 10:33] mubaidr commented on #92
Since this is abandoned, I will be working on this. Pogress will be followed in the project dashboard.

[2018-07-27 10:33] #92 closed, assigned to abhisheksoni27

[2018-07-27 10:39] PetarIvancevic commented on #227
You should "play" around 30k games, then it breaks. My latest guess is that it might be somehow node related, but I have no idea how :/

[2018-07-27 10:41] mubaidr commented on #227
Sure, will do some testing.

[2018-07-27 12:51] robertleeplummerjr commented on #224
Not yet, after mnist I'll work on this.

[2018-07-28 14:24] tyt34 commented on #248
oops
https://github.com/BrainJS/brain.js#hiddenlayers

[2018-07-30 06:43] cjkini commented on #249
Hi @mubaidr ,
Thanks. I solve this issue by upgrading to an new node version.

[2018-07-30 09:06] mubaidr commented on #249
Awesome! We will add the minimum required nodejs version to the read me.

[2018-07-30 09:06] #249 closed, assigned to mubaidr

[2018-07-31 15:05] simonchabrol opened #250 "Cannot read property 'LSTM' of undefined"
Hello,

 I just try the following example :

[code]

But I get the following error :

`TypeError: Cannot read property 'LSTM' of undefined`

How can I solve this ?

[2018-07-31 15:10] robertleeplummerjr commented on #250
`var brain = require('brain.js')` maybe?

[2018-07-31 15:11] simonchabrol commented on #250
No I don't think, because it works with` brain.NeuralNetwork`

[2018-07-31 15:18] mubaidr commented on #250
@robertleeplummerjr is right as `brainjs` is not the same as `brain.js` (this repo)

Install the correct package please.

[2018-07-31 15:18] #250 closed, assigned to nobody

[2018-07-31 15:20] simonchabrol commented on #250
Thanx, it works !

[2018-07-31 15:40] robertleeplummerjr commented on #250
woot woot!

[2018-08-01 06:53] cjkini opened #252 "Prediction using RNN Model"
Hi guys,

I am running this RNN model, to predict the data classification type based on input data training.

I am using 0-100 input number mapped to three class which are Low, Medium and High as my data training. After that, I saved the trained model to "network.json" file. The code are as per below :

[code]
Later , I will test the trained model, by feeding a random number to the model and asked

[2018-08-02 16:46] mubaidr commented on #37
^But why? care to share some specific use-case, please?

If you are talking about database for input data, then this does not fall under the specifications of this library.
But otherwise as @robertleeplummerjr said, we need super fast solution to access data.

In both cases this is not under consideration for now.

[2018-08-02 16:46] #37 closed, assigned to nobody

[2018-08-02 16:48] mubaidr commented on #112
There is plug-in (kind of) available for this named likely. https://github.com/BrainJS/brain.js/blob/master/src/likely.js

[2018-08-02 16:48] #112 closed, assigned to nobody

[2018-08-02 16:48] mubaidr commented on #128
@faroukcharkas any update?

[2018-08-02 16:50] mubaidr commented on #106
Closing this as the main question was answered.

[2018-08-02 16:50] #106 closed, assigned to nobody

[2018-08-02 16:56] mubaidr commented on #128
Closing this one, track this here: https://github.com/BrainJS/brain.js/issues/26

[2018-08-02 16:56] #128 closed, assigned to nobody

[2018-08-02 17:15] robertleeplummerjr commented on #185
There is no cross validator that exists currently in brain, but I actually am needing one as well.  I think the proposal is simple and to the point, it'd be to simply add something like:

[code]

[2018-08-02 17:23] faroukcharkas commented on #128
@mubaidr I've already finished the first version although it just wasn't right. I am closing in on the second version. I can share some screenshots of the second version. This is a chain of [screenshots](https://imgur.com/a/AP4tDi1?). Keep in mind that there are only two people working on this venture. You can expect the beta version to be out between August 29-September 15. Contact me at _farouk.

[2018-08-02 17:23] robertleeplummerjr commented on #185
I'm actually dead wrong!  https://github.com/BrainJS/brain.js/blob/11324b7dead480577a41420da8cbd32c3cd06684/src/cross-validate.js  It does exist.  @mubaidr what do you think about evaluating unit tests on it and ensuring it gets properly documented?

[2018-08-02 17:25] mubaidr commented on #128
Great news!

Is it open source?

[2018-08-02 17:26] mubaidr commented on #185
Sure, will do.

[2018-08-02 17:29] faroukcharkas commented on #128
Initially, we were not planning on making it open-source. We believe the project hasn't risen to the level of maturity to really benefit from open-source. A lot of what we are doing is quickly running trials on user interface techniques to bring neural networks to the general public. Open source is great, but it is generally slow. If you'd like to work on it, we can discuss that later, but for now

[2018-08-03 09:54] simonchabrol opened #253 "Ensure that numberic values are between 0 and 1"
Hello,

To use Brain.js, I need to convert numeric values to 0 and 1. But I haven't found a good solution to convert numeric values from large files. For example, I struggle with this dataset:
[code]
Sometimes, I read that people divide values by 10, 100 or 1000, but I doubt it's a relevant solution. Do you have ideas ?

Thank you,

[2018-08-03 12:44] robertleeplummerjr commented on #253
Iterate on the values, find the largest value, then divide by that?  What are you trying to accomplish?

[2018-08-03 12:55] simonchabrol commented on #253
Hi,

I already try something like this (with my previous example):

[code]
But it doesn't work very well. I got a lot of iterations, and an error rate close to 0.05. My goal is to lower the error rate and iterations needed.

[2018-08-03 13:07] mattgrande commented on #253
I think what Robert was suggesting was to find the largest value for each thing beforehand. Snippet:

[code]

That will ensure that each value is between 0 and 1, and that the largest value for each property is exactly 1.

[2018-08-03 13:12] simonchabrol commented on #253
Ok ! It's clearer now. Thank you for the code. I will test it !

[2018-08-03 15:51] robertleeplummerjr commented on #185
As it exists, we currently have this as the api:

`brain.crossValidate(brain.NeuralNetwork, trainingData, opts, trainingOpts);`

Because of the 1. amount of arguments, 2. that this isn't a documented feature, and 3. the existing api, what if we 1. shortened arguments to a single one, and 2. provided a means of passing in either a constructor or a instance of the neural network.  Proposal:

[code]

[2018-08-03 16:06] robertleeplummerjr commented on #185
I think we want to have the winning network as a result.  Perhaps something like `keyNetwork`?

[2018-08-04 17:00] mubaidr commented on #253
Great! Closing this issue, please feel free to open if you need any further help.

[2018-08-04 17:00] #253 closed, assigned to nobody

[2018-08-06 14:27] simonchabrol opened #254 "Round numbers in output"
Hello,

This is not really a problem or an issue. In my case, I have an output that varies from 1 to 0, like this: {Continue: 0.999995768070221, Stop: 0.000004229932983434992}

I would have liked to know if there was a solution to round these numbers, and get the following display for example: {Continue: 1, Stop: 0}

I did not find anything in the documentation, and I wondered if such a solution e

[2018-08-06 14:33] mubaidr commented on #254
Yes, there is an addon available for that. Please view/search readme for `likely`.

(I am on phone cant post link)

[2018-08-06 14:34] simonchabrol commented on #254
Find it ! Thanx :)

[2018-08-06 17:26] #254 closed, assigned to nobody

[2018-08-06 21:47] robertleeplummerjr commented on #252
Try using a LSTM.

[2018-08-07 03:41] mubaidr commented on #252
^this

or try setting output as 0,1,3 (for low , medium, high)

[2018-08-07 03:42] mubaidr commented on #239
Tracked here: https://github.com/BrainJS/brain.js/pull/243

[2018-08-07 03:42] #239 closed, assigned to binarybehemoth

[2018-08-08 06:53] tyt34 opened #255 "How see error value and number iterations after training ?"
In time training I see  error value, so:
[code]
But, how to see in the future error value and number iterations?
How can I see this? How to keep it?

[2018-08-10 01:56] robertleeplummerjr opened #256 "NeuralNetwork.toFunction() when relu, leaky-relu, or tanh don't work"
![](https://media1.giphy.com/media/hIfDZ869b7EHu/giphy.gif)

[2018-08-10 07:14] cjkini commented on #252
Hi guys,

Thanks for the feedback.

I tried to rerun the code using  LSTM as below :
[code]
And run prediction as per below :
[code]

However, the prediction seem not working yet :

[code]

Appreciate your feedback.
Thank You

[2018-08-10 11:03] robertleeplummerjr commented on #252
I think lstm is far more complex than is needed for this job.  Even a simple feedforward neural network, which is the `brain.NeuralNetwork` class would be ideal here. Let me get an example together.

[2018-08-10 11:07] #256 closed, assigned to nobody

[2018-08-10 11:35] robertleeplummerjr commented on #252
Working solution, end to end: https://jsfiddle.net/robertleeplummerjr/5o4f9acu/20/

[2018-08-10 11:35] #252 closed, assigned to robertleeplummerjr

[2018-08-10 11:36] robertleeplummerjr commented on #252
I see the title contains "RNN", however, I used a single layered network with 5 neurons.  Are you dead set on rnn?

[2018-08-10 11:44] robertleeplummerjr opened #258 "RNN training log needs to be in similar format to that of NeuralNetwork's"
Already have the fix for this, just for tracking.

[2018-08-10 11:46] #258 closed, assigned to nobody

[2018-08-10 12:18] tyt34 commented on #255
:(

[2018-08-10 12:19] #248 closed, assigned to robertleeplummerjr

[2018-08-10 12:31] robertleeplummerjr opened #260 "`brain.recurrent.RNN` error rate isn't on same scale as `brain.NeuralNetwork`"
Already have the fix, this is for tracking.

[2018-08-10 12:34] robertleeplummerjr commented on #260
Fixed here: https://github.com/BrainJS/brain.js/pull/261

[2018-08-10 12:34] #260 closed, assigned to nobody

[2018-08-10 12:36] robertleeplummerjr commented on #208
@TomDobbelaere resolved here: https://github.com/BrainJS/brain.js/pull/261
It was a long standing issue that turned out to be very simple to resolve.

[2018-08-10 14:18] mubaidr commented on #255
`net.train` returns what you need. just assign it to some variable:

[code]

[2018-08-10 14:19] #255 closed, assigned to nobody

[2018-08-10 16:12] tyt34 commented on #255
Yes.
And I will see the values throughout the training
But I ask:
how to see this varible after train? Without use ` log: true,`
How save this varible?

[2018-08-10 16:44] mubaidr commented on #255
Like this?

[code]

[2018-08-10 16:47] mubaidr commented on #255
Example: (please see line no. 15)

https://jsfiddle.net/jn056e7L/8/

[2018-08-11 15:32] albertp89 opened #262 "Unable to load Trained Model (LSTMTimeStep) from JSON File"
## *What* is wrong?
I trained a model and saved to a file using
`JSON.stringify(net.toJSON());`

I've confirmed the object is properly read in and loaded.
When trying to run `net.run(someData)` it gives this error
`UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'runInput' of undefined`

Maybe I'm doing something wrong...

## *Where* does it happen?
When trying to load a trained

[2018-08-11 15:39] mubaidr commented on #262
Thanks for providing the jsfiddle, we are looking into this issue.

[2018-08-11 18:18] tyt34 commented on #255
Thankyou

[2018-08-13 09:32] saleh-old opened #263 "BrainJS VS TensorFlow"
Hey guys.

I'm a pretty good JS developer and I favor JS compared to Python (for some reasons). Which is why I decided to use TenserFlowJS (now that it's out). I liked it until I found this library which is like crazy simple and seems to meet my use case. However accuracy (as in how good it can do predictions) is very important to my use case.

So my question is: How accurate is BrainJS compared t

[2018-08-14 00:03] robertleeplummerjr commented on #263
Accuracy in both would be equivalent.  A trained net is a trained net.  In tensorflow.js the training algorithms may allow the net to train a bit faster or slower, I believe there are several available for tensorflow where as we only have one available in v1, which is just standard gradient descent.

Brain.js v2 has Adam with momentum under the hood, so look forward to that.

[2018-08-14 00:03] #263 closed, assigned to robertleeplummerjr

[2018-08-14 02:28] cjkini commented on #252
Hi @robertleeplummerjr ,
Thanks for this feedback.

I will look into this.
I have a question here, how can I save the above training model and call them back in separate codes. So that I can inject my Car Count input to the model and ask the model to make a prediction ?

Thanks ya.

Regards

[2018-08-16 08:27] saleh-old commented on #263
Will do. Thanks for the response.

[2018-08-21 17:26] 7ammer opened #264 "Classifying semantically similar words and sentences"
![questions = knowledge](https://pa1.narvii.com/5906/2fa2941ce6b4fe387c2bff443a03085780053acf_hq.gif)

## *What* is wrong?
Long shot but I'd be really grateful if someone could point me in the right direction...

I'm trying to do a bit of "text classification" to figure out tags/topics based on a sentence.
For example:

"places in the lion,  witch and the wardrobe"
"people in prince caspian"

## E

[2018-08-22 12:21] simonchabrol opened #265 "Error rate fluctuation"
Hello,

Sometimes, I notice that between trainings, it is possible to observe fluctuations in the results. Here is an example :

[code]
It's the same data set. So, my question is : is it normal to have, sometimes, an error above the error threshold ?

Thank you for advice !

[2018-08-22 12:53] robertleeplummerjr commented on #265
This is normal, and in fact one of the (in my mind and I love to see it) coolest things about machine learning.  What is happening is that brain is learning to compartmentalize or segregate a set of logic into a simpler subset, and when it does there is a large efficiency increase.

Picture like something in the real world, bubbles.  When bubbles touch together, they first touch each other create

[2018-08-22 13:02] #265 closed, assigned to nobody

[2018-08-22 13:07] simonchabrol commented on #265
Thank you for your response ! Because I have to do a professional presentation on neural networks, and I wasn't sure about how to present the thing.

[2018-08-22 13:18] robertleeplummerjr commented on #265
Very cool, and let me know how it goes!  Also, if you have any more questions, feel free to ask.

[2018-08-22 13:19] robertleeplummerjr commented on #265
Also feel free to include a link to your presentation.

[2018-08-24 17:56] LiamDobbelaere commented on #208
Strange, I still have the same problem.
I tried installing brain.js via npm first, then I thought maybe that's not the latest version. Then I installed the master branch from github, still the same issue.

Finally I checked the v1.x branch, because that's where you merged it, so I did `npm install git://github.com/BrainJS/brain.js.git#v1.x --save`, but it still gives me potty for everything.

[2018-08-28 19:45] gcox opened #266 "Given a sequence of numbers t(0) thru t(n), predict t(n+1)"
![Obviously](https://user-images.githubusercontent.com/251512/44746524-95f02000-aad8-11e8-925f-3ff83feac990.gif)

I'm trying to take a sequence of dates (represented as numbers) and predict the next date, which is unknown at the time of prediction.

I expected to do this:
[code]
Sadly, that throws an exception (```TypeError: Cannot read property 'runInput' of undefined at LSTMTimeStep.run...```)

[2018-08-28 20:33] robertleeplummerjr commented on #266
Can you throw your example into a jsfiddle for quick reproduction?

[2018-08-28 21:14] gcox commented on #266
Sure, here you go: [jsfiddle](https://jsfiddle.net/gcox18/muoLdksr/28/)

[2018-08-28 22:25] robertleeplummerjr commented on #266
You just need to add the length of the entire input + output.  Example `net.run([1, 2, 3], 4); // -> 3.435204029083252`

[2018-08-28 22:26] robertleeplummerjr commented on #266
This isn't well documented since the recurrent stuff was in beta, and is now nearly all rewritten.  In either case, this should probably be added to documentation for future humans.

[2018-08-28 22:34] gcox commented on #266
Ah, I see. I definitely misinterpreted that 2nd argument. Postponing my lobotomy for now.

Thanks for the quick attention!

[2018-08-28 22:34] #266 closed, assigned to nobody

[2018-08-28 22:53] robertleeplummerjr commented on #266
Ty for the interest! Wait till we get GPU architecture released!

[2018-08-29 15:13] ghost opened #267 "LSTM Network incorrectly prepends "stop-inputstart-output" to output"
When loading a network from JSON - the output is prepended with the text "stop-inputstart-output"

The following gist is my working example:
https://gist.github.com/ytsruh/9c8f123c0f7555e861d5bb76dc526b21

Thanks for the help & support in advance

[2018-08-30 00:39] sulaimanO opened #269 "Can't Deploy on Server"
## *What* is wrong?
`remote:        npm ERR! code ELIFECYCLE
remote:        npm ERR! errno 126
remote:        npm ERR! brain.js@1.2.6 postinstall: `opencollective postinstall
remote:        npm ERR! Exit status 126
remote:        npm ERR!
remote:        npm ERR! Failed at the brain.js@1.2.6 postinstall script.
remote:        npm ERR! This is probably not a problem with npm. There is likely

[2018-08-30 01:24] robertleeplummerjr commented on #267
Should be now resolved in https://github.com/BrainJS/brain.js/pull/268
Let me know if this issue persists.  Note: You will need to train from new json.

[2018-08-30 01:24] #267 closed, assigned to nobody

[2018-08-30 01:40] robertleeplummerjr commented on #269
Resolved https://github.com/BrainJS/brain.js/pull/270
Sorry about the failure.  I didn't realize the package was essentially an ad, removed with extreme prejudice.  Please let me know if there are any other issues.

[2018-08-30 01:40] #269 closed, assigned to robertleeplummerjr

[2018-08-30 01:46] robertleeplummerjr commented on #262
The model loads, but the prediction isn't long enough:
[code]

Works fine ^.  This `3` is the length of the input + the output length.  I think this is a bug that needs solved.

[2018-08-30 01:55] sulaimanO commented on #269
It works !!

thank you Robert

[2018-09-01 23:08] farverio opened #271 "LSTM Returning Questionable Results"
![Alt Text](https://media.giphy.com/media/12ZXZv7aoviBgI/giphy.gif)

## *What* is wrong?
I have trained an LSTM model but am getting poor results when testing strings (potentially two issues). The first is that results that one would presume to be negative instead are showing positive. Secondly, there are inputs tested with net.run() that don't return any result at all.

## *Where* does it happen?

[2018-09-02 02:12] robertleeplummerjr commented on #271
Its a little late, I'll take a look in the morning, but the first thing that stands out is `iterations: 100`.  Crank that up to `iterations: 5000` or even `iterations: 10000`, and your results will vastly improve.

[2018-09-02 03:14] farverio commented on #271
Thanks @robertleeplummerjr . Was looking over a lot of previous posts from you and hoping you'd reply. Appreciate you taking some time out of the holiday weekend to check things out :)

[2018-09-02 11:10] kmaher9 opened #272 "Training iterative output?"
A question rather than an issue; is there any way to receive an output while the training is ongoing? For example, I've called  `net.train(inputs)`, but my inputs are 200 files in 2 classes. I understand this may be a slightly big input set for an LSTM in JS, but it has been running for about 15 minutes now.

I would like to know if this has hung or encountered an error, but without a contemporane

[2018-09-02 14:07] mubaidr commented on #272
Yes, check the `log` option: https://github.com/BrainJS/brain.js#training-options

- Set it to true to console the output of each iteration.
- Set it as function to run call back on each iteration.

[2018-09-02 14:07] #272 closed, assigned to nobody

[2018-09-02 15:49] robertleeplummerjr commented on #271
After playing with it a bit, I think the problem is just lack of data and overfitting.  If we look at your training set, the following have punctuation:
[code]

The following to not have punctuation:
[code]

I don't think there is enough data yet for it to form a solid basis for a reply, but I could be wrong.  There are three sentences that end with period, and possibly that is having causing it t

[2018-09-02 16:00] robertleeplummerjr commented on #271
I cranked up the hidden layers, put iterations at 2k, errorThresh at 1.1, and added another input, it seemed to give a better result: https://jsfiddle.net/robertleeplummerjr/z378bnoa/29/

So in short, a deeper net and adjusting training settings should put you where you want to be.

[2018-09-02 16:00] #271 closed, assigned to robertleeplummerjr

[2018-09-02 17:07] farverio commented on #271
Thanks for the reply! Can you help me understand how the hidden layers add more value? That just means essentially that it's testing more things throughout the iterations to find an "optimal" solution, right?

I'm running a test with actual cleansed data (not the test inputs), and am currently at 4100 iterations and running since I started after your last message yesterday. Training error has been

[2018-09-02 17:40] robertleeplummerjr commented on #271
Hidden layers are like abstractions of ideas.  The more hidden layers, the more the next can abstract.  I think the net doesn't understand what you are wanting it to do.  Try giving it more layers, (like in the example I included) and see if that helps.

[2018-09-04 19:00] kmaher9 commented on #231
To keep this issue alive, I'm experiencing the same issue also with an LSTM model. Reads in the content of 10 short files, into two outputs. After one or two iterations, sometimes immediately, I get the same error as OP.

Gist of my code - https://gist.github.com/fauliath/d57660dfa78167b8acc63eb90e0d7974

My full error output is:

[code]

[2018-09-14 15:27] KokoDoko commented on #176
Does this example only work with monochrome images? Wouldn't it be possbible to use r g b values from 0 to 1 in a neural network? Color seems quite important for image recognition.
[code]

[2018-09-20 02:39] ghost opened #274 "Stream example doesn't work."
![Sad times](https://i.imgur.com/18eaY.gif)

## *What* is wrong?
Stream example doesn't work.

## *Where* does it happen?
Running the example script on Windows 10 (git bash, node v10.5.0).

## *How* do we replicate the issue?
https://github.com/BrainJS/brain.js/blob/da8daa7b3923667a62d7b51f5f4fba9009d43457/examples/cli/stream-example.js

## *How* important is this (1-5)?
5

## Expected behavior (i

[2018-09-20 17:12] robertleeplummerjr commented on #185
I ended up finding a much more dynamic means by using a class and instance rather than using raw json and passing the classifier around.  It is up for code review, and is as well documented therein.

[2018-09-21 15:41] robertleeplummerjr commented on #274
Now working, please reopen if you find any issues.  The api did change a little.

[2018-09-21 15:41] #274 closed, assigned to nobody

[2018-09-21 15:42] robertleeplummerjr commented on #226
Now working, please reopen if you find any issues.  The api did change a little. New example [here](https://github.com/BrainJS/brain.js/blob/master/examples/stream-example.js).

[2018-09-21 15:42] #226 closed, assigned to robertleeplummerjr

[2018-09-21 15:42] robertleeplummerjr commented on #144
Now working, please reopen if you find any issues.  The api did change a little. New example [here](https://github.com/BrainJS/brain.js/blob/master/examples/stream-example.js).

[2018-09-21 15:42] #144 closed, assigned to robertleeplummerjr

[2018-09-21 15:46] robertleeplummerjr commented on #185
Documentation [here](https://github.com/BrainJS/brain.js#cross-validation), we may make a couple tweaks to it in the next few days, but it is now supported and part of the family.

[2018-09-21 15:52] robertleeplummerjr commented on #185
To clarify, this is the existing api as it has landed:
[code]

I think one minor thing we want to do with it is this (proposal):
[code]

The reason is so we potentially could use cross validate with something like TrainStream (proposal):
[code]

This way the options for the net are attached to the instance, can be reused, and now we can handle REAL BIG DATA in the train stream using cross validate

[2018-09-21 15:56] mubaidr commented on #185
Looks good. Optiins are passed with theor relative user.

[2018-09-26 00:08] robertleeplummerjr opened #276 "Add adam praxis to NeuralNetwork class"
![A GIF or MEME to give some spice of the internet](https://media0.giphy.com/media/7XsFGzfP6WmC4/giphy.gif)

## *What* is wrong?
I needed this for a work project, and went ahead and implemented it for the masses.

## *Where* does it happen?

## *How* do we replicate the issue?

## *How* important is this (1-5)?
4-ish, maybe a 5.  Much faster training.

## Expected behavior (i.e. solution)
Super fa

[2018-09-26 06:53] ghost opened #278 "Why ...error: NaN...?"
![358d2b66-6606-4f1c-9841-cb9b9de25a92](https://user-images.githubusercontent.com/42932420/46062286-fde66480-c171-11e8-8163-c3b8122b14ee.jpeg)

[2018-09-26 12:30] robertleeplummerjr commented on #278
Inputs are not normalized.  Take the highest value of the inputs, and divide each by that number.

Why this needs to be done either automatically or manually: Imagine whispering a beautiful novel to someone right in their ear, then yell at the top of your voice randomly and see how much of the beauty they appreciate.  Or imagine yelling across a casum to someone that you need help, and then whispe

[2018-09-26 12:30] #278 closed, assigned to robertleeplummerjr

[2018-09-27 10:06] amadeus-torwell commented on #185
Dear all,

when trying to run the example code on branch v1.x I am constantly getting this error:

`(node:2888) UnhandledPromiseRejectionWarning: ReferenceError: options is not defined
    at CrossValidate.train (/server/node_modules/brain.js/dist/cross-validate.js:141:41)`

It happens when I try to run crossValidate.train(..):

`const crossValidate = new brain.CrossValidate(brain.NeuralNetwork, {

[2018-09-27 10:48] mubaidr commented on #185
@deusama  A fix is on the way! Expect new release soon: https://github.com/BrainJS/brain.js/pull/280

[2018-09-27 11:40] amadeus-torwell commented on #185
The fix works for me, but I get another error when trying to read 'trainingData' from the cross validation example code:

`
(node:3000) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'input' of undefined
    at NeuralNetwork._formatData (/server/node_modules/brain.js/dist/neural-network.js:846:27)
    at NeuralNetwork._prepTraining (/server/node_modules/brain.js/dist/neural-netw

[2018-09-27 13:57] robertleeplummerjr commented on #185
Looking into this.

[2018-09-27 13:57] robertleeplummerjr commented on #185
@deusama can you put a small jsfiddle or similar together demoing the problem?

[2018-09-28 08:33] amadeus-torwell commented on #185
Sure, https://repl.it/repls/SnoopyDeeppinkDigits

[2018-09-28 08:43] mubaidr commented on #185
@robertleeplummerjr `data` is an object but an array method is being called on it:
https://github.com/BrainJS/brain.js/blob/5797b875cb7aa1c6e58ea748bd8795019ed1e9d1/src/cross-validate.js#L116

from here: https://github.com/BrainJS/brain.js/blob/5797b875cb7aa1c6e58ea748bd8795019ed1e9d1/src/cross-validate.js#L88

[2018-09-28 12:33] #276 closed, assigned to nobody

[2018-10-01 13:22] David-Xiang opened #282 "Error encountered when trying to take advantage of GPU"
![A GIF or MEME to give some spice of the internet](http://5b0988e595225.cdn.sohucs.com/images/20171101/1f63acfc41d046b8976da8717854e654.gif)

## *What* is wrong?

I am try to construct a network to train MNIST on browser. The code runs secessfully using API `brain.NeuronNetwork()`. However when I want to take advantage of GPU, I try to call `brain.NeuronNetWorkGPU()` instead and an error occurred

[2018-10-01 22:08] kitt-th opened #283 "LSTMTimeStep - errors in instantiating+ training (prob doing smth noob-stoopid?)"
## *What* is wrong?
instantiating an LSTMTimeStep net causes a runtime error:

/Users/user/node_modules/brain.js/dist/recurrent/lstm-time-step.js:23
function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError("Cannot call a class as a function"); } }
                                                                                            ^

(t

[2018-10-02 00:05] mubaidr commented on #283
Please use `new` keyword, as:
[code]

[2018-10-02 07:59] kitt-th commented on #283
great - thanks!
 - I do have a new question ;)

when it comes to training the net, I get an error referring to the error rate, whether I call it without options set or not -  thus:

------------------------------------------

/Users/user/node_modules/brain.js/dist/recurrent/rnn.js:475
        if (isNaN(error)) throw new Error('network error rate is unexpected NaN, check network configurations and

[2018-10-02 11:26] ahmetcanaksu commented on #107
Me too !!

[2018-10-02 14:15] robertleeplummerjr commented on #283
I believe the issue is a misuse of the api.  This is your usage.

[code]

This is the supported usage:

[code]

[2018-10-02 14:15] #283 closed, assigned to robertleeplummerjr

[2018-10-02 15:16] kitt-th commented on #283
Hi, I get the same errors sending my training data alone (as shown above) using default options by omission, or putting the options in a config object. Any ideas?

------------------------------------------

const config = {      iterations: 20000,
      errorThresh: 0.005,
      log: true,
      logPeriod: 10,
      learningRate: 0.3,
      momentum: 0.1,
      callback: null,
      callbackPerio

[2018-10-02 15:31] robertleeplummerjr commented on #283
Can you create a jsfiddle or similar that reproduces the issue?  We can work through this together!

[2018-10-02 15:42] kitt-th commented on #283
Sure!

I took some of the training data and put it in an array so we know what we're working with

https://jsfiddle.net/#&togetherjs=6SutILgFJA

[2018-10-03 06:47] mubaidr commented on #185
Added & Fixed in: https://github.com/BrainJS/brain.js/commit/eebe6c89a27bfeaa4f4302ee6f4f67bd4857399e & https://github.com/BrainJS/brain.js/pull/281

[2018-10-03 06:47] #185 closed, assigned to robertleeplummerjr

[2018-10-04 12:50] kitt-th commented on #283
that jsfiddle link expired... will get another one up and post

[2018-10-04 17:04] afonsolopez opened #284 "Load my trained network direct into the code (w/o JSON file)"
## *What* is wrong?
Can I add my trained network direct into my code (or maybe thru some API request with axios?), without using a JSON file?

## *Where* does it happen?
I'm using Brain.JS on a Vue project, everything works great, but I can't figure out a way to load any JSON file into my project, so I was thinking if there's a way to add it direct into my code.

## Expected behavior (i.e. solutio

[2018-10-04 17:18] mubaidr commented on #284
In both cases assigning generated/fetched json to a variable, and simply passing it to `net.fromJSON()` should work. What is confusing you?

[2018-10-04 17:35] afonsolopez commented on #284
**This is my script tag**
[code]
**This is my trained network**
[code]

[2018-10-04 17:36] afonsolopez commented on #284
Can you please explain how can I use "net.fromJSON()"?

[2018-10-04 18:25] robertleeplummerjr commented on #282
Can you create a jsfiddle that reproduced the issue in the mean time while I look into this?

[2018-10-04 18:39] robertleeplummerjr commented on #283
I think the problem is simply input and output dimensions.
 If I change them to 1, it seems to work fine: https://jsfiddle.net/robertleeplummerjr/Lhekuw3g/1/

[2018-10-04 18:44] robertleeplummerjr commented on #284
Sure!  Like this: https://jsfiddle.net/robertleeplummerjr/qesv91wb/1/

[2018-10-04 18:44] #284 closed, assigned to mubaidr

[2018-10-04 22:59] kitt-th commented on #283
ah thanks v.much! I'll get onto tweaking and examining tomorrow :)

[2018-10-04 23:13] robertleeplummerjr commented on #283
cool!

[2018-10-05 04:10] David-Xiang commented on #282
https://jsfiddle.net/David_Xiang/at6bf0sc/24/
If you edit line 212 `brain.NeuralNetworkGPU` => `brain.NeuralNetwork`, you can see the normal training output in console.

[2018-10-05 22:32] ahmetcanaksu opened #285 "LSTM Took a lot of time in Raspberry pi 3"
![slowly](https://media.tenor.com/images/2798fa534283517b890f34dca3249fe0/tenor.gif)

## *What* is wrong?

Training tooks a lot of time is there any solution for that ?

## *Where* does it happen?

In LSTM when I trying to train 4 arrays in my text recommendation engine on raspberry pi 3

## *How* do we replicate the issue?

Too simple !

[code]

## *How* important is this (1-5)?

5 "for real i wi

[2018-10-06 21:35] #285 closed, assigned to nobody

[2018-10-07 06:55] mubaidr commented on #176
It should work with color data too. In my case images were simpler and color information was not needed.

[2018-10-07 15:02] robertleeplummerjr commented on #176
In gpu.js (which is the engine for brain.js v2) we've built it so you can feed images in _directly_: https://github.com/gpujs/gpu.js#supported-input-types

[code]

If we brought this functionality into v2 of brain.js, it would likely be:
1. after the release of brain.js v2
2. after the release of gpu.js v2 with OpenCL support

I've personally hoped for it for some time, and I think, although chall

[2018-10-08 00:23] 1mike12 opened #286 "Blank output when input string.length > ~100 LSTM/GRU"
![A GIF or MEME to give some spice of the internet](https://i.imgflip.com/2jm88j.jpg)

## *What* is wrong?

I can get the toy examples working like the happy, sad example on the documentation. But when I increase the length of the sentence, I start getting blank strings as output "". Through experimentation it seems to have to do with sentence length and happens at around 100 characters.

## *Wher

[2018-10-08 17:52] ewliang commented on #286
I'm getting the same issue too when using LSTM. I'm trying to make a classification tool, and I get blank outputs often. I tried high learning rate, low learning rate, high iteration, low iteration, and even experimented with the data input format for the training in all the possible combinations listed.

[2018-10-08 18:38] 1mike12 commented on #286
@ewliang same. After looking into the source code of rnn.js, I tried other parameters for the constructor that weren't listed on the documentation. I hoped that maybe bumping input size and output size  to 256 could have something to do with it, but it didn't work.

[2018-10-08 18:48] robertleeplummerjr commented on #286
I believe the droids you are looking for are here: https://github.com/BrainJS/brain.js/blob/master/src/recurrent/rnn.js#L316

`net.run(rawInput = [], maxPredictionLength = 100, isSampleI = false, temperature = 1)`

I think the original idea was to prevent the net from thinking forever.  We're open to recommendations to make this feature better.

[2018-10-08 18:48] robertleeplummerjr commented on #286
Clarifying, you want to make `maxPredictionLength` larger than 100.

[2018-10-08 19:33] robertleeplummerjr commented on #286
![](https://media.tenor.com/images/87815ba16ab578264721db39a50f4ee1/tenor.gif)
Working: https://jsfiddle.net/robertleeplummerjr/xw68qesp/6/

We probably should document this before this issue closes.

[2018-10-08 21:23] 1mike12 commented on #286
ok that's awesome! Could you go into a bit as to how that parameter affects the model? Like if I were to guess from the name of the variable, it would cap the length of the final output. But in our cases of classification, the lengths of the outputs are trivially small.

[2018-10-08 22:30] robertleeplummerjr commented on #286
All it does it cap the output length so to prevent the recurrent net from going into a loop that never ends.  I suppose the length should really be _after_ the length of the input that you send it, in which case, this is a bug.

[2018-10-09 13:12] robertleeplummerjr commented on #286
After reading this a second time, I don't think I answered the question asked last.

The question:

The parameter `maxPredictionLength` has to do with the repeating (recurrent) part of the hidden layers of the model.  The hidden layers repeat internally but are all connected to the same context that tracks their behaviour and what to expect next.  This recurrent area of the model connects from the

[2018-10-19 18:29] ahmetcanaksu opened #287 "Process not continuing while training"
![c](https://media.giphy.com/media/KBx7fQoLxuV7G/giphy.gif)

## *What* is wrong?
Process not continuing while training

## *How* important is this (1-5)?
5 - I have to complete my project
## Other Comments
It will be nice to get example

[2018-10-19 18:47] robertleeplummerjr commented on #287
Can you reproduce with jsfidde?

[2018-10-19 19:08] ahmetcanaksu commented on #287
https://repl.it/repls/OptimalRelevantDonateware Like I said process will continuing when train done . Im trying to find A way to keep continue the process

[2018-10-19 19:22] robertleeplummerjr commented on #287
This _should_ work, but I believe you have found a bug:

[code]

[2018-10-19 19:30] ahmetcanaksu commented on #287
I asked wrong . I'm trying to say how can I get continuous process while training. When I apply my code everything works but Script waiting for training

[2018-10-19 19:32] robertleeplummerjr commented on #287
Oh ok, just add `log: true` to your training options.  What is happening is the net is training sync, blocking that from executing until after it's trained.

[2018-10-19 19:36] robertleeplummerjr commented on #287
In the example I have above, you'll see I shortened the `iterations`, so it would avoid this.

[2018-10-19 19:36] ahmetcanaksu commented on #287
My dialog engine works with same script with my page so while training my page not oppening . I think using child process will work fine

[2018-10-19 19:41] robertleeplummerjr commented on #287
I like that idea.

[2018-10-19 19:47] ahmetcanaksu commented on #287
Thanks for support again!!  I can not wait for v2 :)

[2018-10-19 19:47] #287 closed, assigned to nobody

[2018-10-24 08:23] hvadym opened #291 "append trained data to the existing model"
![MEME](https://cdn-images-1.medium.com/max/1600/1*eJfR3ui_2SsPAyMYF5R00A.jpeg)

## *What* is wrong?
Can`t save model.

## *Where* does it happen?
In the a NeuralNetwork when trying to run a net in node.js on my win pc

## *How* do we replicate the issue?

1. get data from csv
2. train
3. save to file
4. load from file
5. predict

It`s OK. But if I want to continue training? How I can append train

[2018-10-24 09:33] robertleeplummerjr commented on #291
Can you give us a code sample via jsfiddle or similar?

[2018-10-24 11:13] hvadym commented on #291
yes. Here is part of code https://jsfiddle.net/ykeqb356/

[2018-10-24 11:34] robertleeplummerjr commented on #291
![](https://media0.giphy.com/media/4560Nv2656Gv0Lvp9F/giphy.gif)

Here are your droids.

https://jsfiddle.net/robertleeplummerjr/ykeqb356/16/

Looks like it was just a little mixup with variable names and methods is all.  Let me know if that isn't satisfactory.

[2018-10-24 11:34] #291 closed, assigned to nobody

[2018-10-24 11:35] robertleeplummerjr commented on #291
Please note: I did change the functions around a little but only to try and accentuate the api to help.  I hope not to defamate any work.

[2018-10-24 12:24] hvadym commented on #291
soooo. Can you provide an example, how to append data to trained model?
Thank you)

[2018-10-24 14:55] WaqqasI opened #292 "Encoded string neural network give NaN"
**insert gif here**

## *What* is wrong?

## *Where* does it happen?
Training and running a neural network with encoded strings is returning NaN

## *How* do we replicate the issue?
Here's the code:
[code]
Gives out NaN for ontopic and offtopic
## *How* important is this (1-5)?
Uh, a 3?

## Expected behavior (i.e. solution)
It should've given the numbers when running it

[2018-10-24 14:57] robertleeplummerjr commented on #291
Easy enough: https://jsfiddle.net/robertleeplummerjr/ykeqb356/20/

[2018-10-24 15:45] robertleeplummerjr commented on #292
For using a feed forward neural network, the inputs and outputs need to be the same size.  To get around this just use a recurrent neural network:

https://jsfiddle.net/robertleeplummerjr/zbwh9ugt/15/

[code]

[2018-10-24 15:45] #292 closed, assigned to nobody

[2018-10-24 18:37] WaqqasI commented on #292
Hm, but even if I make the inputs the same size, it still doesn't work. And I'd rather not use recurrent, because it takes a long time to train and ends up with things like `opic`

[2018-10-24 19:04] robertleeplummerjr commented on #292
Easy enough: https://jsfiddle.net/robertleeplummerjr/zbwh9ugt/21/

Just have to make sure you ensure they are all the same length.  I see what the problem was, it was with output data:  The output on a FeedForward network needs to be either an array _or_ an object.  You defined it as an object with an array inside it.  Correct, and I hope this helps you.

[2018-10-24 19:27] WaqqasI commented on #292
Oh cool, thanks for the help!

[2018-11-02 18:07] mrorigo commented on #262
I was stuck on this, then found the `keepNetworkIntact: true` option for `learn()`

[2018-11-04 18:10] #262 closed, assigned to robertleeplummerjr, mubaidr

[2018-11-04 18:16] robertleeplummerjr commented on #286
Now you can change this with `net.maxPredictionLength = number`.  We'll add this into the docs asap.

[2018-11-04 18:20] robertleeplummerjr commented on #262
`keepNetworkIntact` is now removed, and this should just work as of now.

[2018-11-04 19:24] robertleeplummerjr opened #294 "Different size RNN hidden layers don't map properly"
![](https://media0.giphy.com/media/3o7rbG6Wor8JdrHziw/giphy.gif)

## *What* is wrong?
Hidden layers of differing sizes cause the RNN net to throw an exception.

## *Where* does it happen?
Internally.

## *How* do we replicate the issue?
This doesn't work:
[code]

## *How* important is this (1-5)?
5

## Expected behavior (i.e. solution)

## Other Comments

[2018-11-04 19:25] robertleeplummerjr commented on #294
ty @mrorigo for finding.

[2018-11-04 19:50] #294 closed, assigned to nobody

[2018-11-06 08:02] ArtReeX opened #296 "Error calling .toJSON for big data."
![](https://i.gifer.com/4aQq.gif)

## *What* is wrong?
I sent the neural network LSTM for training 7000 examples, saving it after each iteration. After an hour spent on one iteration, the called method .toJSON returns the exception "Array buffer allocation allocation failed".

## *Where* does it happen?
This happens in recurrent.LSTM(), after learning and calling the .toJSON method.

## *How* do w

[2018-11-06 13:35] robertleeplummerjr commented on #296
Can you share more details of your system, perhaps privately (my id @ google mail)?  We may need to do something creative to allocate the json, or perhaps there is a memory leak that needs addressed.

[2018-11-06 13:39] ArtReeX commented on #296
Of course, I'll email you.

[2018-11-06 14:56] robertleeplummerjr commented on #296
I see what is happening.  The data you are sending in to be used via a `LSTM` network, and what it wants to do is build unique values for each input.  This isn't ideal with decimal data that doesn't repeat, because each value gets its own neuron.  What you want is a `LSTMTimeStep` network.  This should take considerably less time, and will look something like this:

[code]

Example: https://jsfidd

[2018-11-06 14:56] #296 closed, assigned to nobody

[2018-11-06 19:52] cnkostas opened #297 "optimum hiddenLayers"
hi i try to train a neural network the sample of import data are
{input: {a:0.26,b:0.31,c:0.23,d:0.14,e:0.12,f:0.13},output:{m:1}},
{input: {a:0.13,b:0.43,c:0.63,d:0.14,e:0.12,f:0.13},output:{k:1}},
{input: {a:0.15,b:0.34,c:0.53,d:0.11,e:0.12,f:0.21},output:{l:1}}

the inputs are about 2000 so how mach hiddenLayers nodes i need?

[2018-11-06 20:03] robertleeplummerjr commented on #297
I think that will take some experimentation.  I'm not sure there is a fixed rule.  It depends on the quality of the data, what you are training for, and how easy it can be deciphered.

[2018-11-06 20:03] #297 closed, assigned to nobody

[2018-11-06 20:12] cnkostas commented on #297
i am trying to predict weather the data are moisturize pressure  and others

[2018-11-06 23:31] robertleeplummerjr commented on #297
How many measurements are you inputting?

[2018-11-08 21:10] robertleeplummerjr commented on #189
I was able to refine our RNNTimeStep model to possibly assist with this sometimes in the next few days, fyi.

Added information here: https://gist.github.com/robertleeplummerjr/713a47d5fd63e8e189f8cf5cbc0649cd
And branch here: https://github.com/BrainJS/brain.js/compare/rnn-time-step-inputs?expand=1

[2018-11-09 17:08] robertleeplummerjr commented on #189
Here is the current approach I was going to take with the branch mentioned above.

1. I have broken up the equation runners into being able to run by index (input of neuron) or by value (value directly into neuron).
2. On training: Having either side broken up, we can train, combining input (string) and vector (decimal) together.
  * Think about mixing the ideology of both a RNN/LSTM _and_ a RNNTi

[2018-11-09 17:17] robertleeplummerjr commented on #189
The reason I come to this question, to be more clear, is generally if we wanted to go one way or the other (words to vectors, or vectors to words), we'd be trying to pull values out of test to do something with them.  But if we are simply pulling text out to turn it into vectors, to turn that into text or something else, then the existing `brain.recurrent.LSTM` is probably what you want.

[2018-11-09 17:21] robertleeplummerjr commented on #189
Another point, your 50,000 words will likely reduce in complexity if you so choose or need to use the existing `brain.recurrent.LSTM` because you'll be using mostly printable characters, rather than all 50k words.  While this does substantially lengthen the lstm equation, it may actually shorten iterations needed per step.

[2018-11-10 22:12] Enitoni opened #299 "fromJSON does not work with LSTM"
I'm trying to use a LSTM network to just feed messages from a discord server, as a fun experiment to see what it can come up with. The problem is when I save the data using `toJSON` and then restoring it, it seems like the data is incompatible with what `fromJSON` expects.

[code]

`getDataSomehow` loads the json file, parses it and returns the object.
After doing this, this error is put in consol

[2018-11-11 13:49] robertleeplummerjr commented on #299
What does your training data look like?

[2018-11-11 13:51] robertleeplummerjr commented on #299
The other issue mentioned about the `DataFormatter` throwing an error should be solved more recently when dealing with strings, by adding a neuron for unknown sequences.  If this isn't working for your data set, I imagine we just need to ensure it is covered.

[2018-11-11 17:35] Enitoni commented on #299
Hi, the training data is just random pieces of messages that I selected from my discord chat. I had to add all the allowed characters at the top, and I believe because of this, the network isn't really learning properly, a lot of the results have gibberish sentences, but I have to include it otherwise I get that unrecognized error.

![image](https://user-images.githubusercontent.com/5295397/483161

[2018-11-11 21:33] cnkostas opened #300 "outputs out of range with NeuralNetwork()"
i am getting strange outputs ranges from NeuralNetwork
more training more values out of range my training data are from 0 to 0.9 what's wrong?
https://jsfiddle.net/1xr9zuvy/
console output from net.run

 { sun: 0.9480375647544861,
  cloud: 0.0000012484682656577206,
  rain: 0.002350462833419442,
  t1_0: 0.009168339893221855,
  t1_1: 0.2973463833332062,
  t1_2: 0.33873674273490906,
  t1_3: 0.1478448

[2018-11-11 22:15] robertleeplummerjr commented on #299
What does your network setup look like?

[2018-11-11 22:16] robertleeplummerjr commented on #300
What network are you using?  What does your network setup lookup look like?

[2018-11-11 22:19] cnkostas commented on #300
i have post a working fiddle thanks, i have try to edit layers,activation etc but the same the more training the more out of range
net102=new brain.NeuralNetwork()
net102.train(data, {
  activation: 'sigmoid',
  iterations: 30000,
  errorThresh: 0.005,
  log: true,
  logPeriod: 10,
  learningRate: 0.3,
  momentum: 0.1,
  callback: null,
  callbackPeriod: 1000,
  timeout: Infinity
});

[2018-11-11 23:10] Enitoni commented on #299
It's a bit complicated, which is why I omitted it, but here you go:

[code]

The public methods `add` and `run` is called elsewhere. The load function is not used because of said issue.

[2018-11-11 23:46] robertleeplummerjr commented on #300
Sorry, didn't see it.  On phone with kids running around playing and screaming.

[2018-11-12 04:18] cnkostas commented on #300
have a nice time.Please check it when/if you have time.

[2018-11-12 12:14] robertleeplummerjr commented on #300
Which values look out of range to you?

[2018-11-12 12:22] cnkostas commented on #300
the output mast be between 0 and 1 right?
t1_5: 6.39397701451827e-11,
t1_6: 1.6494860761561564e-13,
t2_3: 1.5359564731198816e-9,
t2_4: 7.427101156309845e-10,

question 1
can i use NeuralNetworkGPU() from node?
question 2
can i merge 2 trained nn?
question 3
can i split the train job NeuralNetwork() in 4 threads cpu?

[2018-11-12 13:14] robertleeplummerjr commented on #300
Those are exponentials.  They look like they much larger than they in fact are (I struggle with it too).  It is the "e-" that gives them away.  The form they are taking is like a scientific notation for a very very very tiny number.

If you put them in a console, and use `.toFixed()` you can get something more legible:

[code]

I believe javascript uses this notation for performance.

In node, it

[2018-11-12 13:15] robertleeplummerjr commented on #300
I believe this issue is actually a case of mistaken identity, and closing for the time being.

[2018-11-12 13:15] #300 closed, assigned to nobody

[2018-11-12 20:04] jorgelahoz commented on #299
The same here, the issue appears when exportinf/importing to/from JSON. For example:

[code]

Returns
[code]

[2018-11-12 20:08] cnkostas opened #301 "Question where and if NeuralNetworkGPU working"
i know that not working in node working in chrome or some where else or will work after brain.v2?can i train there with NeuralNetworkGPU and how an example if working.

[2018-11-12 20:09] #301 closed, assigned to nobody

[2018-11-12 20:10] cnkostas commented on #300
ok not working in node working in chrome or some where else or will work after brain.v2?can i train there with NeuralNetworkGPU and how an example if working.

of course i will get involved  .when i have free time i will tell you

[2018-11-12 20:14] robertleeplummerjr commented on #300
Ok, will look at this after work today, and will have this resolved with tests.  Ty for bringing it to my attention.

[2018-11-12 20:14] robertleeplummerjr commented on #300
I believe this might be a duplicate of https://github.com/BrainJS/brain.js/issues/282

[2018-11-12 20:14] robertleeplummerjr commented on #300
I'll continue tracking there.

[2018-11-12 20:15] cnkostas commented on #300
thank you

[2018-11-12 23:45] felangel commented on #299
I'm seeing this issue as well and after taking a quick look it seems like `DataFormatter.fromJSON` does not read `specialIndexes` which causes an exception to be thrown in `rnn.js`.

[2018-11-12 23:58] felangel commented on #299
@robertleeplummerjr I've created a PR which seems to address the issue at https://github.com/BrainJS/brain.js/pull/302.

[2018-11-13 11:41] robertleeplummerjr commented on #299
Reproduced.  Great find @felangel and everyone who worked on this.  Merging now, and will have a new version out within the next 10 minutes.

[2018-11-13 11:42] #299 closed, assigned to nobody

[2018-11-13 11:45] robertleeplummerjr commented on #299
Reproduction url: https://jsfiddle.net/robertleeplummerjr/jcvu0tx6/1/

[2018-11-13 11:48] robertleeplummerjr commented on #299
Fixed url: https://jsfiddle.net/robertleeplummerjr/jcvu0tx6/2/

[2018-11-19 04:37] nandihno commented on #227
I have notice something odd,
I have been receiving NAN and then i ran the network with log:true
I saw that the training error went to NAN.
digging a bit further i found that where sigmoid is calculated
specifically  where the weights and inputs are calculated, there would be occasions where the inputs array is much smaller.
so looking at the code you have
` var sum = this.biases[layer][node];
   f

[2018-11-19 09:31] cnkostas opened #306 "brain.NeuralNetworkGPU()"
i run the script with brain.NeuralNetworkGPU() to chrome and working but run from cpu

i nave amd card win7x64 chrome i need nvidia,linux to work?

[2018-11-19 12:45] robertleeplummerjr commented on #306
I apologize, but which is not working?  Make sure you update to latest brain.js and rerun `npm i` or `yarn`.  In node it will currently fallback to CPU, this will change after v2.

[2018-11-19 14:46] cnkostas commented on #306
sorry for my bad English i will explain.

what is the deference of NeuralNetwork() and NeuralNetworkGPU()?is that the first  one using the cpu and the other the gpu?

because when i run the script https://github.com/BrainJS/brain.js/blob/master/examples/gpu.html in chrome with the last browser.js the script is running and i have results but the job done by cpu's 1 thread just like NeuralNetwork()

[2018-11-19 16:54] robertleeplummerjr commented on #306
In node, there will be very little difference.  One (`NeuralNetwork`) runs using standard loops which are defined inside of brain.js.  The other (`NeuralNetworkGPU`) runs using gpu.js's architecture, which in node mode, _will fall back to CPU_, but in your browser will continue using WebGL2, or WebGL1, or fallback to CPU if neither of those are available.  It should be noted too that `NeuralNetwor

[2018-11-19 17:44] cnkostas commented on #306
i understand a lot thanks i will test further the  NeuralNetworkGPU.So i have a suggestion  a function  that test accuracy on the fly in callback training function

[2018-11-20 00:30] robertleeplummerjr commented on #227
I see your project uses leaky-relu: https://github.com/PetarIvancevic/node-neural-tetris/blame/6ed746f0d2c376e25a1171ccb02cc7b41475d7c1/config.js#L10

Have you tried using any different activation with the same results?

[2018-11-20 00:33] robertleeplummerjr commented on #306
They exist:
* GPU: https://github.com/BrainJS/brain.js/blob/f46edb90981d28f739d90e7052b692f4595b4c38/test/neural-network-gpu/index.js#L14
* CPU: https://github.com/BrainJS/brain.js/blob/f46edb90981d28f739d90e7052b692f4595b4c38/test/base/bitwise.js#L51

[2018-11-20 00:33] #306 closed, assigned to nobody

[2018-11-20 00:34] robertleeplummerjr commented on #282
Should be resolved now in v1.5.0, released yesterday.  Ty for finding!

[2018-11-20 00:34] #282 closed, assigned to robertleeplummerjr

[2018-11-20 05:43] cnkostas commented on #306
thanks

[2018-11-20 11:31] robertleeplummerjr commented on #306
Thank you as well.  It is thorough issues like this that help make killer ideas happen!

[2018-11-20 13:13] robertleeplummerjr commented on #208
Is this still an issue in v1.5.1?

[2018-11-20 13:17] robertleeplummerjr commented on #204
Now supported with TimeStep neural networks via the `run` method (https://github.com/BrainJS/brain.js#runinput---prediction) and even further via the `forecast` method (https://github.com/BrainJS/brain.js#forecastinput-count---predictions).

Ty guys!

[2018-11-20 13:20] robertleeplummerjr commented on #156
Not currently needed from trained models as they are precise enough.  If more precision is needed, simply don't export to function.

[2018-11-20 13:20] #156 closed, assigned to mubaidr

[2018-11-20 13:55] robertleeplummerjr commented on #113
Taking a step back and looking at this from a practical standpoint:  This can be accomplished using simply the run method, and different trained networks, _though not async_.

[code]

However, if we reduce the visual complexity of a trained neural network to what it actually is we get:

[code]

So quite literally a function that accepts one argument, and has an output, period.  It is hard to reduc

[2018-11-20 13:55] #113 closed, assigned to robertleeplummerjr

[2018-11-20 13:56] robertleeplummerjr commented on #227
Coming back to this: `leakyReluAlpha` may help with this, it was added around 1.5.0: https://github.com/BrainJS/brain.js#activation

[2018-11-20 14:03] robertleeplummerjr commented on #286
Added: https://github.com/BrainJS/brain.js#rnn-lstm-or-gru-output-too-short-or-too-long

Ty guys!

[2018-11-20 14:03] #286 closed, assigned to robertleeplummerjr

[2018-11-20 14:04] PetarIvancevic commented on #227
Ty all for trying to fix this. I'll tryout the leakyReluAlpha over the weekend to see how it will behave.
@nandihno The inputs "should" all be the same length. If they are not the same length then that is a bug 😂

[2018-11-20 15:13] robertleeplummerjr commented on #227
Ty @PetarIvancevic, will be super excited to hear how this comes along.  I'd love to implement reusable functionality into brain.js if you are interested in partnering up for this, if you see something worthwhile that is.

[2018-11-21 08:40] nandihno commented on #227
Npm updated to 1.5.0?
Also will be cool if there was a cdn 😊

[2018-11-21 17:56] ghost opened #307 "TypeError: Cannot read property 'hasOwnProperty' of null"
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/3oEjHLHrrN5rtyQEKs/giphy.gif)

## *What* is wrong?

An error occurs on start.
[code]
## *Where* does it happen?

In the trainer.

## *How* do we replicate the issue?

[code]

## *How* important is this (1-5)?

1

## Expected behavior (i.e. solution)

It should train and output `true` without error.

## Other Comments

[2018-11-21 18:40] robertleeplummerjr commented on #307
`  { input: 'Due to road conditions, schools in West Hants & Kings County closed today. Offices/Worksites in West Hants/Kings open 9 am.', output: null },`

Problem is that `null` simply isn't supported.

[2018-11-21 18:40] #307 closed, assigned to nobody

[2018-11-21 18:43] ghost commented on #307
Oh, 🤦‍♂️

[2018-11-21 18:46] robertleeplummerjr commented on #307
All good.  Kept me on my toes!

[2018-11-22 12:59] hrwndr opened #308 "brain.js is taking too long to train my email data"
### brain.js is taking too long to train my email data
Brain.js is taking way too long to train my data which is some emails in a json file. This is my first day in ML and i would really appreciate the help. iterations are 200.

### My Code:
[code]

[2018-11-22 13:07] fedorinov commented on #308
Hello, please provide your json file. I will be glad to help you.

чт, 22 нояб. 2018 г., 15:59 Harwinder Singh notifications@github.com:

[2018-11-22 13:12] hrwndr commented on #308
Thank you @fedorinov , here is my json file:
[data.json](https://bitbucket.org/hrwndr/brainjs-spamfilter/raw/fde342cff978b23cc187b0ea2f0955ec76fe625a/data.json)

[2018-11-22 15:34] robertleeplummerjr commented on #227
Yup: https://www.npmjs.com/package/brain.js
For CDN all one needs is to find one for either npm or github.  We have the browser.js file already compiled for browser when needed as well.

[2018-11-23 02:40] nandihno commented on #308
i ran the code and it seems that indeed it takes ages.
this happens with LSTM
have you tried encoding the inputs and running on sigmoid?

so to encode the array of words
let encode = (arg) => {
    let arr = arg.split('');
    return arr.map(ele => (ele.charCodeAt(0) / 255));
};

[2018-11-23 11:46] hrwndr commented on #308
@nandihno
Can u implement your encoding in my code?

[2018-11-23 13:39] robertleeplummerjr commented on #308
If the encoding script is faster, then we need to look at the encoder, and ensure it is caching, because this should be the already in place means.

[2018-11-23 15:22] fedorinov commented on #308
Fibi node want to sre how many percents ready to set working node . Nrt
need increasr this percent to hugo. We need train net with combination of
various types of nodes. I not understand many signs, but i see it. Please
if I do some errors plrase clear notify me and do new iteration. Add to
Fibi node  small nodes with excellent marks in skills. Fibi simple copy it
and students can copy more differ

[2018-11-23 18:45] robertleeplummerjr commented on #231
Clarity and direction for myself and the lib.

The original use case is for this data shape, which (from my naive guess) was just converted directly to `brain.recurrent.LSTM`:

Overly simplified origin example:
[code]

The reason this was failing was specifically because `faker.commerce.color()` returns a string, which isn't a slam to `faker.commerce.color()`, but because color is essentially infi

[2018-11-23 18:45] #231 closed, assigned to robertleeplummerjr

[2018-11-23 19:42] fedorinov commented on #231
Today I start to train Fibi net not for input color data, (sorry bad
english) prinetstvie
And Fibi cant undestand it in whole. I need you help to finish this train,
please.

пт, 23 нояб. 2018 г., 21:45 Robert Plummer notifications@github.com:

[2018-11-23 21:28] robertleeplummerjr commented on #308
Taking a look here guys: https://jsfiddle.net/robertleeplummerjr/82vmsafb/7/

Ran a couple profilers:
<img width="1264" alt="screen shot 2018-11-23 at 2 17 47 pm" src="https://user-images.githubusercontent.com/679099/48958051-9870e300-ef2a-11e8-9944-a39679f937b4.png">

and

<img width="1440" alt="screen shot 2018-11-23 at 2 18 22 pm" src="https://user-images.githubusercontent.com/679099/48958060-a

[2018-11-23 21:28] #308 closed, assigned to nobody

[2018-11-25 13:14] koriwi opened #310 "toJSON not working on NeuralNetworkGPU in Chrome 70"
## *What* is wrong?
Can't call toJSON() on NeuralNetworkGPU

## *Where* does it happen?
Windows10 and MacOs Mojave in Chrome 70 on GTX1060 or Intel iGPU

## *How* do we replicate the issue?
- Train a NNGPU in your browser.
- console.log(net.run(bla)) -> successfull output
- net.toJSON() -> `Cannot read property '0' of undefined`
It happens here:
https://github.com/BrainJS/brain.js/blob/78f369f4a62

[2018-11-25 14:53] robertleeplummerjr commented on #310
I'll fix this later today.  Ty for finding.

[2018-11-25 15:16] koriwi commented on #310
No Problem :)
Thanks for your always fast response!
Brain.js rocks. And biggest partly because of you!

[2018-11-26 19:42] #310 closed, assigned to nobody

[2018-11-28 22:13] robertleeplummerjr commented on #229
Fyi, this is now supported in https://github.com/BrainJS/brain.js/pull/311

[2018-11-29 01:58] LiamDobbelaere commented on #208
Looks like it. I installed 1.5.1 (also tried 1.5.2) and ran the same example. It's still the same problem, always goes to Potty no matter what.

[2018-12-07 13:26] Jeroendeeerste commented on #245
@cjkini  Could you perhaps share the whole node red flow you are using? Very interested, but i still can not fully find out how to get it working,

[2018-12-10 11:45] fgigg opened #314 "Join two neural networks"
Hey guys. Im having an issue. I've gone through all the documentation and issues and I haven't found a way to join two neural networks together. Please can you help

[2018-12-10 23:13] Alexqw101 opened #315 "NN not working after loading from json"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?

I train network and do `net.run(element)` and it return good number (for example 0.57).
I save network to JSON `let json=net.toJSON()` and load it `net.fromJSON(json)` and make `net.run(element)` and it return 1.00 in output with same NN json data.
## *Where* does it happen?

When I trying save and load NN.
Windows 10 n

[2018-12-11 08:08] robertleeplummerjr commented on #314
In what way would you join them?

[2018-12-11 08:11] fgigg commented on #314
Thanks for the speedy response. Im doing the training in segments and saving it to json files. When I load a file and l load another to a different net, I would like to be able to join them with all the training intact. Is this at all possible?

[2018-12-11 10:03] fgigg commented on #314
The reason why im asking is so that many people can train a network in segments and then just join them together to create a single network. Thus completing a project faster.

[2018-12-11 13:30] Alexqw101 commented on #315
After loading from json NN activation set to "sigmoid", but in json activation is "leaky-relu"
![image](https://user-images.githubusercontent.com/36042493/49803834-022e2100-fd62-11e8-8242-0e2c7f81098b.png)

[2018-12-11 17:20] cnkostas opened #316 "how to get next step of sequense?"
[code]

from this code i got output 9,3.how to get 10?

[2018-12-12 02:07] robertleeplummerjr commented on #314
If you train in segments, you will be fitting to just that dataset.  I believe you will likely always get very weird results in real world scenarios, especially if we use more than one layer.  Consider:

* Does some of my data repeat?  Will my training sets be guaranteed not to?
* If I have 3 layers, each with three neurons, and one instantiates and trains with a heavy activation on the first neur

[2018-12-12 02:07] #314 closed, assigned to nobody

[2018-12-12 18:02] ahmetcanaksu commented on #316
https://github.com/BrainJS/brain.js/blob/master/examples/predict-numbers.js

[2018-12-13 21:39] robertleeplummerjr opened #317 "Propose really easy reinforcement learning API for v3"
![A GIF or MEME to give some spice of the internet](http://robot.cfp.co.ir/files/0501.gif)

## *What* is wrong?

## *Where* does it happen?

## *How* do we replicate the issue?

## *How* important is this (1-5)?

## Expected behavior (i.e. solution)

## Other Comments

[2018-12-14 21:12] robertleeplummerjr commented on #315
I have a fix for this, and will post it probably tomorrow sometime.  Internet it a bit spotty at the moment.

[2018-12-16 03:05] LooOOooM opened #318 "More Documentation about GPU setup"
## *What* is wrong?
Cannot get gpu-fallback to fly, even I did install "npm install" and installed cuda running on Gforce GT 730

## *Where* does it happen?
 Win 10 (nodejs 10)

## *How* do we replicate the issue?
fresh install nodejs 10; latest cuda, frash clone brain.js, npm install

## *How* important is this (1-5)?
 3

## Expected behavior (i.e. solution)
 A more detailed dokumentation is need

[2018-12-22 10:50] robertt opened #320 "Output is NaN when analysing strings"
## *What* is wrong?
My output for the ran model is NaN, but the training error seems to be okay.

## *Where* does it happen?
In a NeuralNetwork when trying to run a net in node.js on my desktop (windows)

## *How* do we replicate the issue?
I am using typescript, but the code is here: https://gist.github.com/Haxified/a5bb1aab2bd6c8a2328efe09ee280f60

This is the output: https://gist.github.com/Hax

[2018-12-24 14:51] robertleeplummerjr commented on #320
The encode function isn't adding zero's for sufficient length.  So "hey", is normalized to an array with a length of 3.  Here is a working version: https://jsfiddle.net/robertleeplummerjr/s74gahoL/16/

[2018-12-24 14:51] #320 closed, assigned to nobody

[2018-12-24 15:01] robertleeplummerjr commented on #317
Proposal for basic feed forward style class:
[code]
Proposal for "episodes" style class:
[code]

Inputs and outputs work like that of a standard net.  Reward function:

[code]

[2018-12-24 15:53] #315 closed, assigned to nobody

[2018-12-24 16:27] robertleeplummerjr opened #321 "NeuralNetworkGPU references `value.target`"
I already have the fix for this, but want to track it.

[2018-12-24 17:21] robertleeplummerjr commented on #318
I found the issue and will have a fix in before the day is through: https://github.com/BrainJS/brain.js/pull/322

[2018-12-24 17:27] robertleeplummerjr commented on #316
Indeed as referenced (new feature, ty for inquiry!):

[code]

Example: https://jsfiddle.net/robertleeplummerjr/pyqrsdtx/3/

[2018-12-24 17:27] #316 closed, assigned to nobody

[2018-12-24 17:29] #166 closed, assigned to nobody

[2018-12-27 16:23] robertt commented on #320
No but thats what the fixLengths() function does

[2018-12-27 16:58] robertleeplummerjr commented on #320
It was not being applied to when the `.run()` method was called.

[2018-12-27 17:28] robertt commented on #320
It does though, because it ran the serialize function when it did .run()

```export const serialize = data => fixLengths(encodeData(data))```

[2018-12-27 19:57] robertleeplummerjr commented on #320
The entire `analyse` function you have defined as:

[code]

Note `serializer.encode(data)`, which is defined as:

[code]

Here you define a new array, `newArr`, split `d` by every character, then `push` those value's keycode divided by readable character index (255) directly to `newArr`, HOWEVER, you then return `newArr`.  THIS IS IMPORTANT.  Going back to your `analyse` function:

[code]

You are

[2018-12-28 16:50] robertleeplummerjr commented on #321
Resolved with above reference.

[2018-12-28 16:50] #321 closed, assigned to nobody

[2018-12-28 16:58] robertleeplummerjr commented on #318
https://github.com/BrainJS/brain.js/pull/322 ended up resolving this, which was released here: https://www.npmjs.com/package/brain.js/v/1.6.1

Tested in node via just now (been busy with work and work ;) ):
[code]

Which outputs:
[code]

As we'd expect.  I'm going to go ahead and close, but please keep me up to date if there are any updates here, good or bad.

ty!

P.S. To clarify, this is CPU fal

[2018-12-28 16:58] #318 closed, assigned to nobody

[2018-12-29 00:41] mbflex opened #327 "Bug: Combination of serializing / simplified output data does not work"
I am using brain.js for digit-recognition (see: https://www.kaggle.com/c/digit-recognizer)

I am using brain.js like this:

[code]

Similar to your example:

[code]

I found this works fine - except in the case of a combination with serializing / loading in the state of a trained network with JSON:

[code]
If serializing is needed, the output part for the train data records must not be declared as

[2018-12-29 04:04] rwest202 opened #328 "Better errors for function parameters"
## *What* is wrong?
Utility functions should notify you when you make some basic mistakes, like forgetting to pass in a required parameter.

## *Where* does it happen?
`likely` is one of the functions. It may be happening in more.

## *How* do we replicate the issue?
brain.likely(input)
This will give you an error like so,
[code]
However, it should give you an error like, `Required parameter 'net'

[2018-12-29 11:47] robertleeplummerjr commented on #317
In addition to `Reinforce`, there is another part of reinforcement learning that is super important for winning at games, like Chess, which is used for exploration.  As far as I'm aware the state of the art best practice is the "Monte Carlo" algorithm and I'd like to at least consider how to generalize an implementation of this where the net can have this fit in like a puzzle piece that is super s

[2018-12-30 11:55] robertleeplummerjr commented on #328
I really think this is a good suggestion.  If you don't mind, I'd like to reopen.

[2018-12-30 15:41] mbflex commented on #328
I am afraid that the TypeError message comes from the underlaying Java Script framework and can't be changed by the developers of the brain.js library, obviously.

Please note also, that the variable `net`  in `net.run(input)` is not a "function parameter" but the object which provides the method.

[2018-12-30 19:55] mbflex commented on #327
Code for testing -
Uncomment the two marked lines, and you will get opposite results:

[code]

[2018-12-30 20:06] spiffytech opened #331 "LSTM with many numeric inputs"
![A GIF or MEME to give some spice of the internet](https://i.imgflip.com/2q1vj0.jpg)

## *What* is wrong?
Training LSTM crashes with `RangeError: Invalid typed array length: 2191129290`

## *Where* does it happen?
Training an LSTM network with a large number of numeric inputs.
[code]

## *How* do we replicate the issue?
I'm trying to make a stock predictor that takes the values of many stocks fro

[2018-12-31 01:51] spiffytech commented on #331
It looks like I'm using the LSTM incorrectly. I was under the impression the trainer would sequence my timeseries training set, but instead it looks like training data pieces are trained independently, with each input array being an independent sequence of events.

In that case, is there a way to use an LSTM while supplying additional input neurons representing additional data? E.g., for stocks, a

[2019-01-01 01:09] Prentillion opened #333 "Failure to resume training"
## *What* is wrong?
Neural Network doesn't seem to lose old training progress when training is continued with more data

## *Where* does it happen?
Training a neural network then continuing to train it later.
Same result produced when loaded from JSON, new training significantly overrides old training

[code]

## *How* do we replicate the issue?
Example with an XOR gate
[code]

Current result:
[co

[2019-01-01 12:35] geokontop commented on #333
I think that you should't expect that kind of partial training behaviour.

You are asking the network to train itself and that is what it does. It readjusts taking into account only the new training set. The previous training serves as initialization, which is quite insignificant. Its influence faints with each iteration if the validity of the old dataset statements is not reaffirmed. As a result,

[2019-01-01 14:06] robertleeplummerjr commented on #333
Well started @geokontop, this is in fact by design.  Training data must be explicit.

[2019-01-01 14:06] #333 closed, assigned to nobody

[2019-01-02 19:20] vorticalbox opened #334 "Neural network"
say I was using the colour example and there was a colour that would look fine with both black and white how would I have the training data?

[code]

or

[code]

[2019-01-02 22:24] good-old-times opened #335 "BrainIDE: the brain.js ide based on electron."
![A GIF or MEME to give some spice of the internet](https://66.media.tumblr.com/276de5711210f3797350dc2849beea17/tumblr_mfxafoHyfw1rsq9eyo1_500.gif)

## *What* is wrong?

Nothing
## *Where* does it happen?

https://github.com/misha-marinenko-official/BrainIDE
## *How* do we replicate the issue?

## *How* important is this (1-5)?

5
## Expected behavior (i.e. solution)

feature

## Other Comments

[2019-01-02 22:30] robertleeplummerjr commented on #335
Very interesting!  Is there a link to see it in action?

[2019-01-02 23:18] good-old-times commented on #335
https://github.com/misha-marinenko-official/BrainIDE#run-it

[2019-01-03 09:59] matAtWork opened #336 "Predict using net.run(<array of inputs>)"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?
Running the NN on a large array of inputs in a loop is pretty slow using GPU (much slower than CPU)

## *Where* does it happen?
It appears to be because the GPU kernel and/or textures are created afresh on each call to net.run(). I have an inkling this would be alleviated if all the inputs could be treated as one texture

[2019-01-03 12:21] DanielMazurkiewicz opened #337 "Web machine learning @ W3"
Guys (and Girls? :-) ),

There is W3 community that tries to work out a standard for machine learning for web. It is great idea, but I'm strongly afraid that they will make another crappy standard that we all will have to live on later. I find Brain.js API very close to something I would expect from standards for web scripting - simple to use, simple to learn, doing its work. I'm worried also that

[2019-01-03 13:23] robertleeplummerjr commented on #336
Do you have source you can share?  This is a part if the net that simply needs refined.  We were really just waiting (waiting for the righ use case) to get to this point so we could optimize without doing so prematurely.

[2019-01-03 14:33] robertleeplummerjr commented on #337
Hi @DanielMazurkiewicz!  This does sound awesome.  Have you looked at https://github.com/BrainJS/brain.js/wiki/Roadmap as well?  This is our 2.0 roadmap.  We're currently implementing it, and we're starting planning on v3, here: https://github.com/BrainJS/brain.js/issues/317.

I'm interested in this, but it will take more energy than just me.  If we are going to do this, we need to form a team of

[2019-01-03 15:16] MatAtBread commented on #336
I've just created an example here: https://github.com/MatAtBread/img-brain-example

Clone, `npm i` and `npm run web`, then go to `http://localhost:8080/` in your browser.

Click `Go` so you can see what it (tries) to do. The first image is the sample training set, the second is the output of `runNet()` and the third is the differences between what it's learnt and the original image. After 5000+ it

[2019-01-03 15:18] MatAtBread commented on #336
FYI, with the "GPU" checkbox, if I leave it to struggle on my Windows 10 machine with an NVIDIA 550 Ti (old, but servicable), I get a BSOD after a while. Prior to that, the entire 1Gb of video RAM gets used up.

[2019-01-03 15:30] robertleeplummerjr commented on #336
This is a beautiful example!

One of the first things (naively looking over code, and could be wrong) that needs done is to write a GPU version of your "dot" function: https://github.com/MatAtBread/img-brain-example/blob/master/www/index.html#L113

The reason is that the more we can keep things on the GPU, the easier and faster things will be.

That'll get us a large part of the way where we need

[2019-01-03 15:42] MatAtBread commented on #336
I'm glad you like the example - TBH it's my learning project. The real project is a text classification one, but I wanted to learn how parameters like hiddenLayers and learningRate, etc. affect results - hence the example.

The `dot` routine is naive (hey - it's an example!), however it's "ok" as it is (it works in CPU mode). The issue is the call to `net.run(...)` in a loop. I added a bunch of de

[2019-01-03 15:46] robertleeplummerjr commented on #336
I didn't mean that, and it is ok to have a CPU version and a GPU version, in fact, I'd recommend it.  What I meant is that the CPU and memory created by it may actually be very slow, as it starts on the CPU and is transferred to the GPU when the `net.run()` method is called.  But perhaps not.  Have you run a profiler yet on this code?  If not, turn down the iterations to something that doesn't cau

[2019-01-03 15:50] MatAtBread commented on #336
The `iterations` is almost never reached - there's a 1sec timeout which is when it updates the display...but I take your point entirely. I'll do a bit of profiling and work out exactly where net.run CPU / GPU impls differ. If anything exciting shows up I'll post it up here.

[2019-01-03 15:52] robertleeplummerjr commented on #336
Awesome.  I will take this thread very seriously, as you are testing experimental stuff that is the basis of the whole v2 strategy.  Ty for your hard work and testing!

[2019-01-03 17:39] MatAtBread commented on #336
Sadly, despite my best efforts, using the GPU hangs/crashes the PC every time. I even reduced `iterations` to 1 (and increased the `timeout` to 10 secs, otherwise it would return from training with `iterations:0`), and commented out the calls to draw the SVG and `runNet()`. Either my old GPU isn't up to the task, or there's some nasty leak that means it thrashes itself into oblivion.

Without the

[2019-01-03 17:50] robertleeplummerjr commented on #336
These function allocate _all_ training data to textures, which may be the problem.  What about using like 10 or 20 items for training, and then trying profiling?

[2019-01-03 19:40] MatAtBread commented on #336
At the moment - same result. I'll try a few experiments to work out exactly where it goes pop. Going down to 50 samples, it trains (can't vouch for the quality of the data), but the `runNet` loop seems to kill it. I'll cut that down too and see if I can find out where.

[2019-01-03 19:47] DanielMazurkiewicz commented on #337
Hi @robertleeplummerjr !

Yes, I've seen it. I don't know how about you, but I would like NN to be easily exchangeable not only within JavaScript runtimes, but also with other programming languages, and for that JSON format of storing NN architecture (also for recurrent NN) is much better in my opinion. So as for the new versions of Brain.js I would prefer more JSON descriptive formats instead of

[2019-01-03 20:17] robertleeplummerjr commented on #337
You share my desire, and I feel a large part of the community's as well.  I've always wanted to do a quick port to c++, c#, java, and php, just for the sake of offering an easy api to everyone.

**Short answer:** I love this strategy!  This actually is already mostly adopted in the `fromJSON` method, but I agree, it should be very easy to invoke.  As for instantiation, that'd easily be part of the

[2019-01-03 20:19] robertleeplummerjr commented on #336
We'll get it, like stink on a monkey!

[2019-01-04 10:02] matAtWork commented on #336
Hey. I cut up my code and this trace trained on 97 samples and then called run 10 times (in a function called `tenTimes`). It doesn't update the canvas or draw the SVG. Kind of as expected, the 'big' delay is (for both training and running) in `runInput`. Also as expected, training on 97 samples isn't 9.7 times slower than running 1 input 10 times - the overhead is in allocating the GPU resources.

[2019-01-04 10:06] matAtWork commented on #336
...oh, and today I'm on my MacBook Air, with some nasty `Intel HD Graphics 5000 1536 MB` GPU. However, maybe that explains why it doesn't reliably hang, like it does on WIn10 with the 550 Ti?

[2019-01-04 14:33] DanielMazurkiewicz commented on #337
We are on same page here. But if it comes to standardization that additionally should work among variety of different hardware (cpu, gpu, dsp, fpga...) I think it is easier to stick to JSON that can be quite easily "compiled" to work on selected hardware, than having a custom JS code that will have to run somewhere in between hardware and JS runtime. I think better to focus on JSON descriptive for

[2019-01-05 09:40] generic-matrix opened #340 "brain.js not updating the trained data - saving the same old data ?"
Hello,
The **trained_net.json** saves the same old trained data, the new trained data is not being reflected and the same old trained data is shown.

If the json file is empty ,the new training data is saved.

Here is the code :

[code]

How do I need to fix this ?
**Any suggestions**

[2019-01-06 14:56] vorticalbox opened #341 "Neural network output values over 1?"
## *What* is wrong?
after training on iris data https://archive.ics.uci.edu/ml/datasets/Iris/ output of one iris is massively higher than the others

## *How* do we replicate the issue?
download the csv of data

[code]

## *How* important is this (1-5)?
3

## Expected behavior
[code]
should be more like

[code]

## Other Comments

training results
[code]

[2019-01-06 14:58] mubaidr commented on #341
I think you missed `e-13` in the result?

'Iris-virginica': 2.462011443240403**e-13**

[2019-01-06 15:02] mubaidr commented on #340
If the training data is being saved when the json file is empty, this means net gives correct output. Maybe the net has very small changes or no changes with the new training data?

How are you comparing the two training data outputs?

[2019-01-06 15:04] vorticalbox commented on #341
The input I used in the .run is Iris-setosa and that came out as 0.99 almost perfect.

is there where the float is long i'm getting the notation rather than the number?  if so is there anyway to get the network to just round so I don't get values like this?

[2019-01-06 15:07] mubaidr commented on #341
`Iris-virginica` has a very low value, read it again, please. You have missed e13 in it. Your output is perfect.

`Iris-virginica` result is written in scientific notation.

[2019-01-06 15:09] generic-matrix commented on #340
Hello,
No , the JSON is not empty, but the neural network is not taking the new epoch.
i tried even with the huge data set, but no success

[2019-01-06 15:09] vorticalbox commented on #341
Thanks, I worked that out after I re-read your comment. I am guessing this is just a javascript thing with floats?

the result is actually
[code]

[2019-01-06 15:10] robertleeplummerjr commented on #341
It's exponent values.  An effort to make it more computationally easy and/or visually friendly.  13 zeros vs 2 zeros.  Happens to the best of us.

[2019-01-06 15:10] #341 closed, assigned to nobody

[2019-01-06 15:11] vorticalbox commented on #341
is there an option to stop it from doing this and just return the float?

[2019-01-06 15:19] generic-matrix commented on #340
So during the first runtime : this is my JSON epoch

[code]

trained_net.json file has:

[code]
**net.run** has **[1,1,1]**

Output:
**New learning starts.
[code]
Float32Array [ 0.9224998354911804, 0.9217116832733154 ]**

**2nd RUN:**
**Epoch:**
[code]

**Input is the same as the prior run**
**OUTPUT**
`{ '0': 0.09986059367656708, '1': 0.0954338669776916 }`

**trained_net.json:**

[code]

**So, th

[2019-01-06 15:22] generic-matrix commented on #340
Hope this helps you ,I found this library very useful but this bug * (maybe or my method of using it ) is rendering the library to be unusable
And
epoch will  increase for every training sessions
Any working code, tweaks to fix this or suggestions are welcome

[2019-01-06 15:26] mubaidr commented on #340
Trained data is clearly updated compared to the old one. New training data has updated weigjts of the network, so does the new ouput is expected to change.
I don't see any issue here.

@robertleeplummerjr

[2019-01-06 15:27] robertleeplummerjr commented on #341
Sadly it is a core part of javascript, but it _is_ a float, and is really just for displaying purposes only.  I wouldn't worry about it.

[2019-01-06 15:29] generic-matrix commented on #340
I will try with big data set

[2019-01-06 15:29] robertleeplummerjr commented on #341
The other option you can go with is formatting the output as a string, such as using `.toFixed(14)`.

Example:
[code]

[2019-01-06 15:34] generic-matrix commented on #340
Please refer the image
https://drive.google.com/open?id=166sDJhd6uQcJPO1RyAV5WID71-eW-H4i
Inputs are same in both the runs but the output is different ,

**It always shows the current trained data set output, not from the prior trained set**

Refer even this: 2nd run (See how the prediction changes)
https://drive.google.com/open?id=1u7DlVvfvAB9lBketzP4U7S4_ewacDgPj

**Expected output:**
https://dr

[2019-01-06 16:16] robertleeplummerjr commented on #340
I have your first output as: `0.9224998354911804, 0.9217116832733154`
And you second output as: `0.09986059367656708, 0.0954338669776916`

Am I misreading something?  The outputs are substantially different.

[code]

[code]

[2019-01-06 16:16] robertleeplummerjr commented on #340
Also: `keepNetworkIntact` option doesn't do anything anymore, you achieve the same functionality by loading the json from `net.fromJSON(JSON_HERE)`.

[2019-01-07 01:15] generic-matrix commented on #340
Hello,
I have used `net.fromJSON(learnt);` in the examples.
So, the neural network after net.fromJSON() must take the new training (epoch) with respect to the prior learning data set.
Now, the problem is either  in `net.toJSON()` new epoch is considered  or the old one .
i had seen the prior issues ,this was fixed by appending the inputs (training data).
Yes ,the outputs are very different (the va

[2019-01-07 06:56] generic-matrix commented on #340
So, how about transferred learning, Can I get example to implement in brain.js  and is it possible ?

[2019-01-07 11:59] robertleeplummerjr commented on #47
This is now completed with https://gist.github.com/robertleeplummerjr/713a47d5fd63e8e189f8cf5cbc0649cd in brain.js 1.6.0+ for recurrent time step neural networks.

[2019-01-07 11:59] #47 closed, assigned to nobody

[2019-01-07 12:17] robertleeplummerjr commented on #340
@kautubh The concern you raise is not an accident, but by design. Example: https://jsfiddle.net/robertleeplummerjr/81L9rzpt/3/

We try to make the net implementations as simple as possible, but one thing we do not want is to add "magic", and it seems adding new training data and allowing the net to maintain previous training data would border on that.  You must give the network exactly what you wa

[2019-01-07 13:52] philippscheer opened #342 "LSTMTimeStep can't forecast a simple array of numbers..."
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/I7kkegrRyNrk4/giphy.gif)

## *What* is wrong?

LSTMTimeStep cannot correctly predict a simple array of numbers

## *Where* does it happen?

When I want to use forecast()

## *How* do we replicate the issue?

Just use my code, it's simple:
[code]

## *How* important is this (1-5)?

2

## Expected behavior (i.e. soluti

[2019-01-07 14:40] arya-s opened #343 "Binary input, output is NaN"
## *What* is wrong?
Output is NaN. I'm not quite sure why, it seems to be similar to #320 and #292 but my training data input and my run input are of same length.

## *Where* does it happen?
In a NeuralNetwork when trying to run on equal length input data representing binary numbers.

## *How* do we replicate the issue?
The code is here:
http://jsfiddle.net/juxbmhd5/

## *How* important is this (1

[2019-01-07 14:57] mubaidr commented on #343
Your input format was wrong, updated here: http://jsfiddle.net/juxbmhd5/1/

[2019-01-07 14:57] #343 closed, assigned to nobody

[2019-01-07 15:01] mubaidr commented on #334
Second one should be the chosen one. Because both colours are Correct 100% (1) in this case not 50% (0.5). 👍

[2019-01-07 15:01] #334 closed, assigned to nobody

[2019-01-07 15:02] mubaidr commented on #334
@robertleeplummerjr confirm please

[2019-01-07 15:45] robertleeplummerjr commented on #334
TL;DR: use `{ black: 1, white: 1 }` for this case

TS;DR:
If you are classifying using binary, the second one would be correct, but you may not get out what you think, or want.  I've ran into situations where if given `{ output: { black: 1, white: 1 } }` in training, I get: `{ black: .5, white: .5 }` when running.  I'm not honestly sure why training led to it, and I cannot reproduce here: https://

[2019-01-08 12:33] robertleeplummerjr commented on #331
You are simply using the wrong neural network.   Use `brain.recurrent.LSTMTimeStep`.

https://github.com/BrainJS/brain.js/blob/master/src/recurrent/lstm-time-step.js

[2019-01-08 12:33] #331 closed, assigned to nobody

[2019-01-08 13:06] robertleeplummerjr commented on #327
The issue is somewhat to do with duck typing and and the key "0".  The net expects that if you use objects, use keys other than "0", but if you use arrays, obviously you'd have "0" as a key.  You are using objects with key "0", and the net is falling into an unhandled state (limbo?).

The easy answer is: just use keys, like "zero", "one", "two", etc.: Working example: https://jsfiddle.net/robertle

[2019-01-09 04:15] binary-person commented on #65
The performance does really suffer when it comes to strings in lstm. There's a better alternative of using brain.js though: https://github.com/lordpoint/neural-network-author-classifier but I really _really_ look forward to see lstm perform at least half the speed of the neural network.<br>
In the browser on a chromebook, its even worse, a 8 letter phrase combined with another 6 letter phrase take

[2019-01-09 05:01] mubaidr commented on #342
~~I believe this is the issue with the learning rate value at default value this runs as expected:
http://jsfiddle.net/mubaidr/8yeo2jmd/10/~~

This is some strange behavior, output change dramatically between different runs:
http://jsfiddle.net/mubaidr/8yeo2jmd/21/

@robertleeplummerjr can confirm please?

[2019-01-09 12:56] matAtWork commented on #336
I've been working my way through this it's because each training sample/output is passed as a separate texture which I think causes the large overhead, soecifically in routines like https://github.com/BrainJS/brain.js/blob/master/src/neural-network-gpu.js#L353

Is there a reason why you don't treat significant chunks of input data as a single texture?

[2019-01-09 16:11] robertleeplummerjr commented on #336
I think the original thought was that one giant texture may perform less ideally than a bunch of tiny ones.  But honestly, we were building a proof of concept for [the next generation of brain.js](https://github.com/BrainJS/brain.js/wiki/Roadmap), which is [mostly done](https://github.com/BrainJS/brain.js/tree/develop) and the invitation is open to assist making it faster.

[2019-01-09 16:34] robertleeplummerjr commented on #342
http://jsfiddle.net/mubaidr/8yeo2jmd/21/

@mubaidr: You are using RNN as your first example, which will suffer from exploding or vanishing gradient, which is why both GRU and LSTM were invented (not by me, [but in 1997 by Sepp Hochreiter and Jürgen Schmidhuber](https://en.wikipedia.org/wiki/Long_short-term_memory)).

The variance between GRU and LSTM is simply because GRU tries to be a bit more pe

[2019-01-09 17:09] mubaidr commented on #342
I was not talking about the difference of results within RNN, GRU or LSTM results. On jsfiddle, running jsfiddle multiple times would sometimes output result dramatically different for the same network. But anyway to the main issue. 👍

[2019-01-10 13:41] DanielMazurkiewicz commented on #337
Just a small reminder to anyone who want to share his knowledge/opinion/give likes/dislikes ;-):
https://github.com/webmachinelearning/webnn/issues/3

[2019-01-10 16:04] robertleeplummerjr commented on #337
Ty @DanielMazurkiewicz for the update!

[2019-01-10 19:03] vorticalbox opened #345 "Let's learn a game"
## *What* is wrong?

I was actually thinking today about using brain.js to learn how to play tic-tac-toe

The input would be simple with an array like

[code]

# is empty
O player
X the network.

I'm not sure this is possible currently just really looking for tips on how to start.

## *How* important is this (1-5)?
I plan on using brain.js networks at work* so 4 to me probably 1 to everyone else.

[2019-01-10 20:42] robertleeplummerjr commented on #345
I think this can be well solved here: https://github.com/BrainJS/brain.js/issues/317

[2019-01-12 23:59] ktodyruik opened #346 "Question about next steps"
Hi. This is just a question. I hope this is an appropriate place to ask it.

I'm new to neural networks and ML. Brain.js, the docs, and "A fun and practical introduction to Brain.js" has been a great hands-on way to get started and learn about this subject area. I have two questions I was wondering if I could get some help with.

1. What are some suggested next steps to continue learning about neu

[2019-01-16 18:31] DanielMazurkiewicz commented on #317
Just some idea... :

[code]

@robertleeplummerjr Where can I find current V3 API proposal?

[2019-01-17 12:11] 1080772AntonioDidier opened #347 "LSTMTimeStep fromJSON not working"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?
fromjson not working with LSTMTimeStep

## *Where* does it happen?
net.fromJSON returns undefined

## *How* do we replicate the issue?
var net = new brain.recurrent.LSTMTimeStep({
        inputSize: 2,
        hiddenLayers: [10],
        outputSize: 2
    });

    net.train([
        [1, 3],
        [2, 2],
        [3, 1

[2019-01-22 11:12] matAtWork commented on #336
Hi Robert, I might have some time to look at this. Have you made a decision as to whether to implement a `runCollection` or `runArray`? In the non-GPU case, a simple naive loop would probably suffice, and in the GPU-case a texture containing all the inputs would, from my tests, help a lot.

Whereas my JS is pretty good, my knowledge of GPUs is non-existent, but I'm happy to have a go if you could

[2019-01-22 13:51] DavyKoravand opened #348 "NeuralNetwork.toJSON() fails for newly created neural networks"
## *What* is wrong?
Newly constructed NeuralNetwork objects will give an error when stringifying it as JSON. This happens when using .toJSON or JSON.stringify().

## *Where* does it happen?
In the NeuralNetwork. My OS seems irrelevant here, but I'm running Windows 10.

## *How* do we replicate the issue?
`JSON.stringify(new brain.NeuralNetwork());`

## *How* important is this (1-5)?
2

## Expected

[2019-01-22 14:01] mubaidr commented on #348
Seems like to caught the bug? would like to create a pull request? 🥇

Otherwise @robertleeplummerjr will handle this

[2019-01-23 17:00] npolevara opened #350 "How can i train neuralnetwork with multidimensional array on input"
For example with this?
const trainingData = [
    { input: [[0, 1, 0],[0, 1, 0],[0, 1, 0]], output: [0] },
    { input: [[1, 1, 0],[1, 1, 0],[1, 1, 0]], output: [1] },
    { input: [[0, 1, 1],[0, 1, 1],[1, 1, 0]], output: [1] },
];

[2019-01-28 22:09] hellsan631 opened #351 "Hidden Layers missing when passed in under train()."
![where did they go?](https://media.giphy.com/media/Yiw4aLjpxldhC/giphy.gif)

## *What* is wrong?
```hiddenLayers``` isn't respected when passed into train(data, config).

## *Where* does it happen?
Most recent version of Brain.js

## *How* do we replicate the issue?

[code]

## *How* important is this (1-5)?
4

## Expected behavior (i.e. solution)
Warning should be thrown that the hidden layers w

[2019-01-31 08:57] dmtrKovalenko opened #352 "Image recognition"
![image](https://user-images.githubusercontent.com/16926049/52042474-f8e15980-2545-11e9-8298-24abfe7078fd.png)

Thanks a lot guys for creating such awesome tool for neural networks for javascript community.
I have tried brain.js for creating NN for image recognition. Super-simple one - do the image contains [samoyed](https://www.google.com/search?biw=2273&bih=1216&tbm=isch&sa=1&ei=t7ZSXL-EF6XLjgTY

[2019-01-31 14:20] DanielMazurkiewicz commented on #352
Hi!

You can do some basic image recognition with brain.js, however, if you plan to make some more advanced image recognition then you'll rather need convolution type of neural net layers (check this lib https://cs.stanford.edu/people/karpathy/convnetjs/ for details)

Images 64x64 will contain 4096 three color pixels, so at the start you'll get 12k variables to process by each neuron, reducing it

[2019-01-31 15:11] robertleeplummerjr commented on #352
TL;DR
Currently, in v1, it is not ideal.  It uses CPU.

TS;DR
This is the single most active part of what is going on in Brian.js.  In fact the not yet working example for mnist ( https://github.com/BrainJS/mnist-demo/blob/gh-pages/index.js#L1 ) is sitting, waiting, and ready.  I've been focused on bringing Node GPU into the mix, via the dependency GPU.js here: https://github.com/gpujs/gpu.js/tree

[2019-01-31 15:14] robertleeplummerjr commented on #352
Also, the other thing that is needed is convolutions, and the existing implementations that are released in v1, are just feedforward or rnn, lstm, or gpu.  You could use the NeuralNetwork class with the CrossValidator, and that will likely give you better results as described here:  https://golb.hplar.ch/2019/01/machine-learning-with-brain-and-tensorflow-js.html

[2019-01-31 15:53] dmtrKovalenko commented on #352
Thanks a lot for awesome description. Feel free to close the issue.
P.S. I think this issue will be very helpful for other users

[2019-01-31 23:48] jtsmedley opened #353 "Can you call net.train multiple times to add new data"
![A GIF or MEME to give some spice of the internet](https://www.bing.com/th?id=OIP.CNvqYTaDHcLqX4xW1AsFlAEsDI&pid=Api)

## *What* is wrong?

Documentation Confusion

## *Where* does it happen?

Can you call net.train multiple times on the same net to add new learned data

## *How* do we replicate the issue?

I could write the code for the neural network, but I'm unsure how to test if it retains da

[2019-02-01 13:24] DanielMazurkiewicz commented on #353
You should be able to train NN again with new data only, but keep in mind that training will be performed on these new data only - the benefit will be that you'll just adjust your NN to new similar data instead of training from scratch. If your new data is something that adds up with old ones (you expect NN to behave well with situations presented in old and new data) then you should join these da

[2019-02-01 20:05] jtsmedley commented on #353
Thank You for this.  Solves my problem as I do expect historical data to be accurate.

![hg_001](https://user-images.githubusercontent.com/38006759/52150935-16dab700-2637-11e9-8157-ac7c4dd30695.jpg)

[2019-02-01 21:36] jtsmedley commented on #353
Added image.

[2019-02-01 21:36] #353 closed, assigned to nobody

[2019-02-02 00:52] josiahbryan commented on #352
@robertleeplummerjr I'm back into the part o the year where I have a bit more time and I'm turning my attention back to my various AI pet-projects. I hear your call for additional development help with v2 - what do you need help with? Where might an interested party get involved? Can take this offline or in another "channel" if desired. Thanks!

[2019-02-03 10:27] robertleeplummerjr commented on #352
Guys, I've added a table of percentages to show where we are with v2: https://github.com/BrainJS/brain.js/wiki/Roadmap#v2-status

This may help at least clarify where things are.   I found a bug two days ago with GPU.js that I'm addressing that has caused a few more days delay for v2 of GPU.js release.  I'll have it out soon though.

[2019-02-03 11:25] robertleeplummerjr commented on #352
@josiahbryan PM'ed in Hangouts.

[2019-02-04 13:31] maxme opened #354 "Example learn-math.js/learn-math.ts training data looks weird"
## *What* is wrong?
Training data looks wrong, not a big deal to train a model with wrong data if we expect wrong results, but that's a bit awkward when you look at the example, see [there](https://github.com/maxme/brain.js/blob/master/examples-typescript/learn-math.ts#L116):
[code]

## *How* do we replicate the issue?
Look, run the `learn-math.[js|ts]` example.

## *How* important is this (1-5)?

[2019-02-04 19:06] Garbolino opened #356 "brain.recurrent.LSTMTimeStep does not have trainAsync method"
## *What* is wrong?
brain.recurrent.LSTMTimeStep() does not have trainAsync method.

## *Where* does it happen?
running in meteor 1.8.0.2

## *How* do we replicate the issue?
const net = new brain.recurrent.LSTMTimeStep();
net
    .trainAsync(data, options)
    .then(res => {
      // do something with my trained network
    })
    .catch(handleError);

## *How* important is this (1-5)?
5

## Expe

[2019-02-04 21:20] binary-person opened #357 "NaN with 2D arrays and 3D arrays with brain.NeuralNetwork"
![Angry face blank meme](https://i.ibb.co/Km27hN7/why-isn-t-this-working.jpg)

## *What* is wrong?

Training with 2D, 3D data similar to {input: [[0, 1], [0, 1]], output: [1]} gives NaN error
## *Where* does it happen?

When training data
## *How* do we replicate the issue?

[code]
## *How* important is this (1-5)?

2 as this is just an idea, but by solving this issue, would open up to more possib

[2019-02-11 04:54] anActualCow commented on #109
Hmmm. I'm experiencing a very strange error here.

I have this LSTM network where I'm trying to train it on two numbers and two strings.

I have a pretty large set of data to pull from, and I use one variable, whether or not it's set to one, as the output.

I've modified the data so that it should definitely return the right results, but the results are constantly incorrect. I've increased the num

[2019-02-11 14:10] robertleeplummerjr commented on #109
Can you share config and or data?

[2019-02-11 14:11] robertleeplummerjr commented on #357
Can you simply flatten the data?  Brain.js v2 has multidimensional support.

[2019-02-11 16:02] mubaidr commented on #357
2d array is not necessary. Just flatten and then it should work as expected. I have tested training with at-least 128x128 and it works this way. Just get the buffer (Pixel array) for the image.

[2019-02-11 16:27] #354 closed, assigned to nobody

[2019-02-11 16:36] binary-person commented on #357
Are you sure about flattening the array pixels of an image? I'm trying to input two images with different dimensions. I can't wrap my head around the fact that someone would able to interpret a flattened image. I would think that I need to tell the neural network when one row ends and another starts.

[2019-02-11 16:57] mubaidr commented on #357
Yup, pretty sure. This is very similar to what I have achieved in my side-project; https://github.com/mubaidr/image-parsing

Here is example of converting image to array (I am also converting image to black n white): https://github.com/mubaidr/image-parsing/blob/master/src/utilities/index.js#L194

[2019-02-11 19:34] binary-person opened #358 "Suggestion requested: Is it a good idea to just add 0. on the beginning of the data"
This is a quick question and I need someone's opinion on this. Is it a good idea to incorporate data in one string and adding 0. on the front of it? So if the data was for example, sentence encoding: 1925 1924 1392, into 0.192519241392. Would this work well?
I'm currently working on image classification and I need to incorporate rgb into one number. So would this work:
[code]
Thanks!

[2019-02-11 19:40] robertleeplummerjr commented on #358
What are you trying to accomplish?  Encoding in that way will give the neuron that enough context to know what you are wanting it to learn.

[2019-02-11 19:42] robertleeplummerjr commented on #358
Sorry, didn't see your clarification.  Add the three numbers, or pick one.

[2019-02-11 19:42] #358 closed, assigned to nobody

[2019-02-11 20:42] binary-person commented on #358
Sorry for the misclarification. For a sentence, if I am encoding characters in a word, instead of inputting [0.5633, 0.2362, 0.1264] for the word 'hey' for example (h = 0.5633, e=0.2362, y=0.1264), I would just encode it like 0.**5633**2362**1264**. "Adding" them all together and putting a 0. on front of it. So I would instead train the neural network with [0.563323621264]. Would this be suggested

[2019-02-11 21:14] robertleeplummerjr commented on #358
No worries.  I'm a bit frantic in the mid-day.

This simply won't work for the net to pick out meaning.  The reason is that you are:
1. delving into smaller and smaller detail, the further that you get from the decimal.
2. using 1 single float to represent what may add up differently.

You seem to need a recurrent neural network, like this:

[code]

You can also use [different inputs and outputs w

[2019-02-12 16:41] binary-person opened #359 "Weird output with image classification"
I am currently working on image classification. So I have some images of bland and cats. (Bland is just a picture with a single color background on it.) I first reduce the pixels of the images to 240x240. Then, feed in the data to the NeuralNetwork. When I try to test it with a picture of another cat it has never seen before, it outputs bland with 92% possibility. I can't fathom why the NeuralNetw

[2019-02-12 16:43] binary-person commented on #357
Training seems to be working, but not the image recognition part. #359

[2019-02-12 17:08] robertleeplummerjr commented on #359
How much training data are you giving the neural network?

[2019-02-12 17:09] robertleeplummerjr commented on #357
We'll continue the image recognition on that issue.  Ty for your help on this guys!

[2019-02-12 17:09] #357 closed, assigned to nobody

[2019-02-12 19:14] binary-person commented on #359
Section of code on codepen:
[code]
So there are 5 image and 4 bland images.
Link to codepen: https://codepen.io/scheng123/pen/VgdMKv

[2019-02-12 21:42] binary-person commented on #348
Well, what's the point of turning a blank neural network into JSON for future use? I don't see any reason for it. I suggest that you handle this error for empty Neural Networks than try to figure out what is wrong.
If you train it some data, the error goes away.

[2019-02-12 23:44] taylorjames opened #360 "Not sure if im doing this right"
I am trying to create a neural network to determine the approximate value of a property.

## *What* is wrong?
The Error value during training never goes down. After training the output value is always 1.

## Other Comments

The data set I am using looks like this.
[code]
note there is a variable amount of comps
I am serializing the data into a single dimension like so
[code]
here is my code
[code]

[2019-02-13 01:22] robertleeplummerjr commented on #360
You need to ensure everything normalizes to a range that is the same for each input.  This is generally done by normalizing everything to between 1 and 0.

[2019-02-13 01:22] #360 closed, assigned to nobody

[2019-02-13 01:40] taylorjames commented on #360
@robertleeplummerjr Thanks!

I have updated the serialization to make all the value between 0-1. Now it seems to be training correctly however the output value on `net.run()` is always NAN.

[2019-02-13 01:55] robertleeplummerjr commented on #360
Are the inputs always the same length?  They need to be if you are using the `NeuralNetwork` class.

[2019-02-13 01:58] taylorjames commented on #360
@robertleeplummerjr they are not the same length. Will adding zeros to make them the same length cause the output to be inaccurate?

[2019-02-13 02:11] robertleeplummerjr commented on #360
If you are using simple classification, then try adding the additional neurons (accounting for all inputs, using 0).

[2019-02-13 03:36] mubaidr commented on #359
Hmm this looks like a job for Convolutional Neural Networks.

If you convert bland to some b/w images it might work.

[2019-02-13 12:23] binary-person commented on #359
Does brain.js have convolutional neural networks? I'll try training them using b/w images.

[2019-02-13 12:57] robertleeplummerjr commented on #359
Convolutions are on the way, but not landed yet (look for convolution): https://github.com/BrainJS/brain.js/wiki/Roadmap#v2-status.  I agree, b/w, but also you could try it with [CrossValidation](https://github.com/BrainJS/brain.js#cross-validation).

[2019-02-13 17:40] DavyKoravand commented on #348
It's still an unintended bug in the code.

[2019-02-13 17:42] binary-person commented on #359
Hmm, I don't really know what CrossValidation does. Can you briefly explain what it is?
I cannot wait for v2 to roll in!

[2019-02-13 18:31] binary-person commented on #359
The results from grayscale were equally as weird. I checked the data for the bland images and they were as expected, all the same values. The cat images however varies. Is there something with a NeuralNetwork not being able to detect an image with the same repeating color pixels with a dataset that has values that vary? I'm pretty sure I'm doing something wrong here.
RGB color encoder function:
[c

[2019-02-13 20:15] binary-person commented on #348
I agree. I'll suggest returning a blank JSON than to create a blank template. It seems more simple that way

[2019-02-14 06:08] anActualCow commented on #284
Why is it that when I do console.log for console.log for a NeuralNetwork, fromJSON is not present?

Are you able to do the same thing for LSTM networks?

[2019-02-14 17:14] robertleeplummerjr commented on #284
It should be on the prototype.

[2019-02-17 19:25] jsb188 opened #362 "LSTM train() callback/log is not working"
I'm not exactly sure if I'm doing something wrong here, but at a glance it looks like my code is following the examples accurately. Here, I'm doing a simple LSTM train() but the logs/callbacks are not working.

**Example 1 – Callback**
[code]

**Example 2 – Log = true**
[code]

Both examples fail to log. I also tried using both at the same time, which did not work either.

*Funny thing however, is

[2019-02-19 07:01] ashah888 opened #363 "[discussion] I'm confused. Why is NeuralNetworkGPU slower?"
Could someone help me understand why using NeuralNetworkGPU to train data in node is slower than using NeuralNetwork? When I run an example, using NeuralNetworkGPU is clearly slower than NeuralNetwork, at least on my computer.

I thought the point of using GPU is to make things faster? Why is using NeuralNetworkGPU making things slower?

[2019-02-19 10:33] robertleeplummerjr commented on #363
Slower on what scale?  What are you training/running the net with?

[2019-02-19 10:42] robertleeplummerjr commented on #359
The first alarm for me is: `hiddenLayers: [3, 5],` on a 255 x 255 image, which are 65,025 pixels.  This is like asking the net to decipher an entire encyclopedia, with it only understanding the letter "c".  It would seem you need to give it more neurons.

A word of caution, however, is that it will get a little slow in your browser.  Trying something like a node process that can run in the backgro

[2019-02-19 10:45] ashah888 commented on #363
I trained about 20 sentences, one with GPU, one without.
Set iterations at 5000 and errorThresh at 0.0001.

NeuralNetworkGPU finished in about 7 seconds.
NeuralNetwork finished in about 2-3 seconds.

Could you please explain what happened there?

[2019-02-19 10:55] robertleeplummerjr commented on #363
How big is a sentence?  Likely the size of the input to the neural network isn't large enough to justify the added cost of using the GPU.  It'd be like launching a rocket to go next door to your neighbors.

[2019-02-19 11:42] ashah888 commented on #363
So should I always use NeuralNetworkGPU over NeuralNetwork in all cases?

This is important decision to me because I'm currently super frustrated that my model isn't finishing the training on approx. 1 million sentences. It's been 2 days and it still hasn't finished.

I'm so frustrated at this training speed that I'm considering learning a new language like Python or GoLang or R to do my machine l

[2019-02-19 11:55] ashah888 commented on #363
Another question. Assuming that the answer to above Q is "yes" (that I should use NeuralNetworkGPU in all cases and that using it is always faster) -- what about LSTM? Does LSTM use GPU? I noticed LSTM is extremely slow. Can it (or is it) be sped up by GPU? If not, when will it be?

[2019-02-19 16:00] AndreaFranchini opened #364 "NodeJS GPU Acceleration"
![A GIF or MEME to give some spice of the internet](https://images2.memedroid.com/images/UPLOADED176/55c6f4eb44e17.jpeg)

## *What* is wrong?
Nothing, i'm just really psyched about NodeJS GPU acceleration.
Gpu.js V2 is in pre-release (https://github.com/gpujs/gpu.js/releases/tag/2.0.0-rc.1), we must wait a official release before expect a BrainJS release where use (in NodeJS) brain.NeuralNetworkGP

[2019-02-19 18:08] Joinfield commented on #364
Okay okay okay, GPU acceleration in NodeJS would be very very very great! +1

[2019-02-19 18:54] robertleeplummerjr commented on #364
gpu.js v2, rc2 came out yesterday.

[2019-02-19 21:42] jsb188 commented on #362
I found out that if you give your neural network an impossible problem to solve, it will literally never log because it doesn't make a progress. That's what I get for being a noob.

Closing issue now.

[2019-02-19 21:42] #362 closed, assigned to nobody

[2019-02-19 21:56] jsb188 opened #365 "Sometimes, using NeuralNetworkGPU mysteriously causes training to fail and return NaN 100% of time"
## _What_ is wrong?
Sometimes, some array of training data always returns {error: NaN} from all steps from "log" function and also after it finishes. It happens 100% of time for some training data and there's no way to make the training successful unless you switch NeuralNetworkGPU with regular NeuralNetwork.

I've tested with many different hiddenLayer/threshold/iterations options, nothing will m

[2019-02-20 02:06] jsb188 opened #366 "Proper way to detect sentiments?"
Hello, I'm trying to create a more complicated version of the Sentiment detector, using this example here: https://scrimba.com/p/pVZJQfg/c3n6qfg

However, I'm getting odd results. It seems to work well when there is very little data. But once I put a lot of data, it returns results like "T T T T T T T T T T T T" or some odd words created by mixing input and output.

What can I do to ensure the int

[2019-02-20 11:40] #365 closed, assigned to nobody

[2019-02-20 17:47] AFIDclan commented on #364
Hey! Does that mean we might have GPU support finished soon?

[2019-02-20 17:57] robertleeplummerjr commented on #364
Yup.  I'm working on handling multiple draw targets right now.  Sorry I've been so seemingly absent, I can promise that isn't the case.  I'm trying to get it wrapped up so we have a solid foundation moving forward.

[2019-02-21 08:24] zhanghy-xyz opened #367 "training data formate"
Someone can tell me if brain. JS can support training data in the following format (input is the user's browsing behavior of each module on a page, output is the preference ranking of each module). Does brain.js have an application that is already online? I want to model it as an application. Looking forward to reply, thank you.
{
input: {
block_A: {move:0.4,click:4,count:10},
block_C: {move:0.6,c

[2019-02-21 08:26] adajuly commented on #367
I also encountered the same problem, I look forward to the author reply.

[2019-02-21 09:09] mubaidr commented on #367
There is a very similar example provided in the Read-me (color contrast demo): https://github.com/BrainJS/brain.js#data-format

This should work:
[code]

[2019-02-21 09:25] zhanghy-xyz commented on #367
no ,Brain.js does not support two-dimensional data
var network = new brain.NeuralNetwork();
network.train([
  {
    input: {
      block_A: { move: 0.4, click: 4, count: 10 },
      block_C: { move: 0.6, click: 7, count: 8 },
      block_M: { move: 0.9, click: 3, count: 4 },
      block_B: { move: 0.4, click: 7, count: 16 },
    },
    output: { block_C: 1, block_B: 0, block_A: 0, block_M: 0 },

[2019-02-21 14:11] robertleeplummerjr commented on #367
This is actually incorrect, https://github.com/BrainJS/brain.js/blob/8455336e274277f571b236d98732b9f0890f5e63/test/recurrent/rnn-time-step.js#L588

The time step nets support this fine, however as your example does highlight, the `NeuralNetwork` class, is not, however, compatible with "two-dimensional data" as it stands.

@59337xyz Can you try `brain.recurrent.LSTMTimeStep` and see if that works f

[2019-02-21 15:38] VEXLife opened #368 "Why is there no CNN?"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?

## *Where* does it happen?

## *How* do we replicate the issue?

## *How* important is this (1-5)?

## Expected behavior (i.e. solution)

## Other Comments

[2019-02-21 16:32] robertleeplummerjr commented on #368
Working on it, but finishing up GPU node support first.  Help welcome and wanted!

[2019-02-22 01:10] anActualCow commented on #109
Nevermind, I got everything working. Seems pretty accurate when I set hidden layers to [50,50] and provide more data for the network to consume, which is sort of blowing my mind. I'm using it at work in a backend, too. Does this have anything to do with tensorflow?
What are the chances that you'd rewrite something like this in C++ and make javascript bindings for it?

[2019-02-22 02:48] robertleeplummerjr commented on #109
Sharing your example .ay help others, I'd you are up for it.

I'm working on the node GPU counterpart right now, for node (GPU.js).  So I'm seeing your c++, and raising you GPU.  It will be soon,. 99% of it works, but need multiple render targets for it to cover all our use cases., And will have that in the coming days.

[2019-02-22 03:01] robertleeplummerjr commented on #109
No.

[2019-02-22 03:05] anActualCow commented on #109
Cool, it would be amazing if you could get this working at a very performant level. I'm excited to see it grow and maybe contribute once I actually understand it.

My problem before was this:
[code]

Yup. Just set it up completely wrong.

[2019-02-22 03:25] robertleeplummerjr commented on #109
The whole idea in brain.js and that we are proving is that:
1. You don't have to write something complex for it to be useful.
2. It doesn't have to be rewritten for use elsewhere.  JavaScript is simple enough and so composible, we can use it as the main means of writing, and testing.  We can then provide a means of execution so it can take full advantage of your hardware.

It is so easy to get cau

[2019-02-22 12:13] adajuly commented on #367
The requirement is to give a two-dimensional array containing several factors that affect this item. By comparing the factors between the arrays, one of the best recommended arrays is selected.

The requirement is to give a two-dimensional array containing several factors that affect this. By comparing the factors between the arrays, and choosing the best recommended array from it, can you help me

[2019-02-22 13:31] robertleeplummerjr commented on #367
Please don't take this as a "Please stay with brain.js because we need you!" but rather, just informing of state of handling this issue.  By all means, find the best tool for the job, if brain.js isn't the one you need, then find it.

We're actually building what you need in currently up to 3 dimensional data, perhaps more to come after that.  This includes the following shapes:

Note: The above l

[2019-02-22 14:16] VEXLife commented on #368
Thank you. I've found that brain.js is easy to use. I hope brain.js will be better in the future, and I'm looking forward to the convolutional neural network in brain.js!
Besides, I'm willing to help.

[2019-02-22 20:38] WowItsDoge opened #369 "Documentation of neural network configurations"
Is there an overview, how the config object for the constructors of the neural network are defined?

This would be interesting:

- Has brain.NeuralNetwork and brain.recurrent.RNN the same config attributes?
- What is the description of the inputSize attribute?

Thank you for the great work with this library, it is realy amazing!

[2019-02-24 16:29] omer54463 opened #370 "fromJSON not Working (I think I solved it)"
![Me in a Nutshell](https://i.redd.it/g7b4opymiai21.jpg)

DISCLAIMER: I think I solved it, explanation below. If I just swapped a problem by another, please inform me.

## *What* is wrong?
When I am trying to load a trained NN from a file, I get an error saying that I cannot read property 'bias' of undefined.

## *Where* does it happen?
In the fromJSON function
## *How* do we replicate the issue?

[2019-02-24 18:12] robertleeplummerjr commented on #370
Are you going to open a PR for this issue?  We'd love to gain you as a contributor!

[2019-02-24 20:30] omer54463 commented on #370
I am a massive noob, honestly. I don't think I have the knowledge to seriously mess with most of the library. btw, I am not even sure that the problem I stated is an actual problem and not my misuse, so I'll hold on to that pr for now - maybe someone more experienced can confirm that it is a bug.

[2019-02-26 18:52] anantjain-xyz commented on #370
Hi @omer54463 — I'd be happy to take a look, confirm if there's a bug, and help you open your first PR. I'll need to be able to reproduce the issue at my end. Can you share:

1. Your neural network code
2. The file you saved the model to.

Looking forward!

[2019-02-27 21:01] anActualCow commented on #109
Any update on the GPU version? Also, why would a GPU shader version be better than rewriting the code in C++?

[2019-03-01 21:05] Petah commented on #88
@robertleeplummerjr any info on how to stop the training? I couldn't see how to in the docs, or even skimming the source.

[2019-03-01 21:51] robertleeplummerjr commented on #88
We introduced async methods to the `brain.NeuralNetwork` class was all.  In the hopes that we could kill training before the app closes was all.  I never got that bit of script together, but would welcome it, as even part of the docs.

[2019-03-02 02:34] robertleeplummerjr commented on #109
The underlying engine (GPU.js) is in very active development, has been proven to work in node and will be released soon, which will then spark the completion of v2 of brain.js, including the lstm bits.

[2019-03-02 10:41] Petah commented on #88
Sorry I'm not sure I understood you correctly. Are you saying there is no way to stop the training manually?

Wouldn't it be as simple as: https://github.com/Petah/brain.js/commit/e9eeee12057311b577f246e7a62f8effc6b15f57

[2019-03-02 21:45] rwest202 commented on #328
Yes, but you can catch the error before it happens. For example in `src/likely.js` you could add an if statement like so.

[code]

[2019-03-08 04:00] blismatic opened #371 "[help wanted] How can I use brain.js to generate poetry?"
![A GIF or MEME to give some spice of the internet](https://static1.squarespace.com/static/561e6ee0e4b02426d143b4f4/5a1f7dcac830253d32d3e963/5a6a29ebe4966b97c46c65e2/1516907069693/Poetry-gif.gif?format=500w)

## Can I use brain.js to generate poetry?

Hi, I'm a (somewhat) novice in javaScript, but for my high school final project, I wanted to try to make a program that could generate poetry. Is th

[2019-03-08 20:34] WowItsDoge commented on #371
This question could not be answered generaly, I guess.
There are multiple options to try to generate poetry with neuronal networks.

Maybe this example could provide some usefull idea how to start:
https://github.com/BrainJS/brain.js/blob/master/examples/childrens-book.js

[2019-03-08 22:14] blismatic commented on #371
@WowItsDoge

I've taken a look at that example, and it seems that the neural network only finds what line the given input is found in, and then repeats that line. This doesn't really seem like it "writing" a children's book to me, or am I misinterpreting how the neural net is working? Maybe with a larger amount of training data the outcome would be different?

[2019-03-08 22:30] WowItsDoge commented on #371
Maybe you want to create something like this:
https://hackernoon.com/automated-text-generator-using-markov-chain-de999a41e047

But I am not shure if this library already supports Markov Chains.

[2019-03-08 23:26] blismatic commented on #371
@WowItsDoge I suppose that Markov Chain example is more of what I want to accomplish. How does the brain.js example involving a children's book differ from the Markov Chain in terms of the output they give?

[2019-03-09 10:58] dayaki opened #372 "[Help wanted] qnamaker.ai possible with brain.js?"
Hi everyone, just wondering brain.js can do something similiar to [qnamaker.ai](qnamaker.ai), if possible, can you help with a pseudo code on how to go about it?

[2019-03-09 19:08] evdem commented on #363
hi Robert,
4 hiddenLayers [100,100,100,100] DNN BrainJS draft demo (hand writing recognition) at https://www.ibiblio.org/e-notes/webgl/brain/hand4.html
On AMD A6-5200 APU I get
On CPU / Iterations=1262, Time=12.3 s.
On GPU / Iterations=1380, Time=31.6 s.
toString ? :)
Don't you like to add this (elaborated) demo?

[2019-03-09 22:20] robertleeplummerjr commented on #363
Sorry, wrong thread.

[2019-03-13 15:25] elithrar commented on #370
Note that the source of these errors - when loading a saved model - is often caused by a mismatch in the network type used to *train* the model vs. the network being used to *load* the model. They must match. e.g. saving an LSTM -> loading into a GRU will fail with "cannot read property 'columns' of undefined".

It's also important to make sure you're calling `JSON.parse` after loading, to decode

[2019-03-14 13:06] SamanthaClarke1 commented on #109
I get really locked down with the current LSTM, mostly because of the gate size.

it keeps repeating simple patterns like, 'the cab the cab the' etc.

Now I'm by no means a RNN genius, so...
from what I understand, the RNN has a certain space that it can look behind whilst it traverses, yes?
Now, what I *think* is causing my issue is a (relatively) small gate size, right?
But, I cant find anything

[2019-03-14 13:13] robertleeplummerjr commented on #109
@Samuel-Clarke123 Can you post a script example to build context from?

[2019-03-16 11:39] ken0x0a commented on #82
Hello @mubaidr
I couldn't understand how to resume training from link you specified.
Could you let me know how to achieve it?

Thank you in advance!

[2019-03-17 01:01] SamanthaClarke1 commented on #109
[code]

This is my current method for training my LSTM.
I'm able to get all this working in TensorFlow by manually creating sequence lengths and the such, all that AI goodness, but I cant for the life of me seem to get it working in BrainJS.

Currently each file is approx 30 lines each, about 45 chars longs per line.
Now my sequence length that I can get working with in TF is 100, but I don't know

[2019-03-17 14:06] robertleeplummerjr commented on #109
What is your tensorflow code to get this working?

[2019-03-17 16:12] SamanthaClarke1 commented on #109
A bunch of long keras and python stuff

relevant model definition
[code]

with the sequences being manually controlled by me (ie: X.shape[1])

[2019-03-17 16:15] SamanthaClarke1 commented on #109
and i mean, the output there is a lot more... *ahem* creative.

![image](https://user-images.githubusercontent.com/24452702/54494230-1dde3000-492c-11e9-898b-74e825c410bd.png)

[2019-03-18 12:35] elithrar commented on #366
- Can you show your code & network configuration?
- How many inputs?
- How many training iterations?

[2019-03-18 12:52] elithrar opened #375 "Error Rate Not Reflective of Output Sequences"
![???](https://media.giphy.com/media/53lN577WPCFGM/giphy.gif)

## *What* is wrong?

The error rate approaches ~0.011 [as set] but the network struggles to learn the correct sequences.

* I've experimented with different layer configurations, although this isn't a hugely diverse corpus and I'd expect ~30 neurons for the # of unique inputs (char-based RNN; so low) to be acceptable. This doesn't seem