[2020-04-30 12:13] #327 closed, assigned to nobody

[2020-04-30 12:14] #335 closed, assigned to nobody

[2020-04-30 12:18] #337 closed, assigned to nobody

[2020-04-30 12:18] #340 closed, assigned to nobody

[2020-04-30 12:18] #345 closed, assigned to nobody

[2020-04-30 12:19] #350 closed, assigned to nobody

[2020-04-30 14:45] robertleeplummerjr commented on #364
I found time today to find the exact issue with LSTM.  It turned out to be something super simple, as it normally does:

https://github.com/BrainJS/brain.js/pull/536/files#diff-a3003ab433fa67623d9a6392649a99e2R58

I was back-propagating into `this.deltas`, which is a no-no, I should have back-propagated into `this.inputLayer1.deltas`, and `this.inputLayer2.deltas`.

It's the simple things in life.

[2020-04-30 14:47] robertleeplummerjr commented on #364
Merged.

[2020-04-30 14:47] #364 closed, assigned to nobody

[2020-04-30 17:28] retiutut commented on #524
I was using Node version 10.16.3. I updated to 14.1.0, and the error is still happening.

I'm not sure what the point of using pre-built is, since I am trying to build the examples myself.

Here is the error, again, caused by "minify" option when building using Babel (latest version):

[code]

[2020-04-30 17:35] retiutut commented on #524
Even without changing the Color Contrast example at all, still fails to build using Babel with "minify" enabled.

[2020-04-30 19:11] mishagodovanuk opened #537 "SyntaxError: Unexpected token"
I get error in /home/user/node_extensions/brain.js/src/index line 8  on { FeedForward } brackets.

1) I try install brain.js like npm install or git clone, and it's ok. But when i try to require it in my.js file like `var brain = require('brain.js')` and execute this file `nodejs my.js` i get error
`/home/countzero/node_modules/brain.js/src/index.js:8
const { FeedForward } = require('./feed-forwar

[2020-04-30 21:32] mubaidr commented on #537
Please follow this template to submit issue:
[Create New Issue](https://github.com/BrainJS/brain.js/issues/new)

Otherwise we cannot have enough information regarding this error to help you.

[2020-04-30 21:32] #537 closed, assigned to nobody

[2020-04-30 21:35] mubaidr commented on #99
Closing in favor of https://github.com/BrainJS/brain.js/issues/439

[2020-04-30 21:35] #99 closed, assigned to robertleeplummerjr, mubaidr

[2020-04-30 21:37] mubaidr commented on #524
Please share `babel` config and other info. I will try to reproduce this issue asap.

[2020-04-30 23:28] retiutut commented on #524
https://github.com/BrainJS/brain.js/issues/524#issuecomment-609465812

[2020-05-01 01:25] jedjoud10 opened #538 "Can't install brain.js correctly"
![image](https://user-images.githubusercontent.com/34755598/80773272-630cf380-8b27-11ea-8f4a-11169c21530f.png)

## *What* is wrong?
Errors popping up when trying to install brain.js from the VSCode terminal.  When I make a sample .js file with just "const brain = require(brain.js)" it tells me that the module "gpu.js" is missing, so I installed it using "npm i gpu.js", I then reran the program and

[2020-05-01 01:28] jedjoud10 commented on #535
It would indeed take a lot of time, I know from experience. Tried to do that with a discord bot a while ago, did not turn well. It took so much time (Maybe because of my prehistoric CPU ?) but it would be possible using right settings and good hardware. I think. I hope

[2020-05-01 05:15] cjandrews commented on #475
Hi @mubaidr,

I believe I tried this, but if you consider that you could always feed in the home team first, then you get a third parameter that is the same value for every input. This means that there's no effect of this third parameter. It's been a couple of months since I looked at this and I've been working on other tech, so I'd have to refresh my memory a bit.

The reason I was originally try

[2020-05-01 06:14] mishagodovanuk opened #539 "Enexpected token { in FeedForward"
I get error in /home/user/node_extensions/brain.js/src/index line 8 on { FeedForward } brackets.

    1)I try install brain.js like npm install or git clone, and it's ok. But when i try to require it in my.js file like var brain = require('brain.js') and execute this file nodejs my.js i get error
    `/home/countzero/node_modules/brain.js/src/index.js:8
    const { FeedForward } = require('./feed-

[2020-05-01 07:46] sts-ryan-holton commented on #535
@jedjoud10 Do you have an example of how you'd go about doing the training? Would it be a case of providing many input and output objects + `net.run('The user input message')` to train? When I did this it seemed like it would've taken 30 mins on an i7 Macbook Pro...

[2020-05-01 08:31] mubaidr commented on #328
implemented in: https://github.com/BrainJS/brain.js/pull/540

[2020-05-01 08:31] #328 closed, assigned to nobody

[2020-05-01 08:39] mubaidr commented on #538
You don't need to install `gpu.js` manually. `Brain.js` will install all dependencies itself, just make sure other build dependencies are available.

This error message indicates that `npm` failed to build `gpu.js`. Please follow instructions here for installation.
https://github.com/BrainJS/brain.js#Installation-note

and also:
https://github.com/BrainJS/brain.js/issues/458

Also feel free to reo

[2020-05-01 08:39] #538 closed, assigned to nobody

[2020-05-01 08:50] mubaidr commented on #535
There are also other issues that can be helpful in this regard, please check:

https://github.com/BrainJS/brain.js/issues/235
https://github.com/BrainJS/brain.js/issues/217

[2020-05-01 09:08] raphtlw commented on #522
Any update on this? Thanks

[2020-05-01 10:04] mubaidr commented on #522
I have create a working demo here: https://runkit.com/mubaidr/brain-lstm

Training does complete and network returns output too. You need to provide better training set though. Also for more information on this topic, please check:
https://github.com/BrainJS/brain.js/issues/535
https://github.com/BrainJS/brain.js/issues/235
https://github.com/BrainJS/brain.js/issues/217

@robertleeplummerjr please

[2020-05-01 10:09] mubaidr commented on #524
`babel-preset-env` and `babel-minify` does not seems to be compatible: https://github.com/babel/minify/issues/664

Also since `babel-minify` in in beta, i would recommend using other tools (parcel, rollup etc) to minify output.

[2020-05-01 10:09] #524 closed, assigned to nobody

[2020-05-01 10:20] mubaidr commented on #539
You are using unsupported/too old nodejs version. Please use latest version or you can also use pre-built version for browser located here:
https://github.com/BrainJS/brain.js/tree/master/dist

[2020-05-01 10:20] #539 closed, assigned to nobody

[2020-05-01 10:21] mubaidr commented on #475
@cjandrews Can you please create a fiddle with sample data you have?

@robertleeplummerjr please

[2020-05-01 10:39] mishagodovanuk commented on #539
Thanks.

[2020-05-01 12:47] jedjoud10 commented on #535
Well first off I tried making it with an LSTM with not that much neurons, but even with only 10 iterations it was tremendously slow. I guess I'm going to have no AI girlfriend then :(

[2020-05-01 12:52] mubaidr commented on #534
You are streaming a zip file to network. Please use `zlib` to stream input data.

[2020-05-01 12:57] hikaru150s commented on #534
Pardon me, my example are kind of bad.
The actual file I want to stream is not a zip (nor any content inside zip if you _unzip_ it), but a _real_ binary file. I can't use the real file (due to restriction) so I used a zip file instead.

[2020-05-01 13:48] jedjoud10 commented on #538
Yay thanks this worked : Had to install C++ and NodeJs VS Build tools 2019 and run the command from the installation notes and reinstalled brain.js. Thanks !

[2020-05-01 13:50] mubaidr commented on #538
Cool, happy coding. Do let us know if we can improve getting started guide.

[2020-05-01 13:52] mubaidr commented on #535
There is a chatbot framework which uses brain.js under the hood, you might want to look at it. https://github.com/intelligo-systems/intelligo

[2020-05-03 21:03] amatiash opened #541 "Question: number[][][] vs number[][]"
![what](https://i.giphy.com/media/glmRyiSI3v5E4/giphy-downsized.gif)

**1. What is the difference between:**

[code]
and:

[code]

?

Data is similar to [this example][1]:

The output is the same:

[code]

**2. What will happen with if you split data this way?**

[code]

Output you get:

[code]

---

Let me answer my own questions and you will correct me if I'm wrong.

@robertleeplummerjr taught m

[2020-05-03 23:37] panzad3 commented on #519
Im having a similar issue with both Linux+Radeon480card or macOS/macookPro with Intel Iris Plus Graphics 650, GPU results are much much slower than CPU ones - maybe that's expected behavior with those type of card? Normal CPU feedforward training works like a charm and is great!

[2020-05-04 09:41] mubaidr commented on #519
Fixes have been implemented already, will be available in next beta version.

[2020-05-04 11:43] robertleeplummerjr commented on #541
This is an array of a single input, which is then fed in 2 at a time before backpropagating that it is finished:
[code]

This is an array of six inputs, here there really isn't enough information for this to be a recurrent neural network, as you'd only every send in 1 number to get the next (essentially a classification problem):
[code]

[2020-05-04 11:43] #541 closed, assigned to robertleeplummerjr

[2020-05-04 20:22] kepelrs commented on #514
Hi guys,

Thanks for the great work in this project.

I also seem to be having issues with `fromJSON` functionality. Here's the code:

[code]

First run **ends** with **training error: 0.05573762835847086**
Second run **starts** with **training error: 1.1483814150826834** (expected to be the same or lower as end of first run)
Third run starts with **training error: 0.4861999202810547** (seems like

[2020-05-05 02:31] bdotsamir commented on #532
Hi there! Any news? This isn't urgent, just something I'd like to be able to use :)

[2020-05-05 11:49] robertleeplummerjr commented on #532
I'll take a look today.  Sorry, been swamped.

[2020-05-06 08:02] wirtaw opened #542 "Problem with JS example rendering-svg"
## *What* is wrong?
Doesn't properly work [rendering-svg](https://github.com/BrainJS/brain.js/blob/master/examples/javascript/rendering-svg.html)

## *Where* does it happen?
Then load and click

## *How* do we replicate the issue?

- Copy html, brain-browser.js
- Load html with form
- Click

## Expected behavior (i.e. solution)
Empty textarea `inp-labels` (copy all input names solve)

## Version i

[2020-05-06 12:25] robertleeplummerjr commented on #532
The problem is that you are using a number, and should be using a string:
`output: 1` should be `output: '1'`

However, I'm adding a fix that will automatically convert this for you.

[2020-05-06 12:25] #532 closed, assigned to nobody

[2020-05-06 16:41] sbr2567 opened #543 "Small network large iterations, or large network low iterations?"
Could be a silly question, but which would hypothetically be more accurate:

a. Small network, large iterations.
b. Large network, low iterations

Of course they need to work hand in hand, but should one be given more priority over the other? I'm asking such questions to manage time expenditure. Once I learn how to save training data, i'm sure that won't be much of a problem. But definitely a curi

[2020-05-06 18:32] bdotsamir commented on #532
Ha! Was that it? How stupid of me. Thanks for the fix!

[2020-05-06 23:08] robertleeplummerjr commented on #532
Also, your net is three LSTM layers, which seems pretty deep.  Two would likely be plenty, from my naive perspective.

[2020-05-08 17:34] #543 closed, assigned to nobody

[2020-05-08 17:51] sbr2567 opened #544 "Training error percentage worsened with higher iterations."
So I ran some training data in brain.recurrent.LSTM to analysis strings. The log was set to true and 20000 iterations were used. The first 1,000 I was averaging around a 0.035 error percentage. however, 13,000 iterations in, it's now averaging 0.045 with the max hitting INFINITY... Not just that, the training error percentage never went below 0.03. Once it got to 0.03 it kept reverting back up to

[2020-05-08 18:23] #544 closed, assigned to nobody

[2020-05-08 21:35] robertleeplummerjr commented on #544
It sounds like the network size and learning rate need to be adjusted.

[2020-05-08 21:48] sbr2567 commented on #544
Okay, so would you recommend a slower learning rate?

On Sat, May 9, 2020 at 7:35 AM Robert Plummer <notifications@github.com>
wrote:

[2020-05-08 22:23] robertleeplummerjr commented on #544
Probably smaller, but also bigger net to retain the added information.  Sometimes you can go deeper for things like this, but ultimately it will require experimentation.

[2020-05-08 22:28] sbr2567 commented on #544
Okay great thanks, i'll see how I go.

On Sat, May 9, 2020 at 8:24 AM Robert Plummer <notifications@github.com>
wrote:

[2020-05-09 01:27] timendez commented on #65
Also coming across slow speeds with strings in LSTM ->
training data (roughly 2k entries like this):
[code]

it's about 5 minutes for every 10 iterations

Didn't notice anything about LSTMGPU mode in the docs, but please let me know if I should attempt a faster training method for string inputs.

Thanks!

[2020-05-09 12:05] robertleeplummerjr commented on #65
You need to encode the numbers as strings using the RNN.

[2020-05-10 02:45] sbr2567 opened #545 "Trained recurrent.LSTM data only outputs a single category regardless of string used?"
I trained a string dataset of tweets with around 50 different output categories, then saved the training data into a JSON to then be reloaded using;
[code]
I wanted to see how well the training data could categorise newly run tweets by their string.

These keywords used for each output category in the training data were very specific and I ran it for about 5 hours with an average error percentage

[2020-05-10 19:09] goferito commented on #364
I'm also getting that. Was it meant to be fixed already? Am I missing some update?
I get the error on node 10.19, with vanilla js.

[2020-05-10 20:48] goferito commented on #417
What's the situation with this? Is it merged?

[2020-05-10 21:38] mubaidr commented on #417
Not really. But newer version has GPU integration which is much faster than this implementation.

[2020-05-10 22:03] goferito commented on #417
Seems to be broken at the moment:
https://github.com/BrainJS/brain.js/issues/364#issuecomment-603975334

[2020-05-10 22:52] amatiash opened #546 "Training is finished in 1 iteration"
![easy](https://i.giphy.com/media/xoDYZmMzdeCmk/giphy-downsized.gif)

## *What* is wrong?
Training is finished in 1 iteration and only with 1 neurone. Tested with a large dataset of 10k rows.

## *Where* does it happen?
In `NeuralNetwork` with non-binary values that are in range from `0` to `1` (`num > 0 && < 1`)

## *How* do we replicate the issue?
Created a pen for this: https://codepen.io/amati

[2020-05-10 22:59] mubaidr commented on #417
Its in Beta state, expected to release very soon.

We do have plans to implement this too. This might help users with powerful CPUs without GPU.

[2020-05-10 23:00] mubaidr commented on #546
Looks good to me. If i increase error threshold, iterations increases. (Even reaches 20000 iterations limit with 0.001 error)

[2020-05-10 23:04] amatiash commented on #546
Yes, agree. But doesn't this confusing? Why `net2` initiates with such a small `errorThresh`?

[2020-05-10 23:07] goferito commented on #417
If I understood it correctly it even allows using both CPU and GPU, right? That would be really cool. Thanks a lot guys for doing this.

[2020-05-10 23:17] mubaidr commented on #417
Yes, exactly. But how much it will actually effect performance when using GPU (GPU is already many times faster than cpu) is yet to be seen.

[2020-05-11 03:35] kmaximur opened #547 "Attention layer, convolutional and ability to combine layers"
Hi! It would be cool to add Attention layer, Convolutional and ability to combine layers (CNN+LSTM, LSTM+Attention+CNN, etc).
Are you planning to do it?

[2020-05-11 18:32] timendez commented on #65
Thanks @robertleeplummerjr! It's much faster now. I think it may unfortunately still be too slow for my uses.

I was able to refocus my goal, however, and use a `{string: bool}` map with a low number of keys, so that way both my inputs and outputs would be more uniform. From there I used a standard neural net.

I'll definitely check LSTM back out if there ends up being a GPU version or if LSTMs ca

[2020-05-12 04:24] Andrew-He opened #548 "Migrate to Typescript"
As title said, let me know if it works fine for you.

[2020-05-13 10:45] raphtlw commented on #522
I think the only way to fix this is to not use this method of creating chatbots. There are plenty of other ways to create deep learning chatbots like Tensorflow.js with the Seq2seq model. Will close this issue now.

[2020-05-13 10:45] #522 closed, assigned to nobody

[2020-05-13 13:37] mubaidr commented on #548
This sure will help in code maintenance.

Here is what we can do:
- Do it in incremental steps.
- Add `tsconfig`, with `allowjs`
- Transform & commit one by one
- Make sure builds are not broken at any time.

@Andrew-He Please share if you have any suggestions, so we can prepare to implement this.
@robertleeplummerjr please

[2020-05-13 16:46] robertleeplummerjr commented on #547
I hadn't planned on it personally, but the idea was that new layers could be added fairly easily with the new format for layers: https://github.com/BrainJS/brain.js/tree/master/src/layer

Do you have an implementation or documentation that could be used to plan it?  Would you like to build it?

[2020-05-13 22:18] robertleeplummerjr commented on #548
@Andrew-He what would be your timeline in helping to achieve this?  Keep in mind [Hofstadter's law](https://en.wikipedia.org/wiki/Hofstadter%27s_law)
@mubaidr Are you currently working on anything in brain?
I've still been overloaded at work, now may be a good time to just rip off the band-aid.

[2020-05-13 22:40] mubaidr commented on #548
Cool. I am working on making code compatible with `eslint` config as per upon our hangouts conversation. Should be done soon, then we can move on with this.

[2020-05-13 23:18] robertleeplummerjr commented on #530
How much training day do you have?  Also when you go to train does the error rate drop to a fairly low value?

[2020-05-14 01:56] Andrew-He commented on #548
I 'm a front end guy at work, recently  neural network draws my attentions while preparing intro topic in machine learning to the team, and then I found brain.js, pretty cool project. I have some experience in typescript, so it might help the project in terms of code maintenance.

I will start off by, as @mubaidr  mentioned,  add tsconfig; then transformed the files one bye one with unit test perh

[2020-05-14 08:59] mubaidr commented on #548
@Andrew-He Please wait. I am working on stuff related to `eslint` and `tsconfig`.

[2020-05-14 18:56] aymather commented on #453
I am also having trouble with `.run()`. I don't think I'm having the same issue, but I still can't figure it out.

I'm training a very basic model, trying to predict if a string is a youtube screen_name or id. Here's my script.

[code]

My problem is that when I log the output, many times it gives me something very different than an output that I've set. Here's an example output.

[code]

As you c

[2020-05-14 23:31] buirkan commented on #352
Guys, I'm trying to implement a neural network wich the objective is recognize a simple image of a dog 🐶 and learn what breed he is.

Is the first time that I'm using that amazing tool to create a NN, and I'm kind of lost in many examples, anybody knows an example of something near of my objective, or any idea?

Thanks! :)
PS: This issue was so good to my knowledge about the tool.

[2020-05-16 20:21] goferito commented on #364
@ticituc did you find a solution/workaround?

[2020-05-17 00:33] ticituc commented on #364
@goferito  Hy!
At this time no with gpu, i changed my mind and i create an other solution to feeding the AI.

But maybe can a solution if you not use the GPU at this time.

Are u use the leatest verstion?

[2020-05-17 00:46] robertleeplummerjr commented on #364
If you guys use master, and re run `npm i` do you still see the same issue?

[2020-05-17 00:57] goferito commented on #364
I do. On my package.json: `"brain.js": "^2.0.0-alpha.12",`

I just deleted node_modules and then `npm i` again.
On the first run I get the following error:
[code]
I compile headless-gl to fix it (as I saw on other issues), and copy webgl.node to my node_modules. Then I get this error:
[code]

I'm using Node 10.19, Ubuntu 20.04, on a Thinkpad P1.

[2020-05-17 01:18] goferito commented on #364
Ok, I changed now my package.json to `"brain.js": "github:BrainJS/brain.js",` and now it works. I still have to compile headless-gl, but then it works.

I guess someone should update to the last version on npm?

Edit: It works, but it is extremely slow. Orders of magnitude slower than CPU. It's unusable. I've tried with different implementations an I get always the same results.

[2020-05-17 02:51] goferito commented on #519
@mubaidr how can we test that beta version?

[2020-05-17 08:25] mubaidr commented on #519
~~Will be published soon.~~

Confirmed! Problem still exists in `2.0.Beta.1`

[code]

[code]

@goferito cc

[2020-05-17 20:32] mubaidr commented on #548
You are welcome to contribute now, please pick any module or portion for convertion. https://github.com/BrainJS/brain.js/pull/550

[2020-05-17 20:32] #548 closed, assigned to Andrew-He

[2020-05-17 20:39] mubaidr commented on #364
brain.js version `2.0.0-beta.1` has been published, hopefully it will solve this solve.

[2020-05-17 20:48] mubaidr opened #551 "Migrate to TypeScript"
We plan to gradually migrate brain.js to TypeScript, code base is pretty large, so we would love your help! 💪

How to contribute?
- Convert a file from .js to .ts
- Add types, fix all type errors.
- Submit a PR! 🎉

**Here you can find a guide on [how to contribute](https://github.com/BrainJS/brain.js/blob/master/CONTRIBUTING.md).**

Want to convert something, let us know in the comment and go ahea

[2020-05-17 20:50] mubaidr commented on #548
Also: https://github.com/BrainJS/brain.js/issues/551

[2020-05-17 20:53] goferito commented on #364
Unfortunately not.

I just tried again rm -r node_modules, npm i, try it and get the first error, cp the compiled webgl.node to fix it, run again with CPU and then GPU, and CPU is still a lot faster.

[2020-05-17 20:54] mubaidr commented on #364
Please share code? jsfiddle?

[2020-05-17 20:58] goferito commented on #364
[code]

[2020-05-19 13:49] goferito commented on #364
Could you reproduce it? Or is it only slow for me?

[2020-05-19 13:54] mubaidr commented on #364
This issue is being tracked here: https://github.com/BrainJS/brain.js/issues/519

[2020-05-19 14:31] mubaidr commented on #364
Please keep this thread related to discussion about GPU version and release updates discussion only.

Create new thread to report any bugs related to GPU acceleration.

[2020-05-24 11:43] ghost opened #554 "Training begins and ends with no effect"
![A GIF or MEME to give some spice of the internet](https://external-preview.redd.it/N_bB0Oszfuks9wLTax6viC4Hh9FzHgpMcpYiuUHoQQU.jpg?auto=webp&s=22d6a707521ffee7ea809ec405a10477ee7bd2b8)

## *What* is wrong?

Training begins and ends with no effect, display iterations: 10, training error: 0
## *Where* does it happen?

Browser
## *How* do we replicate the issue?

https://jsfiddle.net/1r0zkwqc/

##

[2020-05-24 12:39] VladyslavLukyanenko commented on #554
[code]

[2020-05-24 16:20] ghost commented on #554
With brain.NeuralNetwork() doesn't work either

[2020-05-24 16:22] VladyslavLukyanenko commented on #554
It was a comment for the developers so they can look into it straight away

[2020-05-24 17:24] robertleeplummerjr commented on #529
Reproduced, and looking into fix.

[2020-05-24 17:43] robertleeplummerjr commented on #529
I just saw my previous response, lol.  Been a bit covered up with work.  It seems you just need to use the LSTMTimeStep network: https://observablehq.com/@robertleeplummerjr/brain-js-issue-529-solution

[2020-05-24 17:43] #529 closed, assigned to nobody

[2020-05-24 18:08] robertleeplummerjr commented on #554
You have at least two problems that need addressed.  The first is in how data is defined:

1. The input is an object with a property of hash, which is an array of numbers
2. The output is an object, with a property that scales from 0 to the count of inputs

Referenced:
[code]

What you want is an array of numbers, at least for the NeuralNetworkGPU class, for both input and output, and you want the

[2020-05-24 18:08] #554 closed, assigned to nobody

[2020-05-24 18:17] robertleeplummerjr commented on #546
The error threshold initiates with 1, the random value picked by the net is just too close to the error threshold of 0.08.  Also, that high of error threshold with that high of error rate would probably be completely impractical to achieve good results.  The net is doing exactly what it was built to do in this case.

[2020-05-24 18:17] #546 closed, assigned to nobody

[2020-05-24 18:18] robertleeplummerjr commented on #546
If you must stay with 1 neuron, increase the error rate.  Otherwise, use more neurons/layers.

[2020-05-28 19:31] krishnaTORQUE opened #555 "is there any way to get confident on result"
is there any way to get confident on result?

like when I run `net.run(data)`

Is there any way to get prediction or confident level ?

[2020-06-01 12:37] clive-g-brown opened #556 "doesn't build on OS X"
npm install - tries to build gl : fails at

clang: error: no such file or directory: 'Drive/dev/node/neon_brain/node_modules/gl/deps/include'

there is only a 'windows' folder in gl/deps/

make: *** [Release/obj.target/webgl/src/native/bindings.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_module

[2020-06-10 14:19] cpgb85 opened #557 "Image Detection"
I'm trying to write a simple image detection program with this library. It's a fantastic library, the syntax makes sense unlike most other libraries.

What is the most simple way to write image detection?  I know i can get the RGB values for an image and pass them in as an array of numbers to brain, but it won't work if the images are different sizes.  Am i missing something?

[2020-06-11 05:20] #436 closed, assigned to AquaMCU

[2020-06-11 05:20] #439 closed, assigned to nobody

[2020-06-11 05:23] mubaidr commented on #557
Convolution network is not available yet in Brain.js but you can try NeuralNetwork class with the CrossValidator. Please see this for more info: https://github.com/BrainJS/brain.js/issues/352

[2020-06-11 05:23] #557 closed, assigned to nobody

[2020-06-13 06:32] cycomp opened #558 "Speech Keyword Spotting with Brain.js"
I am new to neural networks and have followed the scrimba tutorials. I want to do keyword spotting using the Speech Commands Dataset (https://www.tensorflow.org/datasets/catalog/speech_commands)
Specifically I want to identify the words "on" and "off", so I will have 3 outputs, "on", "off", "unknown word".

The inputs are from 1 second long signed 16bit WAV files, I've converted them into a javasc

[2020-06-13 20:38] panzad3 opened #559 "Wrong XOR result with relu activation"
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/y65VoOlimZaus/giphy.gif)

## *What* is wrong?
When using relu activation function to solve XOR, does not matter how many iterations I train through I keep getting randomized results from absolute 0 to correct ( 0 , 0.453 , 0.834 , 0.98 , sometimes even 1.03 when expected should be close to 1 or below as I understand)

[2020-06-17 22:14] alexandersotoc commented on #559
I think is due to weight initialization, check this paper: [Learning XOR: exploring the space of a
classic problem](http://yen.cs.stir.ac.uk/~kjt/techreps/pdf/TR148.pdf).

[2020-06-17 22:58] robertleeplummerjr commented on #559
Relu has a really tough time with handling _exactly_ `0`.  I've run into this thinking it was a deficiency in the library, but found out you just need to normalize the value into something the neural network can handle.  Try using a value that is _essentially 0_.  Like `0.0000001`.

[2020-06-17 22:58] #559 closed, assigned to nobody

[2020-06-23 14:14] cuteday opened #560 "Problem(?) of leaky ReLU Implementation"
## *What* is wrong?

I"m not sure if this is a bug > <\
When I look at the source code in `neural-network.js`, I found the leaky relu is calculated as
`currentOutputs[node] = sum < 0 ? 0 : alpha * sum;` in function `_runInputLeakyRelu(input)`(also in the `calculateDelta`function), But I think by definition it should be
`currentOutputs[node] = sum < 0 ? alpha * sum : sum;`.
I wonder if this is on p

[2020-06-23 17:49] grondilu opened #561 "sine activation function"
Because of this work :

[Implicit Neural Representations
with Periodic Activation Functions](https://vsitzmann.github.io/siren/)

[2020-06-25 12:27] panzad3 commented on #559
It's more like a book than a paper :D not sure I want to read it all as it states in the beginning that perceptrons are unable to solve XOR, where this in not correct as I understand and proven in 1991 paper about Gaussian Activation Function Perceptron (Bell-shaped function that can separate plane in two fields) https://www.researchgate.net/publication/224649299_Gaussian_perceptron_experimental_r

[2020-06-25 14:45] panzad3 commented on #559
You were totally correct sir, I did a quick proof of concept Arkanoid game [https://codepen.io/sanchopanza/pen/eYJRjvm](https://codepen.io/sanchopanza/pen/eYJRjvm) and taught it to play with all possible activation functions.
 All of them work as intended on solving this linear problem with the randomly generated training set. will try the same on something non-linear too. Even tho I could not fin

[2020-06-27 05:43] ashah888 opened #563 "Where do I go to read BrainJS news and what's coming next?"
Is there a blog or a change log or a list of planned changes or any kind of news that's regularly updated for BrainJS?

[2020-06-27 12:14] robertleeplummerjr commented on #563
https://github.com/BrainJS/brain.js/wiki/Roadmap

[2020-06-27 13:07] #563 closed, assigned to nobody

[2020-06-28 11:24] tyt34 opened #564 "Default settings do not change"
## *What* is wrong?
I use setting, where itteration 99999 and errorTresh 0.0001, but I get [default](https://github.com/BrainJS/brain.js#training-options)

## *Where* does it happen?
node 10.15.2 (because if I use nodejs v12.16.2 I get error)
brain.js 2.0.0-alpha.12 (in brain.js@1.2.2 i dont have this error)

## *How* do we replicate the issue?

[code]

## Expected behavior (i.e. solution)
In orde

[2020-06-28 16:41] ashah888 commented on #563
Don't you think this project **needs** a proper website, blog to offer proper community engagement that it needs to grow and become more legitimate?

[2020-06-28 19:39] mubaidr commented on #563
We do have website. But a blog would be nice, but at the time none of the contributors have enough time to post articles. Maybe in the future we will launch a blog.

[2020-06-28 22:16] robertleeplummerjr commented on #563
Yes.  Wanna get involved?

[2020-06-30 22:03] robertleeplummerjr commented on #564
Please do not use inappropriate images, this project is used by many people and children.

We can look at this sometime this week.

[2020-07-04 14:45] tyt34 commented on #564
I update nodejs. Now:
nodejs -v -> v14.5.0

The error that I wrote about above, I was able to solve.
**The same mistake:**

I install gl, and replace file _webgl.node_.
I.e.:
1) npm install gl
2) in folder: node_modules/gl/build/Release copy file _webgl.node_ and past in /home/r/pr/nodeJS/Brain_2/node_modules/gl/build/Release/
this folder was indicated in the error that is written above

now I can

[2020-07-04 15:15] ErikLarsson82 commented on #512
I think you misunderstand @mubaidr. This is simply not a case of a network failing to train properly because the mathematics behind the problem requires more neurons in the hidden layer.

This is _possibly a bug_ where adding (**!**) just one neuron to either the input layer or the hidden layer can be the difference between a **2 second 100% success rate** every time and a network almost ending up

[2020-07-06 13:01] nezzard opened #565 "How to normalize"
Hi, is it possible to normalize dataset of dynamic ids?
Every day It’ll get new ids 1567, 1568, ... so I can’t get final Id.
I thought to normalize like this  100/1567 but don’t know if this correct way

[2020-07-11 14:44] bor8 commented on #417
I would like to donate something if I could use four cores at the same time instead of one, in my case! Is this also intended for LSTM (not LSTMTimeStep)?

[2020-07-11 18:57] bor8 opened #566 "It is not possible to save the net as JSON while training!!"
![Pritty good](https://media.giphy.com/media/3ohhwGwvnyjI6l9bFu/giphy.gif)

## *What* is wrong?

It is not possible to do save the net as JSON while training!!

## *Where* does it happen?

[code]

## *How* do we replicate the issue?

[code]

## Expected behavior (i.e. solution)

[code]

## Version information

### Nodejs: node:11.15.0-stretch

### Browser: FFDEV

### Brain.js: brain.js@2.0.0-beta.

[2020-07-13 11:34] CatScan-crypt commented on #566
Quite don't understand what you specifically refer to as "net",
However if you mean "net iterations" then this should help:
___
net.train(trainingData, {
iterations: 45000,
    learningRate: 0.007,
    errorThresh: 0.000001,
     log: (stats) => console.log(stats)
});
___
If you mean "net Weights & Biases" then i don't know any thing
in brain that deals with prop hoisting of weights and biases.

H

[2020-07-14 17:53] bor8 commented on #566
Well, thanks. I just did a for loop which starts with big error threshold and reduces it with each outer iteration. I save the network in every outer iteration. Maybe I can improve it by using a custom callback function. Closed.

[2020-07-14 17:53] #566 closed, assigned to nobody

[2020-07-17 04:47] drumrock commented on #565
You can take some very large and non-reachable (in practice) ID as "1" and divide all IDs by this value.

For example, 100000000. So you'll be normalizing your real IDs like 1567/10000000.

[2020-07-17 15:06] nezzard commented on #565
Will Brain js work fine in this way?

[2020-07-17 18:21] drumrock commented on #565
Depends on definition of "fine" :-)

[2020-07-17 19:19] drumrock commented on #26
Just had some time to play with canvas and BrainJS.

As a result, there is JavaScript-class with no dependencies that can render inner structure directly from BrainJS net object.

https://github.com/drumrock/BrainJsVisualizer

I will probably extend it's functionality, but I don't know which data is important to be displayed here.

[2020-07-19 07:01] Gurey opened #568 "Question: LSTM with input / output gives unexpected output?"
![A GIF or MEME to give some spice of the internet](https://i.pinimg.com/564x/73/90/d1/7390d11d6f1311453118e467300995d4.jpg)

## *What* is wrong?
This is mostly a question, this might be the expected outcome for this code.

When i train your LSTM "happy/sad" example and run it with some strings it has not seen before i get some unexpected outcomes.

[code]

yields

[code]

## *Where* does it happe

[2020-07-19 18:43] tyt34 commented on #564
When?

[2020-07-20 03:51] tyt34 commented on #564
I have installed a new version. The error persisted.

I have this error in -> brain.js@2.0.0-alpha.12 and -> brain.js@2.0.0-beta.1

What am I doing wrong?

[2020-07-21 07:25] CatScan-crypt commented on #568
Try adding more data.
Lack of data is one of the main reasons
NN's took so long to start being used.

Some structure to the the net it self is needed try:

const net = new brain.recurrent.LSTM({
   inputSize: 1,
    hiddenLayers: [5,5,5],
    outputSize: 1
})
Play with the hiddenLayers see what comes up.

P.S the output is very expected and even wanted, this the net trying to deal
with something i

[2020-07-25 10:18] CatScan-crypt opened #570 "When useing NeuralNetworkGPU it returns NaN 😖"
![Alt Text](https://media.giphy.com/media/vFKqnCdLPNOKc/giphy.gif)
### What is wrong?
Running NeuralNetworkGPU option returns a NaN but LSTM doesn't.

### Where does it happen?
In output when running the code provided below.

### How do we replicate the issue?

const brain = require('./src');
//const net = new brain.recurrent.LSTM();
const net = new brain.NeuralNetworkGPU();

net.train([
  { input

[2020-07-25 11:20] yashshah1 commented on #551
I'd like to start working on this, I have some experience with Ts, can you tell me which module is up for grabs?

[2020-07-25 11:41] mubaidr commented on #551
@yashshah1 You are welcome to contribute, please pick any module or portion for conversion and mention it here, so I can mark it in-progress (to avoid any duplication effort).

[2020-07-25 18:43] #568 closed, assigned to nobody

[2020-08-02 23:13] lakesare commented on #556
Hm, on `npm install` `2.0.0-beta.1` builds well for me (not everything runs smoothly however, most `__tests__/layer/*` fail).

[2020-08-02 23:34] lakesare commented on #556
Ok ok, so it depends on the node version.
**Node 14.6.0** builds, but gives you a couple of warnings (and some tests will fail).
**Node 8.6.0** builds with less warnings, but tests will immediately fail with `TypeError: _gracefulFs(...).realpathSync.native is not a function`.
**Node 10.22.0** will build WITHOUT warnings, but some tests will still fail, e.g. `FAIL  __tests__/layer/dropout.js` with

[2020-08-03 00:12] Theraghav commented on #342
Normalised training data works fine:
http://jsfiddle.net/Theraga/z5b2ghc4/53/

[2020-08-03 00:44] ghost opened #572 "To Function doesn't work"
![A GIF xd](https://www.animatedimages.org/data/media/499/animated-fun-image-0217.gif)

## *What* is wrong?
Converting Networks to standalone functions doesn't work

## *Where* does it happen?
When trying to do it, an error is thrown:

[code]

## *How* do we replicate the issue?
What I do, before calling "**toFunction**" is:
- Include Brain.js and fs
- Creating a const called "trainingData" which

[2020-08-03 09:43] mubaidr commented on #556
@lakesare Sorry for inconvenience, tests are not completely done yet. some tests are expected to fail on each node version.

**_If the `brain.js` installs and builds fine for you, then its all good._**

We have plans to improve test coverage and quality, but could not manage time yet.

[2020-08-03 09:43] #556 closed, assigned to nobody

[2020-08-03 09:43] #342 closed, assigned to robertleeplummerjr

[2020-08-05 15:04] nabeelvalley opened #573 "crossValidate.toJSON().sets appears to return incorrect data type"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?

Based on the docstrings, the `crossValidate.toJSON().sets` result should return an `ICrossValidateStats` object with the following properties:

[code]

However, it appears to instead return an object that looks like this:

[code]

Which I can't see defined anywhere in the `d.ts` file, seems like an incorrect type defini

[2020-08-05 15:09] nabeelvalley commented on #551
I'd like to work on this too, any recommendations on where to start?

[2020-08-05 20:32] mubaidr commented on #551
@nabeelvalley here is the short guide, super simple to start. Please pick any module or portion for conversion and mention it here, so I can mark it in-progress (to avoid any duplication effort).

**Here you can find a guide on [how to contribute](https://github.com/BrainJS/brain.js/blob/master/CONTRIBUTING.md).**

[2020-08-06 15:43] nabeelvalley commented on #551
@mubaidr I'm working from the `utilities` up, to avoid having untyped dependencies

The tests seem to be failing when I convert the file to JS because it looks like Jest is running against the TS files instead of the compiled JS - has the TS Compile been configured?

Looks like the tests are also currently failing:

[code]

It appears that the `soft-max` tests are receiving a `Float32Array` instea

[2020-08-08 17:39] reginsmol opened #574 "Large training set returns fails, returning NaN for training errors and `run()`"
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/CFpxc7SmOm7C0/giphy.gif)

## *What* is wrong?

Large training set returns NaN for training errors and `run()` method, whereas a smaller set with the same format is successful.
## *Where* does it happen?

While training the NeuralNetwork
## *How* do we replicate the issue?

- Create an instance of `NeuralNetwork` with

[2020-08-09 12:18] mubaidr commented on #551
Yes, you can update test to expect `Float32Array`.

In the mean-time some tests might still fail, because they have not yet been updated recently. You can can continue working and make sure build process is successful and conversion does not cause increase in no. of failed tests.

[2020-08-09 21:55] haouarihk commented on #376
you just :
1- read the train.json file
2- train the new data
3 - add the new data to the read data from the train.json file
4- export all data to train.json using `fs.writeFile`

[2020-08-12 21:18] robertleeplummerjr commented on #564
You shouldn't need to move anything around, the error message is telling you how to resolve the problem.  You need to run `npm rebuild`, the GPU parts need to compile is all (even though they aren't used by this particular class).

When I run the following:

[code]

I got the following:
[code]

Which I believe is the expected output.  I did get the same error that you got when using `nvm`, and run

[2020-08-13 05:00] arifikhsan opened #575 "Add an example"
Hello, i created a simple game using LSTMTimeStep.

Code: https://github.com/arifikhsan/batu-gunting-kertas-nuxt
URL: https://rockpaperscissors-ai.now.sh/

Can this game be included in the example? Thanks.

[2020-08-13 06:37] tyt34 commented on #564
Why you use 10 iterations?
**Program doesn't work if iterations more than 20000**. In this case, it stops at 20,000 iterations, just like nothing is set in the settings.

[2020-08-13 10:03] max-hans opened #576 "Timeseries (RNN, LSTM,...) with float values?"
## *What* is wrong?
Does the warning beneath apply to only RNN, LSTM,... **or also** their respective "Timeseries" partners?

**Question: Since this is not the right class - which one is the right one?**

## *Where* does it happen?
/

## *How* do we replicate the issue?
/

## Expected behavior (i.e. solution)
Instructions should be clearer (can take care of that). Is somebody working on an impleme

[2020-08-13 12:49] tyt34 commented on #564
Was 99999, get 20000

[2020-08-13 19:02] robertleeplummerjr commented on #564
Ah, ty for clarifying.

[2020-08-14 10:24] MrAugu opened #577 "Unable to create a re-usable function to evaluate inputs"
[removed]

[2020-08-15 07:40] mubaidr commented on #575
Added. Thanks

[2020-08-15 07:40] #575 closed, assigned to nobody

[2020-08-15 07:54] mubaidr commented on #565
If it is an ID if will not be effective in the input. But usually this method works fine. (get large value in data set and divide all values)

[2020-08-15 07:54] #565 closed, assigned to nobody

[2020-08-15 07:55] mubaidr commented on #572
Can you please try the latest beta version?

P.S. That gif 😆

[2020-08-15 08:03] mubaidr commented on #555
Yes it does. Please check this example:

https://github.com/BrainJS/brain.js#data-format

[2020-08-15 08:03] #555 closed, assigned to nobody

[2020-08-15 08:16] mubaidr commented on #542
Fixed in: https://github.com/BrainJS/brain.js/commit/b5e213e8988eeeab9038c0eb5fb5832d6e7bc486

[2020-08-15 08:16] #542 closed, assigned to nobody

[2020-08-17 02:08] #375 closed, assigned to robertleeplummerjr

[2020-08-17 08:26] gerald-dotcom opened #578 "What does it mean by Brain.JS initially use 0?"
I'm new to AI world and currently going through a Brain.JS Tut on Youtube. While learning all these stuff, I encountered some difficulty at https://www.youtube.com/watch?v=6E6XecoTRVo&t=2833s

I fail to understand what he actually mean. I have no idea what the use of using 1 for all that dates.

All the examples I witnessed didn't used anything like the presenter shown.

Can somebody clarify on th

[2020-08-17 08:45] gerald-dotcom commented on #578
Funny enough, running his example on Node doesn't return expected output. I get random outputs while he get const output.

I wonder if he using a trap here

[2020-08-17 10:52] robertleeplummerjr commented on #578
Can you post reproduction steps?

[2020-08-17 11:00] gerald-dotcom commented on #578
Funny enough, It was you did that video series. I found it now.

So glad to have you.

Here is the code but I'm more interested to learn what you mean by BrainJS init with 0, see the video link with exact pos where you said it,

[code]

[2020-08-17 12:55] gerald-dotcom opened #579 "How come is it possible to exceed 1 when you scaling down stock market data when Neural Network only know -1, 1?"

[2020-08-17 13:03] gerald-dotcom commented on #579
On your stock market example, I see the ScaleDown function outputs for instance say 1.02 and I believe it exceed the 1 thing

I'm sorry but new to whole this world.

[2020-08-17 15:23] robertleeplummerjr commented on #578
The link you provided is not related to the code that you have referenced, at least that I could find.  Can you double check it perhaps?

[2020-08-17 16:19] gerald-dotcom commented on #578
Can you check 28:33 of that video?

Well you should know it just by link but I guess youtube issues

[2020-08-17 18:51] robertleeplummerjr commented on #578
Excellent!  Ty for the minute/second mark.  What is means is this:

Let's say you have three different training properties, `foo`, `bar`, and `baz`, and you feed them into the neural network as training data like this:
[code]

What _actually_ gets sent into the network is this, automatically:
[code]

The zero's correspond to inputs that are automatically filled in, to keep api usage somewhat cleve

[2020-08-17 18:51] #578 closed, assigned to nobody

[2020-08-19 11:37] idavillc commented on #53
I was wondering if the where's waldo generator was completed?

[2020-08-20 20:44] zever55 opened #581 "How to get keywords from a string?"
Here's my code:
[code]
Can I somehow take a keyword from the input?
For example:
[code]
But I want the network to understand on its own the keyword without me.
So something like this:
[code]

[2020-08-25 17:58] #564 closed, assigned to nobody

[2020-08-25 18:00] robertleeplummerjr commented on #564
Fixed in [beta 2](https://www.npmjs.com/package/brain.js/v/2.0.0-beta.2).  Ty for your help in finding this and fixing it!

[2020-08-26 00:45] robertleeplummerjr commented on #576
What type of value are you sending into the neural network?  Likely, if these are arrays of decimals, it would be a timestep neural network.

[2020-08-27 12:26] #577 closed, assigned to nobody

[2020-08-28 16:44] harshkhandeparkar commented on #551
Hi! I want to help. If I convert one file, do I need to convert related files too or something? Or just a single file?

[2020-08-28 17:08] mubaidr commented on #551
You don't need to updated all the related files, just go file by file and make sure build is successful.

[2020-08-28 17:12] harshkhandeparkar commented on #551
Utilities is taken, isnt it?

[2020-08-28 17:31] harshkhandeparkar commented on #551
Activation functions seem like a good place to start, may I work on it?

[2020-08-28 17:32] nabeelvalley commented on #551
Hi @HarshKhandeparkar, I haven't had a chance to work on this you're welcome to take utilities if you want, just note that needs to be updated above

[2020-08-28 17:33] harshkhandeparkar commented on #551
Np @nabeelvalley. I think I'll work on activation functions :)

[2020-08-29 03:55] harshkhandeparkar commented on #551
@nabeelvalley I think I managed to fix the jest error you were facing in #582. You may copy paste my changes to `jest.config.json` or wait for the PR to be merged :)

[2020-08-29 07:30] harshkhandeparkar commented on #551
estimator/ has a single file. Looks like a nice :dart:.

[2020-08-30 19:35] harshkhandeparkar commented on #551
I think I'll snipe some of the utilities next, if you don't mind @nabeelvalley.

[2020-08-30 19:38] harshkhandeparkar commented on #551
You would have probably started in alphabetical order(I am assuming), so I am going to start from the bottom.

[2020-09-01 07:38] zarkones opened #588 "Unexpected behavior when referencing a NN from an array."
## *What* is wrong?
Trying to call 'train()' method on a neural network instance from an array of type any, it throws an exception: `Network error rate is unexpected NaN, check network configurations and try again. Most probably input format is not correct or training data is not enough.`
Code used is basically from examples within the documentation page.
The way I reference nn seems to cause the

[2020-09-01 11:06] zarkones commented on #588
Using `Record<string, NeuralNetwork>`, instead of `Array<NeuralNetwork>` fixed the issue.

[2020-09-01 13:26] robertleeplummerjr commented on #588
Nice!  Can you post the code to reproduce?

[2020-09-01 13:29] robertleeplummerjr commented on #26
@drumrock fantastic!  I wonder if we can show activation "heat" in the lines or neurons.

[2020-09-01 13:30] robertleeplummerjr commented on #26
Some work to make a full on GPU visualization of error: https://jsfiddle.net/hnkxm8y2/4/

Unexpectedly, XOR runs RIDICULOUSLY fast.

[2020-09-01 15:04] harshkhandeparkar commented on #26
I forgot to mention something.
The x-axis is Is about ***2000*** times bigger than y :sweat_smile:. It really isnt training that fast.

If the scales were same, the x dimension would be a few *million* pixels long.
If the x-axis is small then y values become less than one pixel so those become invisible.
There is no to cram the full data other than to scale the axes differently.

*Sorry*

[2020-09-01 16:40] harshkhandeparkar commented on #551
Going to snipe utilities/values* tonight :)

[2020-09-01 17:34] robertleeplummerjr commented on #551
Huzzah!

[2020-09-01 18:04] mubaidr commented on #551
Build systems seems to be broken, I am looking into this issue. 🧯

[2020-09-01 18:25] harshkhandeparkar commented on #551
Can I continue or should I wait?

[2020-09-01 18:27] mubaidr commented on #551
You should continue your contributions! I will try to fix it asap.

[2020-09-01 20:31] nabeelvalley commented on #551
Hi All, taking a look at doing some of these as well today, starting from the top of utilities seeing as @HarshKhandeparkar has started from the bottom

[2020-09-01 22:16] nabeelvalley commented on #551
Note, I haven't done `utilities/array-lookup-table` as it looks like it's working with some dynamic types and a few different `case`s and it's a bit difficult to infer all of these (in my opinion) until `recurrent/rnn-time-step` is updated. So doing it after that seems to make sense

I'm also not sure what's going on with the builds/tests as I had some issues from when I pulled the code to begin w

[2020-09-02 14:43] zarkones commented on #588
@robertleeplummerjr

Now I'm not even sure where to point to the issue.
I managed to produce it in a number of cases. (aka. it jumped at me)

For example, the `train` function is quite sensitive about what we put in it.
Let's say I fallow the book example, where I'm asking NN to generate some text based on what it was trained.
I specify an array of strings, but even trough every single element is

[2020-09-02 15:24] robertleeplummerjr commented on #588
I really do want to help here, but if you could use a jsfiddle or observablehq and post an example that reproduces the issue, I can resolve it quickly.

[2020-09-02 17:10] zarkones commented on #588
@robertleeplummerjr

You're being very kind. I apologize for not providing the repo.
You'll be updated soon.

[2020-09-02 18:23] harshkhandeparkar commented on #551
I am going to stop targeting utilitites for a while now. Apparently some of them refer to `layer` etc. So I am starting with `layer/` today. I am going to drop a nuke on it :grin:

[2020-09-02 18:25] robertleeplummerjr commented on #551
Love it!

[2020-09-02 18:45] harshkhandeparkar commented on #551
I'll actually work on utilities/kernel first because it is referenced in layer/base. I'll do base after that.

[2020-09-03 09:36] harshkhandeparkar commented on #551
NOTE: `layer/base` is a ***HOT MESS***.

[2020-09-03 15:40] harshkhandeparkar commented on #551
I also wanted to underline that but apparently underline isn't supported on github.

[2020-09-03 16:44] #572 closed, assigned to nobody

[2020-09-09 12:03] robertleeplummerjr commented on #551
I'm taking over the layer folder from @HarshKhandeparkar (we coordinated already), and will need utilities either done soon, or will need to go ahead and handle:

* utilities/kernel.js
* utilities/random.js
* utilities/randos.js
* utilities/randos-2d.js
* utilities/randos-3d.js

I'd also eventually like to consolidate these into a single file, but for a later task.

[2020-09-09 14:20] nabeelvalley commented on #551
Going to continue working on utilities as well, will update on here as I go:

- `utilities/to-array`
- `utilities/max`

[2020-09-09 14:58] nabeelvalley commented on #551
`__tests__/utilities/mse.js`

[code]

[2020-09-09 17:45] harshkhandeparkar commented on #551
@robertleeplummerjr I remember doing `utilities/kernel`.

[2020-09-10 05:53] harshkhandeparkar commented on #551
I can take `utilities/random` and `utilities/random-weight` if no one else wants to take it.

[2020-09-10 06:42] harshkhandeparkar commented on #551
@mubaidr The imports are broken and the tests are failing, am I supposed to ignore all of that and force commit?

[2020-09-10 08:57] mubaidr commented on #551
@HarshKhandeparkar I have fixed the issue. You can create pull request now.

[2020-09-10 16:58] harshkhandeparkar commented on #551
I'll convert the randos kernel tomorrow :)

[2020-09-11 13:30] robertleeplummerjr commented on #551
I have randos done already, but if younknocknitnout, it all good.

On Thu, Sep 10, 2020, 12:58 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2020-09-11 13:44] harshkhandeparkar commented on #551
Oops, sorry but I opened a PR while you were deep asleep ;)

[2020-09-12 17:10] lesmo opened #597 "Converting "imported" Recurrent TimeStep Networks from JSON to standalone functions doesn't work"
![giphy](https://user-images.githubusercontent.com/2228196/93000880-b5f0b180-f4f0-11ea-9a6f-8442c5b8e072.gif)

## *What* is wrong?
Converting "imported" Recurrent TimeStep Networks from JSON to standalone functions doesn't work

## *Where* does it happen?
When trying to run `net.toFunction()`:

[code]

## *How* do we replicate the issue?

1. Create any `brain.recurrent` network and train it:
2. Ge

[2020-09-12 17:37] lesmo opened #598 "Function returned by TimeStep networks toFunction() are broken"
![giphy (1)](https://user-images.githubusercontent.com/2228196/93001442-922f6a80-f4f4-11ea-8884-ba621413ddc9.gif)

## *What* is wrong?
Function returned by TimeStep networks toFunction() are broken

## *Where* does it happen?
When attempting to use the function returned by `.toFunction()` of a TimeStep network, an undefined variable exception is thrown:

[code]

## *How* do we replicate the issue?

[2020-09-16 09:38] ofirgeller commented on #551
@mubaidr
1) Which file(s) can I work on?
2) is it expected that the many tests fail at the moment?

I am have lots of free time in the next 1-2 weeks and years of experience working with typescript, so if you give me the "go ahead" I can probably convert the whole thing.

[2020-09-16 13:50] nabeelvalley commented on #551
@ofirgeller

1. we've been handling them sort of from utilities up, because a lot of files depend on those, just keep us updated on here for whichever file you're doing and that should be fine
2. i'd noticed some tests are failing at the moment too, think @mubaidr was looking into that

[2020-09-17 06:20] mubaidr commented on #551
@ofirgeller You can select any files from the the repo, and mention it here so that no effort is duplicated. Yes, we do have some failing tests, and we are working on this issue, but as @nabeelvalley said, you can start from utilities and we do have `lint` and `typescript` scripts (`npm run lint`) to help catch errors during conversion process.

[2020-09-17 15:20] ofirgeller commented on #551
Converted "array-lookup-table.js" (short and sweet), moving on to DataFormatter which will take a bit longer.

[2020-09-17 15:37] mubaidr commented on #551
@ofirgeller I recommend creating a pull request per file (and related changes i.e. imports etc) to make it easier for code review and merge.

[2020-09-17 16:00] ofirgeller commented on #551
@mubaidr If each atomic change is a a separate commit on the same branch, do you still want each commit to be its own PR?

[2020-09-17 21:39] mubaidr commented on #551
No. multiple commits per PR is good.

[2020-09-18 19:59] robertleeplummerjr commented on #551
@mubaidr and @HarshKhandeparkar, layers are here: https://github.com/BrainJS/brain.js/compare/ts-layers

They are not done, but I've laid the foundation for what they'll look like.  I just pushed it, and will merge test into it shortly and resolve conflicts.  This includes some pretty heavy upgrades from typescript typings from gpu.js.

[2020-09-20 21:21] EmkaMk opened #600 "Is is possible to use this library with Angular 8?"
![A GIF or MEME to give some spice of the internet](url)

## *What* is wrong?
Module not found: Error: Can't resolve 'brain.js' in project

## *Where* does it happen?
Trying to implement some of the examples for string classification as well as this example

https://stackblitz.com/edit/brainjs-angular?file=src%2Fapp%2Fapp.component.ts

## *How* do we replicate the issue?

Try to replicate this exa

[2020-09-24 18:14] robertleeplummerjr commented on #551
Tons more layer conversion, including pool.ts and convolution.ts!

[2020-09-24 21:58] gerald-dotcom opened #601 "RangeError: Source is too large"
## *What* is wrong?

RangeError: Source is too large

## *Where* does it happen?

In the a Neural Network when trying to train a net in GPU mode

## *How* do we replicate the issue?
- Step 1

Create a dummy tanning data set that total around 32k records like below,

[code]

- Step 2

Now, Import it and run it like below,

[code]

## Expected behavior (i.e. solution)

Should have run without this e

[2020-09-28 20:18] robertleeplummerjr commented on #551
All layers have now been converted.  Opened PR here: https://github.com/BrainJS/brain.js/pull/603.

[2020-09-30 19:03] robertleeplummerjr commented on #551
Merged the above.  Picking up `src/lookup.js`

[2020-10-02 16:25] yashshah1 commented on #551
Hi, I'd like to work on this as well. Can you tell me which file is not being worked on?

[2020-10-02 16:43] robertleeplummerjr commented on #551
I'm working on src/feed-forward.js, src/utilities/lookup-table.js, and src/praxis/momentum-root-mean-squared-propagation.js, and their tests.

[2020-10-02 19:49] blackforest-t commented on #417
i'll like to know about it too

[2020-10-02 19:59] blackforest-t commented on #364
sorry, but i don't understand. Is LSTM network  able to user GPU acceleration in node on brain 2.0.0-beta.2 ?
i've read https://github.com/BrainJS/brain.js/issues/364 and https://github.com/BrainJS/brain.js/issues/363
but unfortunately there is no answer for me

[2020-10-03 17:39] yashshah1 commented on #551
Can I work on utils/range.js and utils/mse.js?

[2020-10-03 22:59] robertleeplummerjr commented on #551
Sure!

[2020-10-04 20:30] Leandrigues commented on #551
Hello, can I work on `utilities/array-lookup-table.js`? If not, tell me a peding file to convert

[2020-10-04 21:03] mubaidr commented on #551
Welcome! That one & reccurrent/matrix is already being worked on (https://github.com/BrainJS/brain.js/issues/551#issuecomment-702838155).

You can pick any other `js` files from the `src` or even `__tests__`. Looking forward!

[2020-10-04 21:04] TheUnlocked commented on #551
I'm working on converting `utilities/traverse-layers-from.js`, `utilities/traverse-layers-excluding-from.js`, and `utilities/to-svg.js`.

[2020-10-04 21:08] mubaidr commented on #369
Just an update, this is still in progress. Also since we are working on typescript conversion (https://github.com/BrainJS/brain.js/issues/551), that means we will have typing support for all codes. 👍

[2020-10-04 22:05] Leandrigues commented on #551
Sure, so can I work on `src/likely.js` and `src/utilities/flatten-layers.js`?

[2020-10-05 00:37] robertleeplummerjr commented on #551
Sounds good!

[2020-10-05 02:52] urwrstkn8mare commented on #551
Can I work on `src/utilities/layer-from-json.js`? I don't think anyone is working on it.

[2020-10-05 06:52] lomby92 commented on #551
If you are ok with this, I will take all JS files into **src/recurrent/matrix**

[2020-10-05 06:54] mubaidr commented on #551
`src/recurrent/matrix` is already taken up: https://github.com/BrainJS/brain.js/pull/607

You can pick any other `js` files from the `src` or even `__tests__`. Looking forward!

[2020-10-05 06:57] lomby92 commented on #551
What about **\_\_tests__/activation** ?

[2020-10-05 06:59] mubaidr commented on #551
Sure, go ahead!

[2020-10-05 08:54] mubaidr commented on #600
It must be some temporary error or something but this example is running fine for me in Firefox browser.

If you still have some issue, feel free to ask.

[2020-10-05 08:54] #600 closed, assigned to nobody

[2020-10-05 08:57] mubaidr commented on #601
Please try using streams to pass data: https://github.com/BrainJS/brain.js#train-stream

[2020-10-05 09:14] mubaidr commented on #573
Confirmed. We are migrating our code base to typescript, which will fix these type of issues. You can follow the progress/ contribute here: https://github.com/BrainJS/brain.js/issues/551

[2020-10-05 09:27] mubaidr commented on #560
Confirmed. Fixed in https://github.com/BrainJS/brain.js/pull/613

[2020-10-05 09:27] #560 closed, assigned to nobody

[2020-10-05 09:39] mubaidr commented on #465
Please try to access brain using `self.brain`

[2020-10-05 09:40] mubaidr commented on #397
Should be fixed after we complete emigration to typescript (very soon).

https://github.com/BrainJS/brain.js/issues/551

[2020-10-05 09:40] #397 closed, assigned to nobody

[2020-10-05 09:43] #224 closed, assigned to robertleeplummerjr

[2020-10-05 09:45] #227 closed, assigned to mubaidr

[2020-10-05 09:47] mubaidr commented on #346
@robertleeplummerjr has written some awesome tutorials (beginner friendly) to understand neural networks and brain.js: https://brain.js.org#/tutorial

[2020-10-05 09:47] #346 closed, assigned to robertleeplummerjr

[2020-10-05 09:49] #26 closed, assigned to nobody

[2020-10-05 10:02] #465 closed, assigned to robertleeplummerjr

[2020-10-05 10:02] #573 closed, assigned to nobody

[2020-10-05 12:09] ximik753 opened #614 "Error when calling trainAsync"
*What* is wrong?
When I try to call the trainAsync method, I get a strange error in the console [Object object]

## *How* do we replicate the issue?
Sample code where a similar issue occurs: https://codepen.io/ximik753/pen/pobzJgQ

[2020-10-05 12:24] mberger75 commented on #551
Hello! Can i convert some js files in src/recurrent ?

[2020-10-05 15:10] ArtMirror2000 opened #616 "Issues with to-svg.js (not working in browser)"
I'm new to web development and ML.
I am trying to get the to-svg function working in Chrome browser.
I've been reading through all docs and previous Git-issues, but I can get it to work.
The Network itself ( LSTM) is working great.

For the to-svg I add the following code

const svgoptions ={
        fontSize : "12px",
        width : 600,
        height : 400,
        radius : 6,
        line : {

[2020-10-05 16:23] lomby92 commented on #551
@mubaidr Is anyone else working on **\_\_test__** folder? In the case of no one: I will convert the whole folder

[2020-10-05 16:29] mubaidr commented on #551
@mberger75 `src/recurrent/matrix` is already taken up: https://github.com/BrainJS/brain.js/pull/607 but you are free to choose some other files in `recurrent` directory or even pick some subdirectory from `__tests__` directory.

@lomby92 I recommend picking up one sub directory from `__tests__` one at a time. This will help you focus more, help us in the review process and give others some content

[2020-10-05 16:44] mubaidr commented on #614
Confirmed. Looks like bug in one of the dependency.

[code]

[2020-10-05 16:52] mubaidr commented on #616
We do have example for svg rendering: https://github.com/BrainJS/brain.js/blob/master/examples/javascript/rendering-svg.html#L298 and it does works fine. You can try latest beta version.

Can you please create a jsfillde? or reproduce-able code?

[2020-10-05 19:54] gerald-dotcom commented on #570
Can confirm the issue....Happening the same.

[2020-10-05 19:54] gerald-dotcom commented on #601
Works but without GPU.

https://github.com/BrainJS/brain.js/issues/570

[2020-10-05 20:41] mubaidr commented on #601
Sorry, I missed that. Reopened issue. Please wait while we trace the issue.

[2020-10-05 20:46] gerald-dotcom commented on #601
`neuralNetworkGPU: net
`
Doesn't work. I am getting an error which ask to provide valid neural network.

Other thing is that without using GPU but using LSTM, I'm not getting the state info but it create a network.
[code]

[2020-10-06 05:44] ArtMirror2000 commented on #616
Thank you so much for your help.
I am trying to create a ML sentence parser using the standard LSTM format as follows:

var net = new brain.recurrent.LSTM();
net.train([
  {input: "The man", output: "NP"},
  {input: "hit the ball with a stick.", output: "VP"},
  {input: "the ball", output: "NP"},
  {input: "with a stick.", output: "PP"},
  {input: "man", output: "N"},
  {input: "ball", output: "N"

[2020-10-06 07:57] potch commented on #465
updating to the latest version of the library seems to have resolved the issue.

[2020-10-06 17:08] shreyaskj commented on #551
Hello, can I get any module to convert it to Typescript ?

[2020-10-06 17:11] mubaidr commented on #551
You can start with `/__tests__/utilities`, simple to start with. I recommend pull request per file if you are new to typescript.

[2020-10-07 12:57] marvinschopf commented on #551
Hello! Can I work on `/__tests__/utilities/random.js`?

[2020-10-07 13:01] robertleeplummerjr commented on #551
Starting on src/recurrent/rnn.js.  What a bear!

[2020-10-08 04:36] vikgmdev commented on #551
Hey! I'd like to start working on (probably two different PRs):
- `src/recurrent/gru-time-step.js`
- `src/recurrent/gru.js`
- `src/recurrent/lstm-time-step.js`
- `src/recurrent/lstm.js`

or any of those files have been already taken for someone else?

[2020-10-08 12:05] mubaidr commented on #551
@magicmarvman sure pls

@vikhyat  Hi! `src/recurrent/lstm.js` & `src/recurrent/lstm-time-step.js` is being worked on, you can work on `gru.js` & `gru-time-step.js`

Good luck!

[2020-10-08 12:14] vikgmdev commented on #551
Sure @mubaidr , I'll work on those files, thanks.

[2020-10-09 17:54] DarinDev1000 commented on #551
Any particular files I should work on?

[2020-10-09 17:58] mubaidr commented on #551
@DarinDev1000 please check `__tests__/utilities`

[2020-10-10 11:34] robertleeplummerjr commented on #551
Can someone pickup src/recurrent/matrix/copy.js?

[2020-10-10 11:38] harshkhandeparkar commented on #551
It's already ts ¯\\\_(ツ)_/¯

[2020-10-10 12:19] robertleeplummerjr commented on #551
Ah, I was looking at the export, not extension.  I'll take care of converting to named export.

[2020-10-12 01:08] LuanSilveiraSouza commented on #551
Hello! I want to contribute, can I convert __tests__/utilities/layer-size.js to typescript?

[2020-10-12 10:10] mubaidr commented on #551
@LuanSilveiraSouza sure, go ahead!

[2020-10-12 16:13] rohya8 commented on #551
I'd like to start working on this, can you tell me which module i can start with?

[2020-10-12 17:43] mubaidr commented on #551
@rohya8 Please select any file(s) from `__tests__` directory and just mention it here.

[2020-10-12 22:10] AgentEnder commented on #551
I'll take a stab at https://github.com/BrainJS/brain.js/blob/master/__tests__/recurrent/unit.js

[2020-10-14 06:39] dhairyagada commented on #551
I'll contribute to `/__tests__/utilities/data-formatter.js`!

[2020-10-14 06:43] mubaidr commented on #551
@dhairyagada `/__tests__/utilities/` is fully migrated to typescript as per this pull request: https://github.com/BrainJS/brain.js/pull/630/files

You can pick other files please.

[2020-10-14 06:57] dhairyagada commented on #551
@mubaidr Can I know which one's are remaining?

[2020-10-14 07:02] mubaidr commented on #551
All other `js` files inside `__tests__` are available. You can start with `__tests__/neural-network/options.js`

[2020-10-14 07:08] dhairyagada commented on #551
@mubaidr Thanks! I'll start with it 👍

[2020-10-14 07:22] dhairyagada commented on #551
@mubaidr Has `src\neural-network.js` already been converted to Typescript already? Because that is required for `__tests__/neural-network/options.js`

[2020-10-14 12:18] robertleeplummerjr commented on #551
I have a locally converted __tests__/utilities/data-formatter.js

[2020-10-16 14:22] LuanSilveiraSouza commented on #551
Hello again! I will convert `/__tests__/neural-network/test.js` to ts

[2020-10-16 20:19] Satyam-kumar-yadav commented on #551
Hey, I would like to convert /__tests__/neural-network/to-function.js to ts

[2020-10-16 20:28] mubaidr commented on #551
@dhairyagada No, its in progress. But I don't think you would need it.
@LuanSilveiraSouza @Satyam-kumar-yadav Sure, go ahead!

[2020-10-17 17:23] sts-ryan-holton opened #634 "Brain JS handling images for training"
## Summary

This is more of a question rather than a strict feature or bug. I'd like to build a machine learning model using Brain JS to recognise something in particular within an image and simply report back whether that item is there or not. I'm interested to find out how I would go about doing this...

- How would I convert the image into a format that Brain JS can understand?
- How would I se

[2020-10-18 04:38] geekyrajshri commented on #551
@mubaidr
Let me know if I can pick any of test files for converting to ts.

[2020-10-19 15:59] mubaidr commented on #551
@geekyrajshri You can work on one of the following:

- ~~https://github.com/BrainJS/brain.js/blob/master/__tests__/test-utils.ts~~
- https://github.com/BrainJS/brain.js/blob/master/__tests__/neural-network/to-function.js @geekyrajshri
- https://github.com/BrainJS/brain.js/blob/master/__tests__/neural-network/trainopts.js @vikgmdev
- https://github.com/BrainJS/brain.js/blob/master/__tests__/neural-

[2020-10-19 16:09] LuanSilveiraSouza commented on #551
@mubaidr I will convert `__tests__/cross-validate.js` to ts

[2020-10-19 16:43] vikgmdev commented on #551
@mubaidr I'll take
- [https://github.com/BrainJS/brain.js/blob/master/__tests__/neural-network/to-function.js](https://github.com/BrainJS/brain.js/blob/master/__tests__/neural-network/to-function.js)
- [https://github.com/BrainJS/brain.js/blob/master/__tests__/neural-network/trainopts.js](https://github.com/BrainJS/brain.js/blob/master/__tests__/neural-network/trainopts.js)
if you don't mind

[2020-10-20 01:28] JCMais commented on #551
@mubaidr  I will take https://github.com/BrainJS/brain.js/blob/master/__tests__/neural-network/json.js

[2020-10-20 03:24] mubaidr commented on #551
@vikgmdev `https://github.com/BrainJS/brain.js/blob/master/tests/neural-network/to-function.js` is already in progress, you can continue with `https://github.com/BrainJS/brain.js/blob/master/tests/neural-network/trainopts.js`. 👍🏼

@JCMais Sure, please

[2020-10-20 06:18] ariain commented on #551
@mubaidr I will take [https://github.com/BrainJS/brain.js/blob/master/__tests__/praxis/arthur-deviation-biases/unit.js](https://github.com/BrainJS/brain.js/blob/master/__tests__/praxis/arthur-deviation-biases/unit.js) and [https://github.com/BrainJS/brain.js/blob/master/__tests__/praxis/arthur-deviation-weights/unit.js](https://github.com/BrainJS/brain.js/blob/master/__tests__/praxis/arthur-deviat

[2020-10-22 02:03] maxall41 opened #643 ""malloc: Incorrect checksum for freed object 0x10c2668b8" Bug when running lstm for 100 iterations"
## _What_ is wrong?
I tried running an lstm network over an array with a couple of thousands data points for 100 iterations and it gave me this error:
[code]
But when I run it for only a couple of iterations it works fine.

## _Where_ does it happen?

 In the lstm when trying to run a net in node.js on my mac
## _How_ do we replicate the issue?
1. Create a main.js file and use npm to install Axios

[2020-10-22 20:17] grigori-gru commented on #551
@mubaidr
which files can I take?

[2020-10-23 07:47] mubaidr commented on #551
We have following available:

- `https://github.com/BrainJS/brain.js/blob/master/__tests__/praxis/arthur-deviation-biases/end-to-end.js`
- `https://github.com/BrainJS/brain.js/blob/master/__tests__/praxis/arthur-deviation-weights/end-to-end.js`
- `https://github.com/BrainJS/brain.js/blob/master/__tests__/recurrent/end-to-end.js`

[2020-10-23 08:57] grigori-gru commented on #551
Great, I'll fix https://github.com/BrainJS/brain.js/blob/master/__tests__/praxis/arthur-deviation-biases/end-to-end.js first

[2020-10-23 13:29] JCMais commented on #551
@mubaidr I will take https://github.com/BrainJS/brain.js/blob/master/__tests__/praxis/arthur-deviation-weights/end-to-end.js

[2020-10-23 18:57] grigori-gru opened #644 "'learningRate' is declared but its value is never used"
https://github.com/BrainJS/brain.js/blob/349009fd5d5c3a1eb007c18e6f799296b6bbf39b/src/praxis/arthur-deviation-biases.ts#L40

It can be removed, in tests I try to pass only `layer` but compiler expect to pass `learningRate`.

[2020-10-24 08:41] dhairyagada commented on #551
@mubaidr  I'll be taking up `https://github.com/BrainJS/brain.js/blob/master/__tests__/recurrent/end-to-end.js`

[2020-10-24 17:42] mubaidr commented on #644
Nice find! Willing to send a pull request?

[2020-10-24 17:54] grigori-gru commented on #644
Yes, sure

[2020-10-25 06:46] mubaidr commented on #644
https://github.com/BrainJS/brain.js/pull/649

[2020-10-25 06:46] #644 closed, assigned to nobody

[2020-10-25 10:19] shubhi23994 commented on #551
Hey! Would like to pick up some work here. I can help with removing `any` type or converting the file to typescript(although I don't see any file pending). You can direct me to "what is still pending"

[2020-10-25 10:50] mubaidr commented on #551
@shubhi23994 That would be great! You can run `npm run lint` to identify `any` usages. Looking forward!

[2020-10-25 10:53] mubaidr commented on #551
For anyone looking to contribute, here is the list of files that still needs typescript migration:

https://github.com/BrainJS/brain.js/search?l=javascript&p=1

[2020-10-27 11:01] luisgregson commented on #551
Looks like childrens-book.js has already been converted. I'm going to convert https://github.com/BrainJS/brain.js/blob/370502c92ce228148524bc3bff95eac304a559a5/examples/javascript/predict-tense.js if that's not being worked on atm?

[2020-10-27 14:44] luisgregson commented on #551
I'm going to take a look at https://github.com/BrainJS/brain.js/blob/3b464186dbca121bd3e92845aa4e49ae71df61b5/src/neural-network.js too

[2020-10-27 15:41] dhairyagada commented on #551
Hello again I'll give a shot at migrating https://github.com/BrainJS/brain.js/blob/master/src/recurrent/rnn.js

[2020-10-27 16:11] mubaidr commented on #551
@luisgregson @dhairyagada Please wait for input from @robertleeplummerjr I think he was working on these, if otherwise, you can then work on these, please.

[2020-10-27 16:38] robertleeplummerjr commented on #551
Yea, nearly done, but was away last week.  Look for by end of week something for review.  @dhairyagada I'd love to get your help on it, however.

[2020-10-27 17:05] luisgregson commented on #551
@mubaidr @robertleeplummerjr
Sorry, i couldn't see neural-network.js mentioned here so i thought it was free. I'll stop working on it. But let me know if you want any help 🙂

[2020-10-27 17:15] robertleeplummerjr commented on #551
Sorry, neural-network.js is free, I am working on rnn.js.

[2020-10-27 17:38] mubaidr commented on #551
@luisgregson You can continue working on `neural-network.js`, please 👍🏼

[2020-10-28 04:17] dhairyagada commented on #551
Sure @robertleeplummerjr , I would love to help! Please let me know how can I contribute to it

[2020-10-28 11:17] ujw0l opened #653 "How to write hello world in brain.js"
May be this is not a right to request this,Just wondering how to output Hello World with brain js. like console.log('Hello World') with JS. Is it possible?

[2020-10-29 11:13] theone3nu opened #654 "How to reduce training error"
BrainJs is really awesome for javascript developers. Thanks for this library. Its working as expected but i have some couple of questions that i am unsure how to fix this.
I am using LSTMTimeStep to predict the next price of currency market.  I have created this
const net = new brain.recurrent.LSTMTimeStep({
    inputSize: 4,
    hiddenLayers: [32, 32],
    outputSize: 4,
  });
net.train(trainingD

[2020-10-29 18:46] robertleeplummerjr commented on #654
What does your training data look like?

[2020-10-29 18:50] theone3nu commented on #654
Hi robert thanks for the reply. Here is my training data looks like. I have chunked the array to 5 elements Array of array just like as you mentioned in the tutorial.
<img width="945" alt="Screen Shot 2020-10-30 at 12 19 28 AM" src="https://user-images.githubusercontent.com/22262757/97619031-bd8afc00-1a45-11eb-91b0-df06e1d3cd45.png">

[2020-10-29 18:55] robertleeplummerjr commented on #654
Have you looked into https://github.com/BrainJS/brain.js#cross-validation?

[2020-10-29 18:59] theone3nu commented on #654
No i haven't tried this but after seeing this got confused where to use LSTMTimeStep in that cross validation example it is using brain.NeuralNetwork.  Instead of ```
const crossValidate = new brain.CrossValidate(
  brain.NeuralNetwork,
  networkOptions
);
```can i use` new brain.CrossValidate(brain.recurrent.LSTMTimeStep, networkOptions)`

[2020-10-29 19:02] robertleeplummerjr commented on #654
I believe that is the exact usage.

[2020-10-29 19:04] theone3nu commented on #654
Ok thanks let me try that. One more question what about

`const json = crossValidate.toJSON(); // all stats in json as well as neural networks`
[code]
Where should i use the above one

[2020-10-29 20:43] theone3nu commented on #654
I just tried using crossValidate.   Here is my code
[code]

I see there is much more error using crossValidate than without using crossValidate. Also Time taken is high same like without crossValidate. Let me know anything wrong in the above implementation?

[2020-10-29 22:54] hiitsmax opened #655 "Electron rebuild fails on Windows"
## _What_ is wrong?

After installing brain.js, trying to run my electron app gives a node_module_version mismatch and when trying to run electron-rebuild.cmd a linker error is throwed

## _Where_ does it happen?

At electron's start (window doesn't show up, only an error dialog about node_module_version appears) and when executing electron-rebuild.cmd

## _How_ do we replicate the issue?

- Insta

[2020-10-30 13:01] theone3nu commented on #654
Any update on this please. I tried using crossValidate but still no change in terms of time and error rate. Any suggestions please?

[2020-10-30 14:43] robertleeplummerjr commented on #654
Maybe you could normalize values with a cap much lower than you are currently?  It seems none of the values in training are above 0.2.  If they were a greater the net can more easily pick up on the values being trained on.

[2020-10-30 14:50] theone3nu commented on #654
Currently this is the formula i am using for scaling down and scaling up.  Any other formula to normalize values. The normalized data range should be from 0 to 1 right thats what that i achieved in trainingdata.
[code]

[2020-10-30 15:27] robertleeplummerjr commented on #654
How many values are above the highest 33% for example?  You may get away with just ignoring these spikes.

[2020-10-30 15:37] theone3nu commented on #654
Not sure how to calculate  how many values that  are above the highest 33%. Any example do you have.

[2020-10-30 16:58] robertleeplummerjr commented on #654
https://observablehq.com/@robertleeplummerjr/how-many-values-are-above-33

[2020-10-30 17:11] theone3nu commented on #654
Thanks for the response. There are 0 values which are above 33% as all my sacaled data values are between 0 and 1.  See the values below.

<img width="928" alt="Screen Shot 2020-10-30 at 10 41 09 PM" src="https://user-images.githubusercontent.com/22262757/97735987-0f448c80-1b01-11eb-967b-1ca1669b043c.png">

[2020-10-30 17:13] robertleeplummerjr commented on #654
I meant denormalized values, not normalized ones.

[2020-10-30 17:30] theone3nu commented on #654
Denormalized values are original values which are in betweeen 101.17932 and 118.665 so all values are above 33%.
<img width="768" alt="Screen Shot 2020-10-30 at 10 58 23 PM" src="https://user-images.githubusercontent.com/22262757/97738046-d78b1400-1b03-11eb-81e6-79a3e526b816.png">

[2020-10-30 17:56] robertleeplummerjr commented on #654
What values have you used for learning rate?

[2020-10-30 17:56] robertleeplummerjr commented on #654
Also, have you used more, perhaps smaller, layers?

[2020-10-30 18:06] theone3nu commented on #654
This is my training options data

` net.train(trainingData, {
    iterations: 20000,
    learningRate: 0.001,
    errorThrash: 0.0001,
    logPeriod: 100,
    log: stats => console.log(stats),
  });`
and

` const net = new brain.recurrent.LSTMTimeStep({
    inputSize: 4,
    hiddenLayers: [32, 32],
    outputSize: 4,
  });`
i have changed to smaller layers but errror rate is not reaching 0.02 so i

[2020-10-30 18:07] mubaidr commented on #653
We do have many simple examples available, you can play with them here: https://brain.js.org#/examples

[2020-10-30 18:07] #653 closed, assigned to nobody

[2020-10-30 18:09] mubaidr commented on #655
This seems to be issue with the `gl` module build issue. Can you please check and confirm if you are able to install this module (https://github.com/stackgl/headless-gl) in your electron app?

[2020-10-30 18:33] hiitsmax commented on #655
"npm install gl" goes flawlessly, but when trying to run electron-rebuild it throws the same error.

When importing gl in my electron app (and leaving Brain.js out) with this sample code:
[code]
the error is this:
[code]
then after executing "npm rebuild" and trying to run the app the error is the same as before:

[code]

[2020-10-31 21:21] 24jr opened #656 "dependency was not found"
I `npm install brain.js` and its in my package.json and I have Xcode and python 2.7 installed and when I try and do `import brain from 'brain.js';` in my script (using vuejs not that it should matter) I get error
[code]
and I've tried the `npm rebuild` as the docs say to try as well and same thing

This is for browser of course not node not sure if that has something to do with it or not

[2020-11-01 06:10] mubaidr commented on #655
This looks like build setup issues, can you please follow guide here: https://github.com/BrainJS/brain.js/issues/458

[2020-11-01 06:20] mubaidr commented on #656
whats the result of? `npm install --save brain.js`

[2020-11-01 21:55] 24jr commented on #656
@mubaidr same thing

[2020-11-01 22:11] 24jr commented on #656
This is vue component as a test with sample code copied from docs used in the function

[code]
<img width="253" alt="Screen Shot 2020-11-01 at 5 08 50 PM" src="https://user-images.githubusercontent.com/34662182/97816718-0e2c7000-1c65-11eb-9867-1c9ffd79ff1b.png">
<img width="572" alt="Screen Shot 2020-11-01 at 5 11 28 PM" src="https://user-images.githubusercontent.com/34662182/97816749-4a5fd080-1c6

[2020-11-01 22:18] 24jr commented on #656
Oh I think it has something to do with where I import the brain.js from. I guess I thought you just do it globally like that but maybe I have to access a specific folder. Or do something in main.js to make brain.js accessible from components

[2020-11-02 14:39] hiitsmax commented on #655
Already did it all, but the errors are still here. I even tried to repeat the procedure in a new Windows 10 VM, nothing changed.

I tried to go further following the electron's guide for building native modules with node-gyp and it's stuck on this error:
[code]

[2020-11-03 00:52] timendez opened #657 "npm install brain.js on Windows failure"
## Meme
The Kamal stack is my favorite
![image](https://user-images.githubusercontent.com/4667806/97934681-35e60b80-1d2b-11eb-868a-1b4144917372.png)

## _What_ is wrong?

`npm install brain.js` outputs:
[code]

## _Where_ does it happen?

In the git bash environment, when running `npm install brain.js` at the root of my project.

## _How_ do we replicate the issue?
- Be on Windows
- Install Python

[2020-11-03 09:01] theone3nu commented on #654
I have fixed my two problems by storing the training net and reusing it again. Calling repeatedly to reduce error rate to much better from 0.020 to 0.015. Also when i add new data i am just appending it to the trained net it is continuing from there with faster results.
[code]

[code]
If i keep on re run error rate is reducing and more accurate results are coming.  BrainJs is awesome. Thanks rober

[2020-11-03 09:01] #654 closed, assigned to nobody

[2020-11-03 15:04] robertleeplummerjr commented on #654
This is fantastic!

[2020-11-05 08:41] timendez opened #658 "Specify TrainStream Iterations?"
I'm trying to stream 25gb of data (before modeling) into a neural net via TrainStream. It takes about 30min/iteration, so I'm wondering if there's any way to tell it to stop training after just 5 iterations so that I can test it out and see if it's good enough.

There doesn't seem to be anything I can pass as TrainStream Options, so I'm just wondering if I'm overlooking something.

Thanks!

[2020-11-05 22:44] timendez commented on #658
Additionally (let me know if this would be better as a new issue), is there any way to improve stream training performance? It takes about 1ms per call to `trainStream.write(thing);`

[2020-11-06 19:28] IanFLee commented on #574
I personally solved this error by:

`
            const trainingData = await generateTrainingData()

            const str = JSON.stringify(trainingData)

            const json = JSON.parse(str)

            var train = net.train(json, { log: (stats) => console.log(stats), iterations: 20000, errorThresh: 0.01 })
`

Though I did not repro with your data set, this is just what worked in my personal

[2020-11-09 07:00] sts-ryan-holton commented on #634
@robertleeplummerjr any update on this?

[2020-11-11 00:57] Nelias commented on #657
It does install properly in my Visual Studio Code on Windows 10 with Python 2.7. What version of Windows is it, 64 or 32 bit? It looks like a problem with `node-gyp` in Visual Studio Build Tools 2015 rather than `brain.js` library itself or `gl@4.8.0` module.

[2020-11-11 00:59] Nelias commented on #656
This issue should be closed as it is clearly not the problem with library itself.

[2020-11-11 01:01] Nelias commented on #655
@MassimoMendozza try using some lower versions of `node.js` and `node-gyp` (for example 10.0 or lower), try `nvm` tool for that.

[2020-11-11 01:03] Nelias commented on #634
@sts-ryan-holton I think your answer is here #352

[2020-11-11 09:08] sts-ryan-holton commented on #634
@Nelias I did have a look at that issue and couldn't find any code examples.

[2020-11-11 22:44] timendez commented on #657
Windows 10 Enterprise 64 bit. I tried reinstalling visual studio build tools 2015, 2017, and 2019 to no avail unfortunately.

[2020-11-13 09:23] hiitsmax commented on #655
@Nelias Tried with nvm to use both node 10.23.0 and node 10.0.0 with multiple version of node-gyp (latest, 5.1.0 and 3.6.3).

Nothing changed, the errors are the same

[2020-11-15 15:35] karthiTox opened #659 "Layer graph"
### Summary

Layer Graph, use graph to store and propagate through layers instead of using linear ADT. the output of one vertex/level is passed to the vertex in next level. if vertex has more than one parents then concat/add the outputs of previous layer and then feed to the layer. so spliting and merging the networks, creating new combinations will be more easily and also graph can easily stored

[2020-11-16 09:18] dszarek04 opened #660 "Brain.js problem with importing LSTM network from json"
### Here is the source link: [Stack Overflow link](https://stackoverflow.com/questions/64660493/brain-js-problem-with-importing-lstm-network-from-json)

## _What_ is wrong?

Brain.js throws an error when importing LSTM network from a js file

## _Where_ does it happen?

When trying to run brain.js LSTM network from repl.it

## _How_ do we replicate the issue?

[Stack Overflow link](https://stackov

[2020-11-17 13:26] robertleeplummerjr commented on #551
I have pushed up the RNN changes to https://github.com/BrainJS/brain.js/tree/rnn-ts @dhairyagada.  If you want to check it out. It is nearly complete in script conversion, but I've not tested it entirely yet.  The typescript fails around serializing and deserializing from JSON.

[2020-11-21 19:43] jefftmahoney commented on #660
Hi there ... I think what might be going on is that what you're passing into BrainJS is not actually JSON.

In your code, you have this:
[code]

When I tried running your code, I saw the same error you saw.
Using `JSON.parse()` seemed to fix the issue.

In other words, when I changed `net.fromJSON(data);` to `net.fromJSON(JSON.parse(data));`, the error disappeared.

[2020-11-22 07:52] dhairyagada commented on #551
Sure @robertleeplummerjr I'll check it out

[2020-11-22 10:56] dszarek04 commented on #660
Oh thank you, this actually works!

[2020-11-22 10:56] #660 closed, assigned to nobody

[2020-11-24 14:31] ghost opened #662 "Brain don't use imported training"
![A GIF or MEME to give some spice of the internet](https://i.ytimg.com/vi/NUYvbT6vTPs/maxresdefault.jpg)

## _What_ is wrong?

Im training my neural network, then exporting all the training with :
`fs.writeFile('model.json', JSON.stringify(net.toJSON()), 'utf8', () => console.log('Model Has been Writen.'));`

When starting after importing the training

`if (use_oldTraining) {
  let fileContent =

[2020-11-25 01:29] jefftmahoney commented on #662
Two things
1) have you verified that `use_oldTraining` is true, and/or tried substituting a true boolean expression (e.g. 1 == 1) to ensure that your code block is indeed executing, and
2) with `net.fromJSON(fileContentJSON);` ... does that get assigned anywhere?  It looks like you're calling `fromJSON()` without passing the return value to anywhere.

[2020-11-25 04:38] harshkhandeparkar commented on #551
Wow, this has made a lot of progress! Is there anything left where I can help?

[2020-11-25 10:39] ghost commented on #662
Hello, yes use_oldTraining is true and working and for the second part, here is my code

`
const brain = require('brain.js');
const fs = require('fs');
let fileContent = fs.readFileSync("model.json", "utf8");
let fileContentJSON = JSON.parse(fileContent);

const net = new brain.recurrent.LSTM();
net.fromJSON(fileContentJSON);
console.log(net.run("crée un text channel qui s'appelle testPratique"));

[2020-11-25 18:18] jefftmahoney commented on #662
Cool.  So what happens when you try this:

[code]

[2020-11-25 18:20] ghost commented on #662
The brain looks stupid like i never imported the result of old works.

[2020-11-25 23:03] robertleeplummerjr commented on #551
I've got rnn.ts nearly done, upgrades to the data-formatter.ts (because they are so heavily linked) and some minor fixes along with the to-svg.ts fixes.  I even found a (semi naughty) way of fixing some weirdness we were seeing in equation.ts.  I'll have them pushed tomorrow.

[2020-11-26 05:26] jefftmahoney commented on #662
I was mistaken about `fromJSON()` (i.e. you were using it correctly).

I got this example below to work.  I'm using a Mac, and I have Node 10.15.3.  The `doInitialSetup` function trains a LSTM network and stores it in a file called `model.json` (like you did).  The `useExistingTraining` function creates a new LSTM that utilizes the training from `model.json`.  I don't know how closely this resembl

[2020-11-26 11:08] ghost commented on #662
Hello again..   Here is the result :
![x](https://i.imgur.com/QbqiRU4.png)

I don't really know what is wrong with my old code, probably that my IA is badly trained, im gonna make a help post on github to get more infos about what im doing wrong

[2020-11-26 11:08] #662 closed, assigned to nobody

[2020-11-26 11:44] ghost opened #663 "Brain Not Learning :("
Hello, this is really not a bug, but probably more a problem from my side.
Im trying to learn simple instructions to my AI.
Here is the code :
![image](https://user-images.githubusercontent.com/52961795/100346810-bf17f780-2fe4-11eb-9580-e699fb316e2c.png)
I basicly don't understand why my AI is never understanding what im asking him.
I don't know if its the method that i am using that is wrong or m

[2020-11-30 15:55] robertleeplummerjr commented on #551
Pushed rnn.ts up, with the related changes.  Going to go ahead and merge, and pick up rnn-time-step.js.

[2020-12-01 07:35] ray-1337 opened #665 "cannot read property 'backpropagateIndex' of undefined & unhandled signature"
## _What_ is wrong?

Giving me an error when I'm using LSTM (cannot read property 'backpropagateIndex' of undefined)

And, giving me an error when I'm using LSTMTimestep (unhandled signature)

## _Where_ does it happen?

In an LSTM when trying to run a net train in Node.js.

## _How_ do we replicate the issue?

[code]

## Expected behaviour (i.e. solution)

Should have run without this error

## V

[2020-12-03 07:58] StoneT2000 commented on #551
Hi there @mubaidr and everyone! Wondering if I could help anywhere? Could I work on cross-validate.js conversion to cross-validate.ts? (along with fixing the test bugs in there right now caused by `RNNTimeStep` class), doesn't seem like anyone is working on that right now.

[2020-12-05 09:04] mertdogan opened #666 "aSync Training Problem"
![image](https://media1.tenor.com/images/8056ea1ac5d1aaee39b5b836077e821c/tenor.gif?itemid=3578206)

## _What_ is wrong?
trainAsync() not working. Generates Promise error in the console.log after train finishes. Also, result of run is different from normal train() result.

## _Where_ does it happen?
In the NeuralNetwork when trying to run a net in windows localhost pc

## _How_ do we replicate the

[2020-12-05 16:51] p40sp40r0us commented on #364
Is an LSTM nework only GPU accelerated when using the new Recurrent class?  It doesn't appear from testing that recurrent.LSTM() uses gpu.js from what I could tell.  I would like to test this new Recurrent class, and [this](https://jsfiddle.net/2pLw9ec5/4/) jsfiddle code is my attempt, but with errors.  Is it possible at this time to test Recurrent from unpkg or node with 2.0.0-beta.2? thank you.

[2020-12-05 18:46] p40sp40r0us opened #667 "recurrent.LSTM not GPU accelerated"
![A GIF or MEME to give some spice of the internet](https://media.giphy.com/media/gKsJUddjnpPG0/giphy.gif)

## _What_ is wrong?

Not sure if this is a bug, or a feature not yet implemented.  From the commits, it appears version 2.0.0-beta.2 should be GPU accelerated for all network types.  However recurrent.LSTMTimeStep() is extremely slow compared to NeuralNetworkGPU...and just from the title doe

[2020-12-06 12:19] gomestai opened #668 "determining line chart regions"
Hello all,

I have time based data's and drawing a chart like below:
![data](https://user-images.githubusercontent.com/3295212/101279818-f1400b00-37d5-11eb-9f81-6a9c418745af.png)

As you see, human is able to separate regions by eye. I have thousands of data to draw hundreds of charts similar to this one. So I'm also able to make a training set with marked regions like
`
data=[
{time:'2020-12-06 1

[2020-12-10 05:37] jonathanconway opened #669 "Can we add guidance on importing in Angular?"
When I tried importing Brain.JS into my fresh new Angular 11 project:

[code]

I kept getting this build error:

[code]

After about an hour of anguished searching and mucking around I finally discovered the fix, buried in an obscure [comment on an issue](https://github.com/BrainJS/brain.js/issues/80#issuecomment-320338028):

Can we document this somewhere so that the future Angular users won't st

[2020-12-11 23:09] pbxx commented on #667
I am having this bug as well. I am on Windows using Node.js, and an Nvidia RTX 2060 super.

I have confirmed that the GPU is not being utilized by checking MSI Afterburner while training a neural net, the GPU stays idle while the Node app uses ~25% cpu.

I have opened a thread on stackoverflow about this same issue: https://stackoverflow.com/questions/65259566/brain-js-is-not-utilizing-gpu-for-tra

[2020-12-13 13:49] TheTrueGravity opened #671 "Error installing brain.js on windows"
## _What_ is wrong?

Upon installing, I get an error. This error seems to be coming from installing gl.

## _Where_ does it happen?

In command prompt.

## _How_ do we replicate the issue?

Simply run `npm install -g brain.js`

## Expected behavior (i.e. solution)

Brain.js to install.

## Version information

### Npm: 6.14.8

### Nodejs: 14.15.1

### Browser:

### Brain.js: latest build

## _How_

[2020-12-14 19:45] TheTrueGravity commented on #671
I have managed to figure this out.

[2020-12-14 19:45] #671 closed, assigned to nobody

[2020-12-14 20:41] robertleeplummerjr commented on #671
What was the issue?

[2020-12-14 20:55] TheTrueGravity commented on #671
It is an issue with gl. I thought I had it sorted out but it is now not working again. I have decided to ask the creators of gl instead so they know that if there is an issue,and so they are able to sort it out and publish a fix for it.

[2020-12-15 03:40] mubaidr commented on #671
We have a similar issue here: https://github.com/BrainJS/brain.js/issues/655

[2020-12-15 08:07] TheTrueGravity commented on #671
I have asked the people over at gl and they have said that it is possibly an issue with not having the correct dlls for 32 bit. I am guessing that this is the case for me because I have x86 node js installed. I am now awaiting an answer.

[2020-12-15 17:24] TheTrueGravity commented on #671
I have fixed this by installing an x64 version of node js!

[2020-12-15 17:32] robertleeplummerjr commented on #671
![](https://media3.giphy.com/media/nXxOjZrbnbRxS/giphy.gif) (yes!)

[2020-12-17 02:14] dyn0-dy opened #672 "`GPU.js`"
Greetings, there's a issue with GPU, I think only basic neural network runs on GPU, if.
GPU.js is wonderful library, you could port other layers there.

Also I would like to see some custom layer building, like in Keras...

Maybe Hopkins networks, Markov chains, reinforced learning, all could be implemented on Brain.js

I can give you mathematics, but I don't see very much deep in how inheritance

[2020-12-17 02:23] dyn0-dy opened #673 "Brain worker"
Git brain worker,
And then 'front' which could be master for workers.

I can make computation distribution system, but I don't really know brain.js...

It can be shared over network, with local peer discovery, or even browser-gpu support with server as merger of networks.

There can be two options, "fast cluster", "slow cluster" which would be different versions, based on processing speed.

Somewh

[2020-12-17 02:26] dyn0-dy opened #674 "2D Convolution"
I can make pnge's and jpeg's into that, but what would really come handy would be 2D convultion, like optical cortex or whatever, that could even handle 2D LTSM networks in certain layers, people could then easily experiment with this combination, which could have wonderful outcomes.

Maybe it'll get you some funding...

[2020-12-17 14:48] robertleeplummerjr commented on #674
Most of the convolution network layers have been built, but there was an initiative that really took off to convert brain.js to typescript.  I've had to give the convolutions a back-seat while I work to get the rest of brain.js into typescript.  That progress can be seen here: https://github.com/BrainJS/brain.js/issues/551.

The actual convolution layer can be seen here: https://github.com/BrainJS

[2020-12-22 11:25] robertleeplummerjr commented on #551
@StoneT2000 I am working on this right now.  In fact, yesterday got the RNNTimeStep mostly converted to typescipt, but tests failing.  Now working on those here: https://github.com/BrainJS/brain.js/tree/rnn-time-step-ts.

Here are a list of files that you can choose from:
src/cross-validate.js
src/neural-network.js
src/neural-network-gpu.js
src/recurrent.js

GUYS!  Four files (and their tests 😄)?!

[2020-12-23 02:51] StoneT2000 commented on #551
@robertleeplummerjr I'll tackle `src/cross-validate.js` on my fork of master

Thanks! Ya'lls work on this looks amazing 💯 and lets make that final push!

[2020-12-23 07:10] StoneT2000 commented on #551
@robertleeplummerjr @mubaidr just made the cross-validation PR and if it looks good and is merged, I can tackle the `neural-networks.js` file next (and get rid of the million todos caused by the missing types :) )

[2020-12-23 15:26] robertleeplummerjr commented on #551
Awesome work @StoneT2000!

[2020-12-27 13:32] nadeeraka commented on #80
Module not found: Can't resolve 'brain.js' in react
this can solve  importing brain js
import  brain from 'brain.js/src/index'

[2020-12-28 21:43] robertleeplummerjr commented on #551
Dropping a mega gauntlet: https://github.com/BrainJS/brain.js/pull/677

[2020-12-29 17:37] robertleeplummerjr commented on #551
Starting on `src/recurrent.js` while https://github.com/BrainJS/brain.js/pull/677 is waiting.

[2020-12-31 03:17] StoneT2000 commented on #551
I'll get started on `src/neural-networks.js`

[2020-12-31 16:56] Pradakicks commented on #663
I am also having a similar issue. Have you found a solution for this?

[2021-01-07 17:40] robertleeplummerjr commented on #551
@StoneT2000, how is it going?
`src/recurrent.js` is now done: https://github.com/BrainJS/brain.js/pull/679 and https://github.com/BrainJS/brain.js/pull/677 is merged.

[2021-01-07 17:45] StoneT2000 commented on #551
@robertleeplummerjr Uni just started again so put a short pause on what I was attempting with neural-network.js

There's also a few confusing typings for data that blocked me last I worked on it

I'll probably pick it up again this weekend

[2021-01-07 17:59] robertleeplummerjr commented on #551
@StoneT2000 if you need me to take over, just let me know.  Meanwhile, since we have just the two files remaining `src/neural-network.js` and `src/neural-network-gpu.js` I'm going to shift to fixing all the broken unit tests on branch: https://github.com/BrainJS/brain.js/tree/ts-tests.

[2021-01-07 18:02] StoneT2000 commented on #551
Actually yeah, now that i think of it I don't think I'll have much time in the next few weeks to make this a good conversion, feel free to take over @robertleeplummerjr

You can try and use some of the conversion i've made although tbf I think i might've interpreted some functions incorrectly.

I'll be around anyhow and good luck!

[2021-01-08 14:52] robertleeplummerjr commented on #551
Started on `src/neural-network.js` last night, maybe I'll have something next week.

[2021-01-08 15:52] didkivskyy opened #681 "Using 'constructor' keyword within input breaks the training"
![That's not a word](https://media.giphy.com/media/3CfAKeVE6CTQs/giphy.gif)
## _What_ is wrong?
Training iterations produce **NaN** in place of training error value. Happens when _constructor_ keyword is used within the input.

## _Where_ does it happen?
It's reproducible both in Node.js and Chrome browser (NeuralNetwork or NeuralNetworkGPU).

## _How_ do we replicate the issue?
Minimum reproducib

[2021-01-11 00:51] ghost opened #682 "Brain IS IDIOT"
## _What_ is wrong?
BRAIN.JS really have autism or something

## _Where_ does it happen?
I train him to give me numbers, he output me > 1 float every time

## _How_ do we replicate the issue?

1 )
`var trainingData =
{
	input:[0],output:[3],
	input:[1],output:[3],
	input:[2],output:[3],
	input:[3],output:[3],
	input:[4],output:[3],
	input:[5],output:[1],
	input:[6],output:[3],
	input:[7],output:[2

[2021-01-11 03:46] mubaidr commented on #681
Thanks for detailed issue filing. We will look into this issue.

[2021-01-11 12:32] robertleeplummerjr commented on #682
It looks like from your training data you are giving some very weird training data.  It should be an array of objects in this case.

[2021-01-11 14:14] ghost commented on #682
Could you give m an example of Array of Objects using my model.
Im trying to learn my IA to play "One Two Ten" game.
Each player each round chose une number between 1 and 3 and the main number get added, the objective is to force the other player to say the number 10.
Points : 0
Player1 : 3 (3)
Player2 : 3 (6)
Player1 : 1 (7)
Player2 : 2 (9)
Player1 : 1 (10)

Player 2 won.

[2021-01-11 14:55] robertleeplummerjr commented on #682
The working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-682
In Neural Network terms, in dealing with floating point and network accuracy, `0.98` IS `1`.  The exception is when using a Recurrent Neural Network, such as `brain.recurrent.LSTM`, where inputs are associated with a neuron.  It sounds like you want Recurrent Neural Network for the task at hand.  Also note, that y

[2021-01-11 16:25] ghost commented on #682
I am just trying to understand now, i just replaced
const net = new brain.NeuralNetworkGPU();
by
const net = new brain.recurrent.LSTM();

and now its working fine. What is the difference.

[2021-01-11 17:13] robertleeplummerjr commented on #682
NeuralNetwork is a feed forward neural network.  How it works: Imagine selecting a single frame of a movie.  What can you tell me about the movie frame?  Likely only the things in it, maybe the colors, where it takes place, etc.

LSTM is a Long Short Term Memory Recurrent Neural Network.  How it works: Imagine each frame of a movie played together over time.  What can you tell me about the movie?

[2021-01-11 17:13] #682 closed, assigned to nobody

[2021-01-12 19:31] ghost commented on #656
Hi, I have the same problem I can't find any solution, in a simple .js index everything works but it's impossible to put it in my project vue.js

[2021-01-13 22:13] robertleeplummerjr commented on #551
With https://github.com/BrainJS/brain.js/commit/6c86dce270ae0a0414a85cced0ff3c24ac8f30cd I believe we are now a full on typescript library.  Ty everyone for your hard work!

[2021-01-13 22:13] #551 closed, assigned to nobody

[2021-01-14 02:32] Shroototem commented on #97
That exports as this:
`export default {"type":"LSTM","options":{"inputSize":12,"inputRange":12,"hi....`

I can't seem to get a normal json file out of it.

[2021-01-14 02:49] robertleeplummerjr commented on #97
Can you share your full example?

[2021-01-14 03:31] mubaidr opened #684 "Typescript (Typings) Improvements"
We have recently migrated brain.js to TypeScript (https://github.com/BrainJS/brain.js/issues/551), code base is pretty large, so we would love your help! 💪

How to contribute?
- Fix any lint/Typescript error
- Remove redundant types (if any)
- Improve types usage

**Here you can find a guide on [how to contribute](https://github.com/BrainJS/brain.js/blob/master/CONTRIBUTING.md).**

Reach out to us

[2021-01-14 09:52] polystate commented on #97
Hi all, complete noob here. Really loving the intuitive feel of brain.js, just having problems saving a trained neural network like the others. I tried the method listed above and got the same response "Sizes must be set before initializing." I have an index.js file, NN.js and a trained-net.json file in use, it loaded the data in the new JSON file but I can't seem to get it from my new NN.js file.

[2021-01-14 13:11] robertleeplummerjr commented on #97
In the above example, you are using two different neural networks.  Stick to the LSTM network for strings.

[2021-01-14 15:07] Shroototem commented on #97
My issue was fixed. I had some small mistake and now everything's fine.

[2021-01-14 16:49] polystate commented on #97
Thanks! It worked.

Someday when my programming skills advance I would like to contribute to this project.

Can you make a sophisticated chatbot with this? I assume you would have to use the LSTM-type NN right?

[2021-01-14 17:15] mubaidr commented on #97
@dock-adams Please follow this thread for information regarding this topic: https://github.com/BrainJS/brain.js/issues/535

[2021-01-15 00:07] Shroototem opened #687 "Single input, Single output"
## Issue
 I'm unable to use a single input to single output training.

## _How_ do we replicate the issue?
[code]

The 'errorThresh' never goes down.

## Version information
brain.js@2.0.0-beta.2

### Nodejs:
v14.15.3

## _How_ important is this (1-5)?
1

[2021-01-15 05:09] Shroototem commented on #687
[code]

  No matter what I put in, it gives me the wrong output.
  If you input 10, it outputs 0.1329
  Of course this is supposed to be 20.

[2021-01-15 13:19] robertleeplummerjr commented on #687
Don't use a time step or rnn for a single input and single output.  There is no recurrence.  Use the standard neural network.    I'll get you a working example shortly.

[2021-01-15 15:31] robertleeplummerjr commented on #687
I think the main thing here is that you need to normalize and denormalize the data.  Full working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-687

[2021-01-15 15:31] #687 closed, assigned to nobody

[2021-01-15 16:48] Shroototem commented on #687
How do I call this later on?
[code]
I'm getting a float from 0 to 1.
You also set the max to 20. What if I try to put in say 34, would it output 68?

[2021-01-15 17:15] robertleeplummerjr commented on #687
The normalization functions I added in the example work dynamically, do changing the training data will still normalize accordingly.  You'll get values between 0 and 1 until you denormalize them to original values, which is in the example as well.

[code]

[2021-01-15 17:21] robertleeplummerjr commented on #687
Updated example to be dynamic in showing results as well.

[2021-01-15 17:36] Shroototem commented on #687
Sorry to bother you but I think I'm going to look elsewhere for what I need.

[2021-01-16 01:57] anshll opened #688 "Training with Neural Network with Array Inputs Doesn't Work"
I have a project where an array of pitches (Hz) inputted by a user can output a predicted emotion. When I had a smaller training set (Around 6 Inputs and Outputs), it was working fine, but when adding more data, it doesn't work anymore, every time it runs, it returns NaN.

For the One That Works:
Repo: https://github.com/Cubix75/WorkingFile
Running Example (Check Console to see Output): https://cu

[2021-01-16 12:07] robertleeplummerjr commented on #688
It's the length of array.  It should be constant.

[2021-01-16 12:07] #688 closed, assigned to nobody

[2021-01-16 16:27] anshll commented on #688
If it's the length of the array, how come the working file still works even though it has different lengths of arrays?
Also is there a method such as a different type of neural network that can take different lengths of arrays?
Thank you for the quick response, by the way!

[2021-01-18 13:21] robertleeplummerjr commented on #688
I don't think it actually is working.  The most appropriate neural network would be the LSTMTimeStep in this case.

[2021-01-28 02:45] search27 opened #691 "gru.ts typescript lint error"
When I try to type 'npm run-script dist', got some error about ts-lint, I think.

`

AND THIS ERROR OCURS HERE

recurrent_deprecated/gru.ts 117 lines

`compare(json.input, net.model.input);`

recurrent_deprecated/gru.ts 124~125 lines

How to Fix it? I think this is compiler can not know the type of values. And the type will be Matrix :(

[2021-02-02 15:24] Robin-Sch opened #692 "GPU Acceleration isn't working"
## _What_ is wrong?

It trains on my CPU, and not GPU

## _Where_ does it happen?

In Node.JS, on my Arch laptop
![image](https://user-images.githubusercontent.com/46354497/106621666-10a7aa00-6573-11eb-99bb-37204739146e.png)

## _How_ do we replicate the issue?

[code]

## Expected behavior (i.e. solution)

It should run on my GPU, but it doesn't

## Version information
2.0.0-beta.2

### Nodejs:
v

[2021-02-03 06:59] Robin-Sch commented on #692
nvm I'm dumb, just had to use NeuralNetworkGPU instead of NeuralNetwork

[2021-02-03 06:59] #692 closed, assigned to nobody

[2021-02-04 20:21] dFohlen opened #693 "How do I set up the training set correctly?"
![thinking](https://media.giphy.com/media/lKXEBR8m1jWso/giphy.gif)
## _What_ is wrong?

Hi guys,

I tried training an RNN model to predict user presence based on sensor data in smart homes. I receive the data (motion detectors, room temperatures, etc.) with their time stamps from a database. My data set contains several thousand time stamps with the values ​​of all sensors at that point in time.

[2021-02-12 17:23] saschamander commented on #525
@jennasisis Did you find any solution for this?

I'm currently struggling with this issue, since you can't require any libraries inside a worker. Tried to pass brain.js as argument but got following error:
`DOMException [DataCloneError]: function activate(weight) {
  return weight > 0 ? weight : 0.01 * weight;
} could not be cloned.`

[2021-02-12 17:27] bdotsamir commented on #525
I did yes, I ended up using node.js's built-in child_process module, using the fork method. It looks as if you're in the browser though, so I'm not sure that's an option for you.

[2021-02-12 18:24] saschamander commented on #525
@jennasisis
Fortunately I am on node.js :)

I will try it with the child_process-Module.
Thanks for the hint.

[2021-02-12 20:48] saschamander commented on #525
@jennasisis
Thx again, worked like a charm. For anyone working on this here is my code:

**parent.js**
[code]

**child.js**
[code]

[2021-02-15 20:22] Hawzen commented on #53
That would be very cool

[2021-02-22 14:15] #659 closed, assigned to nobody

[2021-02-27 11:24] didkivskyy opened #694 "Skewed data handling"
What would be a recommended approach to training on highly skewed data?

I'm trying to train a **feed forward NN** mainly for classification purposes. I have about 20 input values. My output contains two properties (classes) both of which are equal to _zero_ 99% of the time. The data is well normalized.
As one would expect with most kinds of regressions I get low _training error_ and high _accurac

[2021-03-05 13:57] DenisTimofijuk opened #695 "TypeScript error using config when initializing NeuralNetwork"
## _What_ is wrong?

Typescript unable to recognize configurations when using those from git example.

## _Where_ does it happen?

When creating a simple feed forward neural network with backpropagation

## _How_ do we replicate the issue?

Run [example ](https://github.com/BrainJS/brain.js#examples) with TypeScript

## Version information

### Nodejs: 6.12.1

### Brain.js: "^2.0.0-beta.2"

### ty

[2021-03-05 15:26] dFohlen commented on #693
https://www.tensorflow.org/tutorials/structured_data/time_series

[2021-03-05 15:26] #693 closed, assigned to nobody

[2021-03-05 16:27] DenisTimofijuk opened #696 "TypeScript error when using pretrained JSON data"
## _What_ is wrong?

I exported training results in to JSON file, but when I try to load them, typescript is complaining, although product is working fine.

## _How_ do we replicate the issue?

Step 1. train your network
Step 2. save your results to file `const json = net.toJSON();`
Step 3 load your results from file `net.fromJSON(json);`

## Expected behavior (i.e. solution)

I think TypeScritp s

[2021-03-05 16:49] DenisTimofijuk opened #697 "TypeScript not recognizing brain.utilities"
## _What_ is wrong?

Property 'utilities' does not exist on type 'typeof import("f:/Projects/brain.js-snowpack/node_modules/brain.js/src/index")'.ts(2339)

## _How_ do we replicate the issue?

Use TypeScript and run this code:
[code]
## Expected behavior (i.e. solution)

Be able not to use //@ts-ignore

## Version information

### Nodejs: 6.12.1

### Brain.js: 2.0.0-beta.2

### typescript: "^4.0.0

[2021-03-08 14:33] tripolskypetr commented on #614
I can suggest a hot fix. Open file `node_modules/brain.js/src/neural-network.js`. Then change the first line

[code]

To this

[code]

[2021-03-08 22:14] x3rxe5 opened #699 "Cant Install in POPos"
### Issue
Well this is the first time occur when I tried to simply install with **```npm install brain.js```**

![prebuild](https://user-images.githubusercontent.com/45236447/110388201-b8d7f380-8088-11eb-85f5-580e01300ae7.png)
![prebuild2](https://user-images.githubusercontent.com/45236447/110388210-bd9ca780-8088-11eb-87ed-ad8963dfa32e.png)

Then I read the documentation again ```sudo apt-get inst

[2021-03-15 16:49] strixy commented on #699
Same issue here with Ubuntu.

[2021-03-19 08:16] priaculun commented on #699
i have some problem with POP OS

[2021-03-22 16:51] clive-g-brown opened #701 "GPU"
Hi, any idea when the LSTM/GRU networks will work on GPU ?

thanks

[2021-04-02 16:30] Mihailoff opened #702 "BrainJS to detect PII"
## Summary

Working with PII (personally identifiable information) is still a pain for developers. Both Google Cloud and AWS have REST APIs to detect PII, but to me this is an oxymoron, sending text data to the cloud to get responses back doesn't seem like a good concept from a privacy standpoint.

### Basic example

Email can be matched with a regexp. It is obvious today that neural nets do a way

[2021-04-09 17:19] pioupia opened #703 "detect emotion, value return NaN"
## _What_ is wrong?

Hello, I created a code to detect the emotions behind a message. With the brain.recurrent.LSTM function, it works well, but unfortunately, we don’t get a percentage chance that it’s mean or nice. So I decided to adapt my code to the brain.NeuralNetwork, thanks to a function that transforms all data into binary. Except that ! The returned value is NaN. How can I resolve this pr

[2021-04-14 21:34] omniphx commented on #480
Happened to me too but turns out I had a typo: `outputs` instead of `output`

[2021-04-19 00:02] SergioLag commented on #509
Did you finally know why it was?

[2021-04-23 17:22] 0J3 commented on #598
Can confirm that this issue is still occuring.

Here's some sample code I was working on when running into this issue:
[code]
which errors with
![image](https://user-images.githubusercontent.com/67464646/115907432-25585780-a469-11eb-95c1-8259c258a24c.png)
when the function is called

[2021-04-26 14:52] KCGD opened #704 "LSTM training not using available resources"
![A GIF or MEME to give some spice of the internet](https://media.tenor.co/videos/93dd69d51af4080b18eddd17fdb08c5b/mp4)

## _What_ is wrong?

The AI training only uses about 15% of the CPU, i get that LSTM networks arent GPU accelerated yet but it could be going
so much faster if it actually used more of the CPU

## _Where_ does it happen?

It happens on nodejs 12.18.0 so far, havent tested other

[2021-04-26 15:55] KCGD commented on #657
it looks like it couldnt find any prebuilt binaries so it tried to build it and failed
try installing windows-build-essential globally through npm, should get node-gyp working

linux is a bit more complicated
try running this
`npm install node-gyp -g

sudo apt-get install build-essential

sudo apt-get -y install make

sudo apt-get install manpages-dev

gcc --version

sudo add-apt-repository ppa:de

[2021-04-30 15:56] baradm100 opened #706 "CONTRIBUTING.md link in the README is broken"
## _What_ is wrong?

The `CONTRIBUTING.md` link in the README is broken

## _Where_ does it happen?

It takes you to a 404 page: https://github.com/BrainJS/brain.js/blob/master/CONTRIBUTING.md

## _How_ do we replicate the issue?

1. Click on the [Contribute] link in the README

## Expected behavior (i.e. solution)

Point the link to the new `CONTRIBUTING.md` file: https://github.com/BrainJS/brain

[2021-04-30 16:33] #706 closed, assigned to nobody

[2021-04-30 16:39] mubaidr commented on #704
CPU training is single threaded. We had plans to implement Multi-threaded training (a demo is already ready) but it is delayed because of lack of resources.

Details: [New Feature: Multithreaded Training](https://github.com/BrainJS/brain.js/issues/417)

[2021-04-30 16:39] #704 closed, assigned to nobody

[2021-04-30 16:48] mubaidr commented on #697
Typescript conversion is still in progress, we are looking for contributions: https://github.com/BrainJS/brain.js/issues/684

[2021-04-30 16:48] mubaidr commented on #696
Typescript conversion is still in progress, we are looking for contributions: https://github.com/BrainJS/brain.js/issues/684

[2021-04-30 16:48] mubaidr commented on #695
Typescript conversion is still in progress, we are looking for contributions: https://github.com/BrainJS/brain.js/issues/684

[2021-04-30 16:48] mubaidr commented on #691
Typescript conversion is still in progress, we are looking for contributions: https://github.com/BrainJS/brain.js/issues/684

[2021-04-30 16:51] mubaidr commented on #669
@jonathanconway You are welcome to submit PR for this.

[2021-04-30 16:53] mubaidr commented on #673
I think this feature request is in-line with multi-threaded training.
https://github.com/BrainJS/brain.js/issues/417

Once the multi-htreading is ready, we can extend it to implement your idea.

We are looking for contributors, PRs are welcomed!

[2021-05-06 18:39] RaxoCoding opened #711 "Probability Default Feature"
Have a feature where you can see the probability of the choice it chose so for example it i 90% sure or 34% sure. and add a default value if not > 75% sure

[2021-05-14 13:28] baradm100 commented on #703
Hi @pioupia,
I was able to recreate this issue locally and to resolve it.
Once I forced the input data for the `run` function to have the same size as the training data I got a valid response.

## General Note
For string-based learning, the better option is `LSTM`.
Please read more here: https://github.com/BrainJS/brain.js#for-training-with-rnn-lstm-and-gru

## My Code

[code]

## Why it works?
Th

[2021-05-14 18:55] KCGD opened #712 "NeuralNetwork returns the same results regardless of input"
![A GIF or MEME to give some spice of the internet](https://media1.tenor.com/images/e6ea63fd619ad7a61cc356dced84c9e8/tenor.gif?itemid=17551843)

## _What_ is wrong?

the neural network returns the same thing no matter what input i give it

## _Where_ does it happen?

It happens both in NeuralNetwork() and NeuralNetworkGPU() on my pc (nodejs 12.18.0)
Interestingly NeuralNetwork and NeuralNetworkGPU

[2021-05-14 19:40] #703 closed, assigned to nobody

[2021-05-15 23:52] TheEpicFace007 commented on #176
the repo is no longer availaible. what do i need to do

[2021-05-28 10:46] realrecordzLab opened #713 "Unable to install brain.js on macOS - error gyp ERR! stack Error: `make` failed with exit code: 2"
I'm trying to install the library using the command `npm i brain.js` but it will fail.
into the error log I've found this error
[code]

I'm on macOS 10.13.6
node v16.1.0
npm 7.14.0

I' unable to install the library and to use it in my project. Is there any fix?I've seen the readme but it's not clear where the `npm rebuild` command needs to be called.

Is there

[2021-05-28 16:30] ashkanpower opened #714 "deep q learning network"
Hey guys, I was wondering if anybody found a way to create a deep q network with brain.js.

and if not can anybody suggest a way to implement something like this :

[code]

[2021-06-01 09:23] vorticalbox commented on #695
@mubaidr this is actually just a TS issue.

You need to tell typescript what the config is else it will just infer the types in this case, activation gets inferred as a string

[code]

doing this also nets you auto complete when you set up your config

[2021-06-01 09:47] vorticalbox commented on #712
NN do far better with numbers so you should on convert your data into an RGB value

[code]

then you should normalise your data, so dived your colours by 255 to get a value between 0 and 1

[code]

so putting it all together

[code]
[code]
[code]

[2021-06-01 11:48] vorticalbox commented on #634
I haven't done much with NN and ML as don't have time with work, however, I believe the idea is that you convert the pictures into a fixed size e.g 64x64 pixels, convert them to greyscale (so that each pixel is a value of 0 (white) and 100 (black);

from there you can normalise to 0 -> 1 and then tag your data.

[2021-06-02 14:01] magicalmonke opened #715 "LSTM gives unexpected output"
### What is wrong?
I’m completely new to neural networks so please correct me if I misunderstood something. Maybe this might be the expected outcome for this code.

I’m trying to train an LSTM network for detecting hate speech. When I run it I get some unexpected outcomes I can’t explain to myself.

### How do we replicate the issue?
[code]

### Expected behavior (i.e. solution)
When running I wou

[2021-06-02 14:36] vorticalbox commented on #715
So I limited this to 1000 interactions because they take a long time to trains however I am not getting the same outputs as you, I added some happy ones.

[code]

this gave me

[code]

it got the last one wrong lol and returned nothing for the first one which makes sense as there is nothing else like it but other than that it appears to be working correctly

[2021-06-02 14:46] magicalmonke commented on #715
I tried your code. The first one also returned me nothing. The next two are also fine only the last one is messed up again.

It looks like this
[code]

[2021-06-03 08:05] vorticalbox commented on #715
I noticed error rates were at 0.01 so it could simply be that the network needs longer to train.

[2021-06-04 13:45] magicalmonke commented on #715
I tried training the network with an iteration count of **200000** but still got weird outputs.

[2021-06-08 12:29] vorticalbox commented on #699
you are missing the x1 package, I have brain.js on popos

`sudo apt-get install libx11-dev` then `npm i brain.js`

you will likely get more errors as I did after so post back if you need more help.

[2021-06-09 15:48] vorticalbox commented on #711
not sure this is needed if you normalize your inputs between 0 - 7 anything that is 0.75 or higher is 75% and you can just return whatever you like.

[2021-06-11 11:10] vorticalbox commented on #702
LSTM networks aren't GPU accelerated so you will be in for a long train time if you use brainjs until it's supported

[2021-06-15 16:30] andrew-medvedev opened #716 "GPU doesn't work at all"
## _What_ is wrong?

Training isn't working in `gpu` mode. I have big dataset(around 160k lines, ~27 inputs and 1 output) and I run 2 same trainings - with cpu and gpu
[code]
and
[code]
and thats what I see: ![](https://i.gyazo.com/1c73ff50175c9fc9848c5cbb72f7af96.png)

any alternatives to brain.js?

## _Where_ does it happen?

In the a NeuralNetwork when trying to train a net in node.js on my mac

[2021-06-16 17:12] robertleeplummerjr commented on #716
What data are you training on?

[2021-06-17 11:49] andrew-medvedev commented on #716
on this [newItemsHintsPoints2-1.dataset.normalized.txt.zip](https://github.com/BrainJS/brain.js/files/6669870/newItemsHintsPoints2-1.dataset.normalized.txt.zip)

[2021-07-01 14:45] tupe12334 commented on #713
me to

[2021-07-01T14_41_41_808Z-debug.log](https://github.com/BrainJS/brain.js/files/6749005/2021-07-01T14_41_41_808Z-debug.log)

[2021-07-12 15:39] DanielHaitink opened #721 "TrainAsync does not work"
## _What_ is wrong?

`trainAsync()` does not work for `NeuralNetworkGPU` and `NeuralNetwork`, using brain-browser.js

[code]

Line 29467 in `brain-browser.js`

## _Where_ does it happen?

In both NeuralNetworkGPU and NeuralNetwork when running in the browser (chrome and firefox) on windows 10.

## _How_ do we replicate the issue?

- Create Network
- run trainAsync()
- Crashes at Thaw$1 constructio

[2021-07-17 06:15] EduApps-CDG commented on #716
same here

[2021-07-25 11:37] bobbjedi commented on #721
Confirm, some.

[2021-08-05 08:17] m-ahmadi commented on #721
Same issue for me as well.
Using `brain.js@2.0.0-beta.2/dist/brain-browser.js`:

![be](https://user-images.githubusercontent.com/16363767/128316034-1b238a15-2076-4419-8f66-11ca7b32e8c5.png)

[2021-08-06 23:10] rentalhost opened #722 "TrainStream: discard old data"
Hi, I would like to know if it would be possible to train in real time using `TrainStream` or similar so that it only considers the last written records.

For example, initially a training set with _60 records_ would be sent, and every minute, _1 new set_ would be write and the oldest set would be removed.

Meanwhile, training would be going on with the number of interactions `Number.MAX_SAFE_INTE

[2021-08-07 01:35] labidus opened #723 "LSTMTimeStep with inputSize != outputSize?"
## Summary

It seam impossible with LSTMTimeStep to have an outputSize != inputSize?

I would like 6 inputs with 2 outputs, if it's possible how you feed the training data? I try everything and it seam not possible.

### Basic example

I would imagine if I could use this but this not work...

this.net.train([{
input: [1,2,3,4,5,6],
output: [1,2]
},
{
input: [1,2,3,4,5,6],
output: [1,2]
},
])

I ca

[2021-08-07 14:54] rentalhost commented on #721
It fails for `beta.2`, but works for `beta.1`.

[2021-08-14 19:12] ybaidiuk commented on #713
same stuff.

[2021-08-26 13:11] upklio opened #724 "LSTM multiple inputs with mono output?"
![Screenshot from 2021-08-26 14-10-22](https://user-images.githubusercontent.com/57267403/130968410-15f91354-a3dc-4e29-8079-02affe62a4db.png)

Unless I fundamentally misunderstand, should something like this be possible?

[code]

Error:

[code]

[2021-08-30 00:32] Paulsy10 commented on #470
I am having the exact same problem as above.  Can someone please help me?
1. I am getting different outputs for different inputs... and the bot is so... unintelligent.
2. I just have like 4 text input and outputs to train and it takes like 30 minutes.

[2021-08-30 11:22] #724 closed, assigned to nobody

[2021-08-30 11:33] upklio commented on #364
I'm not sure there's LSTM GPU support yet? If I'm mistaken, an example would be amazing.

[2021-08-30 12:59] tymmesyde commented on #470
@ninjaferrari90 @Paulsy10 , this is not a bot, this is a neural net, a component to build your bot.
Read my answer above, you cannot feed plain text data to the neural net, you need to normalize your dataset first.

[2021-08-30 21:02] Paulsy10 commented on #470
I  am still a bit confused on what you mean by "normalizing"... Do you mean to use numbers instead of strings?

[2021-08-30 21:03] tymmesyde commented on #470
Read the issue and my comment in response to this issue, this is explained in details.

[2021-08-30 21:14] Paulsy10 commented on #470
I have a different situation where I am not using dates and just training it to chat. I don't see any similiarties with my text.

[2021-08-30 21:33] tymmesyde commented on #470
This is the same issue, you need to normalize your dataset.
It isn't meant to be fed with text data. However you can give it numeric values, ranging from 0 to 1.
You need to find a way to translate those text values into readable ones for the net.

In your case if you just want to make a simple answers bot, you only need to create a dictionary of strings like so:

Questions:
[code]
Answers:
[code]

[2021-09-02 16:06] upklio opened #727 "LSTMTimestep converges to one value?"
![Screenshot from 2021-09-02 16-27-39](https://user-images.githubusercontent.com/57267403/131872397-73ff448c-a536-4c78-bd9f-74b8cd728c8a.png)

### Overview
The green line is the latest version of the model, the blue is the previous, this is just my rough testing set up. I am attempting to predict the next 60 candles based off the previous 120 candles. Take note of the arrow markers which show wher

[2021-09-02 16:31] upklio commented on #727
![Screenshot from 2021-09-02 17-28-49](https://user-images.githubusercontent.com/57267403/131881882-93fa4b81-80e5-4557-9b46-04e84e7db463.png)

Here's some oscillation examples that can be found when setting batch size of the training data to `5`. Again, completely useless. More variation to start-off with, but then converge to what looks like price oscillation loops.

[2021-09-19 02:50] NxRoot commented on #65
I found a better way of working with strings.
Instead of using LSTM() that takes really long time training, we use normal network training, but before we pass it any data we process the text, heres how:

First **your training output data must be like** this -> my network-language.json:
[code]
<br></br>
After that we **create a class to parse our network strings and decode** them for the normal net

[2021-09-22 15:37] petemorrisuom opened #730 "Typescript compilation no longer works for beta3"
Hi there, as of beta3 release, tsc no longer works. Beta2 worked fine. Adding skipLibCheck doesn't seem to fix anything. I have strict mode turned on, but I wouldn't expect beta2 to work fine and beta3 to fail? Here are the errors:

node_modules/brain.js/src/layer/base-layer.ts:206:16 - error TS6133: 'isTraining' is declared but its value is never read.

206   setupKernels(isTraining?: boolean): v

[2021-09-24 19:07] anastasiiamay opened #733 "brain.recurrent.LSTM() is not working"
### Discussed in https://github.com/BrainJS/brain.js/discussions/732

<div type='discussions-op-text'>

<sup>Originally posted by **anastasiiamay** September 24, 2021</sup>
I took an example from brain.js.org, but got error when tried to use it. Error occurs because of this line:
`const lstm = new brain.recurrent.LSTM();`
Error is:
`Cannot read property 'LSTM' of undefined`
So I tried to run your

[2021-09-24 23:26] lynellf commented on #730
Brain.js' module exports have changed between ^2.0.0-beta.2 and ^2.0.0-beta.3.

It's a breaking change for sure.

[2021-09-28 08:07] dev-fredericfox commented on #713
Same.

```npm ERR! gyp ERR! stack Error: `make` failed with exit code: 69```

I am using <script> tag as fallback for now.

[2021-09-28 16:05] vicary commented on #714
@ashkanpower did you find a way to incrementally mutate the network without using the train function?

[2021-09-28 23:37] matthewjumpsoffbuildings commented on #80
When using in node, I'm still getting  `TypeError: brain.NeuralNetwork is not a constructor` when I  do
[code]
It turns out that, for some bizzare reason, the export from `brain.js` is this
[code]
So in order to get it working properly, you should do
[code]

[2021-09-28 23:39] matthewjumpsoffbuildings commented on #80
This is broken even on examples linked to on https://brain.js.org

At the very least the docs/guides should reflect this export structure, so people don't get so confused

[2021-09-29 04:23] bherbruck commented on #684
Hi @mubaidr, I see the gitter is a bit inactive and the slack link is broken (so is the contributing guide).

I would like to contribute to the typing side but have just a few questions:

1. How married is the project to using rollup? It would be possible to use `tsc` and have separate `tsconfig.json` for browser and nodejs (commonjs for nodejs and es6+ for browser)
2. I see a lot of `// @ts-expec

[2021-10-01 01:04] gavin-rose commented on #733
@anastasiiamay I am unfortunately getting the same exact error. Logging the library, you can see what is available from the package...

Gavins-MBP:forex-thread Rose$ node test.js
{
  brain: {
    activation: [Object: null prototype] {
      relu: [Object: null prototype],
      sigmoid: [Object: null prototype],
      tanh: [Object: null prototype],
      leakyRelu: [Object: null prototype]
    },

[2021-10-01 01:05] gavin-rose commented on #733
@anastasiiamay,
I got it working by installing the second-most recent package. npm install brain.js@2.0.0-beta.2

Didn't realize how much space my previous reply would take up.

[2021-10-01 01:07] gavin-rose commented on #730
Definitely a breaking change. I will continue to use brain.js@2.0.0-beta.2 until documentation and examples are updated.

[2021-10-02 10:08] mubaidr commented on #684
Really appreciate your input and will to contribute.

1. I would really recommend to stick with the current build system for now. We can work on it later once all code is ported and tests are up and running.
2. Currently there are some workarounds and hacks implemented in the code, we are looking for experts to handle these cases.

Please go ahead and feel free to remove/ update/ improve typescrip

[2021-10-06 14:05] kamit-transient commented on #733
In recent versions of brain.js you can try like below.

[code]

Note the import, first line.

[2021-10-06 14:18] gavin-rose commented on #733
@kamit-transient, that isn't the issue here. The latest brain.js version is broken.

[2021-10-20 04:14] 16pxdesign commented on #657
Had fixed problem using other source

[code]
Source: https://github.com/zodern/meteor-up/issues/683

[2021-10-20 09:26] mubaidr commented on #657
More info about the build/install process is available here:

- https://github.com/BrainJS/brain.js/issues/458

[2021-10-20 09:26] #657 closed, assigned to nobody

[2021-10-21 12:03] iplanwebsites commented on #250
The issue (`TypeError: Cannot read property 'LSTM' of undefined`) seems to be back in the latest version (2.0.0-beta.2 is working fine). Did the syntax for strings change?

[2021-10-23 13:24] ghost commented on #733
You probably didn't import brain.js, and if you did, it's probably the fact that it is now require("brain.js").brain.recurrent.LSTM();

[2021-10-25 18:54] Jacksonmills commented on #80
Currently struggling with this as well, I am seeing the same as @matthewjumpsoffbuildings, even all examples are broken...

[2021-10-25 19:51] robertleeplummerjr commented on #80
Working on this right now guys.  Sorry about the issue.

[2021-10-28 20:27] robertleeplummerjr commented on #80
Just published https://www.npmjs.com/package/brain.js/v/2.0.0-beta.4

[2021-10-28 20:27] #80 closed, assigned to nobody

[2021-10-28 20:27] robertleeplummerjr commented on #730
Try Just published https://www.npmjs.com/package/brain.js/v/2.0.0-beta.4.  Ty

[2021-10-28 20:27] #730 closed, assigned to nobody

[2021-11-01 13:06] jemmali-git opened #741 "Train imported model from JSON fails"
Trying to train an imported model from JSON fails.

Use case:
[code]
Error:
[code]
Fix:
Setting dataFormatter.isSetup to true in DataFormatter.fromJSON solve the problem
[code]
So is there any drawback for this Fix ?

[2021-11-07 12:30] goosesima commented on #699
Same problem on Manjaro.
<details>
  <summary>Details</summary>

- CPU: Intel i5-8265U (8) @ 3.900GHz
- GPU: NVIDIA GeForce MX110
- GPU: Intel WhiskeyLake-U GT2 [UHD Graphics 620]
- Kernel: 5.14.10-1-MANJARO

</details>
<details>
  <summary>$ lshw -c display</summary>

-  *-display
-        description: VGA compatible controller
-        product: WhiskeyLake-U GT2 [UHD Graphics 620]
-        vendo

[2021-11-08 11:07] x3rxe5 commented on #699
if you cant install with npm please try yarn
[code]

and if its still not installing then go to previous version such as
[code]

[2021-11-08 11:17] x3rxe5 commented on #699
# If you cant install in Ubuntu or in PopOs
### Please try yarn over npm ( because it can easily solve prolem )

[code]

### or else you can choose any stable version instead of beta

[code]

[2021-11-08 11:17] #699 closed, assigned to nobody

[2021-11-08 11:20] x3rxe5 commented on #699
I would suggest to go with **1.6.1** ( Because it is stable )

[2021-11-08 14:08] robertleeplummerjr commented on #699
What is the stack trace?

[2021-11-08 16:17] robertleeplummerjr commented on #723
It has been a bit tricky to fit these different sizes into a LSTMTimeStep.   Once options would be to do something like this:
[code]

Would this work for you?  Here is a link to a working version: https://observablehq.com/@200128059da6b2a3/brain-js-issue-723-solution

[2021-11-08 16:17] #723 closed, assigned to nobody

[2021-11-18 17:15] Nelias commented on #669
Same issue in Svelte.js
`Error: 'brain' is not exported by node_modules\brain.js\dist\src\index, imported by src\RecentComments.svelte`
Also there is no default export from "brain.js/src" of "brain". The `exports` also break the framework but it is their inner issue I think.

Everything works great in React with TypeScript, simply: `import brain from 'brain.js'`
and then `let net = new brain.recur

[2021-11-21 22:55] thxrben commented on #741
I am actually at this point too. Anything new?

[2021-11-29 10:41] unicorn-style commented on #417
problems...1 thread faster than 1+

vm vcpu 4 esxi
node 16
type modules change to commonjs for working
trying my dataset and my script – 1 faster then when you set configuration with .... parallel...

Any thoughts?

`
////// Benchmark Results //////
LSTMTimeStep 4 Threads 0.00005 LR
     runtime =  2002 seconds
     item iterations per thread =  80675
     error =  0.00019999808332483684
     test

[2021-12-04 06:19] OguzhanUmutlu opened #746 "Network.run doesn't work"
![](https://tenor.com/view/but-why-why-scream-mad-annoyed-gif-15498922)

## _What_ is wrong?

[code]

## _Where_ does it happen?

Network.run function returns `{0: NaN}`

## _How_ do we replicate the issue?

- Create network
- Train with an array that includes numbers from 0 to 1 and a string
- Run and log the network with an array that includes numbers from 0 to 1

## Expected behavior (i.e. solu

[2021-12-04 11:51] robertleeplummerjr commented on #746
What does your training data look like?  When using `NeuralNetwork` they will need to be the same length.

[2021-12-05 01:23] Nelias opened #747 "NeuralNetworkGPU does not work when using the brain.js package through CDN"
## _What_ is wrong?

NeuralNetworkGPU does not detect the gpu.js when using the brain.js package through CDN.

When this code is exectued:
[code]

## _How_ do we replicate the issue?

<img width="516" alt="brain-js-cdn-gpu" src="https://user-images.githubusercontent.com/23236940/144729681-482f5576-fa5d-47b5-925c-772256225546.png">

- Add ` <script src="https://unpkg.com/brain.js"></script>` to you

[2021-12-05 08:34] Nelias commented on #712
I have to confirm that this issue still exists. Even for normalized data between 0 and 1 in large arrays (length over 1000) it still returns exactly the same values after the training process.

[2021-12-08 14:09] UP941594 opened #749 "LSTM model returning empty output"
![A GIF or MEME to give some spice of the internet](url)

## _What_ is wrong?
LSTM model returning empty output.

## _Where_ does it happen?
when the model has been trained. I am trying to run `net.run(data)` but it return empty in command line.

## _How_ do we replicate the issue?

- Step 1
- Step 2
- Step 3

## Expected behavior (i.e. solution)

I am expecting an output or at least an error if t

[2021-12-08 14:43] MapleSyrupTreee opened #750 "brain.js fails installation on ubuntu"
trying to install brain.js with npm install brain.js
i have re-instlled node and running node -v returns v16.13.1

heres the error log it outputs to the console

[https://pastebin.com/raw/xukfQJLY](https://pastebin.com/raw/xukfQJLY)

[2021-12-08 16:28] MapleSyrupTreee commented on #750
Installation with yarn add brain.js works instead, nevermind.

[2021-12-08 16:28] #750 closed, assigned to nobody

[2021-12-08 23:42] Nelias commented on #749
Paste an example of your {input: [], output: []} object, maybe those two values have to return the same type but indeed there should be an error or some kind of response even if it was set up in a wrong way.

[2021-12-09 09:02] UP941594 commented on #749
Hi Nelias,
Thanks for helping.
I have an array as an input and an array as an output.
The length of input arrays varies from 129 to 235.

`const dataset = [
 {input: [-0.04145152278764286,
            -0.04145152278764286,
            0.02931191649103404,
            0.025314243671365394,
            0.09964059565399563,
            0.13279864523813079,
             220 more items],
output: [0,0,1

[2021-12-17 13:15] DanielHaitink opened #751 "toSVG returns error: sizes not set correctly"
## _What_ is wrong?

`brain.utilities.toSVG(net)` gives an error:
[code]

## _Where_ does it happen?

In brain.utilities.toSVG()

## _How_ do we replicate the issue?

- create network `net = new brain.NeuralNetwork({hiddenLayers: [5]});`
- draw svg `return brain.utilities.toSVG(net);`

## Expected behavior (i.e. solution)

It should have returned an SVG.

## Version information

### Nodejs: N/A

#

[2021-12-20 03:37] grmatthews opened #752 "How do I import and use brain in a React app?"
I have been through all the doc, and searched the Internet far and wide but cannot find a simple 5 line example (or any examples at all) that show how to use brain.js in a React app (normal web app, not native).

Here's what I've tried

Install
-------
npm install brain.js, then verified it's installed via npm list

Code
------
import brain from "brain.js"

...

const handleTrainBrain = () => {

[2021-12-20 03:42] grmatthews commented on #752
Also, importing like this..

import { brain } from "brain.js"

...gives this error...

Attempted import error: 'brain' is not exported from 'brain.js'.

[2021-12-29 00:59] zourdyzou opened #753 "models example for home listings application"
Hi there,

I am currently building an application for home renting / listings and I just want to know what is the perfect models to do so or is it possible to implement such machine learning models with this library?

thank you...

#curious #needadvice

[2021-12-29 12:22] robertleeplummerjr commented on #753
What data do you have available?  What are you trying to estimate?

[2021-12-29 19:33] monckey100 commented on #701
Bump, I've seen this issue outstanding since 2019:

#379 
#667 

With no official response, can we get a little context on where this is going?

[2021-12-29 21:31] robertleeplummerjr commented on #701
I've not looked at the code in a while.  I essentially all the framework completed, and it works, but the networks don't always learn correctly.  I was somewhat hoping to collaborate to find where the issue may be (more brains are better than one).  If anyone wants to volunteer to help me work through the issue, let's set a date and tackle it!  In the mean time, I may have some time to continue lo

[2021-12-31 19:27] iagormoraes commented on #752
@grmatthews try to `import * as brain from 'brain.js'`

[2022-01-07 16:56] ChocolateLoverRaj commented on #752
@grmatthews This is what worked for me:
[code]

[2022-01-07 17:09] ChocolateLoverRaj opened #754 "New example: Detecting the general color of an image"
![A GIF or MEME to give some spice of the internet](https://user-images.githubusercontent.com/52586855/148579630-9a852952-b9f3-411e-90c5-4cda0207ec30.png)

## Summary
[I used brain.js to train a nueral network which can know the main color of an image](https://github.com/ChocolateLoverRaj/detect-image-color). I am wondering if it could be added to the examples.

### Motivation
Currently there are

[2022-01-07 20:23] robertleeplummerjr commented on #754
Do you have a link to it working in a browser?

[2022-01-08 01:09] ChocolateLoverRaj commented on #754
@robertleeplummerjr The code is meant to run in Node.js, but I could make it a webpage if needed. This is the link to the github repo with the code: https://github.com/ChocolateLoverRaj/detect-image-color.

[2022-01-10 15:29] robertleeplummerjr commented on #754
Do you want to open a PR with the link added in the readme?  We love contributors.

[2022-01-10 15:31] robertleeplummerjr commented on #753
To be clear, this is absolutely a problem a feed forward neural network could be able to handle.  The thing you'd need is a good amount of data: features of homes, location, pricing, etc.  If that doesn't answer your question let me know.  This would be a fun problem to solve with machine learning.

[2022-01-10 15:31] #753 closed, assigned to nobody

[2022-01-10 15:36] robertleeplummerjr commented on #701
Looking starting today.

[2022-01-10 19:36] ChocolateLoverRaj commented on #754
@robertleeplummerjr I will

[2022-01-10 21:44] ChocolateLoverRaj commented on #547
@robertleeplummerjr I saw this in the v2 roadmap:
[code]
And I'm excited to create nueral networks with convolution layers. Is there anything I can help with to speed up the progress for using `input => layer` functions in `hiddenLayers`?

[2022-01-11 09:56] teeban10 opened #756 "Training too slow, even using Train Stream"
I have an array input with a size of 13, 000 as training data. And the problem is training time takes more than 30 minutes. Is there a way to improve this

**Input example**
[code]
[code]

[2022-01-11 14:52] killkli commented on #756
Em... Of course trainging is slow and time consuming, thats why we have toJSON() to export pre trained network, and fromJSON() to import it.
Read the document about it~~

[2022-01-11 15:28] robertleeplummerjr commented on #547
The backpropagation function `compare` in the `Pool` layer needs finished.  It may be one of the last things that needs done for it all to work: https://github.com/BrainJS/brain.js/blob/6a5aefd9f9271774580b47d697c934b1a2b840d2/src/layer/pool.ts#L304

I'm currently looking at https://github.com/BrainJS/brain.js/issues/701#issuecomment-1009002413, but if you'd like to put some attention there, it'd

[2022-01-11 15:37] robertleeplummerjr commented on #756
How are you feeding in the inputs?  I think what's happening is you are creating too many nodes from `prepInput`.  If you can simplify those inputs you'll greatly increase performance.  There are a number of ways that can be done, such as associating a word with a decimal amount, or perhaps (not ideal) treating each word as an input with a value of 1 when it is defined.

[2022-01-12 01:55] ChocolateLoverRaj commented on #547
@robertleeplummerjr I'm new to programming neural networks. What is the `compare` method supposed to do? I noticed only some classes which extend `Layer` have a `compare` method.

[2022-01-12 02:05] ChocolateLoverRaj commented on #547
@robertleeplummerjr I can try changing the `NeuralNetwork` constructor to use mixed layers
https://github.com/BrainJS/brain.js/blob/6a5aefd9f9271774580b47d697c934b1a2b840d2/src/neural-network.ts#L158
https://github.com/BrainJS/brain.js/blob/6a5aefd9f9271774580b47d697c934b1a2b840d2/src/neural-network.ts#L205

[2022-01-12 03:22] teeban10 commented on #756
The thing is I needed the lengthy input. Basically, the input is an article and the output is the tag associated with it. I need my program to identify tags it is closely associated with it. The prepInput function actually helps simply input by removing stopwords, HTML tags, and non proper nouns.

[2022-01-12 13:11] robertleeplummerjr commented on #547
I'm not sure what a mixed layers are.  The `compare` method is where backpropagation happens.  It is the inverse of the forward propagation `predict` method. For reference you could look at frameworks such as tensorflow.js.  What separates brain.js GPU abilities from tensorflow.js is that tensorflow.js tends to have one matrix mutation at a time, where with brain.js we tend to stack them if at all

[2022-01-12 16:08] ChocolateLoverRaj commented on #547
I meant `ability to combine layers`

[2022-01-12 17:34] robertleeplummerjr commented on #547
Oh yea, we call those "compound layers".

On Wed, Jan 12, 2022, 11:08 AM Rajas Paranjpe ***@***.***>
wrote:

[2022-01-17 08:01] grmatthews commented on #80
If this was meant to enable importing in React or similar, or if node type = 'module' then still broken....?

Most modules downloadable via npm allow for import based usage, e.g.

import { brain } from "brain.js"

or

import * as brain from "brain.js"

Neither of these seem to work -- am using brain.js@2.0.0-beta.4

[2022-01-17 08:04] grmatthews opened #757 "https://github.com/BrainJS/brain.js/issues/80 is not fixed"
![A GIF or MEME to give some spice of the internet](url)

## _What_ is wrong?
https://github.com/BrainJS/brain.js/issues/80 doesn't seem to be fixed.

Cannot do any sort of import based usage of brain.js -- must use require

## _Where_ does it happen?

## _How_ do we replicate the issue?

- Step 1
- Step 2
- Step 3

## Expected behavior (i.e. solution)

Expect to be able to do one of something lik

[2022-01-17 14:05] EduApps-CDG commented on #713
Same in Linux

[2022-01-17 14:31] EduApps-CDG commented on #699
@x3rxe5 install with yarn didn't solved my issue but installing 1.6.1 worked. Npm website should have a tool for better managing beta releases as I'm able to install beta versions from `discord.js` using `npm i discord.js@dev`

[2022-01-18 13:25] vorticalbox commented on #699
You can actually release as a beta with `npm publish --tag next` which would then allow you to install with `npm install brainjs@next` without the next would just install the latest version without a next tag

[2022-01-19 12:20] chapman commented on #751
Just hit this myself when I changed from one to two hidden layers.

In my case calling brain.utilities.toSVG(net.toJSON()) worked around it.

[2022-01-19 14:42] p2426 commented on #80
For browser based importing - it would seem like (on 2.0.0-beta.4) you can `import * as brain from 'brain.js/dist/brain-browser.js'`

[2022-01-20 01:14] thierryntoh24 commented on #713
Same here, Win10 Installation Error

[code]

Even though i have VS 2022 and Python 3.10 installed

[2022-01-20 01:15] thierryntoh24 opened #758 "Unable To Install Brain.js Win10"
Same here, Win10 Installation Error

[code]

Even though i have VS 2022 and Python 3.10 installed

_Originally posted by @thierryntoh24 in https://github.com/BrainJS/brain.js/issues/713#issuecomment-1017020547_

[2022-01-21 02:34] learningdesignlabs commented on #369
For now, can we at least list here, what the definition of the inputSize vs outputSize attributes are?

[2022-01-28 23:14] Micah-6424 opened #759 "Brain JS not installing via NPM on mac"
<img width="1137" alt="Screen Shot 2022-01-28 at 5 13 49 PM" src="https://user-images.githubusercontent.com/81455112/151634311-67207803-62be-4a27-bf24-ff738273c1d7.png">

[2022-01-29 02:13] robertleeplummerjr commented on #759
Did you get it installed?

[2022-01-29 03:01] Micah-6424 commented on #759
no, I closed the issue because the CDN worked fine but I would much rather be able to use the package directly. (I will reopen the issue. And i'm  sorry, I am fairly new to GitHub)

[2022-01-30 21:53] DGoel1602 opened #760 "Brain.js not installing"
![A GIF or MEME to give some spice of the internet](url)

## _What_ is wrong?

## _Where_ does it happen?

## _How_ do we replicate the issue?

- Step 1
- Step 2
- Step 3

## Expected behavior (i.e. solution)

## Version information

### Nodejs:

### Browser:

### Brain.js:

## _How_ important is this (1-5)?

## Other Comments

[2022-01-30 21:54] #760 closed, assigned to nobody

[2022-01-30 21:55] DGoel1602 opened #761 "Brain.js not installing"
![A GIF or MEME to give some spice of the internet](url)

## _What_ is wrong?

## _Where_ does it happen?

## _How_ do we replicate the issue?

- Step 1
- Step 2
- Step 3

## Expected behavior (i.e. solution)

## Version information

### Nodejs:

### Browser:

### Brain.js:

## _How_ important is this (1-5)?

## Other Comments

[2022-01-30 21:55] #761 closed, assigned to nobody

[2022-01-30 21:56] DGoel1602 opened #762 "Brain.js not installing"
![A GIF or MEME to give some spice of the internet](url)

## _What_ is wrong?

## _Where_ does it happen?

## _How_ do we replicate the issue?

- Step 1
- Step 2
- Step 3

## Expected behavior (i.e. solution)

## Version information

### Nodejs:

### Browser:

### Brain.js:

## _How_ important is this (1-5)?

## Other Comments

[2022-01-30 21:59] DGoel1602 opened #763 "Brain.js not installing"
![A GIF or MEME to give some spice of the internet](url)

## _What_ is wrong?
Error while downloading (library is no longer supported)

## _Where_ does it happen?
In the terminal when I'm downloading it

## _How_ do we replicate the issue?
npm i brain.js

- Step 1
- Step 2
- Step 3

## Expected behavior (i.e. solution)
Brain.js to install

## Version information

### Nodejs: 17.4.0

### Browser:

[2022-01-30 22:00] #762 closed, assigned to nobody

[2022-01-31 17:39] DJj123dj commented on #763
i have the same problem

[2022-01-31 23:30] DGoel1602 commented on #763
I just solved it! You have to download the visual studio code _installer_, not just visual studio code and also Visual studio community with desktop development with C++

[2022-01-31 23:30] #763 closed, assigned to nobody

[2022-02-02 04:13] jppope opened #764 "Python2 to Python3"
![python2](https://i.redd.it/dnfeerznkz331.jpg)

## _What_ is wrong?

Python 2 has been retired. It is a dependency. The world moved on to python3x

## _Where_ does it happen?

The migration to Python3? Everywhere but here apparently.

## _How_ do we replicate the issue?
- Go to https://www.python.org/
- Try running brain.js on a new computer
- Wait

## Expected behavior (i.e. solution)

The new d

[2022-02-06 21:48] TheRedXD opened #765 "net.run() returns NaN when using NeuralNetworkGPU, still acts a bit weird when using NeuralNetwork, though doesn't return NaN"
![A GIF or MEME to give some spice of the internet](url)

## _What_ is wrong?

For whatever reason, when I do net2.run(_input here_) it returns NaN. This has been causing me a headache for a while now and I have no idea why this is happening

## _Where_ does it happen?

It happens in my ai.js file in my Discord AI bot that I'm trying to make - it's pretty basic right now

## _How_ do we replicate

[2022-02-10 02:31] dnish opened #766 "Async Cross Validation"
## Summary

Using Cross Validation without blocking the CPU.

### Motivation

Since we have a trainAsync function, a trainAsync function for the CrossValidation class would also make sense.

[2022-02-10 05:54] vetterdoo opened #767 "TypeError: brain.NeuralNetwork is not a constructor"
I've been following the examples exactly in my app that uses Node.js and React.

1. I ran: "npm install brain.js"
2. and I see it show up in my package.json under dependencies ("brain.js": "^2.0.0-beta.4")
3. and I checked my node_modules folder and I see brain.js and even explored the index to check for the NeuralNetwork class
4. Then in my index.js, I have:
`const brain = require("brain.js");

[2022-02-11 05:32] EpicPuppy613 opened #768 "NeuralNetworkGPU: OffscreenCanvas is not defined"
![me at 10pm](https://user-images.githubusercontent.com/61771471/153694230-2f96fd9a-ed9c-49d7-b44b-f2c7b410a0fe.jpg)

## _What_ is wrong?
When trying to train a NeuralNetworkGPU, throws error `ReferenceError: OffscreenCanvas is not defined`

## _Where_ does it happen?
Trying to train a NeuralNetworkGPU, 42 inputs, 7 outputs with config ```{
    iterations: 2000,
    learningRate: 0.3
}```

## _How

[2022-02-17 20:28] robertleeplummerjr commented on #701
I found a major issue and have resolved it here: https://github.com/BrainJS/brain.js/commit/87dcbfb3c81ade049924499e9a127abe62ebd626#diff-231ba92c55221a8c23bd822e4aa12c22ade0a5b3d1dbcdbfe5e1a7d509fdf648R415

Funny enough, it was a loop causing too much backpropagation.

[2022-02-17 20:34] robertleeplummerjr commented on #672
GPU.js is being implemented, and custom layer building is the end goal and desire.  We have architectures for [FeedForward](https://github.com/BrainJS/brain.js/blob/6a5aefd9f9271774580b47d697c934b1a2b840d2/src/feed-forward.ts#L109) and [Recurrent Like](https://github.com/BrainJS/brain.js/blob/6a5aefd9f9271774580b47d697c934b1a2b840d2/src/recurrent.ts#L57) neural networks but others would be fantast

[2022-02-17 20:34] robertleeplummerjr commented on #672
Since GPU.js is already used to build these new layers, and as well the entire of the GPU model, I'm going to go ahead and close this issue.

[2022-02-17 20:34] #672 closed, assigned to nobody

[2022-02-28 18:58] proxnull commented on #768
**npm i gpu.js@2.11.4**

[2022-03-04 00:29] klappy commented on #752
downgraded to v1.4.10 and it worked for me...

[2022-03-08 07:14] retrievaaaa commented on #741
Same problem. I store the model in a json, try to load it, but it just fails with the same error.

[2022-03-11 18:15] #701 closed, assigned to robertleeplummerjr

[2022-03-11 18:17] robertleeplummerjr commented on #701
Fixed and published: https://www.npmjs.com/package/brain.js/v/2.0.0-beta.5

[2022-03-11 18:19] robertleeplummerjr commented on #767
Duplicate of #752, closing in favor of that.

[2022-03-11 18:19] #767 closed, assigned to nobody

[2022-03-11 18:20] robertleeplummerjr commented on #752
Looking at this now.

[2022-03-23 13:22] DJj123dj commented on #759
i have the same problem

[2022-03-23 18:57] robertleeplummerjr commented on #752
This should be resolved in https://www.npmjs.com/package/brain.js/v/2.0.0-beta.6.

[2022-03-23 18:57] #752 closed, assigned to robertleeplummerjr

[2022-03-23 18:57] robertleeplummerjr commented on #757
This should be resolved in https://www.npmjs.com/package/brain.js/v/2.0.0-beta.6.

[2022-03-23 18:57] #757 closed, assigned to nobody

[2022-03-23 18:57] robertleeplummerjr commented on #757
Via: https://github.com/BrainJS/brain.js/pull/775

[2022-03-23 18:57] robertleeplummerjr commented on #752
Via: https://github.com/BrainJS/brain.js/pull/775

[2022-03-23 18:58] robertleeplummerjr commented on #669
This should be resolved in https://www.npmjs.com/package/brain.js/v/2.0.0-beta.6.

[2022-03-23 18:58] robertleeplummerjr commented on #669
Via: https://github.com/BrainJS/brain.js/pull/775

[2022-03-23 18:58] #669 closed, assigned to nobody

[2022-03-28 22:15] markhicken commented on #768
@proxnull, installing the older version allowed my code to run, but in my case, using `brain.NeuralNetworkGPU` is more than 10 times slower than `brain.NeuralNetwork` in node. 🤷🏼

[2022-03-29 00:12] robertleeplummerjr commented on #768
What size of inputs, hidden layers, and output are you dealing with?  GPU doesn't mean faster in all situations, but it does mean faster with bigger, deeper problems.

[2022-03-29 00:26] robertleeplummerjr commented on #768
Also, I'll have this issue resolved tomorrow.

[2022-03-29 01:16] markhicken commented on #768
@robertleeplummerjr Thanks for the info. I was working with 3000 input nodes, 1 hidden layer (only 5 nodes), about 40 outputs. I was watching activity monitor though and I could see that it was using about 50% cpu and 45% GPU. Meanwhile everything else that depends on GPU was super laggy (slack, browsers, vs code, etc). I'll play with it a bit more over the next few days and see if I can find a ca

[2022-03-29 13:43] robertleeplummerjr commented on #768
https://www.npmjs.com/package/brain.js/v/2.0.0-beta.10 fixes the `OffscreenCanvas` issue.

[2022-03-29 13:43] #768 closed, assigned to nobody

[2022-03-31 19:30] EduApps-CDG commented on #759
same on ubuntu

[2022-03-31 19:49] robertleeplummerjr commented on #759
I can take a look tomorrow.

[2022-04-01 06:39] storm1er opened #778 "v2: Empty result on network.run()"
![gif](https://user-images.githubusercontent.com/9821946/161208197-060753b8-1001-4754-a647-9cc4a5c04722.gif)

## _What_ is wrong?

Explicit title

## _Where_ does it happen?

After training, while `net.run()`'ing

## _How_ do we replicate the issue?

train.js

<details>

[code]

</details>

test.js

<details>

[code]

</details>

[code]

## Expected behavior (i.e. solution)

Getting  511.6 or at l

[2022-04-01 06:54] storm1er commented on #778
I tried different training output format:
- `[123.1]`
- `[123]`
- `["123.1"]`
- `["123"]`
- `123.1`
- `123`
- `"123.1"`
- `"123"`

Empty result on run everytime
Same result also when trying to execute `run` directly in `train.js`

Also tried different configs like this:
[code]

[2022-04-01 07:01] storm1er commented on #778
Problem does not appear using brain.js v1.6.1, updating title

[2022-04-03 04:10] JeffMII opened #779 "Some of the BrainJS Site's Links Don't Work"
![A GIF or MEME to give some spice of the internet](https://s3.amazonaws.com/rails-camp-tutorials/blog/programming+memes/works-doesnt-work.jpg)

## _What_ is wrong?

The [website's](https://brain.js.org) got at least a couple links/buttons that don't work correctly. There could be more, but the two I'm specifically talking about are Become a Sponsor and Contribute. The Become a Sponsor button simp

[2022-04-06 18:50] robertleeplummerjr commented on #712
When I run this [here](https://observablehq.com/@robertleeplummerjr/brain-js-issue-712), I get no issue.  Can you try again and see if this is resolved?

[2022-04-08 16:13] #754 closed, assigned to nobody

[2022-04-08 16:14] robertleeplummerjr commented on #779
Thank you!  Merged.

[2022-04-08 16:14] #779 closed, assigned to nobody

[2022-04-08 17:21] robertleeplummerjr commented on #778
The issue here is that you want to use a `LSTMTimeStep` neural network.  A standard `LSTM` network uses strings (or casts to strings), which isn't what you want.  Here is a trained and working example using the latest brain.js: https://observablehq.com/@robertleeplummerjr/brain-js-issue-778

[2022-04-08 17:21] #778 closed, assigned to nobody

[2022-04-08 17:23] robertleeplummerjr commented on #766
We welcome features and PR's, this would be a welcome feature.  Why not get active and help build it?

[2022-04-08 17:33] robertleeplummerjr commented on #746
There are many unit tests that show this to be working.  Unless more insight comes to light, we'll go ahead and close this issue.

[2022-04-08 17:33] #746 closed, assigned to nobody

[2022-04-08 17:35] robertleeplummerjr commented on #756
You really should be using either a `brain.recurrent.LSTM` (for use with strings), or `brain.recurrent.LSTMTimeStep` (for use with numbers) for this task.  This is also because your inputs/outputs are dynamically sized.  A standard feed forward neural network, which is what `brain.NeuralNetwork` is, is for inputs of the same size and outputs of the same size.

[2022-04-08 17:35] #756 closed, assigned to nobody

[2022-04-09 14:39] robertleeplummerjr commented on #759
Just tested the latest release, https://www.npmjs.com/package/brain.js/v/2.0.0-beta.11, and it works fine on windows and mac.  I haven't tested ubuntu yet, but since this thread was about installing on mac, I'm going to go ahead and close.

[2022-04-09 14:39] #759 closed, assigned to robertleeplummerjr

[2022-04-09 14:40] robertleeplummerjr commented on #758
This works now: https://github.com/BrainJS/brain.js/issues/759#issuecomment-1094050883

[2022-04-09 14:40] #758 closed, assigned to nobody

[2022-04-11 22:25] kevinreu opened #780 "Uncaught TypeError: data[0] is undefined"
I don't know what to do about this error.

[2022-04-12 01:17] robertleeplummerjr commented on #780
Reproduction steps would help.

[2022-04-12 01:31] robertleeplummerjr commented on #780
The default new issue has direction for you to fill out.  Simply ignoring it waists both of our time.  Open a new issue, pay attention to the questions asked, of course answer the questions, and please don't just ignore us trying to help you.

[2022-04-12 01:31] #780 closed, assigned to nobody

[2022-04-12 01:32] robertleeplummerjr commented on #684
This is done in https://www.npmjs.com/package/brain.js/v/2.0.0-beta.11

[2022-04-12 01:32] #684 closed, assigned to nobody

[2022-04-12 01:32] robertleeplummerjr commented on #684
We can of-course revisit, but the migration has been completed, and is no longer the focus.

[2022-04-12 14:44] robertleeplummerjr commented on #764
I believe this to be an issue with https://github.com/stackgl/headless-gl, a dependency of GPU.js, and should be raised there.  If it isn't, however, please feel free to reopen.

[2022-04-12 14:44] #764 closed, assigned to nobody

[2022-04-12 14:46] robertleeplummerjr commented on #765
Based off `encodeText`, I believe  the problem seems that you are feeding different size inputs into `NeuralNetwork`, that will not work, it is designed to feed into the same size inputs and outputs.  You are probably looking to use `brain.recurrent.LSTM`.

[2022-04-12 14:46] #765 closed, assigned to nobody

[2022-04-12 14:47] robertleeplummerjr commented on #749
You need to not use `brain.recurrent.LSTM`, but rather `brain.recurrent.LSTMTimeStep`.  A LSTM network deals with strings, where a LSTMTimeStep deals with numbers.

[2022-04-12 14:47] #749 closed, assigned to nobody

[2022-04-12 14:48] robertleeplummerjr commented on #751
Can you please post how your networks are defined?

[2022-04-12 14:53] robertleeplummerjr commented on #747
This has been resolved in the latest version of brain.js https://www.npmjs.com/package/brain.js/v/2.0.0-beta.11.  Here is a working version: https://observablehq.com/@robertleeplummerjr/brain-js-issue-747

[2022-04-12 14:53] #747 closed, assigned to nobody

[2022-04-12 14:54] robertleeplummerjr commented on #733
This has been resolved in https://www.npmjs.com/package/brain.js/v/2.0.0-beta.11

[2022-04-12 14:54] #733 closed, assigned to nobody

[2022-04-12 15:00] robertleeplummerjr commented on #741
This has been resolved in https://www.npmjs.com/package/brain.js/v/2.0.0-beta.11.  Here is a working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-741.

[2022-04-12 15:04] robertleeplummerjr commented on #727
It may be that the data is simply too sophisticated or random and that your net may not be able to learn it.  I would guard against putting too much data in at a time, however, because you net can overfit it.  Meaning it will memorize what you've sent into it.  This is likely what is happening when you put hundreds of values in and the answer I'd like to go with for the time being.

I would probab

[2022-04-12 15:04] #727 closed, assigned to nobody

[2022-04-12 15:08] robertleeplummerjr commented on #721
This has been resolved in https://www.npmjs.com/package/brain.js/v/2.0.0-beta.11.  Here is a working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-721

[2022-04-12 15:08] #721 closed, assigned to nobody

[2022-04-12 15:18] robertleeplummerjr commented on #751
In either case this has been resolved in https://www.npmjs.com/package/brain.js/v/2.0.0-beta.11.  Here is a working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-751-tosvg

[2022-04-12 15:18] #751 closed, assigned to nobody

[2022-04-13 14:11] robertleeplummerjr commented on #716
The problem you are experiencing is that you are using various sized training data for a class (`NeuralNetwork` and `NeuralNetworkGPU`) that accepts a fixed number of inputs or outputs based on how it is originally setup or detected from training data.  This has been a long standing issue because the NeuralNetwork class wouldn't validate or throw, though it really should have.

I took some time th

[2022-04-13 14:11] #716 closed, assigned to nobody

[2022-04-13 14:14] robertleeplummerjr commented on #713
This is an issue of https://github.com/stackgl/headless-gl, a dependency of GPU.js, which is a peer-dependency of brain.js.  Please use their tutorials for installation, and if issue continue to throw, please resolve with their support.

[2022-04-13 14:14] #713 closed, assigned to nobody

[2022-04-13 14:15] robertleeplummerjr commented on #697
This is no longer an issue, and was resolved around 2.0.0-beta.10 or so.  Just tested with 2.0.0-beta.12 and works perfectly
<img width="579" alt="Screen Shot 2022-04-13 at 10 15 34 AM" src="https://user-images.githubusercontent.com/679099/163200744-06835fe9-2a49-40e5-a01f-931cf31a93d8.png">
.

Sorry for the delay!

[2022-04-13 14:15] #697 closed, assigned to nobody

[2022-04-13 14:18] robertleeplummerjr commented on #696
This should now be resolved with at least version 2.0.0-beta.12.  <img width="376" alt="Screen Shot 2022-04-13 at 10 17 12 AM" src="https://user-images.githubusercontent.com/679099/163201060-70fc1a42-3901-4265-9581-7587359635f3.png">

[2022-04-13 14:18] #696 closed, assigned to nobody

[2022-04-13 14:20] robertleeplummerjr commented on #695
This should no longer be an issue.  Just tried with 2.0.0-beta.12 and got no typescript error.
<img width="826" alt="Screen Shot 2022-04-13 at 10 20 05 AM" src="https://user-images.githubusercontent.com/679099/163201613-ab35e942-ff5e-40e4-9e50-b43067d25cbd.png">

[2022-04-13 14:20] #695 closed, assigned to nobody

[2022-04-13 14:24] robertleeplummerjr commented on #694
I'd simplify your training data, and remove very similar data within a certain threshold.  For example, if 10000 training values vary by 0.01, use a subset of them.  Perhaps 100 or so.  Something else you could try is adjust the `hiddenLayers` and `learningRate`.

[2022-04-13 14:24] #694 closed, assigned to nobody

[2022-04-13 15:09] robertleeplummerjr commented on #667
`recurrent.LSTM` is not, nor will it ever be (unless someone ported it) GPU powered.  However, `Recurrent` (the class) is, and resembles a highly configurable `RNNTimeStep` network that was rethought out so to be more flexible.  In the past the type of neural network was strongly tied to its name, `recurrent.LSTM` for example, was strongly tied to the LSTM cells/layers, where as with the `Recurren

[2022-04-13 15:09] #667 closed, assigned to nobody

[2022-04-13 15:12] robertleeplummerjr commented on #691
This is no longer and issue, tested in 2.0.0-beta.12

[2022-04-13 15:12] #691 closed, assigned to nobody

[2022-04-13 15:15] robertleeplummerjr commented on #666
This is no longer an issue.  Tested with latest (2.0.0-beta.12) here: https://observablehq.com/@robertleeplummerjr/brain-js-issue-666

[2022-04-13 15:15] #666 closed, assigned to nobody

[2022-04-13 15:41] robertleeplummerjr commented on #665
Your training data is in the wrong shape.

[code]

Should be this (in this scenario):

[code]

Here is a working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-665

[2022-04-13 15:41] #665 closed, assigned to nobody

[2022-04-13 15:44] robertleeplummerjr commented on #663
Work on adjusting hiddenLayers and learnIngRate.

[2022-04-13 15:44] #663 closed, assigned to robertleeplummerjr

[2022-04-13 15:45] robertleeplummerjr commented on #655
This is an issue with https://github.com/stackgl/headless-gl, a dependency of GPU.js which is a peer-dependency of brain.  Please communicate your issues there.

[2022-04-13 15:46] robertleeplummerjr commented on #616
As for the original question.  This has been resolved, here is a working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-751-tosvg

We're working on that, but have no quick ETA.

[2022-04-13 15:46] #616 closed, assigned to nobody

[2022-04-13 15:50] robertleeplummerjr commented on #601
The original questions mentions a data shape of the following:
[code]

This must be broken up, and used with `brain.recurrent.LSTM` for it to work.  `brain.NeuralNetwork` isn't compatible with strings.

Example of how data should look:
[code]

[2022-04-13 15:50] #601 closed, assigned to nobody

[2022-04-13 16:08] #598 closed, assigned to nobody

[2022-04-13 16:11] robertleeplummerjr commented on #598
This is resolved in version 2.0.0-beta.13, here is a working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-598

However, this will always be somewhat of an issue with minifiers or obfuscators.

[2022-04-13 16:12] robertleeplummerjr commented on #576
Just use `brain.recurrent.LSTMTimeStep`.  It is mature enough to handle this now.

[2022-04-13 16:12] #576 closed, assigned to nobody

[2022-04-13 16:13] robertleeplummerjr commented on #597
This works with 2.0.0-beta.13, here is a working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-598

[2022-04-13 16:13] #597 closed, assigned to nobody

[2022-04-13 18:01] robertleeplummerjr commented on #681
Fixed in version 2.0.0-beta.14

Fix: https://github.com/BrainJS/brain.js/pull/783/files#diff-d9e7aef7a13113f8f6bf127abf13f29746931832a728bc6fa5ad83f4b02c3e9aR36
Unit test: https://github.com/BrainJS/brain.js/pull/783/files#diff-279643acb105095021a03450f3eb5f923fd8a31bd8bd997524e19fa73b9f5934R84

[2022-04-13 18:01] #681 closed, assigned to nobody

[2022-04-13 18:03] robertleeplummerjr commented on #681
Working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-681

[2022-04-13 18:04] robertleeplummerjr commented on #570
`brain.NeuralNetwork` is compatible with numbers, `brain.recurrent.LSTM` is compatible with strings.  You are using the networks in an erroneous way.

[2022-04-13 18:04] #570 closed, assigned to robertleeplummerjr

[2022-04-13 18:05] robertleeplummerjr commented on #715
Please adjust `hiddenLayers` and `learningRate` for better results.

[2022-04-13 18:05] #715 closed, assigned to nobody

[2022-04-13 18:07] robertleeplummerjr commented on #711
This is an ability by default with standard classification with either a single output.  We'd need more clarification to understand what you are trying to accomplish.

[2022-04-13 18:07] #711 closed, assigned to nobody

[2022-04-13 18:08] robertleeplummerjr commented on #656
Try this now.  This issue is related to https://github.com/stackgl/headless-gl.  If there are further installation issues with headless-gl, please raise an issue there.

[2022-04-13 18:08] #656 closed, assigned to nobody

[2022-04-13 18:13] robertleeplummerjr commented on #658
TrainStream has moved to its own project: https://github.com/BrainJS/train-stream
The options are as follows: https://github.com/BrainJS/train-stream/blob/993bc7fd4ff84b0d2093deb83318e6d648bcb4a2/src/index.ts#L5

If a new feature is requested or you would like to contribute it, please do so there.  Thank you.

[2022-04-13 18:13] #658 closed, assigned to nobody

[2022-04-13 18:13] robertleeplummerjr commented on #530
Closed due to inactivity.

[2022-04-13 18:13] #530 closed, assigned to nobody

[2022-04-13 18:16] robertleeplummerjr commented on #668
A possible means:
1. Use time as decimal normalized between 0 and 1 relative to the start time of the data.
2. Normalize `data` to between 0 and 1.
3. Make outputs match the number of regions, 1 if they are in the region, 0 if they are not.

[2022-04-13 18:16] #668 closed, assigned to nobody

[2022-04-13 18:18] robertleeplummerjr commented on #722
TrainStream has moved: https://github.com/BrainJS/train-stream
It sounds like you just want to train up something, and then just use `.train()`, on that trained network.  Yes you can do that.

[2022-04-13 18:18] #722 closed, assigned to nobody

[2022-04-13 18:19] robertleeplummerjr commented on #673
Closed due to inactivity.

[2022-04-13 18:19] #673 closed, assigned to nobody

[2022-04-13 18:19] robertleeplummerjr commented on #588
Closing due to inactivity.

[2022-04-13 18:19] #588 closed, assigned to nobody

[2022-04-13 18:26] robertleeplummerjr commented on #581
You'd need a lot of training data.  I can't think of an effective way to make this work right.  A better system would probably be simply looking for keywords.

[2022-04-13 18:26] #581 closed, assigned to robertleeplummerjr

[2022-04-13 18:27] robertleeplummerjr commented on #702
This is probably not very easy in its current state.

[2022-04-13 18:27] #702 closed, assigned to nobody

[2022-04-13 18:30] robertleeplummerjr commented on #643
I believe the issue is that you need to increase the maximum prediction length when you run `net.train(trainingData, { maxPredictionLength: 200 })`: https://github.com/BrainJS/brain.js/blob/b7ace67e9f7a63e8730b7bbfb282472cc3dc496c/src/recurrent/rnn.ts#L112

[2022-04-13 18:30] #643 closed, assigned to nobody

[2022-04-13 18:30] robertleeplummerjr commented on #545
We'd need more detail on how you are using brain.  Closing due to inactivity.

[2022-04-13 18:30] #545 closed, assigned to nobody

[2022-04-13 18:32] robertleeplummerjr commented on #453
`.run()` works as intended in Brain.js version 2.0.0-beta.14.  Try that and see if you can reproduce.  Likely this was a bug that was resolved with unit tests, oh which there are now many.

[2022-04-13 18:32] #453 closed, assigned to nobody

[2022-04-13 18:33] robertleeplummerjr commented on #579
You'd have to reproduce this for us to try and help.  Closing due to inactivity.

[2022-04-13 18:33] #579 closed, assigned to robertleeplummerjr

[2022-04-13 18:34] robertleeplummerjr commented on #574
Your training set shows strings.  `NeuralNetwork` is not compatible with strings but works with numbers.  I'd probably just cast them to a number and try.  Closing due to misuse of library and lack of activity.

[2022-04-13 18:34] #574 closed, assigned to nobody

[2022-04-13 18:35] robertleeplummerjr commented on #547
Getting back to the core question here:

Yes.

[2022-04-13 18:35] #547 closed, assigned to robertleeplummerjr

[2022-04-13 18:35] robertleeplummerjr commented on #712
Closing because of inactivity.

[2022-04-13 18:35] #712 closed, assigned to nobody

[2022-04-13 18:36] robertleeplummerjr commented on #714
We have not.

[2022-04-13 18:36] #714 closed, assigned to nobody

[2022-04-13 18:36] #674 closed, assigned to nobody

[2022-04-13 18:39] robertleeplummerjr commented on #351
I'm not sure how to take this.  You can define hidden layers as such:

[code]

Too many ways to define something cause it to be difficult to manage and maintain.

[2022-04-13 18:39] #351 closed, assigned to nobody

[2022-04-13 18:40] robertleeplummerjr commented on #181
Getting back to the original question:

I don't have plans to add that at this time.

[2022-04-13 18:40] #181 closed, assigned to robertleeplummerjr

[2022-04-13 18:42] robertleeplummerjr commented on #236
Answering myself several years later... The correct term here would actually be a meta-heuristic, and not evolution.  A great meta-heuristic is an ant colony optimization.  We currently have no plans of adding that here, where Brain.js is a _library for neural networks_.  A meta-heuristic is not a neural network and is thus incompatible with this library's purpose.

[2022-04-13 18:42] #236 closed, assigned to robertleeplummerjr

[2022-04-13 18:43] robertleeplummerjr commented on #189
word (string) to vec (number) isn't compatible with `LSTM`.  You may be able to do something with a `LSTMTimeStep`, but I'm not sure how I can be of help there.

[2022-04-13 18:43] #189 closed, assigned to robertleeplummerjr, mubaidr

[2022-04-13 18:44] robertleeplummerjr commented on #208
Closing due to inactivity.

[2022-04-13 18:46] robertleeplummerjr commented on #264
This would be very difficult to do with just a neural network alone.  Closing due to inactivity, and not sure how to help.

[2022-04-13 18:46] #264 closed, assigned to robertleeplummerjr

[2022-04-13 18:50] robertleeplummerjr commented on #336
That does sound interesting, but the problem (IIRC) I've run into is memory.  This can swallow up a ton of memory very quickly.  Since we can push the training data to the GPU as textures, it made sense to leave it one at a time for the actual training of everything.

It exists today, `brain.NeuralNetworkGPU`, for example.  Closing due to inactivity.

[2022-04-13 18:50] #336 closed, assigned to nobody

[2022-04-13 18:51] robertleeplummerjr commented on #52
This exists now in the form of `brain.recurrent.LSTMTimeStep` in its most rudimentary form.

[2022-04-13 18:51] #52 closed, assigned to nobody

[2022-04-13 18:52] josiahbryan commented on #208
Hmmm...why was this closed? Tom confirmed 2 years ago it was a n issue. Was
it fixed...?

On Wed, Apr 13, 2022 at 1:44 PM Robert Plummer ***@***.***>
wrote:

--
Josiah Bryan
+1-765-215-0511 (Phone/SMS/WhatsApp)
www.josiahbryan.com <https://www.josiahbryan.com/?utm_source=sig>
***@***.***

[2022-04-13 19:05] robertleeplummerjr commented on #348
You need to call `net.initialize()`, if you'd like to export an untrained neural network.  Example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-348

[2022-04-13 19:05] #348 closed, assigned to robertleeplummerjr

[2022-04-13 19:15] robertleeplummerjr commented on #208
Sorry, I should have done a better job here.  I believe this issue to be resolved with at least version 2.0.0-beta.14.  @TomDobbelaere you care to try it again?  Been trying to clean things up so we can move forward with other initiatives.

[2022-04-13 19:21] robertleeplummerjr commented on #614
This is no longer an issue.  Here is a working example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-614.

This was likely fixed with the conversion to typescript.  Tons of new tests.

[2022-04-13 19:21] #614 closed, assigned to robertleeplummerjr

[2022-04-13 19:24] robertleeplummerjr commented on #558
If you could normalize the training data to numbers, this may be feasible with `brain.recurrent.LSTMTimeStep`.  I've not seen anyone do this with brain.js thus far, but I'd be especially interested to see it.

[2022-04-13 19:24] #558 closed, assigned to nobody

[2022-04-13 19:25] robertleeplummerjr commented on #535
I feel that there was a sufficient answer here and will go ahead and close.

[2022-04-13 19:25] #535 closed, assigned to nobody

[2022-04-13 19:26] robertleeplummerjr commented on #533
It probably could.  Do you want to give it a stab?  Sorry it has taken so long to get back to this.

[2022-04-13 19:27] robertleeplummerjr commented on #517
This now works fine.  Here is an example: https://observablehq.com/@robertleeplummerjr/brain-js-issue-356

[2022-04-13 19:27] #517 closed, assigned to nobody

[2022-04-13 19:38] robertleeplummerjr commented on #534
If you can cast it to a Float32Array, then you can probably use it fine.

[2022-04-13 19:38] #534 closed, assigned to nobody

[2022-04-13 19:44] robertleeplummerjr commented on #519
This has been resolved when we migrated to typescript, at least in version 2.0.0-beta.14, here is a working version: https://observablehq.com/@robertleeplummerjr/brain-js-issue-519.

[2022-04-13 19:44] #519 closed, assigned to nobody

[2022-04-13 19:45] robertleeplummerjr commented on #363
For GPU to be faster it is right around 512x512 with the added overhead of working on a GPU.  This is simply something we have to deal with at this time.

[2022-04-13 19:45] #363 closed, assigned to robertleeplummerjr

[2022-04-13 20:27] robertleeplummerjr commented on #356
I would rather build this into `brain.Recurrent`, than take on the amount of work it would take to get it into `brain.recurrent.RNN` and it's family.  I started several times, and each time ran into problems where I'm just duplicating code everywhere.

[2022-04-13 20:27] #356 closed, assigned to nobody

[2022-04-13 20:35] robertleeplummerjr commented on #509
Working example here: https://observablehq.com/@robertleeplummerjr/brain-js-issue-509

Notice that the original data shape was not compatible, and was slightly altered.

[2022-04-13 20:35] #509 closed, assigned to robertleeplummerjr

[2022-04-13 20:36] robertleeplummerjr commented on #513
Unable to reproduce with data set referenced.  Please feel free to re-open if you can give us a means of reproduction.

[2022-04-13 20:36] #513 closed, assigned to nobody

[2022-04-13 20:37] robertleeplummerjr commented on #475
Objects do not have predictable order in javascript by design.  The network is working as intended with objects at this time.  Closing due to inactivity.

[2022-04-13 20:37] #475 closed, assigned to nobody

[2022-04-13 20:39] robertleeplummerjr commented on #474
That'd be amazing!

Not in brain.js.  https://www.npmjs.com/package/encog may have a Hopfield netowrk.

[2022-04-13 20:39] #474 closed, assigned to nobody

[2022-04-13 20:40] robertleeplummerjr commented on #525
Thanks @saschamander for your example.  I've tried several times to get this working in LSTM, without success because of the complexity of the net.  This I think will be a standard feature of both `FeedForward` and `Recurrent` classes when they reach stability.

[2022-04-13 20:40] #525 closed, assigned to nobody

[2022-04-13 20:40] robertleeplummerjr commented on #533
Since this was answered with

I'll go ahead and close.

[2022-04-13 20:40] #533 closed, assigned to nobody

[2022-04-13 20:41] robertleeplummerjr commented on #369
This is covered in the [readme](https://github.com/BrainJS/brain.js/blob/master/README.md).

[2022-04-13 20:41] #369 closed, assigned to robertleeplummerjr, mubaidr

[2022-04-13 20:42] robertleeplummerjr commented on #367
No, it cannot.

It handles 1 dimensional.  `FeedForward` and `Recurrent` can handle 2 dimension, but they aren't yet fully released.

[2022-04-13 20:42] #367 closed, assigned to nobody

[2022-04-13 21:10] robertleeplummerjr commented on #520
You could do this with smaller sized `iterations`, and manage the training lifecycle yourself and simply call `.train()` for shorter bursts.

[2022-04-13 21:10] #520 closed, assigned to nobody

[2022-04-13 21:11] robertleeplummerjr opened #784 "Add trainAsync to FeedForward and Recurrent"
![A GIF or MEME to give some spice of the internet](https://media0.giphy.com/media/FoH28ucxZFJZu/giphy.gif?cid=ecf05e470e5tkr7tv6o0s5dosq3um1feo5urjca9l6a99dd3&rid=giphy.gif&ct=g)

## Summary

Brief explanation of the feature.

### Basic example

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.

### Motivation

Why are we doing

[2022-04-13 21:12] robertleeplummerjr commented on #784
Because of #525.

[2022-04-13 22:38] #784 closed, assigned to robertleeplummerjr

[2022-04-14 15:30] ArtichautDev opened #786 "Cant use multithread with brain.recurrent.ltsm"
![](https://c.tenor.com/H9Yz02w9AvEAAAAC/baby-yoda-cat.gif)

## _What_ is wrong?

training network takes really long and I need to use multi thread -->
this don't work for me : https://github.com/BrainJS/brain.js/issues/417

## _Where_ does it happen?

In the a NeuralNetwork when trying to run a net in node.js on my mac

## _How_ do we replicate the issue?

use my code:

const brain = require('bra

[2022-04-14 15:38] robertleeplummerjr commented on #786
What do you mean, multi-threaded?

[2022-04-14 16:12] ArtichautDev commented on #786
I want to use multiple core for my code with brain.js

https://cdn.discordapp.com/attachments/763849429320990751/964196204504305785/Screen_Shot_2022-04-14_at_6.11.06_PM.png

its using only 100% cpu I want to use all my cores (1500%) (100%= 1 core)

and its take a very long time to train brain

[2022-04-14 16:29] robertleeplummerjr commented on #786
There isn't currently a feature that currently utilize multi-threading.  The exceptions are somewhat `NeuralNetworkGPU`, `FeedForward`, and, `Recurrent` that can utilize the GPU.  There was some speculation as to how that feature could work but the problem you'll run into when you go to implement is backpropagation.

Outside of Brain.js: You can get around this by utilizing different types of back

[2022-04-14 16:29] #786 closed, assigned to nobody

[2022-04-17 03:28] Vectorrent opened #787 "Unable to train recurrent.LSTM() after loading previous training fromJSON()"
![A GIF or MEME to give some spice of the internet](https://i.imgur.com/FeVMYPK.png)

## _What_ is wrong?

In other classes, such as NeuralNetwork(), I am able to save a trained model by using toJSON(), and load it later with fromJSON(), in order to continue training.

When I try to do this with recurrent.LSTM(), training fails with the following error:

[code]

## _Where_ does it happen?

This is

[2022-04-19 07:28] JeffMII opened #788 "Getting Unrecognized Data Error with RNN, LSTM, and GRU"
![A GIF or MEME to give some spice of the internet](https://themiawave.org/wp-content/uploads/2020/04/Meme-of-the-Week-4-Apr-16-2020-at-8_40-AM.png)

## _What_ is wrong?

[code]

## _Where_ does it happen?

This seems to be occurring when one of the RNN, LSTM, or GRU train() methods are called with an array of IRNNDatum. I'm doing this in Node.js on Windows 11.

## _How_ do we replicate the issue?

[2022-04-19 07:43] JeffMII commented on #788
Oooh I found it. I had a typo in the first output property name of the training data. Also, it looks like I need to use LSTM for string data.

[2022-04-19 07:43] #788 closed, assigned to nobody

[2022-04-25 11:49] ghost opened #790 "GPU acceleration not working"
## _What_ is wrong?

The NeuralNetworkGPU will not work in node and throw an error in the browser. The example at https://github.com/BrainJS/brain.js/blob/master/examples/javascript/gpu.html is not working either. In the Browser one receives the error TypeError: Cannot read properties of undefined (reading 'GPU').

## _Where_ does it happen?

When trying to use GPU for training

## _How_ do we rep

[2022-04-27 21:08] bugra568 opened #791 "Cant install module"
i cant download module because node-gyp failing:
Could not find any visual studio installation to  use
![Ekran Alıntısı](https://user-images.githubusercontent.com/81085730/165630753-255e894a-32a9-4ea0-8c05-da57fb86985f.PNG)
![Ekran Alıntısı2](https://user-images.githubusercontent.com/81085730/165631336-a6159d02-86e5-48a3-81d4-dc7778793047.PNG)

[2022-04-28 13:06] robertleeplummerjr commented on #791
Try installing using npm or yarn directly.  Installation using visual studio in whatever way you are trying is not supported.

[2022-04-28 13:06] #791 closed, assigned to nobody

[2022-05-03 10:12] DrewRidley opened #792 "Cannot Install on Arch Linux"
## _What_ is wrong?

Cannot install the package on arch linux. Seems to be some dependency of libangle which does not compile using gcc. :(

## _Where_ does it happen?
In the command line when running ``npm i``

## _How_ do we replicate the issue?

Not certain, but it seems to possibly be related to the fact that I am usuing arch linux.

## Expected behavior (i.e. solution)

I am able to install a

[2022-05-07 11:28] ghost opened #794 "Add Deno support"
## Summary

This probably would take way too much time, but [Deno](https://deno.land/) is a simple, modern and secure runtime for JavaScript, TypeScript, and WebAssembly that uses V8 and is built in Rust and I would like that brain.js would be ported to Deno without [a CDN](https://cdn.esm.sh/brain.js) and [compatibility mode](https://deno.land/manual/node/compatibility_mode).

### Basic example

[2022-05-10 08:51] vorticalbox commented on #792
also getting this issue on ubuntu `22.04` node 16

edit: installs on node 14.x so I believe this is a node 16/17 issue

[2022-05-12 14:17] davidmigithub commented on #654
This thread is old and apparently solved by the opener, but I'm seeing and error in the training options, you put errorThrash: instead of errorThresh:

[2022-05-15 07:21] AryaAnish121 opened #796 "Abnormal prediction results"
This code:
[code]
gives `3.4478390216827393` as the output but I want to forcast it properly and the expected output should be `4`, how can I fix it?

[2022-05-15 12:20] robertleeplummerjr commented on #796
Train it showing 4.  You aren't providing enough training data.

On Sun, May 15, 2022, 3:21 AM Arya Anish ***@***.***> wrote:

[2022-05-15 12:21] #796 closed, assigned to nobody

[2022-05-16 12:30] retrievaaaa commented on #733
Getting this error again. Installing beta.2 works fine.

[2022-05-16 18:59] EmsSquad opened #797 "toSVG Size not set correctly"
https://media.tenor.com/HACqTtaXr_4AAAPo/bob-dumb.mp4

## _What_ is wrong?

When trying to use toSVG with an hiddenLayers set (even with the default 3) it errors "Uncaught error: Sizes not set correctly at check sizes (to-svg.ts:567:11) at Object.toSVG(to-svg.ts:552:14) at script.js:13:37 (my script I'm using to use brain JS)

## _Where_ does it happen?

When trying to use toSVG on an website.

##

[2022-05-16 21:10] JIBSIL commented on #65
Apologies for necroposting, but what is the significance of using 0.90 instead of 1? Is it to prevent strong correlation with any string with the word "weather" and weather itself? Or because it's not a type?

[2022-05-16 23:02] joneldiablo commented on #352
we could put some Buffer as input?

[2022-05-20 19:12] Vairoon opened #798 ""Uncaught Error: network not runnable""
## _What_ is wrong?

net.run doesn't work, it just sends an error to the console.

## _Where_ does it happen?

it says it is inside of the brain.js code in the run function

## _How_ do we replicate the issue?

I'm not sure how to replicate it, but it should be an all-around issue

## Expected behavior (i.e. solution)

it should run the network, but it doesn't.

## Version information

### Browser

[2022-05-20 19:52] chrisvel opened #799 "Getting gibberish predictions when using recurrent LSTM and arrays of strings as output training data"
I have a bunch of sentences and I want to generate tags for each one. I have my data which are simple:

    [{
     input: "Buy tickets for opera",
     output: ['errands', 'orders']
    },
    {
     input: "Clean garage",
     output: ['errands', 'home']
    },
    ....

I am training the model simply with :

    const network = new brain.recurrent.LSTM();

      network.train(trainingData, {

[2022-05-31 04:13] Edig opened #800 "trainasync run on single thread"
## _What_ is wrong?

I test the trainasync and as far I check, it only run on single thread

## _Where_ does it happen?
`net.trainAsync`

## Version information

### Nodejs:
`v16.14.2`

### Brain.js:
`2.0.0-beta.15`

I check in resourse monitor the # of thread that node run when i train the net in a single thread or async with 12 thread. Both start running on 16 threads and then go down to 12, som

[2022-06-01 21:46] Dpr1815 commented on #787
Hello there! I have the same problem. Any news about it?

[2022-06-03 21:13] djanojzla opened #801 "Let me know if that isn't enough of an example to get this right."
Let me know if that isn't enough of an example to get this right.
Things to be aware of:
* Likely this is limited enough data that the net will probably over-train on
* The recurrent neural network will likely give better results

_Originally posted by @robertleeplummerjr in https://github.com/BrainJS/brain.js/issues/188#issuecomment-380224273_

  
 
 
 

is there any workaround for over-training

[2022-06-07 14:35] LyeZinho opened #802 "I cant install the brain.js package on windows"
![](https://c.tenor.com/kHcmsxlKHEAAAAAM/rock-one-eyebrow-raised-rock-staring.gif)

## I cant install the brain.js package on windows

## _Where_ does it happen?
Literaly in every place
i tryed on powershell
i tyed on cmd

and still not working
i dont know if the problem is my windows or the package

## _How_ do we replicate the issue?

- Step 1 npm  install brain.js
- Step 2 loads
- Step 3 error

[2022-06-07 15:09] LyeZinho commented on #802
I finaly can fix my problem
its reated with the VisualStudio build tools

How i fixed:
I have instaled the: node-gyp  ```npm install -g node-gyp```

and after that i installed the build tools
https://www.microsoft.com/en-us/download/confirmation.aspx?id=48159

[2022-06-07 15:09] #802 closed, assigned to nobody

[2022-06-07 15:12] robertleeplummerjr commented on #802
Rock on.

[2022-06-11 10:33] nilooy commented on #799
same for me, i'm passing strings in both , input and output object, but when run it, it gives mixed/gibrish output.

[2022-06-13 02:58] sbcarp commented on #790
Seems like you didn't install `gpu.js`

[2022-06-15 12:56] bigturtle88 opened #803 "Make your mouse move like a human."
[https://www.youtube.com/watch?v=edu_GJ6tI60](https://www.youtube.com/watch?v=edu_GJ6tI60)
Perhaps someone has already implemented something similar?  How can you set two points about to get something similar. Like a person moving a mouse?